.sousuo{position:relative;width:100%;height:0.82rem;float:left;background-color:#f2f2f2;}
.sousuo .form01{position:relative;z-index:10;width:94%;height:0.6rem;float:left;margin:0.11rem 3% 0 3%;}
.sousuo .form01 .ss_input{width:100%;height:100%;outline:none;border:1px solid #ccc;border-radius:0.3rem;font-size:0.26rem;line-height:0.6rem;color:#333;text-indent:0.3rem; font-family: 微软雅黑;}
.sousuo .form01 .ss_kc{position:absolute;top:0.14rem;left:0.3rem;width:1.28rem;height:0.32rem;border-right:1px solid #ccc;font-size:0.26rem;}
.sousuo .form01 .ss_kc .ss_xiala01{display:inline-block;width:0.22rem;height:0.13rem;background:url(../image/xiala_01.png);background-size:0.22rem 0.13rem; }
.sousuo .form01 .search{position:absolute;top:0.14rem;right:0.05rem;display:block;width:0.68rem;height:0.32rem;background:#fff url(../image/fangdajiang01.png) no-repeat;background-size:0.4rem 0.32rem; cursor: pointer;}


.huandeng_02{width:100%;height:2.22rem; overflow:hidden; float:left;	position:relative; padding:0px;}
.huandeng_03{width:100%; position:relative; zoom:1;}
.huandeng_03 .huandeng_04 > li{display:none; -webkit-backface-visibility: hidden;}
.huandeng_03 .huandeng_04 img {width:100%;display: block;}
.huandeng_04:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0px; height:0;}
html[xmlns] .huandeng_04 {display:block;}
.huandeng_04{height:auto;}
.huandeng_04 > li:first-child{display:block;}
.flex-huandeng_08{-webkit-transition:all 1s ease; -moz-transition:all 1s ease; transition:all 1s ease;}
.huandeng_03 .huandeng_04{zoom:1;}
.flex-huandeng_07{display:none;}
.flex-huandeng_05{width:100%; position:absolute; bottom:0.05rem; text-align:center; margin:0; padding:0;}
.flex-huandeng_05 li{margin:0 0.05rem; display:inline-block; zoom:1; *display:inline;}
.flex-huandeng_06 li a{background:#f1f1f1; display:block; width:0.12rem; height:0.12rem; overflow: hidden; text-indent:-99em; cursor:pointer; border-radius:0.1rem;}
.flex-huandeng_06 li a.flex-active{background:#fcf205;}


.content{width:100%;float:left;}
.list{width:100%;height:0.68rem;background-color:#f2f2f2;border-bottom:1px solid #cccccc;float:left;}
.list h2{padding:0 0.12rem;font-weight:400;font-size:0.25rem;line-height:0.67rem;border-bottom:2px solid #df007f;float:left;}
.list h2 i{padding-left:0.06rem;}
.list .more{padding:0 0.11rem;font-weight:300;font-size:0.20rem;line-height:0.68rem;float:right;}
.list .more:hover{color:#df007f;}
.content .con_cp{width:100%;background-color:#f2f2f2;border-bottom:1px solid #cccccc;float:left;}
.content .con_cp ul{width:100%;padding:0.2rem 0;border-bottom:1px solid #cccccc;float:left;}
.content .con_cp ul{background-color:#fff;}
.content .con_cp ul:hover{background-color:#f5f5f5;}
.content .con_cp li{width:94%;margin:0 3%;}
.content .con_cp  img{width:1.68rem;height:100%;float:left;}
.content .con_cp  .con_right{position:relative;z-index:25;width:4.22rem;height:100%;margin-left: 1.86rem; height: 1.68rem;}
.content .con_cp  h3{width:100%;line-height:0.28rem;font-size:0.26rem;float:left;}
.content .con_cp  i{display:block;width:100%;line-height:0.45rem;font-size:0.24rem;color:#999999;margin-top:0.03rem;float:left;}
.content .con_cp  em{display:block;width:100%;line-height:0.45rem;font-size:0.20rem;color:#df007f;float:left;}
.content .con_cp  strong{font-size:0.34rem;}
.content .con_cp  .con_rq{display:block;width:100%;line-height:0.24rem;font-size:0.24rem;color:#999999;margin-top:0.03rem;float:left;}
.content .con_cp  .con_xx{position:absolute;top:0;right:0;display:block;width:0.3rem;height:0.3rem;background:url(../image/xiaotu03.png);background-size:0.3rem 0.3rem;}
.content .con_cp  .con_yd{display:block;position:absolute;bottom:0;right:0;width:1.75rem;height:0.42rem;line-height:0.42rem;font-size:0.24rem;color:#fff;text-align:center;background-color:#df007f;border-radius:0.21rem;}


.showcourse{width:100%;float:left;}
.showcourse .kbzs{width:100%; overflow: hidden;padding-top: 0.2rem;}
.showcourse .kbzs img{width:6.4rem;height:3.45rem;}

.lianjie{width:100%;float:left;}
.lianjie .lj{width:100%;height:2.1rem;}
.lianjie .lj img{width:6.4rem;height:2.1rem;}

.learncoffee{width:100%;float:left;}
.learncoffee .xxkf{width:94%;margin:0.1rem 3%;}
.learncoffee .xxkf a{display:block;width:100%;height:0.5rem;line-height:0.5rem;font-size:0.24rem;font-weight:normal;color:#999999;float:left;}
.learncoffee .xxkf a:hover{color:#df007f;}
.learncoffee .xxkf span{display:block;width:70%;float:left;text-align:left;}
.learncoffee .xxkf i{display:block;width:30%;float:right;text-align:right;}

.luntan{width:100%;float:left;}
.luntan .lt{width:94%;margin:0.1rem 3%;}
.luntan .lt a{display:block;width:100%;height:0.5rem;line-height:0.5rem;font-size:0.24rem;font-weight:normal;color:#999999;float:left;}
.luntan .lt a:hover{color:#df007f;}
.luntan .lt span{display:block;width:70%;float:left;text-align:left;}
.luntan .lt i{display:block;width:30%;float:right;text-align:right;}

.gzxx{width:100%;float:left;}
.gzxx .lj{width:100%;height:2.1rem;}
.gzxx .lj img{width:6.4rem;height:2.1rem;}

.mingshi{width:100%;float:left;}
.msfc{width:6rem;float:left;margin:0.4rem 0.2rem 0.2rem 0.2rem;}
.msfc li{float:left;margin-left:0.13rem;}
.msfc li:first-child{margin-left:0rem;}
.msfc .msfc_img{width:1.38rem;height:1.6rem;box-shadow:1px 1px 2px #ccc,-1px -1px 2px #ccc,-1px 1px 2px #ccc,1px -1px 2px #ccc;}
.msfc img{width:1.3rem;height:1.52rem;margin:0.04rem;}
.msfc span{display:inline-block;width:100%;height:0.4rem;line-height:0.4rem;margin-top:0.12rem;text-align:center;font-size:0.22rem;}
.mxxy{width:100%;float:left;}
.mxxystore{width:100%;float:left;}



.login{width:100%;float:left;}
.login .form_login{width:94%;margin:0 3%;}
.login .form_login input{width:100%;height:0.78rem;margin-top:0.2rem;outline:none;border:1px solid #cccccc;color:#999;line-height:0.78rem;text-indent:0.2rem;font-size:0.3rem;}

.loginbar{width:100%;margin-top:2rem;float:left;}
.loginbar .dl01{display:block;width:94%;height:0.8rem;background-color:#df007f;color:#fff;letter-spacing:0.12rem;text-align:center;line-height:0.8rem;font-size:0.34rem;margin:0 3%;}
.loginbar .dl02{display:block;width:94%;height:0.8rem;line-height:0.8rem;margin:0 3%;}
.loginbar .dl02 .register{display:block;width:30%;height:100%;text-align:left;float:left;}
.loginbar .dl02 .zhaohui{display:block;width:30%;height:100%;text-align:right;float:right;}

.dlfs{width:100%;float:left;}
.dlfs .title{width:94%;height:0.4rem;background:url(../image/tiao1.png) no-repeat center;text-align:center;line-height:0.4rem;margin:0 3%;}
.dlfs .qt{display:block;width:80%;line-height:0.4rem;margin:0 auto;}
.dlfs .qt a{display:block;width:33.3%;float:left;text-align:center;margin:0.4rem 0 0.56rem;}
.dlfs .qt img{width:0.84rem;height:0.84rem;}
.dlfs .qt span{display:block;width:100%;height:0.28rem;line-height:0.28rem;text-align:center;float:left;}



.mc{width:100%;float:left;}
.mc .title{position:relative;z-index:20;width:100%;height:0.68rem;border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;}
.mc .title h3{font-weight:400;font-size:0.26rem;color:#df007f;line-height:0.68rem;float:left;margin-left:0.2rem; position: absolute; z-index: 1;}
.mc .title .mc_bbc{position:absolute;left:0;top:0;width:100%;height:0.68rem;}
.mc .title .mc_bbc p{width:100%;height:100%;font-weight:400;font-size:0.26rem;line-height:0.68rem;text-align:center;}
.mc .title .mc_bbc i{display:inline-block;width:0.12rem;height:0.06rem;background:url(../image/xiala_02.png) no-repeat;background-size:0.12rem 0.06rem;margin-bottom:0.16em;}
.mc .title  .more{height:100%;font-weight:400;font-size:0.24rem;line-height:0.68rem;float:right;margin-right:0.2rem;}
.mc .mc_cp{width:100%;background-color:#f2f2f2;border-bottom:1px solid #cccccc;float:left;}
.mc .mc_cp ul{width:100%;padding:0.2rem 0;border-bottom:1px solid #cccccc;float:left;}
.mc .mc_cp ul{background-color:#fff;}

.mc .mc_cp ul:hover{background-color:#f5f5f5;}
.mc .mc_cp li{width:94%;margin:0 3%;}
.mc .mc_cp  img{width:1.68rem;height:1.68rem;float:left;}
.mc .mc_cp  .con_right{position:relative;z-index:25;height:100%;}
.mc .mc_cp  h3{width:80%;line-height:0.28rem;font-size:0.26rem;float:left;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.mc .mc_cp  i{display:block;width:100%;line-height:0.45rem;font-size:0.24rem;color:#999999;margin-top:0.03rem;float:left;}
.mc .mc_cp  em{display:block;width:100%;line-height:0.45rem;font-size:0.20rem;color:#df007f;float:left;}
.mc .mc_cp  strong{font-size:0.34rem;}
.mc .mc_cp  ul .con_rq{display:block;width:100%;line-height:0.24rem;font-size:0.24rem;color:#999999;margin-top:0.03rem;float:left;}
.mc .mc_cp  ul .con_xx{position:absolute;top:0;right:0;display:block;width:0.3rem;height:0.3rem;background:url(../image/xiaotu03.png);background-size:0.3rem 0.3rem;}
.mc .mc_cp  ul .con_mobile{position:absolute;top:0;right:0.45rem;display:block;width:0.19rem;height:0.3rem;background:url(../image/mobile_01.png);background-size:0.19rem 0.3rem;}
.mc .mc_cp  ul .con_yd{display:block;position:absolute;bottom:0;right:0;width:1.75rem;height:0.42rem;line-height:0.42rem;font-size:0.24rem;color:#df007f;text-align:center;border-radius:0.21rem;border:1px solid  #df007f;cursor:pointer;}
.mc .mc_cp  ul:first-child .con_xx{background:url(../image/xiaotu04.png) no-repeat;background-size:0.3rem 0.3rem;}
.mc .mc_cp  ul:first-child .con_yd{background-color:#df007f;color:#fff;}



.kemb{width:100%;float:left;}
.kemb img{width:6.4rem;height:4rem;float:left;}
.kemb p{width:94%;line-height:0.46rem;font-size:0.24rem;margin:0.09rem 3%;color:#999;}
.bottom01{width:100%;height:0.8rem;float:left;}
.bottom01 a{width:50%;height:100%;line-height:0.8rem;color:#fff;font-size:0.26rem;float:left;text-align:center;}
.bottom01 .call{background-color:#f5b302;}
.bottom01 .yuding{background-color:#df007f;}



.kaike01{width:100%;float:left;}
.kaike01 ul{width:94%;margin:0 3%;}
.kaike01 li{width:100%;line-height:0.5rem;font-size:0.24rem;color:#999;float:left;cursor: pointer;-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;display: -webkit-box; padding-bottom: 0.1rem;}
.kaike01 li:hover{color:#df007f;}

.kaike02 table{width:100%;margin:0.1rem 0;float:left;}
.kaike02 table tr{display:block;width:94%;margin:0 3%;line-height:0.4rem;font-size:0.24rem;color:#333;}
.kaike02 table .td01{width:20%;float:left;}
.kaike02 table .td02{width:75%;float:left;text-align:left;}
.kcbzs{width:100%;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;float:left;}
.kcbzs .kbzs{width:100%;height:3.35rem;border-bottom:0;float:left;}
.kcbzs .kbzs img{width:6.4rem;height:3.35rem;}
.list ul{float:right;}
.list ul a{padding:0 0.2rem;font-weight:400;font-size:0.24rem;line-height:0.68rem;float:left;}
.list ul .this{color:#df007f;}
.list ul a:hover{color:#df007f;}
.kcbzs .fb{width:6rem;margin:0 0.2rem;float:left;}
.kcbzs .fb span{display:block;width:100%;height:0.66rem;font-size:0.24rem;line-height:0.66rem;float:left;}
.tjkc{width:100%;float:left;}
.tjkc ul{width:94%;margin:0 3%;}
.tjkc a{display:block;width:100%;height:0.52rem;line-height:0.52rem;font-size:0.24rem;color:#999;float:left;}




.header_right .person_top_pl{width:0.48rem; height:0.5rem; text-indent:-9999px; background:url(../image/777.png) no-repeat 0px 0px; background-size:0.47rem 0.5rem; margin-top:0.23rem; overflow:hidden; float:right; margin-right:0.1rem;}
.header_left .person_fanhui{width:0.43rem; height:0.41rem; background:url(../image/per_07.png) no-repeat 0px 0px; background-size:0.43rem 0.41rem; margin-top:0.23rem; overflow:hidden; float:right; margin-left:0.1rem;}
.personal{width:100%;float:left;}
.personal .per{display:block;width:100%;height:2.22rem;border-bottom:1px solid #ccc;background-color:#f2f2f2;}

.dingdan{width:100%;float:left;}
.dingdan a{position:relative;width:25%;float:left;padding:0.1rem 0;text-align:center;}
.dingdan p{width:100%;height:0.36rem;float:left;margin-top:0.1rem;}
.dingdan img{width:0.39rem;height:0.35rem;}
.dingdan a:before{position:absolute; content:""; background:#ccc;}
.dingdan a.left:before{top:0.32rem; left:0rem; width:1px; height:0.3rem;}
.dingdan span{width:100%;height:0.36rem;font-size:0.22rem;color:#666;line-height:0.36rem;}
.person{width:100%;float:left;}
.person a{position:relative;width:33.3%;height:2rem;float:left;border-top:1px solid #cccccc;text-align:center;}
.person p{width:100%;height:0.84rem;margin-top:0.4rem;float:left;}
.person a:before{position:absolute; content:""; background:#ccc;}
.person a.left:before{top:0rem; left:0rem; width:1px; height:2rem;}
.person img{width:0.84rem;height:0.84rem;}
.person span{width:100%;height:0.5rem;font-size:0.22rem;color:#666;line-height:0.5rem;}


.touxiang{width:100%;height:2.4rem;border-bottom:1px solid #ccc;float:left;background-color:#f2f2f2;}
.touxiang a{width:50%;height:2rem;text-align:center; border-top: 1px solid #cccccc;float: left;}
.touxiang p{width:100%;height:0.84rem;margin-top:0.4rem;float:left;}
.touxiang img{width:0.84rem;height:0.84rem;}
.touxiang span{width:100%;height:0.5rem;color:#848484;line-height:0.5rem;font-size:0.3rem;}
.form_xxzl{width:6rem;margin:0 0.2rem 0.2rem 0.2rem;float:left;}
.form_xxzl .form_xxzl01{position:relative;z-index:20;width:100%;height:0.78rem;margin-top: 0.2rem;float:left;font-size:0.3rem;}
.form_xxzl .form_xxzl01 input{width:100%;height:0.78rem;outline:none;border:1px solid #ccc;}
.form_xxzl .form_xxzl01 i{position:absolute;left:0;top:0;display:block;padding:0 0.2rem;height:0.78rem;line-height:0.78rem;}
.form_xxzl .form_xxzl02{position:relative;z-index:20;width:100%;height:0.78rem;margin-top: 0.2rem;float:left;font-size:0.3rem;outline:none;border:1px solid #ccc;text-indent:0.2rem;color: #999999;}
.form_xxzl .form_xxzl01 a{display:block;width:2.25rem;height:0.78rem;float:right;font-size:0.3rem;}
.form_xxzl .form_xxzl01 .form_xxzl01_span01{display:block;width:0.3rem;height:0.3rem;float:left;background:url(../image/ziliao_02.png) no-repeat;background-size:0.3rem 0.3rem;margin-top:0.25rem;}
.form_xxzl .form_xxzl01 a.this .form_xxzl01_span01{background:url(../image/ziliao_03.png) no-repeat;background-size:0.3rem 0.3rem}
.form_xxzl .form_xxzl01 .form_xxzl01_span02{display:block;padding-left:0.2rem;height:0.78rem;line-height:0.78rem;float:left;}
.form_xxzl .form_sr{position:relative;z-index:20;width:100%;margin-top: 0.2rem;float:left;font-size:0.3rem;}
.form_xxzl .form_sr01{margin-top:0.78rem;width:100%;float:left;font-size:0.3rem;}
.form_xxzl .form_sr i{position:absolute;left:0;top:0;display:block;padding:0 0.2rem;height:0.78rem;line-height:0.78rem;}
.form_xxzl .form_sr a{display:block;width:50%;height:0.78rem;float:left;font-size:0.3rem;}
.form_xxzl .form_sr .form_xxzl01_span03{display:block;width:0.3rem;height:0.3rem;float:left;background:url(../image/ziliao_04.png) no-repeat;background-size:0.3rem 0.3rem;margin-top:0.25rem;margin-left:0.2rem;}
.form_xxzl .form_sr a.this .form_xxzl01_span03{background:url(../image/ziliao_05.png) no-repeat;background-size:0.3rem 0.3rem}
.form_xxzl .form_sr .form_xxzl01_span04{display:block;padding-left:0.2rem;height:0.78rem;line-height:0.78rem;float:left;}


.kcxq table{width:100%;margin:0.2rem 0;float:left;}
.kcxq table tr{display:block;width:94%;margin:0 3%;line-height:0.4rem;font-size:0.26rem;color:#333;}
.kcxq table .td01{width:20%;color:#666;float:left;}
.kcxq table .td02{width:75%;color:#333;float:left;text-align:left;}
.fkfs{width:100%;float:left;}
.fkfs .fufuan{width:100%;float:left;}
.fkfs .fufuan a{display:block;width:100%;height:0.86rem;line-height:0.86rem;
font-size:0.26rem;border-bottom:1px solid #ccc;float:left;}
.fkfs .fufuan span{padding-left:0.2rem;}
.fkfs .fufuan i{display:none;width:0.3rem;height:0.3rem;background:url(../image/ziliao_03.png) no-repeat;background-size:0.3rem 0.3rem;float:right;margin:0.28rem 0.2rem 0 0;}
.fkfs .fufuan a.this i{display:block;}
.queding{display:block;width:100%;height:0.8rem;line-height:0.8rem;float:left;background-color:#e00d85;text-align:center;color:#fff;font-size:0.34rem;letter-spacing:0.15rem;margin-top:1.5rem;}


.content{float:left;width: 100%;}
.content p{ height:0.6rem; line-height: 0.6rem; margin-left: 0.2rem;}
.img_0{width: 100%;}
.foot{ width: 100%;height:0.88rem; float: left; position: relative;}
.footer_03{width:100%; position:fixed; z-index:100; left:0px; bottom:0px; background:#fff; height:0.88rem; float: left;}
.footer_03{ float: left;}
.footer_03 ul {float: left; width: 100%;}
.footer_03 li{ float: left; width: 50%; height: 0.88rem; line-height: 0.88rem; text-align: center;}
.footer_03 li a{display:block;width:100%;height:100%;color: white; font-size: 0.34rem;}
.footer_03 .li_01{  background: #f5b302;}
.footer_03 .li_02{  background: #e00d85;}


.content_1{  width: 6.4rem; margin: 0 auto; display: table; }
.content_1 ul{ float: left; width: 100%; margin-bottom: 2.0rem;}
.content_1 a{float: left; height: 0.64rem; line-height: 0.64rem; border-bottom: 1px solid #cccccc;color: #000;  width: 100%; position: relative;}
.content_1 a:hover{ background: #f5f5f5; color:#df007f;}
.content_1 .next{ background: url(../image/next_01.png) no-repeat; width: 0.13rem; height: 0.22rem;
    background-size: cover; float: left; position: absolute; top:0.2rem; right:0.2rem;}
.content_1 a:hover .next{background: url(../image/next_02.png) no-repeat; width: 0.13rem; height: 0.22rem;
    background-size: cover; float: left; position: absolute; top:0.2rem; right:0.2rem;}
.content_1 .search{  height: 0.85rem; line-height: 0.85rem; background: #f2f2f2;position: relative;border-bottom: 1px solid #cccccc;}
.content_1  #search{ width: 90%; height: 0.6rem; line-height: 0.6rem;  float: left; margin-left: 0.5rem; margin-top: 0.1rem; outline: none; border-radius: 0.2rem; border: 0px; font-size: 0.26rem; color: #f2f2f2; text-indent: 0.2rem; }
.content_1 #searchbtn{background: url(../image/search4032.png) no-repeat; width: 0.4rem; height: 0.32rem; position: absolute; top:0.2rem; right:0.3rem; float: left; background-size: cover;}


.date{ float: right; margin-right: 0.2rem;}


.header_right .top_sc{width:0.45rem; height:0.42rem; text-indent:-9999px; background:url(../image/wzxq4442.png) no-repeat 0px 0px; background-size:0.45rem 0.42rem; margin-top:0.23rem; overflow:hidden; float:right; margin-right:0.1rem;}
.content_wzxq { margin-bottom: 1.6rem; width: 100%;}
.content_wzxq img{ width: 100%;}
.content_wzxq .search{  height: 0.85rem; line-height: 0.85rem; background: #f2f2f2;position: relative;border-bottom: 1px solid #cccccc;}
.content_wzxq  #search{ width: 90%; padding-left: 0.05rem; height: 0.6rem; line-height: 0.6rem;  float: left; margin-left: 0.2rem; margin-top: 0.1rem; outline: none; border-radius: 0.2rem; border: 0px; font-size: 0.26rem; color: #333; }
.content_wzxq #searchbtn{background: url(../image/search4032.png) no-repeat; width: 0.4rem; height: 0.32rem; position: absolute; top:0.2rem; right:0.6rem; float: left; background-size: cover;}


.content_ltlb .ltlb_top{ width: 100%; height: 0.74rem; line-height: 0.74rem; float: left; border-bottom: 1px solid #CCCCCC;}
.content_ltlb .ltlb_top ul{ float: left; width: 100%; }
.content_ltlb .ltlb_top li{float: left; width: 33%; text-align: center;height: 0.7rem;border-right: 1px solid #CCCCCC; }
.content_ltlb .ltlb_top .this{ border-bottom: 2px solid #DF007F;}
.content_ltlb .ltlb_btm{ width: 100%; float: left; margin-bottom:1.0rem ; }
.content_ltlb .ltlb_btm #ltlb_btm0{ width: 100%; float: left; margin-bottom: 1.5rem;}
.content_ltlb .ltlb_btm #ltlb_btm0 ul{ width: 100%;float: left; }
.content_ltlb .ltlb_btm #ltlb_btm0 .p1{ width: 100%; height: 0.68rem;  line-height: 0.68rem; background: #F5F5F5;  float: left;}
.content_ltlb .ltlb_btm #ltlb_btm0 .p2{ width: 100%; height: 0.68rem;  line-height: 0.68rem; background: #F5F5F5; float: left;}
.content_ltlb .ltlb_btm #ltlb_btm0 li{height: 1.90rem; width: 100%; float: left;border-bottom: 1px solid #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm0 li img {width: 1.5rem; height: 1.5rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_ltlb .ltlb_btm #ltlb_btm0 li p{ height: 0.5rem; line-height: 0.5rem;  width: 3.5rem; margin-left: 2.0rem; }
.content_ltlb .ltlb_btm #ltlb_btm0 .new{margin-top: 0.2rem;}
.content_ltlb .ltlb_btm #ltlb_btm0 .writer{color: #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm0 .time{color: #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm1 li{height: 1.90rem; width: 100%; float: left;border-bottom: 1px solid #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm1 li img {width: 1.5rem; height: 1.5rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_ltlb .ltlb_btm #ltlb_btm1 li p{ height: 0.5rem; line-height: 0.5rem;  width: 3.5rem; margin-left: 2.0rem; }
.content_ltlb .ltlb_btm #ltlb_btm1 .new{margin-top: 0.2rem;}
.content_ltlb .ltlb_btm #ltlb_btm1 .writer{color: #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm1 .time{color: #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm2 li{height: 1.90rem; width: 100%; float: left;border-bottom: 1px solid #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm2 li img {width: 1.5rem; height: 1.5rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_ltlb .ltlb_btm #ltlb_btm2 li p{ height: 0.5rem; line-height: 0.5rem;  width: 3.5rem; margin-left: 2.0rem; }
.content_ltlb .ltlb_btm #ltlb_btm2 .new{margin-top: 0.2rem;}
.content_ltlb .ltlb_btm #ltlb_btm2 .writer{color: #CCCCCC;}
.content_ltlb .ltlb_btm #ltlb_btm2 .time{color: #CCCCCC;}
.luntan_title{ height: 0.66rem; display: inline-block; border-bottom: 2px solid #df007f;font-size: 0.26rem; }
.luntan_title span{ padding-left: 0.2rem; padding-right: 0.2rem; }
.luntan_more{ float: right; padding-right: 0.2rem; }


.content_ltxq { width: 100%; margin-bottom: 8.0rem; padding: 0.1rem 0;}
.content_ltxq01{margin-bottom: 1.0rem; overflow: hidden;}
.content_ltxq img{ width: 100%;}
.content_ltxq .nr{width:6rem;margin:0 0.2rem; font-size: 0.24rem; line-height:0.5rem;color:#999999; height: 2.5rem;border-bottom: 1px solid #CCCCCC; }
.content_ltxq li{ width: 100%; float: left;border-bottom: 1px solid #CCCCCC;  }
.content_ltxq li img {width: 0.8rem; height: 0.8rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_ltxq li p{ line-height: 0.5rem;   margin-left: 1.1rem; margin-top: 0.05rem; }
.content_ltxq  .p2{ width: 100%; height: 0.68rem;  line-height: 0.68rem; background: #F5F5F5; float: left; border-bottom: 1px solid #CCCCCC;}
.content_ltxq  .p2 i{float: right;}
.content_ltxq .ltxq_li{ width: 100%; position: relative; float: left;border-bottom: 1px solid #CCCCCC; }
.content_ltxq .ltxq_li:first-child{border-bottom: 0;}
.content_ltxq .ltxq_li img {width: 0.8rem; height: 0.8rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_ltxq .ltxq_li p{   margin-left: 1.1rem;  }
.content_ltxq .ltxq_li .time{ color: #999; margin-top: 0.5rem;}
.footer_04{width:100%; position:fixed; z-index:100; left:0px; bottom:0px; background:#fff; height:0.88rem; float: left; border-top: 1px solid #DF007F;}
.footer_04 .pl_01{ height: 0.65rem; width: 4.52rem; float: left; margin-top: 0.1rem; outline: none; border: 1px solid #CCCCCC; border-radius: 0.1rem; margin-left: 0.2rem; font-size: 0.32rem; color: #CCCCCC; text-indent: 0.1rem;}
.footer_04 .pl_02{ background: #DF007F; outline: none; border: 0; width: 1.39rem; height: 0.65rem; line-height: 0.65rem;margin-top: 0.1rem; float: right;border-radius: 0.1rem;margin-right: 0.1rem;font-size: 0.32rem; color: white; text-align: center;}
.pinglun_btn{    display: block; position: absolute;  bottom: 0.2rem; right: 0.2rem; width: 1.75rem; height: 0.42rem;line-height: 0.42rem;font-size: 0.24rem; color: #df007f; text-align: center;border-radius: 0.21rem;border: 1px solid #df007f;cursor: pointer;}
.main_pl{ position: relative; overflow: hidden;}
.other_pl{ position: relative; overflow: hidden; }
.main_pl_bot{    border-bottom: 1px solid #CCCCCC;}


.content_msfc{ float: left; width: 100%; }
.content_msfc ul{ float: left; width: 100%; margin-bottom: 2.0rem;}
.content_msfc #next{ background: url(../image/next_01.png) no-repeat; width: 0.13rem; height: 0.22rem;
    background-size: cover; float: left; position: absolute; top:0.2rem; right:0.2rem;}
.content_msfc a:hover #next{background: url(../image/next_02.png) no-repeat; width: 0.13rem; height: 0.22rem;
    background-size: cover; float: left; position: absolute; top:0.2rem; right:0.2rem;}
.content_msfc .search{  height: 0.85rem; line-height: 0.85rem; background: #f2f2f2;position: relative;border-bottom: 1px solid #cccccc;}
.content_msfc  #search{ width: 90%; height: 0.6rem; line-height: 0.6rem;  float: left; margin-left: 0.5rem; margin-top: 0.1rem; outline: none; border-radius: 0.2rem; border: 0px; font-size: 0.26rem; color: #f2f2f2; }
.content_msfc #searchbtn{background: url(../image/search4032.png) no-repeat; width: 0.4rem; height: 0.32rem; position: absolute; top:0.2rem; right:1.1rem; float: left; background-size: cover;}
.content_msfc a{float: left; height:1.90rem; line-height: 1.90rem; color: #CCCCCC;  width: 100%; position: relative;}
.content_msfc a:hover{ background: #f5f5f5; color:#df007f;}
.content_msfc  li{height: 1.90rem; width: 100%; float: left;border-bottom: 1px solid #CCCCCC;}
.content_msfc  li img {width: 1.5rem; height: 1.5rem; margin-top: 0.2rem; margin-left: 0.2rem; float: left;}
.content_msfc  li p{ height: 0.5rem; line-height: 0.4rem;   margin-left: 2.0rem; }
.content_msfc .new{margin-top: 0.1rem; font-size: 0.26rem; color:black;}
.content_msfc  .writer{color: #CCCCCC;font-size: 0.24rem;}
.content_msfc li  .time{color: #CCCCCC; font-size: 0.24rem;display: -webkit-box; width: auto;
	height: auto;
	line-height: 0.35rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}


.content_msxq{float: left; width: 100%;}
.content_msxq img {width: 100%; margin-bottom: 0.5rem; }
.content_msxq .name{ text-align: center; width: 100%; color: black; font-size: 0.26rem;}
.content_msxq .dec{ text-align: center; width: 100%; color: black; font-size: 0.26rem;}
.content_msxq .nr{color:#999999; font-size: 0.24rem;}
.content_msxq .img_1{width: 100%; margin-bottom: 1.0rem;  margin-top: 0.2rem;}

.coffe_01 img{ width:100%;}
.text{ padding:0.2rem;}
.text h3{ font-size:0.26rem; color:#333; text-align:center;}
.text p{ color:#999999; font-size:0.24rem; text-indent:0.5rem; line-height:0.45rem;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
#dituContent{ width:99%; margin:0.3rem auto 1rem;height:550px;border:#ccc solid 1px;}

.search_01{ background:#f2f2f2; height:0.8rem; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.sous{ width:96%; border: 1px solid #ccc; background:#fff; border-radius:0.3rem; margin:0.09rem auto; position:relative; height:0.6rem;}
.sous_te{ border:0; background:none; font-size:0.26rem; position:absolute; top:0; left:0.2rem!important;height:0.6rem; width:95%}
.sous_i{ position:absolute; right:0.3rem; top:0.13rem; display:block; background:url(../image/sousuo.png) no-repeat; width:0.4rem; height:0.32rem; background-size:cover; cursor:pointer;}
.hot_news{border-bottom:1px solid #ccc;}
.hot_news ul{ padding:0 0.2rem;}
.hot_news li{ float:left; color:#848484; font-size:0.28rem; width:33%; text-align:center;}
.hot_news_span{ border-right:0.01rem solid #ccc; margin:0.18rem 0; width:100%; display:block;}
.hot_news_span1{margin:0.18rem 0; width:100%; display:block;}
.hot_news li:last-child{width:33.1%;}
.hot_new_01 ul{ padding:0 0.2rem 1rem; display:none;}
.hot_news ul .this{ color:#df0071; border-bottom:2px solid #df0071;}
.hot_new_01 li{ font-size:0.24rem; color:#999; line-height: 0.5rem;height: 0.5rem;}
.hot_new_01 .chilk{ color:#df0071;}
.hot_new_01 li span{ float:right;}

.tit_01{ padding:0 0.2rem; margin-bottom:1.1rem}
.tit_bt{ height:0.78rem; border:#ccc 1px solid; width:100%; margin:0.2rem auto; font-size:0.3rem; color:#333; position:relative;}
.tit_bt span{ position:absolute; left:0.2rem; top:0.2rem;}
.text_t1{font-size:0.3rem; color:#999; height:100%; width:100%; position: absolute; top:0; right:0; background:none; padding-left:1.1rem; border:0; }
.tit_bt1{ height:3.18rem; border:#ccc 1px solid; width:100%; margin:0.2rem auto; font-size:0.3rem; color:#333; position:relative;}
.tit_bt1 span{ position:absolute; left:0.2rem; top:0.2rem;}
.text_t2{font-size:0.3rem; color:#999; height:100%; width:94%; position: absolute; top:0.2rem; left:0.2rem; background:none; text-indent:0.9rem; border:0;}
.tit_bt2{ width:1.2rem; height:1.4rem;    padding-top: 0.1rem; border:1px solid #ccc; font-size:0.25rem; color:#ccc;font-weight:100; padding-left:0.2rem; display:block;}
.jia{ font-size:0.9rem; display:block; color:#ccc; width:1rem; height:1rem; font-weight:100; background:url(../image/tianj.png) no-repeat center;}
.tij{ background:#df007f; height:0.8rem; display:block; margin-top:0.3rem; text-align:center; line-height:0.8rem; letter-spacing:0.1rem; color:#fff; font-size:0.3rem;}

.tit_01{ padding:0 0.2rem; margin-bottom:1.1rem}
.text_t1{height:0.8rem; border:#ccc 1px solid; width:100%; margin:0.1rem auto; font-size:0.3rem; color:#999; padding-left:0.2rem; }
.yzm_li{ position:relative;}
.yzm{ position:absolute; right:0; top:0.1rem; width:1.96rem; height:0.8rem; display:block; background:#df007f; color:#fff; text-align:center; line-height:0.8rem; font-size:0.3rem;}
.tij{ background:#df007f; height:0.8rem; display:block; margin-top:0.3rem; text-align:center; line-height:0.8rem; letter-spacing:0.1rem; color:#fff; font-size:0.3rem;}

.xuan{ width:0.3rem; height:0.3rem; display:block; background:url(../image/xuanz1.png) no-repeat center; float:left; margin-right:0.1rem;}
.xy{ font-size:0.22rem; color:#df007f; margin-bottom:1.5rem;}


.search_01{height:0.8rem; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#f2f2f2;}
.sous{ width:96%; border: 1px solid #ccc; background:#fff; border-radius:0.3rem; margin:0.09rem auto; position:relative; height:0.6rem;}
.all_sou{border-right:1px solid #ccc; margin:0.13rem; position:absolute; left:0.3rem; top:0;}
.input_id01{ border:0; width:0.7rem;font-size:0.28rem;}
.all_down{ background:url(../image/xial.png) no-repeat center; width:0.22rem; height:0.13rem; float:right; background-size:cover; margin:0.1rem;}
.sous_te{ border:0; background:none; font-size:0.26rem; position:absolute; top:0; left:1.7rem;height:0.6rem; width:65%; color:#999;}
.sous_i{ position:absolute; right:0.3rem; top:0.13rem; display:block; background:url(../image/sousuo.png) no-repeat; width:0.4rem; height:0.32rem; background-size:cover; cursor:pointer;}
.all_sou .all_up{ background:url(../image/shangl.png) no-repeat center; width:0.22rem; height:0.13rem; float:right; background-size:cover; margin:0.1rem; margin-left:0.3rem;}
.sou_none{ position:absolute; left:0.3rem; top:0.6rem; background:#fff; border:1px solid #ccc; display:none;}
.sou_none dd{ padding: 0.1rem 0.36rem;}

.my_main ul{ font-size:0.26rem;}
.my_hs{ height:0.79rem; border-bottom:1px solid #ccc; padding:0 0.2rem;}
.my_hs span{line-height:0.79rem;}
.succeed{ float:right; color:#df007f;  font-size:0.2rem;}
.indent{ border-bottom:1px solid #ccc;  display:block;}
.indent figure{padding:0;height:1.9rem; margin:0.2rem 0.2rem 0;}
.indent figure img{ float:left; margin:0.07rem 0.2rem 0.2rem 0 ; width:1.51rem; height:1.51rem; overflow:hidden}
figcaption h3{ padding-bottom:0.3rem;}
.price_bl{ color:#df007f; font-size:0.38rem; margin-bottom:0.1rem;}
.desc_time{ color:#999; font-size:0.24rem;}
.ind{padding:0.1rem 0.2rem; height:0.61rem; border-bottom:1px solid #ccc; background:#f2f2f2;}
.del_ind{ text-align:center; display:block; border:1px solid #ccc; background:#fff; width:1.44rem; height:0.6rem; border-radius:5px; line-height:0.62rem; float:right; margin-right:0.1rem;}
.eval_ind{ text-align:center; display:block; border:1px solid #df007f; background:#df007f; width:1.44rem; height:0.6rem; border-radius:5px; line-height:0.62rem;float:right; margin-left:0.1rem;}

.my_main ul{ font-size:0.26rem;}
.my_hs{border-bottom:1px solid #ccc; padding:0 0.2rem;}
.tis{ color:#666; font-size:0.24rem; text-align:center; height:0.74rem; background:#f2f2f2; line-height:0.74rem; border-bottom:1px solid #ccc;}
.my_hs dd{ padding:0.1rem 0;}
.my_hs dd span{ color:#666;}
.indent{ padding-top:0.2rem; border-bottom:1px solid #ccc;  display:block;}
.indent figure{padding:0;height:1.9rem; margin:0.2rem 0.2rem 0;}
.indent figure img{ float:left; margin:0.07rem 0.2rem 0.2rem 0 ; width:1.51rem; height:1.51rem; overflow:hidden}
figcaption h3{ padding-bottom:0.25rem;}
.desc_time{ color:#999; font-size:0.24rem;}
.ind{padding:0.1rem 0.2rem; height:0.61rem; border-bottom:1px solid #ccc; background:#f2f2f2;}
.del_ind{ text-align:center; display:block; border:1px solid #ccc; background:#fff; width:1.44rem; height:0.6rem; border-radius:5px; line-height:0.62rem; float:right; margin-right:0.1rem;}
.eval_ind{ text-align:center; display:block; border:1px solid #df007f; background:#df007f; width:1.44rem; height:0.6rem; border-radius:5px; line-height:0.62rem;float:right; margin-left:0.1rem; color:#fff;}
.bu_li_66{ height:0.66rem; line-height:0.66rem; font-size:0.24rem; color:#666; border-top:1px solid #ccc; padding:0 0.2rem;}



.header_right1{ position:absolute; top:0; right:0.2rem; display:block; line-height:0.88rem; color:#666; font-size:0.3rem;}

.mc .mc_cp .con_right01{    margin-left: 1.86rem; float: initial; overflow: hidden; height: 1.68rem;}

.perbg{ background: url(../image/geren_bg.png) no-repeat; position: relative; height: 2.22rem;background-size: cover;  }
.geren_person{text-align: center; padding-top: 0.15rem;}
.geren_persona{ width: 1.36rem; height: 1.36rem;overflow: hidden; display: inline-block; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); }
.geren_persona img{ width: 1.35rem; height: 1.35rem; }
.geren_person01{ text-align: center; font-size: 0.3rem; color: #fff; }
.geren_personspan{ position: absolute; left: 0.2rem; top: 0.2rem; font-size: 0.3rem; color: #fff; }
.dingdan a.dingdan_curent{color: #df007f;border-bottom: 1px solid #df007f;}

.dingdanimg01{    width: 100%;height: 0.35rem; display: inline-block; background: url(../image/xuanz.png) no-repeat center; background-size: 0.39rem 0.35rem;}
.dingdanimg02{    width: 100%;height: 0.35rem; display: inline-block; background: url(../image/person_02.png) no-repeat center; background-size: 0.39rem 0.35rem;}
.dingdanimg03{    width: 100%;height: 0.35rem; display: inline-block; background: url(../image/person_03.png) no-repeat center; background-size: 0.39rem 0.35rem;}
.dingdanimg04{    width: 100%;height: 0.35rem; display: inline-block; background: url(../image/person_04.png) no-repeat center; background-size: 0.39rem 0.35rem;}
.dingdan a.dingdan_curent .dingdanimg01{background: url(../image/person_001.png) no-repeat center;background-size: 0.39rem 0.35rem;}
.dingdan a.dingdan_curent .dingdanimg02{background: url(../image/person_002.png) no-repeat center;background-size: 0.39rem 0.35rem;}
.dingdan a.dingdan_curent .dingdanimg03{background: url(../image/person_003.png) no-repeat center;background-size: 0.39rem 0.35rem;}
.dingdan a.dingdan_curent .dingdanimg04{background: url(../image/person_004.png) no-repeat center;background-size: 0.39rem 0.35rem;}
.dingdan a.dingdan_curent span{ color: #df007f; }
.daipj{ position: relative; }
.daipj_point{ width: 0.3rem; height: 0.3rem; line-height: 0.3rem; font-weight: normal; text-align: center; color: #fff; background: #df007f; position: absolute; right: 0.2rem; top: 0.1rem; border-radius: 50%; font-size: 0.1rem; }


.wenzhang_detail{ height: 0.8rem; position: relative; }
.wenzhang_share{ position: absolute; right: 0.2rem; top: 0.2rem; }
.wenzhang_share img{width: 0.42rem; height: 0.4rem; }
.hot_new_001 .chilk01 a{color: #999;}
.hot_new_001 .chilk01 a:hover{color: #df0071}

.my_hs001{ height: auto; }
 .my_hs001 span{ line-height: 0.5rem; }
 .my_hs001 dd{color: #333;}

 .xiaoxi_icon{ width: 0.1rem; height: 0.1rem; background: #df007f; border-radius: 50%; display: inline-block;position: absolute; left: 50%;  top: 0;    margin-left: 0.23rem }



.hqyz_btn{ width: 30%; display: inline-block;     height: 0.78rem; line-height: 0.78rem; text-align: center; background: #df007f; color: #fff; border-top: 1px solid #df007f; }
.help_span{ padding: 0.1rem 0 0.1rem; padding-left: 0.2rem; line-height: 0.5rem; margin-right: 1rem; float: left; overflow: hidden; display: inline-block; }

.help_title{ margin:0.2rem; text-align: center; font-size: 0.3rem;  }
.help_con{ line-height: 0.4rem; margin: 0.2rem; text-indent: 2em; }
.tit_bttext{ width: 100%; border:0;    height: 2rem;  text-indent: 0.2rem;  padding: 0.1rem 0;}
.jifen_descr{ text-align: center; color: #333;  }
.jquery_tab01 li.this a{ color: #df0071; }
.content_1 .sc_li{    border-bottom: 1px solid #cccccc;}
.content_1 .sc_li:hover{ background: #f5f5f5; }
.content_1 .sc_li:hover .sc_title{ color: #df0071 }
.content_1 a.cancel_sc{ position: absolute; width: 1.2rem; height: 0.4rem; color: #fff; text-align: center; line-height: 0.4rem; right: 0.2rem; top: 0.12rem; display: inline-block; background: #df0071; border-radius: 5px; font-size: 0.2rem; }
.sc_li{height: 0.64rem;    width: 100%;position: relative; }
.content_1 .sc_li .sc_title{ margin-right: 1rem; width: auto;}


.xq_pj{border-top: 1px solid #ccc; clear: both;}
.xq_pj p{ padding:0.1rem 0.2rem; font-size: 0.26rem;  }
.xq_plcon{padding:0.1rem 0.2rem; line-height: 0.4rem;}
.xq_pltime{ text-align: right; padding-right: 0.2rem; color: #999; }
.xq_plconwrap{ overflow: hidden; }


.mask{ width: 100%; height: 100%; position: fixed; background: #000; opacity: 0.3; left: 0; top: 0; z-index: 999; }
.window_img{position: absolute; top: 50%; left: 0; width: 100%; text-align: center; z-index: 9999; margin-top: -1.5rem;}



.list h2 a:hover{color: #df007f;  }
.l_10{ padding-left: 10px; }
.lt_hover li a:hover{color: #df007f;}

.pad_ul{overflow: hidden;padding: 0.2rem 0;  }
.sel_xiala option:hover{background: #df007f;  }
.margin01{ margin-right:0.2rem; display: inline-block; width: 90%;  }
.content_1 .next_01{ float: right; }
.sel_xiala{ font-family: 微软雅黑; }
.span_geren{ padding-left: 0.2rem; }

.back_top1{position: fixed; bottom: 0.2rem; right: 0.2rem; z-index: 999; cursor: pointer;
	animation: mymove 1500ms infinite ease-in-out;
	-webkit-animation: mymove 1500ms infinite ease-in-out;
	-moz-animation: mymove 1500ms infinite ease-in-out;
	-o-animation: mymove 1500ms infinite ease-in-out;
}
.back_top1 img{ width: 0.34rem; height: 0.72rem; }
.course_fenleiimg img{ width: 0.4rem; height: 0.4rem; padding-left: 0.2rem; vertical-align: middle; }