html{width:100%; font-size:100px; outline:0; -webkit-text-size-adjust:none;}
body{font-family:Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,STHeiTi,Arial,sans-serif; color:#222; background:#fff; padding:0px; margin:0px;  font-size:0.24rem;}
body, input, textarea, select, button, table{padding:0px; margin:0px; font-size:0.24rem;font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,STHeiTi,Arial,sans-serif; }
input,select{appearance:none;-webkit-appearance:none; -o-appearance:none;-moz-appearance:none; -ms-appearance:none; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
a,button,input{outline:none; text-decoration:none; font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,STHeiTi,Arial,sans-serif; }
a:link, a:visited{color:#93063f;padding:0px; margin:0px; -webkit-tap-highlight-color:transparent;text-decoration:none;}
a:hover { color:#e35423; text-decoration:none;}

input::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}
select::-ms-expand {
    display: none;
}
.l{float:left;}
.r{float:right;}
.hide{display:none;}
.mt05{margin-top:0.05rem;}
.mt10{margin-top:0.1rem;}
.mt_15{margin-top:0.15rem;}
.mt_20{margin-top:0.2rem;}
.mr_10{margin-right:0.1rem;}
.mr_20{margin-right:0.2rem;}
.ml_10{margin-left:0.1rem;}
.ml_20{margin-left:0.2rem;}
.pt_10{padding-top:0.1rem;}
.pb_10{padding-bottom:0.1rem;}
pre{white-space: normal; padding: 0 0.1rem;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,
img,
iframe{border:0;}
:focus{outline:0;}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var{font-weight:normal;font-style:normal;}
ol,
ul{list-style:none; padding:0px; margin:0px;}
li{list-style:none; padding:0px; margin:0px;}
dl,dd,dt{padding:0px; margin:0px;}
p{padding:0px; margin:0px;}
caption,
th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;margin:0;padding:0;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''}
abbr,
acronym{border:0px; font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,
textarea,
select{*font-size:100%;}
select{appearance:none; -moz-appearance:none; -webkit-appearance:none;}
legend{color:#000;}
.clearfix{zoom:1;}
.clearfix:after{display:block;clear:both;content:'\20';}
textarea{resize:none;}
i{font-style:normal;}
em{font-style:normal;}
.pl_10{padding-left:0.1rem;}
.pr_10{padding-right:0.1rem;}
.p_10div{padding:0.1rem;}
.p_l_r10div{padding-left:0.1rem; padding-right:0.1rem; display:block;}
.p_l_r20div{padding-left:0.2rem; padding-right:0.2rem; display:block;}
.clear{padding:0px; margin:0px; clear:both;}
.dy_dd{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.bt_cc{border-top:1px solid #ccc;}
.bb_cc{border-bottom:1px solid #ccc;}
.bj_fff{background:#fff;}
dl,dt{padding:0px; margin:0px;}
.del_x{text-decoration:line-through;}
.jzxs{text-align:center;}
.wp_100{width:100%; margin:0px auto; padding:0px;}
.wp_640{width:6.4rem; margin:0px auto; padding:0px;}
.wp_100{width:100%; margin:0px auto; padding:0px;}
.wp_620{width:6.2rem; margin:0px auto; padding:0px;}
.div_bfb{width:100%; float:left;}
header{width:100%; position:fixed; left:0px; top:0px; background:#fff; height:0.88rem; z-index:100;}
header h1{width:100%; height:0.88rem; line-height:0.88rem; text-align:center; color:#000; font-size:0.36rem; padding:0px; margin:0px; border-bottom:1px solid #ccc;}
header h1 img{width:3.15rem; height:0.78rem;margin-top:0.05rem;}
.header_top{width:100%; height:0.88rem; float:left; padding:0px; margin:0px;}
.footer_bottom{width:100%; height:0.89rem; float:left; padding:0px; margin:0px;}
.footer_01{width:100%; position:fixed; z-index:100; left:0px; bottom:0px; border-top:2px solid #e10d86; background:#fff; height:0.88rem;}

.header_left{position:absolute; top:0px; height:0.88rem; left:0.1rem; z-index:100; color:#fff;}
.header_left .fanhui{width:0.27rem; height:0.42rem; text-indent:-9999px; background:url(../image/fanhui.png) no-repeat 0px 0px; background-size:0.27rem 0.42rem; margin-top:0.23rem; overflow:hidden; float:right; margin-left:0.1rem;}
.header_logo{width:100%; margin-top:0.15rem; float:left; text-align:center;}
.header_logo img{width:2.76rem; height:0.68rem;}
.header_right{position:absolute; top:0px; height:0.98rem; right:0.1rem; z-index:100; color:#fff; font-size: 0.26rem;}
.header_right:hover{ color: #df007f }
.header_right .top_pl{width:0.45rem; height:0.42rem; text-indent:-9999px; background:url(../image/top_pl.png) no-repeat 0px 0px; background-size:0.45rem 0.42rem; margin-top:0.23rem; overflow:hidden; float:right; margin-right:0.1rem;}
.header_right .bianji_tcd{height:0.98rem; line-height:0.98rem; float:right; font-size:0.3rem; padding-right:0.2rem;}

.footer_02{width:100%; float:left; padding-top:0.06rem;}
.footer_02 a{width:20%; height:0.8rem; float:left; text-align:center; position:relative;}
.footer_02 i{width:100%; height:0.5rem; float:left; text-align:center;}
.footer_02 span{width:100%; height:0.24rem; line-height:0.24rem; float:left; text-align:center; color:#9b9b9b; font-size:0.2rem;}
.footer_02 .this span{color:#df007f;}
.footer_02 .shouye{background:url(../image/shouye_01.png) no-repeat center top; background-size:0.43rem 0.44rem;}
.footer_02 .this .shouye{background:url(../image/shouye_02.png) no-repeat center top; background-size:0.43rem 0.44rem;}
.footer_02 .zhengshu{background:url(../image/zhengshu_01.png) no-repeat center top; background-size:0.45rem 0.44rem;}
.footer_02 .this .zhengshu{background:url(../image/zhengshu_02.png) no-repeat center top; background-size:0.45rem 0.44rem;}
.footer_02 .xiaozhitiao{background:url(../image/xiaozhitiao_01.png) no-repeat center top; background-size:0.42rem 0.44rem;}
.footer_02 .this .xiaozhitiao{background:url(../image/xiaozhitiao_02.png) no-repeat center top; background-size:0.42rem 0.44rem;}
.footer_02 .luntan{background:url(../image/luntan_01.png) no-repeat center top; background-size:0.52rem 0.44rem;}
.footer_02 .this .luntan{background:url(../image/luntan_02.png) no-repeat center top; background-size:0.52rem 0.44rem;}
.footer_02 .wode{background:url(../image/wode_01.png) no-repeat center top; background-size:0.44rem 0.44rem;}
.footer_02 .this .wode{background:url(../image/wode_02.png) no-repeat center top; background-size:0.44rem 0.44rem;}
.footer_02 .xzt_xx{width:0.11rem; height:0.1rem; position:absolute; background:url(../image/xzt_xx.png) no-repeat; background-size:0.11rem 0.1rem; top:0rem; left:50%; margin-left:0.08rem;}

.
    
.duo_checkbox02{display:none;}
.duo_checkbox02 + label{height:0.32rem;  line-height:0.3rem; background:url(../image/ziliao_02.png) no-repeat 0px 0px; background-size:0.3rem 0.3rem; border:0px; font-size: 0.3rem; padding:0px; position:relative; float:left; -webkit-tap-highlight-color:rgba(0,0,0,0); cursor:pointer; padding-left:0.46rem; color:#666;}
.duo_checkbox02:checked + label{color:#df007f;}
.duo_checkbox02:checked + label:after{height:0.32rem; background:url(../image/ziliao_03.png) no-repeat 0px 0px; background-size:0.3rem 0.3rem; position:absolute; left:0px; top:0px; content:' '; line-height:0.3rem; padding-right:0.46rem; color:#333;}
.xuanzek{    float: left;margin-top: 12px;}


.duo_checkbox03{display:none;}
.duo_checkbox03 + label{height:0.32rem;  line-height:0.3rem; background:url(../image/ziliao_04.png) no-repeat 0px 0px; background-size:0.3rem 0.3rem; border:0px; font-size: 0.3rem; padding:0px; position:relative; float:left; -webkit-tap-highlight-color:rgba(0,0,0,0); cursor:pointer; padding-left:0.46rem; color:#666;}
.duo_checkbox03:checked + label{color:#df007f;}
.duo_checkbox03:checked + label:after{height:0.32rem; background:url(../image/ziliao_05.png) no-repeat 0px 0px; background-size:0.3rem 0.3rem; position:absolute; left:0px; top:0px; content:' '; line-height:0.3rem; padding-right:0.46rem; color:#333;}
   
.duo_checkbox04{display:none;}
.duo_checkbox04 + label{height:0.32rem; width: 95%;  line-height:0.3rem; background:url(../image/ziliao_02.png) no-repeat right; background-size:0.3rem 0.3rem; border:0px; font-size: 0.3rem; padding:0px; position:relative; float:left; -webkit-tap-highlight-color:rgba(0,0,0,0); cursor:pointer; color:#666;}
.duo_checkbox04:checked + label{color:#df007f;}
.duo_checkbox04:checked + label:after{height:0.32rem;width: 95%; background:url(../image/ziliao_03.png) no-repeat right; background-size:0.3rem 0.3rem; position:absolute; right:0px; top:0px; content:' '; line-height:0.3rem; padding-right:0.46rem; color:#333;}
.xuanzek01{ width: 100%; overflow: hidden;padding: 0.3rem 0.2rem;}

.xzt_title{ font-size: 0.3rem;text-align: center; padding:0.2rem 0;  }
.xzt_con{ padding:0 0.2rem; line-height: 0.4rem; color: #9b9b9b; text-indent: 2em; font-size: 0.26rem; }
.xzt_time{color: #9b9b9b;padding:0.2rem;font-size: 0.26rem;}


.span_pos{ position: relative; display: inline-block;  background: url(../image/xiala_02.png) no-repeat 98% center; background-size: 0.12rem 0.06rem; }
.span_pos select{ overflow: hidden!important; background: none; text-align: left; width: 2rem;}
.mc_icon01_pos{ position: absolute; right: 0.1rem; top: 50%; }
.shaixuan_sel{ display: inline-block;  background: url(../image/xiala_02.png) no-repeat 98% center; background-size: 0.12rem 0.06rem; }
.shaixuan_sel01 select{  width: 100%; background: none; text-align: left; width: 2rem;}

.shaixuan_sel01{ position: absolute; right: 0; }
.ss_kc{ width: 30%; }
.sousuo .form01 .ss_kc.ss_xiala01{    display: inline-block;
   
    background: url(../image/xiala_01.png) no-repeat 90% center;
    background-size: 0.22rem 0.13rem;}
    .sousuo .form01 .ss_kc.ss_xiala01 select{ width: 100%; background: none; border: 0; font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Roboto,STHeiTi,Arial,sans-serif;  }
    .zs{ width: 6.4rem; margin: 0 auto; }
    .content_wzxq p{ line-height: 0.3rem; }
   
 .pop_mask{    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    filter: opacity(opacity=10;);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;}
    .qiangdan_window{ display: none; }
    .qd_windowcontent{ width: 90%;    border-radius: 5px; background: #fff; position: absolute; z-index: 1001; box-shadow: 1px 1px 1px rgba(0,0,0,0.3); border: 1px solid #ccc;}
    .close_icon{ font-size: 0.15rem; }
     .close_icon:hover{color: #df007f;}
    .close_iconp{    height: 0.2rem;
    text-align: right;
    line-height: 0.1rem;}
    
    header{ height: 1.76rem; }
    .header02{ height: 0.88rem; position: relative;background: #fff; }
    .header01{ height: 0.88rem; background: #fff; text-align: center;border-bottom: 1px solid #eee; }
    .header_top{ height: 1.76rem; }
    .header01 img{    width: 3.15rem;height: 0.78rem; margin-top: 0.05rem;}
    
    
    .back_wrap{ text-align: center; }
    .back_top{ width: 1.55rem; height: 0.4rem; background:#df007f; color: #fff; border-radius: 5px; line-height: 0.4rem; display: inline-block; transition: all 0s ease-in-out;-webkit-transition: all 0s ease-in-out; -moz-transition: all 0s ease-in-out;-o-transition: all 0s ease-in-out;}
    .banquan_txt{background: #000000; margin: 0.15rem 0; color: #fff; text-align: center; padding: 0.2rem 0;}
    .banquan_ul{  width: 100%; display: table;  }
    .banquan_ul li{ display: table-cell; width: 20%; text-align: center; }
    .banquan_ul li a:hover{ color: #df007f; }
    .con_pad{ padding: 0 0.1rem; }
    .pl_con01{display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2; 
        display: -moz-box;-moz-box-orient: vertical; -moz-line-clamp: 2;
        display: -o-box;-o-box-orient: vertical; -o-line-clamp: 2;
        overflow: hidden;}
        .pl_contxt{ padding-top: 0.1rem;  line-height: 0.25rem; }

@keyframes mymove{
  0%{bottom:70px;}
  50%{bottom:80px;}
  100%{bottom:70px;}
}
@-webkit-keyframes mymove{
    0%{bottom:70px;}
  50%{bottom:80px;}
  100%{bottom:70px;}
}
@-moz-keyframes mymove{
    0%{bottom:70px;}
  50%{bottom:80px;}
  100%{bottom:70px;}
}
@-o-keyframes mymove{
    0%{bottom:70px;}
  50%{bottom:80px;}
  100%{bottom:70px;}
}