<!DOCTYPE html>
<html>
  <head>
    <title>a.5培训对象管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/a_5培训对象管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/a_5培训对象管理/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u3277" class="ax_default shape">
        <div id="u3277_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3278" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3279" class="ax_default shape">
        <div id="u3279_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3280" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3281" class="ax_default paragraph">
        <div id="u3281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3282" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3283" class="ax_default shape">
        <div id="u3283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3284" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3285" class="ax_default shape">
        <div id="u3285_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3286" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3287" class="ax_default shape">
        <div id="u3287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3288" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3289" class="ax_default image">
        <img id="u3289_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u3290" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3291" class="ax_default shape">
        <div id="u3291_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3292" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3293" class="ax_default shape">
        <div id="u3293_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3294" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">课程管理/</span><span style="color:#1E1E1E;">培训对象管理</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3295" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u3296" class="ax_default label">
          <div id="u3296_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3297" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3298" class="ax_default label">
          <div id="u3298_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3299" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3300" class="ax_default label">
          <div id="u3300_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3301" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3302" class="ax_default label">
          <div id="u3302_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3303" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3304" class="ax_default label">
          <div id="u3304_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3305" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3306" class="ax_default label">
          <div id="u3306_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3307" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3308" class="ax_default label">
          <div id="u3308_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3309" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3310" class="ax_default label">
          <div id="u3310_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3311" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3312" class="ax_default shape">
        <div id="u3312_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3313" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3314" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u3315" class="ax_default shape">
          <div id="u3315_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3316" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3317" class="ax_default shape">
          <div id="u3317_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3318" class="text" style="visibility: visible;">
            <p><span>课程管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u3319" class="ax_default image">
          <img id="u3319_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u3320" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u3321" class="ax_default checkbox">
          <label for="u3321_input">
            <!-- Unnamed () -->
            <div id="u3322" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u3321_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3323" class="ax_default shape">
        <div id="u3323_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3324" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3325" class="ax_default shape">
        <div id="u3325_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3326" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3327" class="ax_default shape">
        <div id="u3327_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3328" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3329" class="ax_default shape">
        <div id="u3329_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3330" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3331" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u3332" class="ax_default shape">
          <div id="u3332_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3333" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3334" class="ax_default shape">
          <div id="u3334_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3335" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; 课程模块设置</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u3336" class="ax_default image">
          <img id="u3336_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u3337" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3338" class="ax_default shape">
        <div id="u3338_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3339" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 编程课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3340" class="ax_default shape">
        <div id="u3340_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3341" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3342" class="ax_default shape">
        <div id="u3342_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3343" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 课程模块查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3344" class="ax_default shape">
        <div id="u3344_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3345" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 发布课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3346" class="ax_default shape">
        <div id="u3346_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3347" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看产品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3348" class="ax_default shape">
        <div id="u3348_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3349" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改产品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3350" class="ax_default shape">
        <div id="u3350_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3351" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3352" class="ax_default shape">
        <div id="u3352_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3353" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 产品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3354" class="ax_default image">
        <img id="u3354_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u3355" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3356" class="ax_default image">
        <img id="u3356_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u3357" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3358" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u3359" class="ax_default shape">
          <div id="u3359_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3360" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3361" class="ax_default shape">
          <div id="u3361_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3362" class="text" style="visibility: visible;">
            <p><span>课程分类管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u3363" class="ax_default image">
          <img id="u3363_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u3364" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3365" class="ax_default box_1">
        <div id="u3365_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3366" class="text" style="visibility: visible;">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3367" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u3368" class="ax_default table_cell1">
          <img id="u3368_img" class="img " src="images/a_5培训对象管理/u3368.png"/>
          <!-- Unnamed () -->
          <div id="u3369" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3370" class="ax_default table_cell1">
          <img id="u3370_img" class="img " src="images/a_5培训对象管理/u3370.png"/>
          <!-- Unnamed () -->
          <div id="u3371" class="text" style="visibility: visible;">
            <p><span>分类名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3372" class="ax_default table_cell1">
          <img id="u3372_img" class="img " src="images/a_5培训对象管理/u3372.png"/>
          <!-- Unnamed () -->
          <div id="u3373" class="text" style="visibility: visible;">
            <p><span>课堂名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3374" class="ax_default table_cell1">
          <img id="u3374_img" class="img " src="images/a_5培训对象管理/u3374.png"/>
          <!-- Unnamed () -->
          <div id="u3375" class="text" style="visibility: visible;">
            <p><span>课程编号</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3376" class="ax_default table_cell1">
          <img id="u3376_img" class="img " src="images/a_5培训对象管理/u3376.png"/>
          <!-- Unnamed () -->
          <div id="u3377" class="text" style="visibility: visible;">
            <p><span>开课时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3378" class="ax_default table_cell1">
          <img id="u3378_img" class="img " src="images/a_5培训对象管理/u3378.png"/>
          <!-- Unnamed () -->
          <div id="u3379" class="text" style="visibility: visible;">
            <p><span>课时</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3380" class="ax_default table_cell1">
          <img id="u3380_img" class="img " src="images/a_5培训对象管理/u3380.png"/>
          <!-- Unnamed () -->
          <div id="u3381" class="text" style="visibility: visible;">
            <p><span>课次</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3382" class="ax_default table_cell1">
          <img id="u3382_img" class="img " src="images/a_5培训对象管理/u3382.png"/>
          <!-- Unnamed () -->
          <div id="u3383" class="text" style="visibility: visible;">
            <p><span>价格</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3384" class="ax_default table_cell1">
          <img id="u3384_img" class="img " src="images/a_5培训对象管理/u3384.png"/>
          <!-- Unnamed () -->
          <div id="u3385" class="text" style="visibility: visible;">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3386" class="ax_default table_cell1">
          <img id="u3386_img" class="img " src="images/a_5培训对象管理/u3386.png"/>
          <!-- Unnamed () -->
          <div id="u3387" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3388" class="ax_default table_cell1">
          <img id="u3388_img" class="img " src="images/a_5培训对象管理/u3388.png"/>
          <!-- Unnamed () -->
          <div id="u3389" class="text" style="visibility: visible;">
            <p><span>ABC快了课堂</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3390" class="ax_default table_cell1">
          <img id="u3390_img" class="img " src="images/a_5培训对象管理/u3390.png"/>
          <!-- Unnamed () -->
          <div id="u3391" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">咖啡馆时尚饮品制作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3392" class="ax_default table_cell1">
          <img id="u3392_img" class="img " src="images/a_5培训对象管理/u3392.png"/>
          <!-- Unnamed () -->
          <div id="u3393" class="text" style="visibility: visible;">
            <p><span>C301</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3394" class="ax_default table_cell1">
          <img id="u3394_img" class="img " src="images/a_5培训对象管理/u3394.png"/>
          <!-- Unnamed () -->
          <div id="u3395" class="text" style="visibility: visible;">
            <p><span>2016-4-15起</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3396" class="ax_default table_cell1">
          <img id="u3396_img" class="img " src="images/a_5培训对象管理/u3396.png"/>
          <!-- Unnamed () -->
          <div id="u3397" class="text" style="visibility: visible;">
            <p><span>2</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3398" class="ax_default table_cell1">
          <img id="u3398_img" class="img " src="images/a_5培训对象管理/u3398.png"/>
          <!-- Unnamed () -->
          <div id="u3399" class="text" style="visibility: visible;">
            <p><span>12</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3400" class="ax_default table_cell1">
          <img id="u3400_img" class="img " src="images/a_5培训对象管理/u3400.png"/>
          <!-- Unnamed () -->
          <div id="u3401" class="text" style="visibility: visible;">
            <p><span>123.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3402" class="ax_default table_cell1">
          <img id="u3402_img" class="img " src="images/a_5培训对象管理/u3402.png"/>
          <!-- Unnamed () -->
          <div id="u3403" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">查看&nbsp; 修改&nbsp; 删除 发布课程</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3404" class="ax_default table_cell1">
          <img id="u3404_img" class="img " src="images/a_5培训对象管理/u3404.png"/>
          <!-- Unnamed () -->
          <div id="u3405" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3406" class="ax_default table_cell1">
          <img id="u3406_img" class="img " src="images/a_5培训对象管理/u3406.png"/>
          <!-- Unnamed () -->
          <div id="u3407" class="text" style="visibility: visible;">
            <p><span>ABC快了课堂</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3408" class="ax_default table_cell1">
          <img id="u3408_img" class="img " src="images/a_5培训对象管理/u3408.png"/>
          <!-- Unnamed () -->
          <div id="u3409" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">咖啡馆时尚饮品制作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3410" class="ax_default table_cell1">
          <img id="u3410_img" class="img " src="images/a_5培训对象管理/u3410.png"/>
          <!-- Unnamed () -->
          <div id="u3411" class="text" style="visibility: visible;">
            <p><span>B401</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3412" class="ax_default table_cell1">
          <img id="u3412_img" class="img " src="images/a_5培训对象管理/u3412.png"/>
          <!-- Unnamed () -->
          <div id="u3413" class="text" style="visibility: visible;">
            <p><span>2016-4-15起</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3414" class="ax_default table_cell1">
          <img id="u3414_img" class="img " src="images/a_5培训对象管理/u3414.png"/>
          <!-- Unnamed () -->
          <div id="u3415" class="text" style="visibility: visible;">
            <p><span>3</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3416" class="ax_default table_cell1">
          <img id="u3416_img" class="img " src="images/a_5培训对象管理/u3416.png"/>
          <!-- Unnamed () -->
          <div id="u3417" class="text" style="visibility: visible;">
            <p><span>15</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3418" class="ax_default table_cell1">
          <img id="u3418_img" class="img " src="images/a_5培训对象管理/u3418.png"/>
          <!-- Unnamed () -->
          <div id="u3419" class="text" style="visibility: visible;">
            <p><span>123.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3420" class="ax_default table_cell1">
          <img id="u3420_img" class="img " src="images/a_5培训对象管理/u3420.png"/>
          <!-- Unnamed () -->
          <div id="u3421" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">查看&nbsp; 修改&nbsp; 删除 发布课程</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3422" class="ax_default table_cell1">
          <img id="u3422_img" class="img " src="images/a_5培训对象管理/u3422.png"/>
          <!-- Unnamed () -->
          <div id="u3423" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3424" class="ax_default table_cell1">
          <img id="u3424_img" class="img " src="images/a_5培训对象管理/u3424.png"/>
          <!-- Unnamed () -->
          <div id="u3425" class="text" style="visibility: visible;">
            <p><span>ABC快了课堂</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3426" class="ax_default table_cell1">
          <img id="u3426_img" class="img " src="images/a_5培训对象管理/u3426.png"/>
          <!-- Unnamed () -->
          <div id="u3427" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">咖啡馆时尚饮品制作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3428" class="ax_default table_cell1">
          <img id="u3428_img" class="img " src="images/a_5培训对象管理/u3428.png"/>
          <!-- Unnamed () -->
          <div id="u3429" class="text" style="visibility: visible;">
            <p><span>B601</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3430" class="ax_default table_cell1">
          <img id="u3430_img" class="img " src="images/a_5培训对象管理/u3430.png"/>
          <!-- Unnamed () -->
          <div id="u3431" class="text" style="visibility: visible;">
            <p><span>2016-4-15起</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3432" class="ax_default table_cell1">
          <img id="u3432_img" class="img " src="images/a_5培训对象管理/u3432.png"/>
          <!-- Unnamed () -->
          <div id="u3433" class="text" style="visibility: visible;">
            <p><span>4</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3434" class="ax_default table_cell1">
          <img id="u3434_img" class="img " src="images/a_5培训对象管理/u3434.png"/>
          <!-- Unnamed () -->
          <div id="u3435" class="text" style="visibility: visible;">
            <p><span>13</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3436" class="ax_default table_cell1">
          <img id="u3436_img" class="img " src="images/a_5培训对象管理/u3436.png"/>
          <!-- Unnamed () -->
          <div id="u3437" class="text" style="visibility: visible;">
            <p><span>123.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3438" class="ax_default table_cell1">
          <img id="u3438_img" class="img " src="images/a_5培训对象管理/u3438.png"/>
          <!-- Unnamed () -->
          <div id="u3439" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">查看&nbsp; 修改&nbsp; 删除 发布课程</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3440" class="ax_default table_cell1">
          <img id="u3440_img" class="img " src="images/a_5培训对象管理/u3440.png"/>
          <!-- Unnamed () -->
          <div id="u3441" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3442" class="ax_default table_cell1">
          <img id="u3442_img" class="img " src="images/a_3产品管理/u1486.png"/>
          <!-- Unnamed () -->
          <div id="u3443" class="text" style="visibility: visible;">
            <p><span>ABC快了课堂</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3444" class="ax_default table_cell1">
          <img id="u3444_img" class="img " src="images/a_5培训对象管理/u3444.png"/>
          <!-- Unnamed () -->
          <div id="u3445" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">咖啡馆时尚饮品制作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3446" class="ax_default table_cell1">
          <img id="u3446_img" class="img " src="images/a_5培训对象管理/u3446.png"/>
          <!-- Unnamed () -->
          <div id="u3447" class="text" style="visibility: visible;">
            <p><span>B701</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3448" class="ax_default table_cell1">
          <img id="u3448_img" class="img " src="images/a_5培训对象管理/u3448.png"/>
          <!-- Unnamed () -->
          <div id="u3449" class="text" style="visibility: visible;">
            <p><span>2016-4-15起</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3450" class="ax_default table_cell1">
          <img id="u3450_img" class="img " src="images/a_5培训对象管理/u3450.png"/>
          <!-- Unnamed () -->
          <div id="u3451" class="text" style="visibility: visible;">
            <p><span>5</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3452" class="ax_default table_cell1">
          <img id="u3452_img" class="img " src="images/a_5培训对象管理/u3452.png"/>
          <!-- Unnamed () -->
          <div id="u3453" class="text" style="visibility: visible;">
            <p><span>11</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3454" class="ax_default table_cell1">
          <img id="u3454_img" class="img " src="images/a_5培训对象管理/u3454.png"/>
          <!-- Unnamed () -->
          <div id="u3455" class="text" style="visibility: visible;">
            <p><span>123.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3456" class="ax_default table_cell1">
          <img id="u3456_img" class="img " src="images/a_5培训对象管理/u3456.png"/>
          <!-- Unnamed () -->
          <div id="u3457" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">查看&nbsp; 修改&nbsp; 删除 发布课程</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3458" class="ax_default table_cell1">
          <img id="u3458_img" class="img " src="images/a_5培训对象管理/u3458.png"/>
          <!-- Unnamed () -->
          <div id="u3459" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3460" class="ax_default table_cell1">
          <img id="u3460_img" class="img " src="images/a_5培训对象管理/u3460.png"/>
          <!-- Unnamed () -->
          <div id="u3461" class="text" style="visibility: visible;">
            <p><span>ABC快了课堂</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3462" class="ax_default table_cell1">
          <img id="u3462_img" class="img " src="images/a_5培训对象管理/u3462.png"/>
          <!-- Unnamed () -->
          <div id="u3463" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">咖啡馆时尚饮品制作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3464" class="ax_default table_cell1">
          <img id="u3464_img" class="img " src="images/a_5培训对象管理/u3464.png"/>
          <!-- Unnamed () -->
          <div id="u3465" class="text" style="visibility: visible;">
            <p><span>B801</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3466" class="ax_default table_cell1">
          <img id="u3466_img" class="img " src="images/a_5培训对象管理/u3466.png"/>
          <!-- Unnamed () -->
          <div id="u3467" class="text" style="visibility: visible;">
            <p><span>2016-4-15起</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3468" class="ax_default table_cell1">
          <img id="u3468_img" class="img " src="images/a_5培训对象管理/u3468.png"/>
          <!-- Unnamed () -->
          <div id="u3469" class="text" style="visibility: visible;">
            <p><span>6</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3470" class="ax_default table_cell1">
          <img id="u3470_img" class="img " src="images/a_5培训对象管理/u3470.png"/>
          <!-- Unnamed () -->
          <div id="u3471" class="text" style="visibility: visible;">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3472" class="ax_default table_cell1">
          <img id="u3472_img" class="img " src="images/a_5培训对象管理/u3472.png"/>
          <!-- Unnamed () -->
          <div id="u3473" class="text" style="visibility: visible;">
            <p><span>123.00</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u3474" class="ax_default table_cell1">
          <img id="u3474_img" class="img " src="images/a_5培训对象管理/u3474.png"/>
          <!-- Unnamed () -->
          <div id="u3475" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">查看&nbsp; 修改&nbsp; 删除 发布课程</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3476" class="ax_default box_1">
        <div id="u3476_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3477" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3478" class="ax_default box_1">
        <div id="u3478_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3479" class="text" style="visibility: visible;">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3480" class="ax_default box_1">
        <div id="u3480_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3481" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3482" class="ax_default shape">
        <div id="u3482_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3483" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新建产品</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3484" class="ax_default image">
        <img id="u3484_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u3485" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3486" class="ax_default shape">
        <div id="u3486_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3487" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增证书</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3488" class="ax_default shape">
        <div id="u3488_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3489" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改证书</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3490" class="ax_default shape">
        <div id="u3490_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3491" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看证书</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3492" class="ax_default shape">
        <div id="u3492_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3493" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 培训对象管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3494" class="ax_default image">
        <img id="u3494_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u3495" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3496" class="ax_default shape">
        <div id="u3496_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3497" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增培训对象</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3498" class="ax_default shape">
        <div id="u3498_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3499" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改培训对象</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3500" class="ax_default shape">
        <div id="u3500_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3501" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看培训对象</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u3502" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u3503" class="ax_default shape">
          <div id="u3503_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3504" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3505" class="ax_default shape">
          <div id="u3505_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3506" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp;&nbsp; 培训对象管理&nbsp; &nbsp;&nbsp; </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3507" class="ax_default shape">
        <div id="u3507_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3508" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 证书管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3509" class="ax_default image">
        <img id="u3509_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u3510" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
