<!DOCTYPE html>
<html>
  <head>
    <title>k.1轮播图管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/k_1轮播图管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/k_1轮播图管理/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u11818" class="ax_default shape">
        <div id="u11818_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11819" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11820" class="ax_default shape">
        <div id="u11820_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11821" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11822" class="ax_default paragraph">
        <div id="u11822_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11823" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11824" class="ax_default shape">
        <div id="u11824_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11825" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11826" class="ax_default shape">
        <div id="u11826_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11827" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11828" class="ax_default shape">
        <div id="u11828_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11829" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u11830" class="ax_default image">
        <img id="u11830_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u11831" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11832" class="ax_default shape">
        <div id="u11832_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11833" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11834" class="ax_default shape">
        <div id="u11834_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11835" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11836" class="ax_default shape">
        <div id="u11836_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11837" class="text" style="visibility: visible;">
          <p><span>轮播图设置</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u11838" class="ax_default image">
        <img id="u11838_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u11839" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u11840" class="ax_default checkbox">
        <label for="u11840_input">
          <!-- Unnamed () -->
          <div id="u11841" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u11840_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11842" class="ax_default shape">
        <div id="u11842_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11843" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11844" class="ax_default shape">
        <div id="u11844_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11845" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11846" class="ax_default shape">
        <div id="u11846_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11847" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 新增轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11848" class="ax_default shape">
        <div id="u11848_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11849" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 修改轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11850" class="ax_default shape">
        <div id="u11850_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11851" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 查看轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11852" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11853" class="ax_default shape">
          <div id="u11853_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11854" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11855" class="ax_default shape">
          <div id="u11855_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11856" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; 轮播图管理</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11857" class="ax_default shape">
        <div id="u11857_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11858" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u11859" class="ax_default">
        <div id="u11859_state0" class="panel_state" data-label="State1">
          <div id="u11859_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u11860" class="ax_default">
        <div id="u11860_state0" class="panel_state" data-label="State1">
          <div id="u11860_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u11861" class="ax_default">
        <div id="u11861_state0" class="panel_state" data-label="State1">
          <div id="u11861_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u11862" class="ax_default">
        <div id="u11862_state0" class="panel_state" data-label="State1">
          <div id="u11862_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11863" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11864" class="ax_default label">
          <div id="u11864_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11865" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11866" class="ax_default label">
          <div id="u11866_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11867" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11868" class="ax_default label">
          <div id="u11868_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11869" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11870" class="ax_default label">
          <div id="u11870_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11871" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11872" class="ax_default label">
          <div id="u11872_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11873" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11874" class="ax_default label">
          <div id="u11874_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11875" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11876" class="ax_default label">
          <div id="u11876_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11877" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11878" class="ax_default label">
          <div id="u11878_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11879" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11880" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11881" class="ax_default heading_1">
          <div id="u11881_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11882" class="text" style="visibility: visible;">
            <p><span>轮播图名称：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11883" class="ax_default shape">
          <div id="u11883_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11884" class="text" style="visibility: visible;">
            <p><span>请输入</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11885" class="ax_default line">
        <img id="u11885_img" class="img " src="images/a_7学生课程管理/u4412.png"/>
        <!-- Unnamed () -->
        <div id="u11886" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u11887" class="ax_default">
        <div id="u11887_state0" class="panel_state" data-label="State1">
          <div id="u11887_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11888" class="ax_default box_1">
        <div id="u11888_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11889" class="text" style="visibility: visible;">
          <p><span>确定</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11890" class="ax_default box_1">
        <div id="u11890_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11891" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11892" class="ax_default box_1">
        <div id="u11892_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11893" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11894" class="ax_default box_1">
        <div id="u11894_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11895" class="text" style="visibility: visible;">
          <p><span>搜索</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11896" class="ax_default box_1">
        <div id="u11896_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11897" class="text" style="visibility: visible;">
          <p><span>新增</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11898" class="ax_default box_1">
        <div id="u11898_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11899" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11900" class="ax_default">

        <!-- Unnamed (表格) -->
        <div id="u11901" class="ax_default table">

          <!-- Unnamed (单元格) -->
          <div id="u11902" class="ax_default table_cell">
            <img id="u11902_img" class="img " src="images/h_1明星学员店管理/u9408.png"/>
            <!-- Unnamed () -->
            <div id="u11903" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11904" class="ax_default table_cell">
            <img id="u11904_img" class="img " src="images/h_1明星学员店管理/u9412.png"/>
            <!-- Unnamed () -->
            <div id="u11905" class="text" style="visibility: visible;">
              <p><span>轮播图名称</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11906" class="ax_default table_cell">
            <img id="u11906_img" class="img " src="images/h_1明星学员店管理/u9414.png"/>
            <!-- Unnamed () -->
            <div id="u11907" class="text" style="visibility: visible;">
              <p><span>轮播图图片</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11908" class="ax_default table_cell">
            <img id="u11908_img" class="img " src="images/h_1明星学员店管理/u9416.png"/>
            <!-- Unnamed () -->
            <div id="u11909" class="text" style="visibility: visible;">
              <p><span>操作</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11910" class="ax_default table_cell">
            <img id="u11910_img" class="img " src="images/h_1明星学员店管理/u9418.png"/>
            <!-- Unnamed () -->
            <div id="u11911" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11912" class="ax_default table_cell">
            <img id="u11912_img" class="img " src="images/h_1明星学员店管理/u9422.png"/>
            <!-- Unnamed () -->
            <div id="u11913" class="text" style="visibility: visible;">
              <p><span>首页轮播图</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11914" class="ax_default table_cell">
            <img id="u11914_img" class="img " src="images/h_1明星学员店管理/u9424.png"/>
            <!-- Unnamed () -->
            <div id="u11915" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">点击查看</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11916" class="ax_default table_cell">
            <img id="u11916_img" class="img " src="images/h_1明星学员店管理/u9426.png"/>
            <!-- Unnamed () -->
            <div id="u11917" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">查看</span><span> </span><span style="text-decoration:underline;">编辑</span><span> </span><span style="text-decoration:underline;">删除</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11918" class="ax_default table_cell">
            <img id="u11918_img" class="img " src="images/h_1明星学员店管理/u9428.png"/>
            <!-- Unnamed () -->
            <div id="u11919" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11920" class="ax_default table_cell">
            <img id="u11920_img" class="img " src="images/h_1明星学员店管理/u9432.png"/>
            <!-- Unnamed () -->
            <div id="u11921" class="text" style="visibility: visible;">
              <p><span>首页轮播图</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11922" class="ax_default table_cell">
            <img id="u11922_img" class="img " src="images/h_1明星学员店管理/u9434.png"/>
            <!-- Unnamed () -->
            <div id="u11923" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">点击查看</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11924" class="ax_default table_cell">
            <img id="u11924_img" class="img " src="images/h_1明星学员店管理/u9436.png"/>
            <!-- Unnamed () -->
            <div id="u11925" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">查看</span><span> </span><span style="text-decoration:underline;">编辑</span><span> </span><span style="text-decoration:underline;">删除</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11926" class="ax_default table_cell">
            <img id="u11926_img" class="img " src="images/h_1明星学员店管理/u9428.png"/>
            <!-- Unnamed () -->
            <div id="u11927" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11928" class="ax_default table_cell">
            <img id="u11928_img" class="img " src="images/h_1明星学员店管理/u9432.png"/>
            <!-- Unnamed () -->
            <div id="u11929" class="text" style="visibility: visible;">
              <p><span>首页轮播图</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11930" class="ax_default table_cell">
            <img id="u11930_img" class="img " src="images/h_1明星学员店管理/u9434.png"/>
            <!-- Unnamed () -->
            <div id="u11931" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">点击查看</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11932" class="ax_default table_cell">
            <img id="u11932_img" class="img " src="images/h_1明星学员店管理/u9436.png"/>
            <!-- Unnamed () -->
            <div id="u11933" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">查看</span><span> </span><span style="text-decoration:underline;">编辑</span><span> </span><span style="text-decoration:underline;">删除</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11934" class="ax_default table_cell">
            <img id="u11934_img" class="img " src="images/h_1明星学员店管理/u9448.png"/>
            <!-- Unnamed () -->
            <div id="u11935" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11936" class="ax_default table_cell">
            <img id="u11936_img" class="img " src="images/h_1明星学员店管理/u9452.png"/>
            <!-- Unnamed () -->
            <div id="u11937" class="text" style="visibility: visible;">
              <p><span>首页轮播图</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11938" class="ax_default table_cell">
            <img id="u11938_img" class="img " src="images/h_1明星学员店管理/u9454.png"/>
            <!-- Unnamed () -->
            <div id="u11939" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">点击查看</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u11940" class="ax_default table_cell">
            <img id="u11940_img" class="img " src="images/h_1明星学员店管理/u9456.png"/>
            <!-- Unnamed () -->
            <div id="u11941" class="text" style="visibility: visible;">
              <p><span style="text-decoration:underline;">查看</span><span> </span><span style="text-decoration:underline;">编辑</span><span> </span><span style="text-decoration:underline;">删除</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u11942" class="ax_default checkbox">
          <label for="u11942_input">
            <!-- Unnamed () -->
            <div id="u11943" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u11942_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u11944" class="ax_default checkbox">
          <label for="u11944_input">
            <!-- Unnamed () -->
            <div id="u11945" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u11944_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u11946" class="ax_default checkbox">
          <label for="u11946_input">
            <!-- Unnamed () -->
            <div id="u11947" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u11946_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u11948" class="ax_default checkbox">
          <label for="u11948_input">
            <!-- Unnamed () -->
            <div id="u11949" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u11948_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11950" class="ax_default label">
        <div id="u11950_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11951" class="text" style="visibility: visible;">
          <p><span>轮播图设置 / </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11952" class="ax_default label">
        <div id="u11952_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11953" class="text" style="visibility: visible;">
          <p><span>轮播图管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u11954" class="ax_default image">
        <img id="u11954_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u11955" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
