<!DOCTYPE html>
<html>
  <head>
    <title>修改名师资料</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/修改名师资料/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/修改名师资料/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u9215" class="ax_default shape">
        <div id="u9215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9216" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9217" class="ax_default shape">
        <div id="u9217_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9218" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9219" class="ax_default shape">
        <div id="u9219_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9220" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9221" class="ax_default label">
        <div id="u9221_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9222" class="text" style="visibility: visible;">
          <p><span>导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9223" class="ax_default label">
        <div id="u9223_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9224" class="text" style="visibility: visible;">
          <p><span>财务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9225" class="ax_default label">
        <div id="u9225_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9226" class="text" style="visibility: visible;">
          <p><span>文章</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9227" class="ax_default label">
        <div id="u9227_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9228" class="text" style="visibility: visible;">
          <p><span>课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9229" class="ax_default label">
        <div id="u9229_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9230" class="text" style="visibility: visible;">
          <p><span>用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9231" class="ax_default label">
        <div id="u9231_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9232" class="text" style="visibility: visible;">
          <p><span>订单</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9233" class="ax_default label">
        <div id="u9233_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9234" class="text" style="visibility: visible;">
          <p><span>主题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9235" class="ax_default label">
        <div id="u9235_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9236" class="text" style="visibility: visible;">
          <p><span>课程表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9237" class="ax_default shape">
        <div id="u9237_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9238" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9239" class="ax_default paragraph">
        <div id="u9239_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9240" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9241" class="ax_default shape">
        <div id="u9241_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9242" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9243" class="ax_default shape">
        <div id="u9243_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9244" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9245" class="ax_default shape">
        <div id="u9245_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9246" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9247" class="ax_default image">
        <img id="u9247_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u9248" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9249" class="ax_default shape">
        <div id="u9249_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9250" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9251" class="ax_default shape">
        <div id="u9251_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9252" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9253" class="ax_default image">
        <img id="u9253_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u9254" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9255" class="ax_default shape">
        <div id="u9255_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9256" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9257" class="ax_default shape">
        <div id="u9257_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9258" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9259" class="ax_default shape">
        <div id="u9259_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9260" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9261" class="ax_default">
        <div id="u9261_state0" class="panel_state" data-label="State1">
          <div id="u9261_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9262" class="ax_default">
        <div id="u9262_state0" class="panel_state" data-label="State1">
          <div id="u9262_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9263" class="ax_default">
        <div id="u9263_state0" class="panel_state" data-label="State1">
          <div id="u9263_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9264" class="ax_default image">
        <img id="u9264_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u9265" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u9266" class="ax_default checkbox">
        <label for="u9266_input">
          <!-- Unnamed () -->
          <div id="u9267" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u9266_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9268" class="ax_default">
        <div id="u9268_state0" class="panel_state" data-label="State1">
          <div id="u9268_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9269" class="ax_default">
        <div id="u9269_state0" class="panel_state" data-label="State1">
          <div id="u9269_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9270" class="ax_default box_1">
        <div id="u9270_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9271" class="text" style="visibility: visible;">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9272" class="ax_default box_1">
        <div id="u9272_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9273" class="text" style="visibility: visible;">
          <p><span>确认</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9274" class="ax_default shape">
        <div id="u9274_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9275" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9276" class="ax_default shape">
        <div id="u9276_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9277" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9278" class="ax_default shape">
        <div id="u9278_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9279" class="text" style="visibility: visible;">
          <p><span>明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9280" class="ax_default image">
        <img id="u9280_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u9281" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9282" class="ax_default shape">
        <div id="u9282_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9283" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9284" class="ax_default shape">
        <div id="u9284_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9285" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9286" class="ax_default shape">
        <div id="u9286_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9287" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9288" class="ax_default shape">
        <div id="u9288_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9289" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9290" class="ax_default shape">
        <div id="u9290_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9291" class="text" style="visibility: visible;">
          <p><span>&nbsp; 查看明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u9292" class="ax_default">
        <div id="u9292_state0" class="panel_state" data-label="State1">
          <div id="u9292_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u9293" class="ax_default image">
        <img id="u9293_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u9294" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u9295" class="ax_default checkbox">
        <label for="u9295_input">
          <!-- Unnamed () -->
          <div id="u9296" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u9295_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9297" class="ax_default shape">
        <div id="u9297_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9298" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 明星学员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9299" class="ax_default shape">
        <div id="u9299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9300" class="text" style="visibility: visible;">
          <p><span>&nbsp; 修改明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9301" class="ax_default box_2">
        <div id="u9301_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9302" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">绿巨人大师&nbsp; 铂澜拉花教育名师</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u9303" class="ax_default placeholder">
        <img id="u9303_img" class="img " src="images/查看明星学员/u8769.png"/>
        <!-- Unnamed () -->
        <div id="u9304" class="text" style="visibility: visible;">
          <p><span>个人图片介绍</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u9305" class="ax_default text_area">
        <textarea id="u9305_input">作为一名资深咖啡学员，从第一滴咖啡入口，更多涉猎的是啤咖啡和中国的白咖啡，葡萄咖啡仍停留都在神秘未知领域。当一位挚友送我一瓶泛着红光的葡萄咖啡时，我便对这种神秘的液体充满着好奇，于是寻觅各大商场超市西餐厅，面对琳琅满目的商品，复杂炫目的咖啡单，手足无措那是必然。我也曾购买大量书籍，品尝可以寻觅到的各类葡萄咖啡，却仍找不到系统门道，以至于走了很多弯路。偶然的机会我发现了逸香葡萄咖啡教育这个机构，于是我下定决心迈上漫长的“葡萄咖啡之旅”。
    初到逸香，学习的是ESW初级课程，短短两天的学习已然使我大开眼界，感觉到葡萄咖啡的世界是那样的丰富多彩，随即报名了ISG初级和ISG中级课程。通过老师的悉心教导讲解，我对各大葡萄咖啡产区以及葡萄咖啡品种有了更进一步的认识，通过品尝各种美咖啡使我的味蕾更加敏感丰富。ISG教导的不单单是美咖啡，还提倡美食美咖啡的搭配理念，意在提高人们的生活品质。现如今我深深体会到，葡萄咖啡并不是一个单纯的封闭的知识领域，而是一个多元化开放的文化世界，需要和朋友共同分享。以葡萄咖啡为媒介，我认识到很多有共同爱好的朋友，独乐乐不如众乐乐，我的家人在我的引导下也开始学习葡萄咖啡，共同分享这个美好的事物。现在我已和朋友一起，建立了葡萄咖啡俱乐部，旨在欢聚更多的爱咖啡人士品味人世间更多美咖啡美食。
    在逸香的学习过程中，有机会与业内知名人士进行交流，这也让我对自身不足有了新的认识，对知识也更加渴望。如今我将再次踏上新的葡萄咖啡旅程，学习更高的技艺：ISG Diploma课程。原因很简单：自从踏上这条路，我就从未想过放弃。</textarea>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u9306" class="ax_default placeholder">
        <img id="u9306_img" class="img " src="images/查看明星学员/u8772.png"/>
        <!-- Unnamed () -->
        <div id="u9307" class="text" style="visibility: visible;">
          <p><span>荣誉证书</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9308" class="ax_default shape">
        <div id="u9308_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9309" class="text" style="visibility: visible;">
          <p><span>名师风采</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9310" class="ax_default shape">
        <div id="u9310_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9311" class="text" style="visibility: visible;">
          <p><span>&nbsp; 名师风采管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9312" class="ax_default shape">
        <div id="u9312_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9313" class="text" style="visibility: visible;">
          <p><span>&nbsp; 修改名师资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9314" class="ax_default shape">
        <div id="u9314_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9315" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 新增名师资料 </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9316" class="ax_default shape">
        <div id="u9316_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9317" class="text" style="visibility: visible;">
          <p><span>&nbsp; 查看名师资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u9318" class="ax_default shape">
        <div id="u9318_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9319" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">名师风采／名师风采管理／</span><span>修改</span><span style="color:#000000;">名师资料</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
