<!DOCTYPE html>
<html>
  <head>
    <title>修改轮播图</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/修改轮播图/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/修改轮播图/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u12049" class="ax_default shape">
        <div id="u12049_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12050" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12051" class="ax_default shape">
        <div id="u12051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12052" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12053" class="ax_default paragraph">
        <div id="u12053_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12054" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12055" class="ax_default shape">
        <div id="u12055_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12056" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12057" class="ax_default shape">
        <div id="u12057_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12058" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12059" class="ax_default shape">
        <div id="u12059_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12060" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u12061" class="ax_default image">
        <img id="u12061_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u12062" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12063" class="ax_default shape">
        <div id="u12063_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12064" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12065" class="ax_default shape">
        <div id="u12065_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12066" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12067" class="ax_default shape">
        <div id="u12067_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12068" class="text" style="visibility: visible;">
          <p><span>轮播图设置</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u12069" class="ax_default image">
        <img id="u12069_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u12070" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u12071" class="ax_default checkbox">
        <label for="u12071_input">
          <!-- Unnamed () -->
          <div id="u12072" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u12071_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12073" class="ax_default shape">
        <div id="u12073_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12074" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12075" class="ax_default shape">
        <div id="u12075_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12076" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12077" class="ax_default shape">
        <div id="u12077_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12078" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 新增轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12079" class="ax_default shape">
        <div id="u12079_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12080" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 修改轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12081" class="ax_default shape">
        <div id="u12081_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12082" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 查看轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12083" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12084" class="ax_default shape">
          <div id="u12084_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12085" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12086" class="ax_default shape">
          <div id="u12086_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12087" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; 轮播图管理</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12088" class="ax_default shape">
        <div id="u12088_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12089" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u12090" class="ax_default">
        <div id="u12090_state0" class="panel_state" data-label="State1">
          <div id="u12090_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u12091" class="ax_default">
        <div id="u12091_state0" class="panel_state" data-label="State1">
          <div id="u12091_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u12092" class="ax_default">
        <div id="u12092_state0" class="panel_state" data-label="State1">
          <div id="u12092_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u12093" class="ax_default">
        <div id="u12093_state0" class="panel_state" data-label="State1">
          <div id="u12093_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12094" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12095" class="ax_default label">
          <div id="u12095_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12096" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12097" class="ax_default label">
          <div id="u12097_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12098" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12099" class="ax_default label">
          <div id="u12099_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12100" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12101" class="ax_default label">
          <div id="u12101_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12102" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12103" class="ax_default label">
          <div id="u12103_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12104" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12105" class="ax_default label">
          <div id="u12105_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12106" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12107" class="ax_default label">
          <div id="u12107_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12108" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12109" class="ax_default label">
          <div id="u12109_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12110" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u12111" class="ax_default">
        <div id="u12111_state0" class="panel_state" data-label="State1">
          <div id="u12111_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u12112" class="ax_default image">
        <img id="u12112_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u12113" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12114" class="ax_default box_1">
        <div id="u12114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12115" class="text" style="visibility: visible;">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12116" class="ax_default box_1">
        <div id="u12116_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12117" class="text" style="visibility: visible;">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12118" class="ax_default label">
        <div id="u12118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12119" class="text" style="visibility: visible;">
          <p><span>轮播图管理 / </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12120" class="ax_default label">
        <div id="u12120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12121" class="text" style="visibility: visible;">
          <p><span>轮播图设置/ </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12122" class="ax_default label">
        <div id="u12122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12123" class="text" style="visibility: visible;">
          <p><span>修改轮播图</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12124" class="ax_default heading_1">
        <div id="u12124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12125" class="text" style="visibility: visible;">
          <p><span>轮播图名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12126" class="ax_default shape">
        <div id="u12126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12127" class="text" style="visibility: visible;">
          <p><span>请输入</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12128" class="ax_default label">
        <div id="u12128_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12129" class="text" style="visibility: visible;">
          <p><span>图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u12130" class="ax_default placeholder">
        <img id="u12130_img" class="img " src="images/新增轮播图/u12037.png"/>
        <!-- Unnamed () -->
        <div id="u12131" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">点击上传</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12132" class="ax_default label">
        <div id="u12132_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12133" class="text" style="visibility: visible;">
          <p><span>轮播图片为4张</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
