<!DOCTYPE html>
<html>
  <head>
    <title>新建产品</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/新建产品/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/新建产品/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1815" class="ax_default shape">
        <div id="u1815_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1816" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1817" class="ax_default shape">
        <div id="u1817_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1818" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1819" class="ax_default paragraph">
        <div id="u1819_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1820" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1821" class="ax_default shape">
        <div id="u1821_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1822" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1823" class="ax_default shape">
        <div id="u1823_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1824" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1825" class="ax_default shape">
        <div id="u1825_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1826" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1827" class="ax_default image">
        <img id="u1827_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u1828" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1829" class="ax_default shape">
        <div id="u1829_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1830" class="text" style="visibility: visible;">
          <p><span>s</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1831" class="ax_default shape">
        <div id="u1831_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1832" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">产品管理/</span><span style="color:#1E1E1E;">新建产品</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1833" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u1834" class="ax_default label">
          <div id="u1834_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1835" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1836" class="ax_default label">
          <div id="u1836_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1837" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1838" class="ax_default label">
          <div id="u1838_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1839" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1840" class="ax_default label">
          <div id="u1840_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1841" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1842" class="ax_default label">
          <div id="u1842_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1843" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1844" class="ax_default label">
          <div id="u1844_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1845" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1846" class="ax_default label">
          <div id="u1846_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1847" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1848" class="ax_default label">
          <div id="u1848_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1849" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1850" class="ax_default shape">
        <div id="u1850_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1851" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1852" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u1853" class="ax_default shape">
          <div id="u1853_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1854" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1855" class="ax_default shape">
          <div id="u1855_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1856" class="text" style="visibility: visible;">
            <p><span>课程管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u1857" class="ax_default image">
          <img id="u1857_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u1858" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u1859" class="ax_default checkbox">
          <label for="u1859_input">
            <!-- Unnamed () -->
            <div id="u1860" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1859_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1861" class="ax_default shape">
        <div id="u1861_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1862" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1863" class="ax_default shape">
        <div id="u1863_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1864" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1865" class="ax_default shape">
        <div id="u1865_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1866" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1867" class="ax_default shape">
        <div id="u1867_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1868" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1869" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u1870" class="ax_default shape">
          <div id="u1870_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1871" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1872" class="ax_default shape">
          <div id="u1872_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1873" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; 课程模块设置</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u1874" class="ax_default image">
          <img id="u1874_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u1875" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1876" class="ax_default shape">
        <div id="u1876_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1877" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 编程课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1878" class="ax_default shape">
        <div id="u1878_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1879" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1880" class="ax_default shape">
        <div id="u1880_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1881" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 课程模块查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1882" class="ax_default shape">
        <div id="u1882_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1883" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 发布课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1884" class="ax_default shape">
        <div id="u1884_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1885" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看产品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1886" class="ax_default shape">
        <div id="u1886_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1887" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改产品</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1888" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u1889" class="ax_default shape">
          <div id="u1889_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1890" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1891" class="ax_default shape">
          <div id="u1891_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1892" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp;&nbsp; 产品管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u1893" class="ax_default image">
          <img id="u1893_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u1894" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1895" class="ax_default shape">
        <div id="u1895_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1896" class="text" style="visibility: visible;">
          <p><span>提交</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1897" class="ax_default label">
        <div id="u1897_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1898" class="text" style="visibility: visible;">
          <p><span>证书编号：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1899" class="ax_default label">
        <div id="u1899_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1900" class="text" style="visibility: visible;">
          <p><span>课程名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1901" class="ax_default label">
        <div id="u1901_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1902" class="text" style="visibility: visible;">
          <p><span>课程图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1903" class="ax_default label">
        <div id="u1903_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1904" class="text" style="visibility: visible;">
          <p><span>课程分类：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1905" class="ax_default label">
        <div id="u1905_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1906" class="text" style="visibility: visible;">
          <p><span>上课人数;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1907" class="ax_default box_1">
        <div id="u1907_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1908" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1909" class="ax_default box_1">
        <div id="u1909_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1910" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u1911" class="ax_default placeholder">
        <img id="u1911_img" class="img " src="images/新建产品/u1911.png"/>
        <!-- Unnamed () -->
        <div id="u1912" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">点击上传</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u1913" class="ax_default droplist">
        <select id="u1913_input">
          <option value="根目录">根目录</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1914" class="ax_default box_1">
        <div id="u1914_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1915" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1916" class="ax_default label">
        <div id="u1916_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1917" class="text" style="visibility: visible;">
          <p><span>培训对象：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1918" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1919" class="ax_default radio_button1">
          <label for="u1919_input">
            <!-- Unnamed () -->
            <div id="u1920" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1919_input" type="radio" value="radio" name="u1919"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1921" class="ax_default heading_2">
          <div id="u1921_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1922" class="text" style="visibility: visible;">
            <p><span>BCC培训结业证书</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1923" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1924" class="ax_default radio_button1">
          <label for="u1924_input">
            <!-- Unnamed () -->
            <div id="u1925" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1924_input" type="radio" value="radio" name="u1924"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1926" class="ax_default heading_2">
          <div id="u1926_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1927" class="text" style="visibility: visible;">
            <p><span>国家初级咖啡职业资格证书</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1928" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1929" class="ax_default radio_button1">
          <label for="u1929_input">
            <!-- Unnamed () -->
            <div id="u1930" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1929_input" type="radio" value="radio" name="u1929"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1931" class="ax_default heading_2">
          <div id="u1931_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1932" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1933" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1934" class="ax_default radio_button1">
          <label for="u1934_input">
            <!-- Unnamed () -->
            <div id="u1935" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1934_input" type="radio" value="radio" name="u1934"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1936" class="ax_default heading_2">
          <div id="u1936_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1937" class="text" style="visibility: visible;">
            <p><span>国家初级咖啡职业资格证书</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1938" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1939" class="ax_default radio_button1">
          <label for="u1939_input">
            <!-- Unnamed () -->
            <div id="u1940" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1939_input" type="radio" value="radio" name="u1939"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1941" class="ax_default heading_2">
          <div id="u1941_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1942" class="text" style="visibility: visible;">
            <p><span>国家初级咖啡职业资格证书</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1943" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1944" class="ax_default radio_button1">
          <label for="u1944_input">
            <!-- Unnamed () -->
            <div id="u1945" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1944_input" type="radio" value="radio" name="u1944"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1946" class="ax_default heading_2">
          <div id="u1946_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1947" class="text" style="visibility: visible;">
            <p><span>SCAA国际认证书</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1948" class="ax_default label">
        <div id="u1948_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1949" class="text" style="visibility: visible;">
          <p><span>颁发证书;</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1950" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1951" class="ax_default radio_button1">
          <label for="u1951_input">
            <!-- Unnamed () -->
            <div id="u1952" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1951_input" type="radio" value="radio" name="u1951"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1953" class="ax_default heading_2">
          <div id="u1953_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1954" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1955" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1956" class="ax_default radio_button1">
          <label for="u1956_input">
            <!-- Unnamed () -->
            <div id="u1957" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1956_input" type="radio" value="radio" name="u1956"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1958" class="ax_default heading_2">
          <div id="u1958_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1959" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1960" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1961" class="ax_default radio_button1">
          <label for="u1961_input">
            <!-- Unnamed () -->
            <div id="u1962" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1961_input" type="radio" value="radio" name="u1961"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1963" class="ax_default heading_2">
          <div id="u1963_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1964" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1965" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1966" class="ax_default radio_button1">
          <label for="u1966_input">
            <!-- Unnamed () -->
            <div id="u1967" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1966_input" type="radio" value="radio" name="u1966"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1968" class="ax_default heading_2">
          <div id="u1968_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1969" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1970" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1971" class="ax_default radio_button1">
          <label for="u1971_input">
            <!-- Unnamed () -->
            <div id="u1972" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1971_input" type="radio" value="radio" name="u1971"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1973" class="ax_default heading_2">
          <div id="u1973_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1974" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1975" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1976" class="ax_default radio_button1">
          <label for="u1976_input">
            <!-- Unnamed () -->
            <div id="u1977" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1976_input" type="radio" value="radio" name="u1976"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1978" class="ax_default heading_2">
          <div id="u1978_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1979" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1980" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1981" class="ax_default radio_button1">
          <label for="u1981_input">
            <!-- Unnamed () -->
            <div id="u1982" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1981_input" type="radio" value="radio" name="u1981"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1983" class="ax_default heading_2">
          <div id="u1983_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1984" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1985" class="ax_default">

        <!-- Unnamed (单选按钮) -->
        <div id="u1986" class="ax_default radio_button1">
          <label for="u1986_input">
            <!-- Unnamed () -->
            <div id="u1987" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u1986_input" type="radio" value="radio" name="u1986"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1988" class="ax_default heading_2">
          <div id="u1988_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u1989" class="text" style="visibility: visible;">
            <p><span>零起点学员</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1990" class="ax_default label">
        <div id="u1990_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1991" class="text" style="visibility: visible;">
          <p><span>课程费用:</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1992" class="ax_default box_1">
        <div id="u1992_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1993" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1994" class="ax_default label">
        <div id="u1994_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1995" class="text" style="visibility: visible;">
          <p><span>元/人</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1996" class="ax_default label">
        <div id="u1996_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1997" class="text" style="visibility: visible;">
          <p><span>费用说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1998" class="ax_default box_1">
        <div id="u1998_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1999" class="text" style="visibility: visible;">
          <p><span>已包含证书极其资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2000" class="ax_default label">
        <div id="u2000_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2001" class="text" style="visibility: visible;">
          <p><span>课程描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u2002" class="ax_default text_area">
        <textarea id="u2002_input"></textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2003" class="ax_default box_1">
        <div id="u2003_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2004" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2005" class="ax_default label">
        <div id="u2005_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2006" class="text" style="visibility: visible;">
          <p><span>课程模板：</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2007" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2008" class="ax_default checkbox1">
          <label for="u2008_input">
            <!-- Unnamed () -->
            <div id="u2009" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2008_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2010" class="ax_default heading_1">
          <div id="u2010_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2011" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2012" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2013" class="ax_default checkbox1">
          <label for="u2013_input">
            <!-- Unnamed () -->
            <div id="u2014" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2013_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2015" class="ax_default heading_1">
          <div id="u2015_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2016" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 2&nbsp; 意式咖啡介绍第二步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2017" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2018" class="ax_default checkbox1">
          <label for="u2018_input">
            <!-- Unnamed () -->
            <div id="u2019" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2018_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2020" class="ax_default heading_1">
          <div id="u2020_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2021" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2022" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2023" class="ax_default checkbox1">
          <label for="u2023_input">
            <!-- Unnamed () -->
            <div id="u2024" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2023_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2025" class="ax_default heading_1">
          <div id="u2025_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2026" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2027" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2028" class="ax_default checkbox1">
          <label for="u2028_input">
            <!-- Unnamed () -->
            <div id="u2029" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2028_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2030" class="ax_default heading_1">
          <div id="u2030_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2031" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2032" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2033" class="ax_default checkbox1">
          <label for="u2033_input">
            <!-- Unnamed () -->
            <div id="u2034" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2033_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2035" class="ax_default heading_1">
          <div id="u2035_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2036" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2037" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2038" class="ax_default checkbox1">
          <label for="u2038_input">
            <!-- Unnamed () -->
            <div id="u2039" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2038_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2040" class="ax_default heading_1">
          <div id="u2040_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2041" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2042" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2043" class="ax_default checkbox1">
          <label for="u2043_input">
            <!-- Unnamed () -->
            <div id="u2044" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2043_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2045" class="ax_default heading_1">
          <div id="u2045_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2046" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espress咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2047" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2048" class="ax_default checkbox1">
          <label for="u2048_input">
            <!-- Unnamed () -->
            <div id="u2049" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2048_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2050" class="ax_default heading_1">
          <div id="u2050_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2051" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso 介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2052" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2053" class="ax_default checkbox1">
          <label for="u2053_input">
            <!-- Unnamed () -->
            <div id="u2054" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2053_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2055" class="ax_default heading_1">
          <div id="u2055_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2056" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2057" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2058" class="ax_default checkbox1">
          <label for="u2058_input">
            <!-- Unnamed () -->
            <div id="u2059" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2058_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2060" class="ax_default heading_1">
          <div id="u2060_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2061" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2062" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2063" class="ax_default checkbox1">
          <label for="u2063_input">
            <!-- Unnamed () -->
            <div id="u2064" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2063_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2065" class="ax_default heading_1">
          <div id="u2065_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2066" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2067" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2068" class="ax_default checkbox1">
          <label for="u2068_input">
            <!-- Unnamed () -->
            <div id="u2069" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2068_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2070" class="ax_default heading_1">
          <div id="u2070_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2071" class="text" style="visibility: visible;">
            <p><span>co101 intrductio绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2072" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2073" class="ax_default checkbox1">
          <label for="u2073_input">
            <!-- Unnamed () -->
            <div id="u2074" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2073_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2075" class="ax_default heading_1">
          <div id="u2075_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2076" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2077" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2078" class="ax_default checkbox1">
          <label for="u2078_input">
            <!-- Unnamed () -->
            <div id="u2079" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2078_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2080" class="ax_default heading_1">
          <div id="u2080_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2081" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso </span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2082" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2083" class="ax_default checkbox1">
          <label for="u2083_input">
            <!-- Unnamed () -->
            <div id="u2084" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2083_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2085" class="ax_default heading_1">
          <div id="u2085_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2086" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2087" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2088" class="ax_default checkbox1">
          <label for="u2088_input">
            <!-- Unnamed () -->
            <div id="u2089" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2088_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2090" class="ax_default heading_1">
          <div id="u2090_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2091" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espre介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2092" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2093" class="ax_default checkbox1">
          <label for="u2093_input">
            <!-- Unnamed () -->
            <div id="u2094" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2093_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2095" class="ax_default heading_1">
          <div id="u2095_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2096" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2097" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2098" class="ax_default checkbox1">
          <label for="u2098_input">
            <!-- Unnamed () -->
            <div id="u2099" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2098_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2100" class="ax_default heading_1">
          <div id="u2100_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2101" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2102" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2103" class="ax_default checkbox1">
          <label for="u2103_input">
            <!-- Unnamed () -->
            <div id="u2104" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2103_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2105" class="ax_default heading_1">
          <div id="u2105_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2106" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso 步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2107" class="ax_default">

        <!-- Unnamed (复选框) -->
        <div id="u2108" class="ax_default checkbox1">
          <label for="u2108_input">
            <!-- Unnamed () -->
            <div id="u2109" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u2108_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2110" class="ax_default heading_1">
          <div id="u2110_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2111" class="text" style="visibility: visible;">
            <p><span>co101 intrduction to espresso part 1&nbsp; 意式咖啡介绍第一步</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2112" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u2113" class="ax_default shape">
          <div id="u2113_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2114" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2115" class="ax_default shape">
          <div id="u2115_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2116" class="text" style="visibility: visible;">
            <p><span>课程分类管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u2117" class="ax_default image">
          <img id="u2117_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u2118" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2119" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u2120" class="ax_default shape">
          <div id="u2120_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2121" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2122" class="ax_default shape">
          <div id="u2122_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2123" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新建产品</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u2124" class="ax_default image">
          <img id="u2124_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u2125" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
