<!DOCTYPE html>
<html>
  <head>
    <title>新增群组</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/新增群组/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/新增群组/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u10902" class="ax_default shape">
        <div id="u10902_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10903" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10904" class="ax_default shape">
        <div id="u10904_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10905" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10906" class="ax_default shape">
        <div id="u10906_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10907" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10908" class="ax_default image">
        <img id="u10908_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u10909" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u10910" class="ax_default">
        <div id="u10910_state0" class="panel_state" data-label="State1">
          <div id="u10910_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u10911" class="ax_default">
        <div id="u10911_state0" class="panel_state" data-label="State1">
          <div id="u10911_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10912" class="ax_default shape">
        <div id="u10912_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10913" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10914" class="ax_default shape">
        <div id="u10914_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10915" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10916" class="ax_default shape">
        <div id="u10916_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10917" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10918" class="ax_default paragraph">
        <div id="u10918_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10919" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10920" class="ax_default shape">
        <div id="u10920_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10921" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10922" class="ax_default shape">
        <div id="u10922_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10923" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10924" class="ax_default shape">
        <div id="u10924_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10925" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10926" class="ax_default image">
        <img id="u10926_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u10927" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10928" class="ax_default shape">
        <div id="u10928_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10929" class="text" style="visibility: visible;">
          <p><span>s</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u10930" class="ax_default">
        <div id="u10930_state0" class="panel_state" data-label="State1">
          <div id="u10930_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u10931" class="ax_default">
        <div id="u10931_state0" class="panel_state" data-label="State1">
          <div id="u10931_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10932" class="ax_default shape">
        <div id="u10932_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10933" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">站内管理／</span><span style="color:#1E1E1E;">新增群组</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u10934" class="ax_default">
        <div id="u10934_state0" class="panel_state" data-label="State1">
          <div id="u10934_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u10935" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u10936" class="ax_default label">
          <div id="u10936_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10937" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10938" class="ax_default label">
          <div id="u10938_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10939" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10940" class="ax_default label">
          <div id="u10940_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10941" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10942" class="ax_default label">
          <div id="u10942_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10943" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10944" class="ax_default label">
          <div id="u10944_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10945" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10946" class="ax_default label">
          <div id="u10946_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10947" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10948" class="ax_default label">
          <div id="u10948_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10949" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10950" class="ax_default label">
          <div id="u10950_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10951" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u10952" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u10953" class="ax_default heading_1">
          <div id="u10953_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10954" class="text" style="visibility: visible;">
            <p style="font-size:16px;"><span>标识</span><span style="font-size:12px;">：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10955" class="ax_default shape">
          <div id="u10955_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10956" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u10957" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u10958" class="ax_default heading_1">
          <div id="u10958_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10959" class="text" style="visibility: visible;">
            <p style="font-size:16px;"><span>群组标题</span><span style="font-size:12px;">：</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10960" class="ax_default shape">
          <div id="u10960_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10961" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10962" class="ax_default shape">
          <div id="u10962_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10963" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10964" class="ax_default label">
        <div id="u10964_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10965" class="text" style="visibility: visible;">
          <p style="font-size:16px;"><span>描述</span><span style="font-size:14px;">：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10966" class="ax_default label">
        <div id="u10966_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10967" class="text" style="visibility: visible;">
          <p style="font-size:16px;"><span>群组人员</span><span style="font-size:14px;">：</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u10968" class="ax_default text_area">
        <textarea id="u10968_input"></textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10969" class="ax_default label">
        <div id="u10969_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10970" class="text" style="visibility: visible;">
          <p><span>张三</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10971" class="ax_default label">
        <div id="u10971_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10972" class="text" style="visibility: visible;">
          <p><span>张三</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10973" class="ax_default label">
        <div id="u10973_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10974" class="text" style="visibility: visible;">
          <p><span>张三</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10975" class="ax_default label">
        <div id="u10975_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10976" class="text" style="visibility: visible;">
          <p><span>张三</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10977" class="ax_default label">
        <div id="u10977_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10978" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10979" class="ax_default label">
        <div id="u10979_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10980" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10981" class="ax_default label">
        <div id="u10981_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10982" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10983" class="ax_default label">
        <div id="u10983_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10984" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10985" class="ax_default shape">
        <div id="u10985_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10986" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u10987" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u10988" class="ax_default shape">
          <div id="u10988_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10989" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10990" class="ax_default shape">
          <div id="u10990_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10991" class="text" style="visibility: visible;">
            <p><span>站内管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u10992" class="ax_default image">
          <img id="u10992_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u10993" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u10994" class="ax_default checkbox">
          <label for="u10994_input">
            <!-- Unnamed () -->
            <div id="u10995" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u10994_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10996" class="ax_default shape">
        <div id="u10996_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10997" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10998" class="ax_default shape">
        <div id="u10998_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10999" class="text" style="visibility: visible;">
          <p><span>&nbsp; 站内信列表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11000" class="ax_default shape">
        <div id="u11000_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11001" class="text" style="visibility: visible;">
          <p><span>&nbsp;反馈管理</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11002" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11003" class="ax_default shape">
          <div id="u11003_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11004" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11005" class="ax_default shape">
          <div id="u11005_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11006" class="text" style="visibility: visible;">
            <p><span>文章管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11007" class="ax_default image">
          <img id="u11007_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u11008" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11009" class="ax_default shape">
        <div id="u11009_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11010" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11011" class="ax_default shape">
        <div id="u11011_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11012" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11013" class="ax_default shape">
        <div id="u11013_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11014" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 发表文章</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11015" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11016" class="ax_default shape">
          <div id="u11016_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11017" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11018" class="ax_default shape">
          <div id="u11018_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11019" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp;&nbsp; 文章列表</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11020" class="ax_default image">
          <img id="u11020_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u11021" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11022" class="ax_default shape">
        <div id="u11022_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11023" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 文章详情</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11024" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11025" class="ax_default shape">
          <div id="u11025_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11026" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11027" class="ax_default shape">
          <div id="u11027_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11028" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp;&nbsp; 分类管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11029" class="ax_default image">
          <img id="u11029_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u11030" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11031" class="ax_default shape">
        <div id="u11031_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11032" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 文章修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11033" class="ax_default shape">
        <div id="u11033_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11034" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 文章查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11035" class="ax_default box_1">
        <div id="u11035_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11036" class="text" style="visibility: visible;">
          <p><span>确定</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11037" class="ax_default box_1">
        <div id="u11037_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11038" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11039" class="ax_default box_1">
        <div id="u11039_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11040" class="text" style="visibility: visible;">
          <p><span>搜索</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11041" class="ax_default line">
        <img id="u11041_img" class="img " src="images/新增群组/u11041.png"/>
        <!-- Unnamed () -->
        <div id="u11042" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11043" class="ax_default line">
        <img id="u11043_img" class="img " src="images/新增群组/u11041.png"/>
        <!-- Unnamed () -->
        <div id="u11044" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11045" class="ax_default line">
        <img id="u11045_img" class="img " src="images/新增群组/u11041.png"/>
        <!-- Unnamed () -->
        <div id="u11046" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u11047" class="ax_default line">
        <img id="u11047_img" class="img " src="images/新增群组/u11041.png"/>
        <!-- Unnamed () -->
        <div id="u11048" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11049" class="ax_default shape">
        <div id="u11049_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11050" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 新增站内信模板</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11051" class="ax_default shape">
        <div id="u11051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11052" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp;&nbsp; 编辑站内信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11053" class="ax_default shape">
        <div id="u11053_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11054" class="text" style="visibility: visible;">
          <p><span>&nbsp; 站内信群发</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11055" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11056" class="ax_default shape">
          <div id="u11056_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11057" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11058" class="ax_default shape">
          <div id="u11058_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11059" class="text" style="visibility: visible;">
            <p><span>&nbsp; 群组管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11060" class="ax_default image">
          <img id="u11060_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u11061" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11062" class="ax_default shape">
        <div id="u11062_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11063" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 查看群组</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11064" class="ax_default shape">
        <div id="u11064_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11065" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 编辑群组</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11066" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11067" class="ax_default shape">
          <div id="u11067_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11068" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11069" class="ax_default shape">
          <div id="u11069_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11070" class="text" style="visibility: visible;">
            <p><span>&nbsp;站内性模板</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u11071" class="ax_default image">
          <img id="u11071_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u11072" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11073" class="ax_default shape">
        <div id="u11073_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11074" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 新增群组</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
