<!DOCTYPE html>
<html>
  <head>
    <title>查看课程分类</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/查看课程分类/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/查看课程分类/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u388" class="ax_default shape">
        <div id="u388_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u389" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u390" class="ax_default shape">
        <div id="u390_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u391" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u392" class="ax_default paragraph">
        <div id="u392_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u393" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u394" class="ax_default shape">
        <div id="u394_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u395" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u396" class="ax_default shape">
        <div id="u396_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u397" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u398" class="ax_default shape">
        <div id="u398_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u399" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u400" class="ax_default image">
        <img id="u400_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u401" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u402" class="ax_default shape">
        <div id="u402_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u403" class="text" style="visibility: visible;">
          <p><span>s</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u404" class="ax_default shape">
        <div id="u404_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u405" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">课程管理/</span><span style="color:#1E1E1E;">查看课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u406" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u407" class="ax_default label">
          <div id="u407_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u408" class="text" style="visibility: visible;">
            <p><span>导航</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u409" class="ax_default label">
          <div id="u409_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u410" class="text" style="visibility: visible;">
            <p><span>财务</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u411" class="ax_default label">
          <div id="u411_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u412" class="text" style="visibility: visible;">
            <p><span>文章</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u413" class="ax_default label">
          <div id="u413_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u414" class="text" style="visibility: visible;">
            <p><span>课程</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u415" class="ax_default label">
          <div id="u415_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u416" class="text" style="visibility: visible;">
            <p><span>用户管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u417" class="ax_default label">
          <div id="u417_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u418" class="text" style="visibility: visible;">
            <p><span>订单</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u419" class="ax_default label">
          <div id="u419_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u420" class="text" style="visibility: visible;">
            <p><span>主题</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u421" class="ax_default label">
          <div id="u421_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u422" class="text" style="visibility: visible;">
            <p><span>课程表</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u423" class="ax_default shape">
        <div id="u423_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u424" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u425" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u426" class="ax_default shape">
          <div id="u426_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u427" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u428" class="ax_default shape">
          <div id="u428_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u429" class="text" style="visibility: visible;">
            <p><span>课程管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u430" class="ax_default image">
          <img id="u430_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u431" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (复选框) -->
        <div id="u432" class="ax_default checkbox">
          <label for="u432_input">
            <!-- Unnamed () -->
            <div id="u433" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </label>
          <input id="u432_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u434" class="ax_default shape">
        <div id="u434_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u435" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u436" class="ax_default shape">
        <div id="u436_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u437" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u438" class="ax_default shape">
        <div id="u438_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u439" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程分类</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u440" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u441" class="ax_default shape">
          <div id="u441_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u442" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u443" class="ax_default shape">
          <div id="u443_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u444" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp; 课程模块设置</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u445" class="ax_default image">
          <img id="u445_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u446" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u447" class="ax_default shape">
        <div id="u447_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u448" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 编程课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u449" class="ax_default shape">
        <div id="u449_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u450" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新增课程设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u451" class="ax_default shape">
        <div id="u451_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u452" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 课程模块查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u453" class="ax_default shape">
        <div id="u453_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u454" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 发布课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u455" class="ax_default shape">
        <div id="u455_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u456" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看产品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u457" class="ax_default shape">
        <div id="u457_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u458" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 新建产品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u459" class="ax_default shape">
        <div id="u459_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u460" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 修改产品</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u461" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u462" class="ax_default shape">
          <div id="u462_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u463" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u464" class="ax_default shape">
          <div id="u464_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u465" class="text" style="visibility: visible;">
            <p><span>&nbsp;&nbsp;&nbsp; 产品管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u466" class="ax_default image">
          <img id="u466_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u467" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u468" class="ax_default label">
        <div id="u468_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u469" class="text" style="visibility: visible;">
          <p><span>课程分类：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u470" class="ax_default label">
        <div id="u470_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u471" class="text" style="visibility: visible;">
          <p><span>分类名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u472" class="ax_default label">
        <div id="u472_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u473" class="text" style="visibility: visible;">
          <p><span>图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u474" class="ax_default placeholder">
        <img id="u474_img" class="img " src="images/查看课程分类/u474.png"/>
        <!-- Unnamed () -->
        <div id="u475" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">图片查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u476" class="ax_default label">
        <div id="u476_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u477" class="text" style="visibility: visible;">
          <p><span>描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u478" class="ax_default text_area">
        <textarea id="u478_input">“BCC快乐咖啡培训”是铂澜咖啡学院开设的预约定制类培训课程，属于1-8人的高端培训课程，具有时间相对灵活、可随意定制、随到随学、互动及针对性强等特点。学员既可集中一段较短时间上课以强化效果，也可利用零星时段按照课表约课三个月内完成整个课程。2008年BCC高端培训推出至今，已为全国逾六千位学员提供了培训辅导，获得了极佳口碑。目前，超过80%的开店类学员(如咖啡馆创业者)和相当比例的爱好者、在职人士都选择</textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u479" class="ax_default shape">
        <div id="u479_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u480" class="text" style="visibility: visible;">
          <p><span>确定</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u481" class="ax_default shape">
        <div id="u481_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u482" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u483" class="ax_default droplist">
        <select id="u483_input">
          <option value="根目录">根目录</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u484" class="ax_default box_1">
        <div id="u484_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u485" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u486" class="ax_default label">
        <div id="u486_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u487" class="text" style="visibility: visible;">
          <p><span>BCC快乐课程</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u488" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u489" class="ax_default shape">
          <div id="u489_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u490" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u491" class="ax_default shape">
          <div id="u491_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u492" class="text" style="visibility: visible;">
            <p><span>课程分类管理</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u493" class="ax_default image">
          <img id="u493_img" class="img " src="images/a_1课程分类管理/u325.png"/>
          <!-- Unnamed () -->
          <div id="u494" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u495" class="ax_default shape">
        <div id="u495_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u496" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 查看课程分类</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
