<!DOCTYPE html>
<html>
  <head>
    <title>查看明星学员</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/查看明星学员/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/查看明星学员/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u8667" class="ax_default shape">
        <div id="u8667_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8668" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8669" class="ax_default shape">
        <div id="u8669_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8670" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8671" class="ax_default shape">
        <div id="u8671_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8672" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8673" class="ax_default label">
        <div id="u8673_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8674" class="text" style="visibility: visible;">
          <p><span>导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8675" class="ax_default label">
        <div id="u8675_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8676" class="text" style="visibility: visible;">
          <p><span>财务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8677" class="ax_default label">
        <div id="u8677_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8678" class="text" style="visibility: visible;">
          <p><span>文章</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8679" class="ax_default label">
        <div id="u8679_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8680" class="text" style="visibility: visible;">
          <p><span>课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8681" class="ax_default label">
        <div id="u8681_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8682" class="text" style="visibility: visible;">
          <p><span>用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8683" class="ax_default label">
        <div id="u8683_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8684" class="text" style="visibility: visible;">
          <p><span>订单</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8685" class="ax_default label">
        <div id="u8685_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8686" class="text" style="visibility: visible;">
          <p><span>主题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8687" class="ax_default label">
        <div id="u8687_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8688" class="text" style="visibility: visible;">
          <p><span>课程表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8689" class="ax_default shape">
        <div id="u8689_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8690" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8691" class="ax_default paragraph">
        <div id="u8691_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8692" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8693" class="ax_default shape">
        <div id="u8693_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8694" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8695" class="ax_default shape">
        <div id="u8695_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8696" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8697" class="ax_default shape">
        <div id="u8697_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8698" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8699" class="ax_default image">
        <img id="u8699_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u8700" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8701" class="ax_default shape">
        <div id="u8701_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8702" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8703" class="ax_default shape">
        <div id="u8703_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8704" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8705" class="ax_default shape">
        <div id="u8705_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8706" class="text" style="visibility: visible;">
          <p><span>明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8707" class="ax_default image">
        <img id="u8707_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u8708" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8709" class="ax_default shape">
        <div id="u8709_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8710" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8711" class="ax_default shape">
        <div id="u8711_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8712" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8713" class="ax_default shape">
        <div id="u8713_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8714" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8715" class="ax_default shape">
        <div id="u8715_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8716" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8717" class="ax_default shape">
        <div id="u8717_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8718" class="text" style="visibility: visible;">
          <p><span>&nbsp; 查看明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8719" class="ax_default shape">
        <div id="u8719_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8720" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8721" class="ax_default">
        <div id="u8721_state0" class="panel_state" data-label="State1">
          <div id="u8721_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8722" class="ax_default">
        <div id="u8722_state0" class="panel_state" data-label="State1">
          <div id="u8722_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8723" class="ax_default shape">
        <div id="u8723_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8724" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">明星学员／明星学员管理／</span><span>查看</span><span style="color:#000000;">明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8725" class="ax_default">
        <div id="u8725_state0" class="panel_state" data-label="State1">
          <div id="u8725_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8726" class="ax_default image">
        <img id="u8726_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u8727" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8728" class="ax_default checkbox">
        <label for="u8728_input">
          <!-- Unnamed () -->
          <div id="u8729" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8728_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8730" class="ax_default">
        <div id="u8730_state0" class="panel_state" data-label="State1">
          <div id="u8730_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8731" class="ax_default">
        <div id="u8731_state0" class="panel_state" data-label="State1">
          <div id="u8731_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8732" class="ax_default shape">
        <div id="u8732_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8733" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 明星学员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8734" class="ax_default shape">
        <div id="u8734_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8735" class="text" style="visibility: visible;">
          <p><span>&nbsp; 修改明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8736" class="ax_default box_1">
        <div id="u8736_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8737" class="text" style="visibility: visible;">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8738" class="ax_default box_1">
        <div id="u8738_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8739" class="text" style="visibility: visible;">
          <p><span>确认</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8740" class="ax_default shape">
        <div id="u8740_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8741" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8742" class="ax_default shape">
        <div id="u8742_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8743" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8744" class="ax_default shape">
        <div id="u8744_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8745" class="text" style="visibility: visible;">
          <p><span>明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8746" class="ax_default image">
        <img id="u8746_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u8747" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8748" class="ax_default shape">
        <div id="u8748_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8749" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8750" class="ax_default shape">
        <div id="u8750_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8751" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8752" class="ax_default shape">
        <div id="u8752_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8753" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8754" class="ax_default shape">
        <div id="u8754_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8755" class="text" style="visibility: visible;">
          <p><span>&nbsp; 新增明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8756" class="ax_default shape">
        <div id="u8756_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8757" class="text" style="visibility: visible;">
          <p><span>&nbsp; 查看明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u8758" class="ax_default">
        <div id="u8758_state0" class="panel_state" data-label="State1">
          <div id="u8758_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8759" class="ax_default image">
        <img id="u8759_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u8760" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8761" class="ax_default checkbox">
        <label for="u8761_input">
          <!-- Unnamed () -->
          <div id="u8762" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8761_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8763" class="ax_default shape">
        <div id="u8763_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8764" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 明星学员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8765" class="ax_default shape">
        <div id="u8765_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8766" class="text" style="visibility: visible;">
          <p><span>&nbsp; 修改明星学员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8767" class="ax_default box_2">
        <div id="u8767_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8768" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">绿巨人大师&nbsp; 铂澜拉花教育名师</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u8769" class="ax_default placeholder">
        <img id="u8769_img" class="img " src="images/查看明星学员/u8769.png"/>
        <!-- Unnamed () -->
        <div id="u8770" class="text" style="visibility: visible;">
          <p><span>个人图片介绍</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u8771" class="ax_default text_area">
        <textarea id="u8771_input">作为一名资深咖啡学员，从第一滴咖啡入口，更多涉猎的是啤咖啡和中国的白咖啡，葡萄咖啡仍停留都在神秘未知领域。当一位挚友送我一瓶泛着红光的葡萄咖啡时，我便对这种神秘的液体充满着好奇，于是寻觅各大商场超市西餐厅，面对琳琅满目的商品，复杂炫目的咖啡单，手足无措那是必然。我也曾购买大量书籍，品尝可以寻觅到的各类葡萄咖啡，却仍找不到系统门道，以至于走了很多弯路。偶然的机会我发现了逸香葡萄咖啡教育这个机构，于是我下定决心迈上漫长的“葡萄咖啡之旅”。
    初到逸香，学习的是ESW初级课程，短短两天的学习已然使我大开眼界，感觉到葡萄咖啡的世界是那样的丰富多彩，随即报名了ISG初级和ISG中级课程。通过老师的悉心教导讲解，我对各大葡萄咖啡产区以及葡萄咖啡品种有了更进一步的认识，通过品尝各种美咖啡使我的味蕾更加敏感丰富。ISG教导的不单单是美咖啡，还提倡美食美咖啡的搭配理念，意在提高人们的生活品质。现如今我深深体会到，葡萄咖啡并不是一个单纯的封闭的知识领域，而是一个多元化开放的文化世界，需要和朋友共同分享。以葡萄咖啡为媒介，我认识到很多有共同爱好的朋友，独乐乐不如众乐乐，我的家人在我的引导下也开始学习葡萄咖啡，共同分享这个美好的事物。现在我已和朋友一起，建立了葡萄咖啡俱乐部，旨在欢聚更多的爱咖啡人士品味人世间更多美咖啡美食。
    在逸香的学习过程中，有机会与业内知名人士进行交流，这也让我对自身不足有了新的认识，对知识也更加渴望。如今我将再次踏上新的葡萄咖啡旅程，学习更高的技艺：ISG Diploma课程。原因很简单：自从踏上这条路，我就从未想过放弃。</textarea>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u8772" class="ax_default placeholder">
        <img id="u8772_img" class="img " src="images/查看明星学员/u8772.png"/>
        <!-- Unnamed () -->
        <div id="u8773" class="text" style="visibility: visible;">
          <p><span>荣誉证书</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
