<!DOCTYPE html>
<html>
  <head>
    <title>课程编辑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/课程编辑/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/课程编辑/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u4120" class="ax_default">
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4121" class="ax_default shape">
        <div id="u4121_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4122" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4123" class="ax_default shape">
        <div id="u4123_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4124" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4125" class="ax_default shape">
        <div id="u4125_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4126" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4127" class="ax_default shape">
        <div id="u4127_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4128" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4129" class="ax_default label">
        <div id="u4129_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4130" class="text" style="visibility: visible;">
          <p><span>导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4131" class="ax_default label">
        <div id="u4131_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4132" class="text" style="visibility: visible;">
          <p><span>财务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4133" class="ax_default label">
        <div id="u4133_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4134" class="text" style="visibility: visible;">
          <p><span>文章</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4135" class="ax_default label">
        <div id="u4135_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4136" class="text" style="visibility: visible;">
          <p><span>课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4137" class="ax_default label">
        <div id="u4137_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4138" class="text" style="visibility: visible;">
          <p><span>用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4139" class="ax_default label">
        <div id="u4139_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4140" class="text" style="visibility: visible;">
          <p><span>订单</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4141" class="ax_default label">
        <div id="u4141_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4142" class="text" style="visibility: visible;">
          <p><span>主题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4143" class="ax_default label">
        <div id="u4143_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4144" class="text" style="visibility: visible;">
          <p><span>课程表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4145" class="ax_default shape">
        <div id="u4145_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4146" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4147" class="ax_default paragraph">
        <div id="u4147_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4148" class="text" style="visibility: visible;">
          <p><span>一级导航</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4149" class="ax_default shape">
        <div id="u4149_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4150" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4151" class="ax_default shape">
        <div id="u4151_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4152" class="text" style="visibility: visible;">
          <p><span>帮助</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4153" class="ax_default shape">
        <div id="u4153_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4154" class="text" style="visibility: visible;">
          <p><span>Jay.Liu</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u4155" class="ax_default image">
        <img id="u4155_img" class="img " src="images/a_1课程分类管理/u227.png"/>
        <!-- Unnamed () -->
        <div id="u4156" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4157" class="ax_default shape">
        <div id="u4157_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4158" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4159" class="ax_default shape">
        <div id="u4159_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4160" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4161" class="ax_default shape">
        <div id="u4161_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4162" class="text" style="visibility: visible;">
          <p><span>课程管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u4163" class="ax_default image">
        <img id="u4163_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u4164" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4165" class="ax_default shape">
        <div id="u4165_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4166" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4167" class="ax_default shape">
        <div id="u4167_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4168" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4169" class="ax_default shape">
        <div id="u4169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4170" class="text" style="visibility: visible;">
          <p><span>&nbsp; 课程表管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4171" class="ax_default shape">
        <div id="u4171_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4172" class="text" style="visibility: visible;">
          <p><span>&nbsp; 课程编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4173" class="ax_default shape">
        <div id="u4173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4174" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u4175" class="ax_default">
        <div id="u4175_state0" class="panel_state" data-label="State1">
          <div id="u4175_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u4176" class="ax_default">
        <div id="u4176_state0" class="panel_state" data-label="State1">
          <div id="u4176_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4177" class="ax_default shape">
        <div id="u4177_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4178" class="text" style="visibility: visible;">
          <p><span style="color:#999999;">课程管理/课程管理／</span><span style="color:#000000;">课程编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u4179" class="ax_default">
        <div id="u4179_state0" class="panel_state" data-label="State1">
          <div id="u4179_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u4180" class="ax_default image">
        <img id="u4180_img" class="img " src="images/a_1课程分类管理/u325.png"/>
        <!-- Unnamed () -->
        <div id="u4181" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u4182" class="ax_default checkbox">
        <label for="u4182_input">
          <!-- Unnamed () -->
          <div id="u4183" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u4182_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u4184" class="ax_default">
        <div id="u4184_state0" class="panel_state" data-label="State1">
          <div id="u4184_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u4185" class="ax_default">
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4186" class="ax_default shape">
        <div id="u4186_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4187" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 课程编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4188" class="ax_default shape">
        <div id="u4188_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4189" class="text" style="visibility: visible;">
          <p><span>&nbsp; 课程查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4190" class="ax_default box_1">
        <div id="u4190_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4191" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4192" class="ax_default label">
        <div id="u4192_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4193" class="text" style="visibility: visible;">
          <p><span>课程编号：</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u4194" class="ax_default">
        <div id="u4194_state0" class="panel_state" data-label="State1">
          <div id="u4194_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4195" class="ax_default label">
        <div id="u4195_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4196" class="text" style="visibility: visible;">
          <p><span>课程名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4197" class="ax_default box_1">
        <div id="u4197_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4198" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4199" class="ax_default label">
        <div id="u4199_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4200" class="text" style="visibility: visible;">
          <p><span>课程图片：</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u4201" class="ax_default placeholder">
        <img id="u4201_img" class="img " src="images/课程编辑/u4201.png"/>
        <!-- Unnamed () -->
        <div id="u4202" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4203" class="ax_default label">
        <div id="u4203_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4204" class="text" style="visibility: visible;">
          <p><span>课程分类：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u4205" class="ax_default droplist">
        <select id="u4205_input">
          <option selected value="根目录">根目录</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4206" class="ax_default label">
        <div id="u4206_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4207" class="text" style="visibility: visible;">
          <p><span>人数下先：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u4208" class="ax_default droplist">
        <select id="u4208_input">
          <option selected value="1">1</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4209" class="ax_default label">
        <div id="u4209_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4210" class="text" style="visibility: visible;">
          <p><span>人数下限：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u4211" class="ax_default droplist">
        <select id="u4211_input">
          <option selected value="4">4</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4212" class="ax_default label">
        <div id="u4212_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4213" class="text" style="visibility: visible;">
          <p><span>颁发证书：</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u4214" class="ax_default radio_button">
        <label for="u4214_input">
          <!-- Unnamed () -->
          <div id="u4215" class="text" style="visibility: visible;">
            <p><span>BCC结业培训证书</span></p>
          </div>
        </label>
        <input id="u4214_input" type="radio" value="radio" name="u4214"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u4216" class="ax_default radio_button">
        <label for="u4216_input">
          <!-- Unnamed () -->
          <div id="u4217" class="text" style="visibility: visible;">
            <p><span>国家初级咖啡职业资格证书</span></p>
          </div>
        </label>
        <input id="u4216_input" type="radio" value="radio" name="u4216"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u4218" class="ax_default radio_button">
        <label for="u4218_input">
          <!-- Unnamed () -->
          <div id="u4219" class="text" style="visibility: visible;">
            <p><span>国家中级咖啡职业资格证书</span></p>
          </div>
        </label>
        <input id="u4218_input" type="radio" value="radio" name="u4218"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u4220" class="ax_default radio_button">
        <label for="u4220_input">
          <!-- Unnamed () -->
          <div id="u4221" class="text" style="visibility: visible;">
            <p><span>国家高级咖啡职业资格证书</span></p>
          </div>
        </label>
        <input id="u4220_input" type="radio" value="radio" name="u4220"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4222" class="ax_default label">
        <div id="u4222_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4223" class="text" style="visibility: visible;">
          <p><span>培训对象：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4224" class="ax_default box_1">
        <div id="u4224_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4225" class="text" style="visibility: visible;">
          <p><span>单选按钮（多个选择）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4226" class="ax_default label">
        <div id="u4226_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4227" class="text" style="visibility: visible;">
          <p><span>课程费用：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4228" class="ax_default box_1">
        <div id="u4228_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4229" class="text" style="visibility: visible;">
          <p><span>单选按钮（多个选择）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4230" class="ax_default label">
        <div id="u4230_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4231" class="text" style="visibility: visible;">
          <p><span>元/人</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4232" class="ax_default label">
        <div id="u4232_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4233" class="text" style="visibility: visible;">
          <p><span>费用说明：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4234" class="ax_default box_1">
        <div id="u4234_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4235" class="text" style="visibility: visible;">
          <p><span>已包含证书及其资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4236" class="ax_default label">
        <div id="u4236_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4237" class="text" style="visibility: visible;">
          <p><span>课程描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4238" class="ax_default box_1">
        <div id="u4238_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4239" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4240" class="ax_default label">
        <div id="u4240_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4241" class="text" style="visibility: visible;">
          <p><span>已选中课程模版：</span></p><p><span><br></span></p><p><span>CP101Introduction to Espresseo&nbsp; PArt 1 意大利咖啡介绍第一部分&nbsp; &nbsp; &nbsp; 设置</span></p><p><span><br></span></p><p><span>CP102Introduction to Espresseo&nbsp; PArt 1 意大利咖啡介绍第二部分&nbsp; &nbsp; &nbsp; 设置</span></p><p><span><br></span></p><p><span>CP103Introduction to Espresseo&nbsp; PArt 1 意大利咖啡介绍第三部分&nbsp; &nbsp; &nbsp; 设置 </span></p><p><span><br></span></p><p><span>CP104Introduction to Espresseo&nbsp; PArt 1 意大利咖啡介绍第四部分&nbsp; &nbsp; &nbsp; 设置</span></p><p><span><br></span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4242" class="ax_default box_1">
        <div id="u4242_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4243" class="text" style="visibility: visible;">
          <p><span>修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4244" class="ax_default box_1">
        <div id="u4244_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4245" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4246" class="ax_default box_1">
        <div id="u4246_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4247" class="text" style="visibility: visible;">
          <p><span>上课时间：</span></p><p><span><br></span></p><p><span>上课时间：</span></p><p><span><br></span></p><p><span>上课教室：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4248" class="ax_default box_1">
        <div id="u4248_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4249" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4250" class="ax_default box_1">
        <div id="u4250_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4251" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4252" class="ax_default box_1">
        <div id="u4252_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4253" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
