<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="铂澜,铂澜咖啡学院,铂澜咖啡,BloomCoffee,咖啡培训,咖啡学习,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌,学咖啡,铂澜森蒂,FERRANDI,咖啡馆,西点培训,SCA认证"> 
<meta name="description" content="铂澜咖啡学院创始人、院长齐鸣老师这些年来一直笔耕不辍，相关咖啡作品广受业内外好评，更对于传播咖啡文化起到了积极作用。更由于《咖啡 咖啡》等著作的巨大影响力，不仅创造了十几万册实体书出版销售的业内奇迹，台湾、韩国等国家地区都引入了版权，更有权威人士评论为“每三位中国的咖啡读者中便有至少一人读过齐鸣老师的书。">
<meta name="author" content="BloomCoffee">
<title>铂澜咖啡学院简介| 铂澜咖啡学院BloomCoffeeCollege</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<link rel="stylesheet" href="static/css/animate.css">
<link rel="stylesheet" href="static/css/style1.css">
<link rel="stylesheet" href="static/css/swiper.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script type="text/javascript" src="static/js/swiper.js"></script>

</head>
<body>
	<header>
    	<div class="head_bg">
        	<div class="head_word wow fadeInDown" data-wow-duration="500ms">
            	<p>铂澜相关出版物</p>
                <em><i class="icon iconfont icon-youxiang"></i>coffee@vip.163.com</em>
                <em><i class="icon iconfont icon-dianhua1"></i>010-59005818</em>
                <em><i class="icon iconfont icon-dianhua1"></i>13681245110</em>
            </div>
        </div>
        <nav class="wow fadeInDown" data-wow-duration="1000ms">
            <img src="static/picture/logo1.png" alt="铂澜咖啡学院">
                       <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>        </nav>
        <div class="swiper-container">
        	<div class="swiper-wrapper">

<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/co.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/barista.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/brewing.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/qgrader.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/roasting.jpg"></a></div>        	</div>
        	<!-- Add Pagination -->
        	<div class="swiper-pagination"></div>
        	<!-- Add Arrows -->
        	<div class="swiper-button-next"></div>
        	<div class="swiper-button-prev"></div>
   		</div>

    	<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
        		pagination: '.swiper-pagination',
        		nextButton: '.swiper-button-next',
        		prevButton: '.swiper-button-prev',
        		paginationClickable: true,
       			spaceBetween: 30,
        		centeredSlides: true,
        		autoplay: 2500,
        		autoplayDisableOnInteraction: false
    		});
		</script>

        <h2 class="wow fadeInDown" data-wow-duration="1000ms">课程展示</h2>
    </header>
    
     <!--手机端菜单-->
    <div class="nav_phone">
            <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>	</div>
	<div class="nav-toggle">
		<i class="icon iconfont icon-caidan"></i>
	</div>
    <!--手机端菜单 end--> 
    
    <div class="proxq_main">
    	<p class="now_wz now_proxq wow fadeInDown" data-wow-duration="1500ms">Location：<a href="javascript:;">铂澜首页</a><em><a href="index1.html">关于铂澜</a></em><em><a href="#">铂澜咖啡学院简介</a></em></p>
        <hr class="wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
       <!-- 代码部分begin -->

    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/pic_tab.js"></script>
<script>
jq(function(){
	jq('#demo1').banqh({
		box:"#demo1",//总框架
		pic:"#ban_pic1",//大图框架
		pnum:"#ban_num1",//小图框架
		prev_btn:"#prev_btn1",//小图左箭头
		next_btn:"#next_btn1",//小图右箭头
		pop_prev:"#prev2",//弹出框左箭头
		pop_next:"#next2",//弹出框右箭头
		prev:"#prev1",//大图左箭头
		next:"#next1",//大图右箭头
		pop_div:"#demo2",//弹出框框架
		pop_pic:"#ban_pic2",//弹出框图片框架
		pop_xx:".pop_up_xx",//关闭弹出框按钮
		mhc:".mhc",//朦灰层
		autoplay:true,//是否自动播放
		interTime:5000,//图片自动切换间隔
		delayTime:400,//切换一张图片时间
		pop_delayTime:400,//弹出框切换一张图片时间
		order:0,//当前显示的图片（从0开始）
		picdire:true,//大图滚动方向（true为水平方向滚动）
		mindire:true,//小图滚动方向（true为水平方向滚动）
		min_picnum:3,//小图显示数量
		pop_up:true//大图是否有弹出框
	})
})
</script>

	<!--手机产品图-->
	<div class="pro_xq_img">
    	<img src="static/picture/pro_xq1.jpg">
    </div>

        <div class="pro_xq_des_left wow fadeInLeft" data-wow-duration="1000ms" style="float:left;">
        	<h3>铂澜咖啡学院简介</h3>
            <article>
<section>
<p>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;铂澜咖啡学院隶属于北京铂澜丰悦企业管理咨询有限公司，对外简称铂澜。学咖啡，到铂澜！
<br><br>
			                                        
			                                        
<iframe src="javascript:;" frameborder="0" scrolling="no" width="100%" height="600" allowfullscreen="">
</iframe>

<br>
<img src="static/picture/2019-01.jpg"><br>
<img src="static/picture/2019-02.jpg"><br>
<img src="static/picture/2019-03.jpg"><br>
<img src="static/picture/2019-04.jpg"><br>
<img src="static/picture/2019-05.jpg"><br>
<img src="static/picture/2019-06.jpg"><br>
<img src="static/picture/2019-07.jpg"><br>
<img src="static/picture/2019-08.jpg"><br>
[<a href="javascript:;">铂澜咖啡学院广州归觅校区</a>]<br>
[<a href="javascript:;">PDF版本铂澜咖啡学院介绍</a>]<br>
[<a href="javascript:;">点击这里查看铂澜过往历史</a>]<br>
[<a href="javascript:;">点击这里浏览铂澜培训教学场景</a>]<br>

</p>


</section>

 </article>
        </div>
        <div class="pro_xq_des_rigtht">
        	<div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
             	<h4>铂澜快捷面板</h4>
                <ul class="pro_fllb">
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜最新开课资讯</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜广州校区</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜课程分类</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜咖啡培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>SCA国际咖啡培训认证</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>西点烘焙培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜企业服务&现场咖啡服务</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜淘宝店</p>
                    	</a>
                    </li>
                </ul>            </div>
            <div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
            	<h4>关注铂澜</h4>
                <a href="#" target="_blank"><img src="static/picture/s1.jpg" class="proxq_ggw"></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="cyds">
    	    	<div class="w1200">
    		<h3>铂澜课程精彩推荐</h3>
    		<h5>Recommendation</h5>
    		<ul class="teacher">
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation01.jpg">
    					<div class="teach_des">
    						<h3>
   					<a href="javascript:;" target="_blank"><strong>铂澜咖啡培训课程</strong></a></h3>
    						<p>铂澜咖啡学院为您分享最先进的精品咖啡知识、最有趣的咖啡新知、最实用的实操技术和最美好的咖啡体验。铂澜致力于为所有咖啡从业者、创业者、爱好者和发烧友打造走入咖啡世界的最佳入门及进阶课程</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation02.jpg">
    					<div class="teach_des">
    						<h3><a href="javascript:;" target="_blank"><strong>铂澜森蒂国际西点学院</strong></a></h3>
<p>铂澜咖啡学院整合世界级西点烘焙教育培训机构等多方资源，创办铂澜森蒂国际西点学院，追求品质生活，名师手把手教授，理论知识结合实际操作，极致美味兼顾外观颜值，经典出品兼有细节创新，国际标准融合本地实践，旨在探索精品咖啡之外的精彩美食、无限美味。
</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation03.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong> SCA国际培训认证</strong></a></h3>
<p>SCA教育认证体系是今天广受全球认可的唯一精品咖啡教育认证系统，分作咖啡知识、Brewing（咖啡冲煮）、Barista Skills（咖啡师技能）、Green Coffee（咖啡生豆）、Roasting（咖啡烘焙）、Sensory Skills（感官技能）等6大模块。</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation04.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong>铂澜咖啡学院广州校区</strong></a></h3>
    						<p>2019年4月，铂澜咖啡学院广州归觅校区在广州天河区羊城创意园落成并顺利开课！广州天河黄埔大道羊城创意园3-23D中科零壹互联网文创加速器一楼</p>
    					</div>
    				</a>
    			</li>
    		</ul>
    	</div>    </div>
    
    <footer class="wow fadeIn">
    	<div class="foot_top wow fadeInDown" data-wow-duration="1500ms">
        	<img src="static/picture/foot_logo.png">
            <form>
            	<input type="text" value="请输入关键词搜索">
            	<button type="button">搜索</button>
            </form>
        </div>
        <div class="foot_middle wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
        	        	<div class="footm_left">
            	<ul class="foot_news">
                	<h4>铂澜介绍</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>关于铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>联系铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>学员须知</a></li>
                </ul>
                <ul class="foot_news">
                	<h4>培训教育</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>开课列表</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>铂澜咖啡学院点评</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>团购咖啡兴趣课</a></li>

                </ul>
                <ul class="foot_news">
                	<h4>课程分类查看</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>SCA国际培训认证课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>西点烘焙培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡馆创办经营培训</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡&轻食套餐课程</a></li>
                </ul>
        	</div>            <div class="footm_right">
            	<div class="wxewm">
                	<img src="static/picture/648845341127518386.jpg">
                    <p>微信扫描更多服务</p>
                </div>
                <div class="foot_xl">
                    <em>010-59005818</em>
                    <address>国贸总部：北京市朝阳区东三环中路建外SOHO东区8号楼商铺3层8308室</address>
                </div>            </div>
        </div>
        <div class="footm_botoom">
            <p>北京铂澜丰悦企业管理咨询有限公司&nbsp;&nbsp;©2007-2017版权所有</p>
        </div>
    </footer>
</body>
</html>