<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="铂澜,铂澜咖啡学院,铂澜咖啡,BloomCoffee,咖啡培训,咖啡学习,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌,学咖啡,铂澜森蒂,FERRANDI,咖啡馆,西点培训,SCA认证"> 
<meta name="description" content="铂澜咖啡学院是国内知名且领先、海内外口碑卓越的咖啡培训教育机构，咖啡学习的殿堂，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCA认证等培训与咨询服务。还提供FERRANDI Paris法国甜品大师认证">
<meta name="author" content="BloomCoffee">
<title>铂澜历史—铂澜 About Us | 铂澜咖啡学院BloomCoffeeCollege</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<link rel="stylesheet" href="static/css/animate.css">
<link rel="stylesheet" href="static/css/style1.css">
<link rel="stylesheet" href="static/css/swiper.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script type="text/javascript" src="static/js/swiper.js"></script>

</head>
<body>
	<header>
    	<div class="head_bg">
        	<div class="head_word wow fadeInDown" data-wow-duration="500ms">
            	<p>Contact Us</p>
                <em><i class="icon iconfont icon-youxiang"></i>coffee@vip.163.com</em>
                <em><i class="icon iconfont icon-dianhua1"></i>010-59005818</em>
                <em><i class="icon iconfont icon-dianhua1"></i>13681245110</em>
            </div>
        </div>
        <nav class="wow fadeInDown" data-wow-duration="1000ms">
            <img src="static/picture/logo1.png" alt="铂澜咖啡学院">
                       <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>        </nav>
        <div class="swiper-container">
        	<div class="swiper-wrapper">

<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/co.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/barista.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/brewing.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/qgrader.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/roasting.jpg"></a></div>        	</div>
        	<!-- Add Pagination -->
        	<div class="swiper-pagination"></div>
        	<!-- Add Arrows -->
        	<div class="swiper-button-next"></div>
        	<div class="swiper-button-prev"></div>
   		</div>

    	<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
        		pagination: '.swiper-pagination',
        		nextButton: '.swiper-button-next',
        		prevButton: '.swiper-button-prev',
        		paginationClickable: true,
       			spaceBetween: 30,
        		centeredSlides: true,
        		autoplay: 2500,
        		autoplayDisableOnInteraction: false
    		});
		</script>

        <h2 class="wow fadeInDown" data-wow-duration="1000ms">课程展示</h2>
    </header>
    
     <!--手机端菜单-->
    <div class="nav_phone">
            <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>	</div>
	<div class="nav-toggle">
		<i class="icon iconfont icon-caidan"></i>
	</div>
    <!--手机端菜单 end--> 
    
    <div class="proxq_main">
    	<p class="now_wz now_proxq wow fadeInDown" data-wow-duration="1500ms">Location：<a href="javascript:;">铂澜首页</a><em><a href="index1.html">关于铂澜</a></em><em><a href="#">铂澜历史</a></em></p>
        <hr class="wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
       <!-- 代码部分begin -->
	<div class="ban wow fadeInLeft" id="demo1" data-wow-duration="1000ms">
	<div class="ban2" id="ban_pic1">
		<div class="prev1" id="prev1">
			<img src="static/picture/index_tab_l.png" width="28" height="51">
		</div>
		<div class="next1" id="next1">
			<img src="static/picture/index_tab_r.png" width="28" height="51">
		</div>
		<ul>
			<li><a href="javascript:;"><img src="static/picture/about1-1.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/about1-2.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/about1-3.jpg" width="670" height="420"></a></li>
		</ul>
	</div>
	<div class="min_pic">
		<div class="prev_btn1" id="prev_btn1"><img src="static/picture/feel3.png" width="9" height="18"></div>
		<div class="num clearfix" id="ban_num1">
			<ul>
				<li><a href="javascript:;"><img src="static/picture/about1-1.jpg" width="165" height="110"></a></li>
				<li><a href="javascript:;"><img src="static/picture/about1-2.jpg" width="165" height="110"></a></li>
				<li><a href="javascript:;"><img src="static/picture/about1-3.jpg" width="165" height="110"></a></li>
			</ul>
		</div>
		<div class="next_btn1" id="next_btn1"><img src="static/picture/feel4.png" width="9" height="18"></div>
	</div>
</div>
<div class="mhc"></div>
<div class="pop_up" id="demo2">
	<div class="pop_up_xx"><img src="static/picture/07.png" width="40" height="40"></div>
	<div class="pop_up2" id="ban_pic2">
		<div class="prev1" id="prev2"><img src="static/picture/index_tab_l.png" width="28" height="51"></div>
		<div class="next1" id="next2"><img src="static/picture/index_tab_r.png" width="28" height="51"></div>
		<ul>
			<li><a href="javascript:;"><img src="static/picture/b1.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/b2.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/b3.jpg" width="670" height="420"></a></li>
		</ul>
	</div>
    </div>

    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/pic_tab.js"></script>
<script>
jq(function(){
	jq('#demo1').banqh({
		box:"#demo1",//总框架
		pic:"#ban_pic1",//大图框架
		pnum:"#ban_num1",//小图框架
		prev_btn:"#prev_btn1",//小图左箭头
		next_btn:"#next_btn1",//小图右箭头
		pop_prev:"#prev2",//弹出框左箭头
		pop_next:"#next2",//弹出框右箭头
		prev:"#prev1",//大图左箭头
		next:"#next1",//大图右箭头
		pop_div:"#demo2",//弹出框框架
		pop_pic:"#ban_pic2",//弹出框图片框架
		pop_xx:".pop_up_xx",//关闭弹出框按钮
		mhc:".mhc",//朦灰层
		autoplay:true,//是否自动播放
		interTime:5000,//图片自动切换间隔
		delayTime:400,//切换一张图片时间
		pop_delayTime:400,//弹出框切换一张图片时间
		order:0,//当前显示的图片（从0开始）
		picdire:true,//大图滚动方向（true为水平方向滚动）
		mindire:true,//小图滚动方向（true为水平方向滚动）
		min_picnum:3,//小图显示数量
		pop_up:true//大图是否有弹出框
	})
})
</script>

	<!--手机产品图-->
	<div class="pro_xq_img">
    	<img src="static/picture/pro_xq1.jpg">
    </div>
    
	<div class="pro_xq_right">
        	<h1 class="wow fadeInRight" data-wow-duration="1000ms">铂澜历史</h1>
            <article class="pro_des wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            	<section>铂澜咖啡学院隶属于北京铂澜丰悦企业管理咨询有限公司，简称铂澜。2006年12月，铂澜品牌在北京创建，翌年3月开张营业。2009年底，感受到精品咖啡运动即将兴起，铂澜创造性提出'咖啡学院‘概念，自身投入到咖啡学习中，并尝试在咖啡馆运营中增加咖啡教学体验等增值环节。2011年，铂澜咖啡学院正式挂牌经营，在国内率先高举第三次咖啡浪潮的旗帜，并通过培训教学、竞技赛事、企培推广、展会互动、文化出版等形式身体力行加入精品咖啡运动。2017年，全新铂澜咖啡学院落成……</section>
            </article>
        </div>
        <div class="clear"></div>
        <div class="pro_xq_des_left wow fadeInLeft" data-wow-duration="1000ms">
        	<h3>目前位于：铂澜历史</h3>(&nbsp;&nbsp;<a href="today.html">点击这里穿越时空，直接去看今日之铂澜</a>)
            <article>
            	<section>
<span style="line-height:22px;">
•<a href="javascript:;"><strong>2006年12月</strong>&nbsp;|&nbsp;铂澜咖啡品牌在北京创建，翌年3月开张营业。<br></a><br>
•<a href="javascript:;"><strong>2007-2010年间</strong>&nbsp;|&nbsp;铂澜咖啡、校友记等多个咖啡馆品牌依次创建，并在细分市场芬芳绽放，不管是在北京CBD的写字楼群间，还是在人民大学、中央财经大学、北京工商大学、传媒大学等知名高校校园里，都有我们的身影。<br></a><br>
•<a href="javascript:;"><strong>2008年</strong>&nbsp;|&nbsp;铂澜咖啡馆建外SOHO店荣获《咖啡语茶》“京城十佳咖啡馆”称号，每周五晚的铂澜咖啡电影沙龙可以在飞驰于帝都的每一辆出租车上查阅。<br></a><br>
•<a href="javascript:;"><strong>2009-2010年</strong>&nbsp;|&nbsp;铂澜咖啡创始人齐鸣老师的著作《魔豆宝典-咖啡馆创业全揭秘》、《魔豆宝典-咖啡馆出品设计的智慧》陆续由中国经济出版社出版发行，这也是国内第一次由咖啡馆主亲自提笔撰写的咖啡馆专著，引起了一定反响。<br></a><br>
•<a href="javascript:;"><strong>2009年底</strong>&nbsp;|&nbsp;感受到精品咖啡运动即将兴起，铂澜创造性提出“咖啡学院”的概念，不仅自身投入到咖啡科学的系统学习中，还尝试在咖啡馆运营中增加咖啡教学体验等增值环节。<br></a><br>
•<a href="javascript:;"><strong>2011年11月至今</strong>&nbsp;|&nbsp;铂澜咖啡学院在国内率先高举第三次咖啡浪潮的旗帜，并通过培训教学、竞技赛事、企培推广、展会互动、文化出版等形式身体力行加入精品咖啡运动。<br></a><br>
•<a href="javascript:;"><strong>2011-2015年间</strong>&nbsp;|&nbsp;铂澜独家获得国家人力资源和社会保障部相关部门授权，从事国家人社部咖啡师职业资格（OSTA）、国家人社部咖啡职业技能（CETTIC）的体系构建、系统培训和专业技术认证工作，挑起了新时期中国精品咖啡人才建设、并与国外精品咖啡教育培训体系接轨的重任，获得业内外一致好评。<br></a><br>
•<a href="javascript:;"><strong>2012-2016年间</strong>&nbsp;|&nbsp;铂澜创始人、铂澜咖啡学院院长齐鸣老师的三部曲《咖啡 咖啡》、《爱上咖啡师》、《爱上咖啡馆》陆续由江苏科技出版社出版发行，至今累计出版发行超过18万册。其中《咖啡 咖啡》是中国精品咖啡的开山之作，也是大陆地区咖啡读物中当仁不让的销量第一，荣获奖项无数，版权还被韩国、台湾等国外地区引进，并在当地出版发行。<br></a><br>
•<a href="javascript:;"><strong>2013年至今</strong>&nbsp;|&nbsp;铂澜咖啡学院开始从事SCAA（美国精品咖啡协会，SCA前身之一）与SCAE（欧洲精品咖啡协会，SCA前身之一）的培训教学认证工作，并成为CQI（国际咖啡品质学会）的全球认证教室之一，至今持续培训认证Q-Grader（国际咖啡品质鉴定师），还因此荣登过SCAA官网首页。可以说，今天中国精品咖啡飞速发展已经打上了深深的铂澜烙印。<br></a><br>
•<a href="javascript:;"><strong>2014年至今</strong>&nbsp;|&nbsp;铂澜一直积极参与并组织承办精品咖啡竞技赛事，所有铂澜咖啡学院培训师，不仅拥有相当完整的SCA国际教育认证证书，也不仅拥有每年动辄上百场培训课程的授课经验，大部分还拥有咖啡竞技赛事的参与经验并曾获得较好名次。<br></a><br>
•<a href="javascript:;"><strong>2015年</strong>&nbsp;|&nbsp;铂澜咖啡学院被评为美团大众点评“全国十佳教育培训机构”，整个咖啡行业只此一家。 <br></a><br>
•<a href="javascript:;"><strong>2016年</strong>&nbsp;|&nbsp;铂澜咖啡学院被评为美团大众点评“职业技术类口碑影响力品牌”，整个咖啡行业亦只此一家。 <br></a><br>
•<a href="javascript:;"><strong>2017年1月</strong>&nbsp;|&nbsp;为了给精品咖啡找寻"完美伴侣"，构建新时代的餐饮出品体系，铂澜获得世界顶尖的厨艺名校、法国FERRANDI Paris授权，成立铂澜森蒂国际西点学院，首次将世界顶尖、全球通行的甜品国际认证体系引入中国。<br></a><br>
•<a href="javascript:;"><strong>2017年3月</strong>&nbsp;|&nbsp;铂澜咖啡学院走入国际关系学院，为在校大学生开设“精品咖啡科学与技术实操”这一有学分的通识选修课，这也是我国教育直属重点高校第一次开设如此高规格、体系化的精品咖啡课程，在我国咖啡教育史、咖啡文化传播史上都写下了重要一笔。<br></a><br>
•<a href="javascript:;"><strong>2017年3月20日</strong>&nbsp;|&nbsp;全新铂澜咖啡学院在北京CBD建外SOHO东区落成，容国际认证的精品咖啡学院、甜品学院以及咖啡体验店于一身，为进一步探索精品咖啡科学与商业实践奠定了基础。<br></a><br>
•<a href="javascript:;"><strong>2017年6月</strong>&nbsp;|&nbsp;铂澜咖啡学院（环铁艺术区分校）进入最后装修及筹备阶段，并将于2017年8月正式启用。作为一所近千平米的独栋式建筑，铂澜咖啡学院（环铁艺术区分校）是铂澜咖啡学院（国贸总部）的重要补充，第一步将建成半封闭式教学实训基地，暂不对外开放，主要满足部分有住宿和长期实战练习的外地来京学员需求，全力以赴助推学员们的咖啡创业与就业梦想。憧憬未来，铂澜还将在此创建现代化的咖啡电子商务货仓、咖啡文化体验及博物馆等丰富内容。<br></a><br>
•<a href="javascript:;"><strong>2017年8月13日</strong>&nbsp;|&nbsp;中国商业经济学会咖啡分会成立大会暨第一次会员代表会议在北京召开，我国咖啡行业首个国字头咖啡行业学会正式挂牌，对促进我国咖啡经济、咖啡文化及咖啡产业的发展具有划时代的标志性意义。中商咖啡学会直属国家一级学会中国商业经济学会，是独立运营的行业性、全国性、非营利性的社会团体组织，也是我国首个产学研一体的咖啡行业平台。铂澜咖啡学院作为学会初始发起方之一，被选为副会长单位，充分代表了国家政府对于铂澜在咖啡行业地位和贡献的认可。<br></a><br>
</span>
</section>



            </article>
        </div>
        <div class="pro_xq_des_rigtht">
        	<div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
             	<h4>铂澜快捷面板</h4>
                <ul class="pro_fllb">
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜最新开课资讯</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜广州校区</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜课程分类</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜咖啡培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>SCA国际咖啡培训认证</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>西点烘焙培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜企业服务&现场咖啡服务</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜淘宝店</p>
                    	</a>
                    </li>
                </ul>            </div>
            <div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
            	<h4>关注铂澜</h4>
                <a href="#" target="_blank"><img src="static/picture/s1.jpg" class="proxq_ggw"></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="cyds">
    	    	<div class="w1200">
    		<h3>铂澜课程精彩推荐</h3>
    		<h5>Recommendation</h5>
    		<ul class="teacher">
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation01.jpg">
    					<div class="teach_des">
    						<h3>
   					<a href="javascript:;" target="_blank"><strong>铂澜咖啡培训课程</strong></a></h3>
    						<p>铂澜咖啡学院为您分享最先进的精品咖啡知识、最有趣的咖啡新知、最实用的实操技术和最美好的咖啡体验。铂澜致力于为所有咖啡从业者、创业者、爱好者和发烧友打造走入咖啡世界的最佳入门及进阶课程</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation02.jpg">
    					<div class="teach_des">
    						<h3><a href="javascript:;" target="_blank"><strong>铂澜森蒂国际西点学院</strong></a></h3>
<p>铂澜咖啡学院整合世界级西点烘焙教育培训机构等多方资源，创办铂澜森蒂国际西点学院，追求品质生活，名师手把手教授，理论知识结合实际操作，极致美味兼顾外观颜值，经典出品兼有细节创新，国际标准融合本地实践，旨在探索精品咖啡之外的精彩美食、无限美味。
</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation03.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong> SCA国际培训认证</strong></a></h3>
<p>SCA教育认证体系是今天广受全球认可的唯一精品咖啡教育认证系统，分作咖啡知识、Brewing（咖啡冲煮）、Barista Skills（咖啡师技能）、Green Coffee（咖啡生豆）、Roasting（咖啡烘焙）、Sensory Skills（感官技能）等6大模块。</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation04.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong>铂澜咖啡学院广州校区</strong></a></h3>
    						<p>2019年4月，铂澜咖啡学院广州归觅校区在广州天河区羊城创意园落成并顺利开课！广州天河黄埔大道羊城创意园3-23D中科零壹互联网文创加速器一楼</p>
    					</div>
    				</a>
    			</li>
    		</ul>
    	</div>    </div>
    
    <footer class="wow fadeIn">
    	<div class="foot_top wow fadeInDown" data-wow-duration="1500ms">
        	<img src="static/picture/foot_logo.png">
            <form>
            	<input type="text" value="请输入关键词搜索">
            	<button type="button">搜索</button>
            </form>
        </div>
        <div class="foot_middle wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
        	        	<div class="footm_left">
            	<ul class="foot_news">
                	<h4>铂澜介绍</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>关于铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>联系铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>学员须知</a></li>
                </ul>
                <ul class="foot_news">
                	<h4>培训教育</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>开课列表</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>铂澜咖啡学院点评</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>团购咖啡兴趣课</a></li>

                </ul>
                <ul class="foot_news">
                	<h4>课程分类查看</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>SCA国际培训认证课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>西点烘焙培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡馆创办经营培训</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡&轻食套餐课程</a></li>
                </ul>
        	</div>            <div class="footm_right">
            	<div class="wxewm">
                	<img src="static/picture/648845341127518386.jpg">
                    <p>微信扫描更多服务</p>
                </div>
                <div class="foot_xl">
                    <em>010-59005818</em>
                    <address>国贸总部：北京市朝阳区东三环中路建外SOHO东区8号楼商铺3层8308室</address>
                </div>            </div>
        </div>
        <div class="footm_botoom">
            <p>北京铂澜丰悦企业管理咨询有限公司&nbsp;&nbsp;©2007-2017版权所有</p>
        </div>
    </footer>
</body>
</html>