<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中国的咖啡之都普洱游学记 之大象咖啡庄园—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="中国的咖啡之都普洱游学记 之大象咖啡庄园铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	中国的咖啡之都普洱游学记 之大象咖啡庄园</h1>
<a href="javascript:shoucang(7753);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p class="MsoNormal" style="text-indent:301.0000pt;">
	<br>
</p>
<p class="MsoNormal" style="text-indent:32.0000pt;">
	<span>这是我第二次参加铂澜组织的咖啡游学活动，</span>2017年德宏的咖啡之旅记忆犹新，也正是收获颇丰的第一次游学促使我第二次加入了铂澜的队伍，从这个层面来说，我可算是前辈（笑）。（有文有真相）
</p>
<p class="MsoNormal" style="text-indent:32.0000pt;">
	<img src="static/picture/20181214031949_66507.png" alt=""> 
</p>
<p class="MsoNormal" style="text-indent:32.0000pt;">
	<br>
</p>
<p>
	<br>
</p>
<p class="MsoNormal">
	此时，采摘自普洱大象咖啡庄园的咖啡鲜果正静悄悄地躺在电脑旁，任性地散发出迷人的气息。因为教学所需未经庄园女主人允许，我摘下了全红果以外的多种色彩的咖啡果，就这样任由它们静静地在夜色里，在昏黄的灯光下酝酿出一道红色、黄色、绿色组成的亮丽风景。可惜的是，人们所见只能是拙劣的字眼，而小小的咖啡鲜果独有的清香以及<span>迷人的色泽却是文字所难以描摹的。</span> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<br>
</p>
<img src="static/picture/20181214032210_61247.png" alt=""><br>
<p>
	<br>
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal" style="text-indent:24pt;background:#FFFFFF;">
	普洱是位于云南省西南部的一个地级市，东南与越南、<a href="javascript:;">老挝</a><span>接壤，西南与缅甸毗邻，是云南省面积最大的州（市）</span><span>，</span><span>与我国台湾省以及</span><a href="javascript:;">北美洲</a><span>的古巴同处一个纬度。</span><span>由于受亚热带季风气候的影响，这里大部分地区常年无霜，冬无严寒，夏无酷暑，享有</span><span>“绿海明珠”、“天然氧吧”之美誉。它</span><span>是北回归线上最大的绿洲，被联合国环境署称为</span><span>“世界的天堂，天堂的世界”</span><span>，正是这得天独厚的自然环境给咖啡生长创造了最适宜的条件，云南小粒咖啡在这片乐土上繁衍生息，</span><span>2017年普洱咖啡总产</span><span>量</span><span>7.54万吨，比上年</span><span>增长</span><span>14.9%，中国咖啡之都的美誉当之无愧。</span> 
</p>
<span> 
<p class="MsoNormal">
	不容置疑的，咖啡的故乡是埃塞俄比亚，对中国而言它是舶来品，但这并不能制约中国对世界咖啡的影响。1904年，一位法国传教士来到中国，为了满足自己来自于故乡法国的<span>日常习俗，他把第一株咖啡苗从越南带到了中国，至此，掀起了中国种植咖啡的历史；上世纪</span><span>80年代，雀巢公司开始支持云南发展咖啡产业，在普洱设置了自己的咖啡育苗场；2004年云南小粒咖啡科技成果转化中心成立，中国咖啡从此实现了商业化种植；2016年生产季中国咖啡种植面积12.02公顷，咖啡产量14.11吨，较上年增长1.60%；以2006—2015年为例，咖啡消耗量从2006年的2.6万吨增长到2015年的13.3万吨，增长了14.1倍，年均消费增长率18.9%，是世界平均增长率的9.5倍。</span><span>在新兴市场中，中国的消费增长尤为突出，由于中国咖啡市场规模基数小，每年增长率高达</span><span>25%以上，超过世界平均水平的10倍。而在这些数据中，普洱贡献了绝大部分，它是当之无愧的中国咖啡之都，参与了中国咖啡梦的进程。</span> 
</p>
<p class="MsoNormal">
	<span>众所周知的是，普洱茶是普洱的代名词，鲜为人知的是，在普洱，咖啡和茶有着完美的交融，创造了茗茶世界里咖啡，也成就了咖啡世界里的茗茶</span>——车行山路时，视线范围内的一片片翠绿，整齐划一的是大叶茶树，它正是普洱茶的原料茶；而树干稍高、错落有致的就是香蕉树底木瓜树旁咖啡林了，两厢比邻，共同致力于普洱的经济发展。
</p>
<p>
	<br>
</p>
<img src="static/picture/20181214032610_22756.png" alt=""><br>
</span> 
<p>
	<br>
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<span>踏进普洱这片土地，瞬间察觉出自己的渺小以及学识的拙劣。但似乎又不能把自己定义为咖啡小白，因为有一大群渴求学习咖啡知识的孩子们，正守望在同处云贵高原的黔东大地，静静地守望，谁能预知他们的未来不与咖啡紧密相连？谁又能预测中国咖啡的未来不是他们这一代人鼎力支撑的呢</span>?或是我可以用这样的语言来安慰自己：“在奔四的路上塑造并保留了自己独特的喜好，并为之不懈奋斗，自己也觉得很是难得”。
</p>
<p class="MsoNormal" style="text-indent:32.0000pt;">
	暂且权当我不是咖啡小白，就只是一位为咖啡顽固不化、执迷不悟的老咖啡迷吧，因为，在中国的咖啡之路上，总需要无数助力的人。
</p>
<p class="MsoNormal">
	就这样开篇吧，静静地听我诉说一段有关咖啡的游学故
</p>
<p class="MsoNormal" style="text-indent:32.0000pt;">
	<span>事，轻声呢喃本次游学的第一站</span>——大象咖啡庄园。
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	云雾缭绕的大山里有自己的咖啡庄园、闹市区有自己的咖啡馆；男主人霸气的开着皮卡车打理着咖啡庄园、会唱地方民族歌曲的女主人经营自己的孔雀宴餐馆、年轻的儿子在闹市区里精心的呵护着自己的咖啡馆，这是多么美好的事啊
</p>
<p>
	<br>
</p>
<img src="static/picture/20181214032902_18481.png" alt=""><br>
<p>
	<br>
</p>
<p class="MsoNormal">
	<span><img src="static/picture/20181214032940_50049.png" alt=""><br>
</span> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	男主人的皮卡车把我们一路颠簸的送进了大山深处的咖<span>啡地，清晨的雾气近</span><span>11点才能弥散开去。在硕果累累的咖啡林里，听闻了庄园名称的由来——经营咖啡馆的儿子讲述道：一天夜里一头大象闯进了庄园，任性地撞坏了父亲的皮卡车后保险杠。后来女主人陈姐姐也补充说咖啡地里曾有一棵咖啡树为野象所钟爱，常引得野象前来啃食，为了保护整片咖啡林甚至咖啡林旁的庄园，只能忍痛割爱，把为野象钟爱的那一棵咖啡树给砍掉了。大门的铁丝网正是铁证，目的正是为了防止野象的进入。</span> 
</p>
<p class="MsoNormal">
	<span><img src="static/picture/20181214033059_31693.png" alt=""><br>
</span> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	当摘咖啡果正带劲的我们一步步地靠近了林子，女主人陈姐姐就不停地在另一头大喊：快回来，别靠近林子，有大象的。我们哈哈大笑着，以为只是一个吓吓我们的玩笑，只在动物园里看过大象的我们，根本无法把如此美丽的咖啡林<span>地和大象联系起来，更甚者，有同行的朋友还自信在这样山坡和林地就算野象真的出现，自己也能跑过他。此话一出便轮到经营咖啡馆的儿子哈哈大笑道：对于人类来说咖啡林是和大伙身高相差无几的灌木林，而对于野象来说它就是齐地的小草。我们的笑声戛然而止，一双脚不自觉地向大队人马所在的开阔地靠近。</span><span>“逃跑”的档口我居然还奇迹般地忆及沈复《童趣》的场景：“以丛草为林，以虫蚁为兽，以土砾凸者为丘，凹者为壑，神游其中，怡然自得。一日，见二虫斗草间，观之，兴正浓，忽有庞然大物，拔山倒树而来，盖一癞虾蟆，舌一吐而二虫尽为所吞 ……”，觉得自己正如那“虫蚁”，无非只是孩童眼里的“兽”，真有野象出没，估计与 “二虫”无疑。&nbsp; &nbsp;</span><img src="static/picture/20181214032610_22756.png" alt=""> 
</p>
<p class="MsoNormal">
	<span>等我们汇合后，女主人陈姐姐便讲述哪一株咖啡树被大象踩了一脚，明年便不能存活了，可见野象的威力。爽朗的陈姐姐咯咯笑着补充道：大象这几吨重的庞然大物居然害怕蜘蛛，很是不可思议。至于野象是不是真的害怕蜘蛛，这个无从考证，但游学队伍里女孩子们害怕蜘蛛的程度倒是可以用尖叫声来证明。</span><img src="static/picture/20181214033333_37579.png" alt=""> 
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<span>不容置疑地，我们最终都好好的摘咖啡鲜果直到日上三竿，一个个大汗淋漓也没见野象，当然，这或许应当是庆幸的事。而对于这一家三口来说，更庆幸的是，正因为此处常有野象出没，庄园主索性把名字取成</span>“大象咖啡庄园”。并在普洱这咖啡的世界占据了不容小觑的地位。
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<span>回程的路也满是惊艳，随着颠簸前行的皮卡车不断向后推移的成片的被咖农们称着肥料花的小向日葵花，宛如电影里所演绎的离别的长镜头，满是渐行渐远的离愁别绪。到了山脚才发现，林业局张贴的：</span><span>“此区域内有野象活动，请过往人员注意安全”的提示牌何止一块，慢慢地相信了女主人的话。</span><img src="static/picture/20181214033509_89518.png" alt=""> 
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<img src="static/picture/20181214033541_77364.png" alt=""> 
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<br>
</p>
<p class="MsoNormal">
	（未完待续……
</p>
<p class="MsoNormal">
	敬请期待后文《大象咖啡庄园之铂澜男神第一压》
</p>
<p class="MsoNormal" style="text-indent:301.0000pt;">
	12月7日于普洱
</p>
<p>
	<br>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<br>
</p>
<p>
	<br>
</p>
<p class="MsoNormal">
	<span><br>
</span> 
</p>
<span style="color:#333333;font-family:-webkit-standard;font-size:16px;background-color:#FFFFFF;">（文章来自铂澜学员 张亚）</span><br>
<p>
	<br>
</p>
<br>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
	<span style="font-family:仿宋;font-size:16.0000pt;"></span> 
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-12-14 12:19:32&nbsp;&nbsp;刘嫱发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7753,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7753.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>