<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>铂澜咖啡学院培训课程列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jiaodiantu.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<body>

<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">		
	<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
    <h1>课程列表（<a class="more" href="index-indexcoursecourse_fenlei.h.html">查看课程分类</a>）</h1>	
	</div>
</header>
<div class="wp_100">
    <div class="header_top"></div>
    <div class="clear"></div>
</div>
<!--头部结束搜索开始-->
<div class="wp_640">
    <form action="/index.php?s=/Index/Course/index.html" method="post" id="form">
    <div class="sousuo">
        <div class="wp_640">
            <div class="form01">
                <input class="ss_input" type="text" placeholder="请输入搜索内容" name="name">
                <i class="search" onclick="sousuo()"></i>
            </div>
        </div>
    </div>
    <div class="wp_640">
        <div class="mc">
            <div class="title">
                <h3><a href="index-indexcourseindex.html.html" style="color: #df007f">全部</a></h3>
                <div class="mc_bbc">
                    <p class="more_coursep">
                            <span class="span_pos">
                                <select style="border: 0;padding-right: 0.2rem;" onchange="sousuo()" name="categoryid" class="dy_dd">
                                    <option value="0">全部课程</option>
                                    <option value="1089">铂澜咖啡培训课程</option><option value="1088">咖啡馆创业经营辅导</option><option value="1087">SCA国际培训认证</option><option value="1079">铂澜森蒂国际西点学院</option><option value="1099" selected="selected">咖啡&amp;轻食套餐课程</option>                                </select>
                            </span>
                    </p>
                </div>
                <div class="more shaixuan_sel shaixuan_sel01">
                    <select style="border: 0; width: 100%; padding-right: 0.2rem;" onchange="sousuo()" name="orderby">
                        <option value="1">发布时间</option>
                        <option value="2">价格高低</option>
                        <option value="3">近期开课</option>
                    </select>

                </div>

            </div>
        </div>
    </div>
    </form>
    <div class="clear"></div>
</div>
<!--搜索结束,培训列表开始-->
<div class="wp_640">
    <div class="mc">
        <div class="mc_cp">
            <ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id44.html"><img src="static/picture/5bd6a8e67de67.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id44.html"><h3>A01咖啡西点全能实战精修课堂（1月19-31日）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>9980.00</strong></em>
                            <span class="con_rq">
													 2019年01月19日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id45.html"><img src="static/picture/5bd6a8e67de67.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id45.html"><h3>A01咖啡西点全能实战精修课堂（12月17-29日）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>9980.00</strong></em>
                            <span class="con_rq">
													 2018年12月17日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id46.html"><img src="static/picture/5bd6a8e67de67.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id46.html"><h3>A01咖啡西点全能实战精修课堂（7月2-7月14号国贸校区平时班）</h3></a>
                           <!-- <i>人数：2/10 </i>-->
                           <i></i>
                            <em>￥<strong>9980.00</strong></em>
                            <span class="con_rq">
													 2018年07月02日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id47.html"><img src="static/picture/5ae442d52c1ea.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id47.html"><h3>A01咖啡西点全能实战精修课堂（5月14-5月26号环铁校区住宿班）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>9980.00</strong></em>
                            <span class="con_rq">
													 2018年05月14日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul>			        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    function sousuo(){
        $("#form").submit();
    }
    </script>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/course/index/category_id/1099.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
</body>
</html>