<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>竞赛和论坛外，北京咖啡展你应该来看铂澜—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="竞赛和论坛外，北京咖啡展你应该来看铂澜铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	竞赛和论坛外，北京咖啡展你应该来看铂澜</h1>
<a href="javascript:shoucang(7687);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p class="MsoNormal" align="center" style="text-align:center;">
	世界杯的不眠夜，让我们这篇推文来的晚了些。
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	心中千万次哀嚎加吐槽，
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	魔都占去了每年咖啡展最佳的档期，
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	堂堂帝都只能在烈日下苦逼开卖，就像那永远悲情的阿根廷，
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	好吧！致敬德国战车的钢铁精神！
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	让本周咖啡展时的炎炎烈日再猛烈一点！
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	<img src="static/picture/20180625092832_89576.gif" alt=""> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	第三届北京国际酒店用品及餐饮博览会（也就是我们所说的北京咖啡展）将于<span>6</span>月<span>27-29</span>日在北京国家会议中心盛大开展！与以往资本位居幕后蠢蠢欲动不同，帝都咖啡行业将迎来资本大爆发后的第一次集体亮相！铂澜咖啡学院展位<span>4A54</span>，看点多多，精彩连连，不容错过。开门见山一句话：除了竞赛和论坛外，本周的北京咖啡展你应该来看铂澜展位看看，不来你会后悔一辈子（请自觉脑补单田芳的语音语调）。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;">
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625092849_10037.jpg" alt=""> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<b>理由一：</b>作为一家教育培训机构，卖课是我们的天职。一大串儿精品好课接受您的现场咨询，并且展会期间（<span>27-30</span>日）付款一律享受过往老学员才能享受到的特惠价格。
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<div align="center">
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625092914_37251.jpg" alt=""><br>
</div>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<b>理由二：</b>掀起大众精品咖啡运动新高潮！铂澜咖啡学院齐鸣老师的免费咖啡课程，零起点走进咖啡世界、爱上咖啡的最佳路径！共计两场，每场仅限<span>35</span>人。
</p>
<p class="MsoNormal">
	第一场：<span>2018</span>年<span>6</span>月<span>30</span>日周六晚<span>6:
00-8:30</span> 
</p>
<p class="MsoNormal">
	第二场：<span>2018</span>年<span>7</span>月<span>21</span>日周六晚<span>6: 00-8:30</span> 
</p>
<p class="MsoNormal">
	对象：零起点咖啡爱好者
</p>
<p class="MsoNormal">
	主题：爱上咖啡——咖啡的趣闻、科学与风味总总
</p>
<p class="MsoNormal">
	地点：铂澜咖啡学院（国贸校区）
</p>
<p class="MsoNormal">
	主讲人：铂澜咖啡学院创始人、院长 齐鸣
</p>
<p class="MsoNormal">
	惊喜：现场来宾另有抽奖活动。
</p>
<p class="MsoNormal">
	参与形式：关注“铂澜咖啡学院”微信公众号，对话输入“姓名<span>+</span>手机号码<span>+</span>场次”，如“罗伊斯<span>+138xxxxxxxx+1</span>”即默认报名第一场活动，铂澜咖啡学院会给予回复确认。
</p>
<p class="MsoNormal">
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625093041_29728.jpg" alt=""> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<b>理由三</b>：铂澜咖啡学院院长、《爱上咖啡馆》等作者、知名咖啡咨询培训师齐鸣老师的“咖啡馆创办与经营全程实战”视频课程千呼万唤始出来，这是铂澜过往十二年一线经营的沉淀，这是《咖啡
咖啡》、《爱上咖啡师》与《爱上咖啡馆》一脉相承的理念浓缩升华，这是过往全国数以千计咖啡馆经营实践的总结，这是铂澜定价<span>5000</span>元整整四天线下开店课程的完整线上版本，还是面向当下咖啡馆行业变革、消费产业升级的一次归纳与展望。可以保证的是，这绝不是絮絮叨叨的理论说教，而是怦然心动的干货灌输。那些潜规则，那些门道，那些关键点，剥去虚伪，扯去包装，迷雾不在，套路没有，一览无余。
</p>
<p class="MsoNormal">
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625093026_33530.jpg" alt=""> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<b>理由四</b>：田口护老师说，甜品是咖啡的情人，面包是咖啡的妻子。好的咖啡有了，需要妻子相伴，或者情人相随。铂澜咖啡学院携铂澜森蒂国际西点学院参展，为您找到最适合咖啡的伴侣。
</p>
<p class="MsoNormal">
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625093109_76016.jpg" alt=""> 
</p>
<p class="MsoNormal">
	<b><span></span></b> 
</p>
<p class="MsoNormal">
	<b>理由五</b>：铂澜咖啡学院资深培训师“男神”<span>Brian</span>与咖啡师宋康红将分别参加世界咖啡冲煮大赛北京赛区和雀巢杯<span>LAS</span>拉花对抗赛的争夺战，欢迎围观。<span style="font-family:&quot;font-size:14px;">铂澜咖啡学院的展位，一如既往与众不同——既有好咖啡无限畅饮还有新鲜烘焙的美食不容错过。</span><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20180625/20180625093129_61647.jpg" alt=""> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
<p class="MsoNormal">
	<span></span> 
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-06-25 17:35:00&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7687,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7687.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>