<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>铂澜森蒂国际西点学院—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="铂澜森蒂国际西点学院铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1>
	铂澜森蒂国际西点学院</h1>
	</div>
</header>

<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<style type="text/css">
	.content_msxq img{ width: 100%; height: 100%; margin-bottom: 0; }
</style>
<!--头部结束内容开始-->
<div class="content_msxq wp_640" style="float: initial; width: 6.4rem;">
	<img src="static/picture/5bc96d4e7f0bb.jpg">
	<div style="padding:0.1rem 0; color: #666; font-size: 0.2rem;line-height:26px;">
		<p class="nr" style="line-height: 0.3rem;">铂澜咖啡学院凭借多年教育培训经验，整合世界级西点烘焙教育培训机构、原材料供应商、设备贸易商等多方资源，创办铂澜森蒂国际西点学院，追求品质生活，发扬工匠精神，名师手把手教授，理论知识结合实际操作，极致美味兼顾外观颜值，经典出品兼有细节创新，国际标准融合本地实践，旨在探索精品咖啡之外的精彩美食、无限美味，更为广大咖啡馆、轻餐厅、面包房、甜品店提供最佳的餐饮综合解决方案。</p>
		<br><br>
<iframe src="javascript:;" frameborder="0" width="100%" height="480" scrolling="no"></iframe> 
<iframe src="javascript:;" frameborder="0" width="100%" height="480" scrolling="no"></iframe>

		<p class="nr" style="line-height: 0.6rem;">
		<br>
	      <a href="index-indexcourseindexcategory_i1.html" style="text-align: center; color:#df007f; font-size: 0.26rem; display: block; width: 100%; ">点击这里查看该分类下培训课程 </a>
	      <br>
	      </p>
	</div>

	<!--<img class="img_1" src="/Public/Index/images/msxq601431.png" />-->
	<!--<img class="img_1" src="http://www.bloomcoffee.cn/Uploads/default.jpg" />-->
</div>
<!--内容结束底部版权开始-->
<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/course/fenleidetail/id/1079.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
</body>
</html>