<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SCA咖啡烘焙初级＋中级课程，含生豆初级认证（10月26-30日）</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/5cee17232c613.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            SCA咖啡烘焙初级＋中级课程，含生豆初级认证（10月26-30日）                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            铂澜咖啡学院2012年《咖啡 咖啡》一书的出版不仅掀起了国内精品咖啡运动浪潮，也助推了精品咖啡的烘焙事业。<br>
<br>
<span style="line-height:2;">作为资深的SCA教育培训机构、CQI全球认证培训实验室和原国家人社部咖啡师培训鉴定机构，铂澜咖啡学院拥有非常专业与系统化的咖啡烘焙培训授课经验，拥有SCA咖啡烘焙初、中、高级别的培训授课与认证资质，培养了不少知名咖啡烘焙师和骨灰级咖啡烘焙爱好者。</span><br>
<img src="static/picture/20180720040805_91410.jpg" alt=""><br>
<span style="line-height:2;"> 铂澜咖啡学院举办的SCA咖啡烘焙初中级培训认证课程，涵盖SCA Coffee Diploma中的 Roasting 模块Foundation&amp; Intermediate 的全部内容。每年数次定期排课，小班授课，理论&amp;实践深入教学，满足咖啡师、咖啡爱好者、咖啡烘焙师、咖啡店主等人群学习咖啡烘焙基本常识、掌握烘焙机的基本操作技能、熟悉咖啡烘焙程度及基本烘焙曲线、基本建立咖啡烘焙实做与咖啡风味呈现对应关系，学会通过感官分析（杯测）来进行咖啡烘焙成果的基本评估，熟练进行咖啡烘焙实操的需要。最后一天为咖啡烘焙理论及实操考核，考试通过者颁发精品咖啡协会（SCA） Roasting Intermediate认证证书，考试结束至证书获得最多需要2个月时间。</span><br>
<img src="static/picture/20180720040827_95242.jpg" alt=""><br>
课程内容&nbsp;<br>
<br>
SCA01 咖啡烘焙概念及基础理论，咖啡烘焙机的结构，传热学，烘焙中的物理、化学变化等。<br>
<br>
SCA02 咖啡生豆研究（含化学成分解析）及SCA杯测方法与杯测评分表说明与学习使用cropster软件记录分析烘焙曲线。<br>
<br>
SCA03 咖啡烘焙实操基础上：咖啡烘焙全程通解，学用咖啡烘焙记录表及烘焙程度（学习Agtron使用）的精确控制。<br>
<br>
SCA04 咖啡烘焙实操基础中：SCA标准杯测用豆的烘焙实操、杯测评估及技术延展。<br>
<br>
SCA05 咖啡烘焙实操基础下：不同烘焙曲线的设计思路及实现、烘焙实操及感官评价。<br>
<br>
SCA06 咖啡烘焙实操进阶上：入豆温度、回温点、转换点、黄变、一爆、ROR等重要概念的深入分析。单品咖啡豆（不同产地、产季、品种、含水量、密度等）的烘焙实操及技术延展。<br>
<br>
SCA07 咖啡烘焙实操进阶下：从咖啡生豆化学体系入手，辅以SCA风味轮及36味闻香瓶来透析理想烘焙曲线的构建。意式拼配咖啡豆的烘焙实操及技术延展。<br>
<br>
SCA08 咖啡烘焙机的使用维护、注意事项及基本技术保养，咖啡烘焙间的规划及注意事项。<br>
<br>
SCA09 烘焙瑕疵分析与杯测实践。不同原理咖啡烘焙机实作与不同烘焙瑕疵的对应关系及关注点。<br>
<br>
SCA10 咖啡烘焙理论及实操考核。<br>
<img src="static/picture/20180720040854_90696.jpg" alt=""><br>
<p>
	<br>
</p>
<p style="font-size:16px;color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;">
	<strong><span style="font-size:12px;">课程时间</span></strong><span style="font-size:12px;">：2019年10月26-30日（5天）</span> 
</p>
<p style="font-size:16px;color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;">
	<strong><span style="font-size:12px;">1）</span></strong><span style="font-size:12px;">烘焙课程首次增加SCA生豆初级内容及考试</span> 
</p>
<p style="font-size:16px;color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;">
	<strong><span style="font-size:12px;">2）</span></strong><span style="font-size:12px;">经历完整培训学习且考试通过，发放SCA 咖啡烘焙中级培训认证证书。</span> 
</p>
<p style="font-family:Helvetica, &quot;font-size:16px;">
	<strong><span style="color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;font-size:12px;">3）</span></strong><span style="color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;font-size:12px;">铂澜老学员均可享受9500元的优惠特价。</span><br>
<strong><span style="color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;font-size:12px;">4）</span></strong><span style="color:#2A0F00;font-family:微软雅黑, 宋体, Arail, Tabhoma;background-color:#FEFDF8;font-size:12px;">非学员早鸟价：2019年10月1日前支付全额费用，享受1000元减免。</span> 
</p>
<p>
	<br>
</p>
<br>
<p>
	<img src="static/picture/20180720040918_18504.jpg" alt=""> 
</p>
<p>
	导师：齐鸣
</p>
十二年咖啡行业资深创业者，铂澜咖啡学院创始人<br>
中国商业经济学会咖啡分会副会长<br>
北航、国际关系学院多所知名大学特聘导师<br>
石光·铂澜咖啡烘焙邀请赛发起人<br>
国家人社部咖啡师职业考评员<br>
CQI Q-grader国际咖啡品质鉴定师<br>
SCA考官、Roasting Professional<br>
<p>
	作家，著有《爱上咖啡馆》、《爱上咖啡师》、《咖啡 咖啡》、《魔豆宝典-咖啡馆创业全揭秘》、《魔豆宝典-咖啡馆出品设计的智慧》等作品
</p>
<p>
	<img src="static/picture/20180720040958_47073.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180720041036_23540.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20181225045441_74993.jpg" alt=""> 
</p>
<p>
	<br>
</p>                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="dy_dd1 hidden"><a href="javascript:;">1、SCA01 咖啡生豆质量评估与分级，初探含水量、密度、加工方式以及咖啡品种与烘焙的关系。</a></li><li class="dy_dd1 hidden"><a href="javascript:;">2、SCA02 咖啡烘焙概念及基础理论，咖啡烘焙机的结构，传热学初解，烘焙过程中的诸多物理及化学变化等。</a></li><li class="dy_dd1 hidden"><a href="javascript:;">3、SCA03 咖啡烘焙实操基础上：咖啡烘焙的概念、烘焙机原理构造和分类，烘焙实操三阶段通解。</a></li><li class="dy_dd1 hidden"><a href="javascript:;">4、SCA04 咖啡烘焙实操基础中：分区域学用咖啡烘焙记录表，掌握不同烘焙程度的实际意义和操作。咖啡烘焙</a></li><li class="dy_dd1 hidden"><a href="javascript:;">5、SCA05 咖啡烘焙实操基础下：不同烘焙阶段（程度）下咖啡风味的一般变化规律和发展消长。从传热学角度</a></li><li class="dy_dd1 hidden"><a href="javascript:;">6、SCA06 咖啡烘焙实操进阶上：入豆温、回温点、转换点、黄变、一爆、ROR、DTR等重要概念的讲解及</a></li><li class="dy_dd1 hidden"><a href="javascript:;">7、SCA07 咖啡烘焙实操进阶中：SCA标准杯测用豆的烘焙实操、杯测评估及技术延展。单品咖啡豆（不同产</a></li><li class="dy_dd1 hidden"><a href="javascript:;">8、SCA08 咖啡烘焙实操进阶下：从咖啡生豆化学体系入手，辅以SCA风味轮及36味闻香瓶来透析理想烘焙</a></li><!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：2019年09月28日起
                                                            </p>
                            <p class="pt10 pb10">培训费用：9500.00元/人（（含认证，学费不含税））</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 4</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、寻豆师、咖啡品控、咖啡烘焙师、零基础学员、咖啡馆创业、咖啡师、求职准备</p>
                            <p class="pt10 pb10">学分: 70分</p>
                            <p class="pt10 pb10">培训时长: 共计12次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/321.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2019-09-04 14:11:13</span>
                                <span>发布作者：梁波音</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id8.html">SCA咖啡冲煮初中级国际认证课程（2020年4月25-28日）</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id2.html">SCA咖啡师初中级国际认证（2020年2月13-16日）</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id4.html">SCA咖啡烘焙初中级（2月17-20日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id41.html">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>