<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中西方思维方式比较—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="中西方思维方式比较铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	中西方思维方式比较</h1>
<a href="javascript:shoucang(7788);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p class="MsoNormal">
	思维方式的差异是造成文化差异的一个重要原因，中西不同的思维方式导致了文化的不同，如茶与咖啡在理念与行为方式的差异。了解这两种文化背后所隐含的思维方式差异有助于我们真正理解茶文化和咖啡文化。茶文化背后所隐藏的思维方式是一种整体性、过程性、关联性和直觉体悟式思维，茶作为文化的载体超越了其自然属性，成为一种承载中国传统道德理想和精神境界的一个重要介质。而西方的咖啡文化体现的是一种二元性、线性和逻辑性思维，咖啡作为一种对象性的物质被进行科学的、理性的探究并加以消费，较少作为一种价值承载的中介。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	在人类文明的发展过程中，特定区域和民族的人们会根据他们对世界的认识逐渐凝聚成认知和习惯，并形成特殊的思维方式。思维方式是一种特定文化主体固定了的思维习性的基本状态，包括思维结构、价值取向、认知属性、审美情趣等，它是文化中最深层次的一部分，也是最为稳固的一部分，一旦形成，人们就会在这种稳定状态下，以惯用思维模式进行思维并行为。思维方式体现在民族文化的所有领域，比如：物质文化、精神文化、制度文化、行为文化，尤其体现在哲学、语言、美学、文学、艺术、医学、宗教以及政治、经济、法律、教育、外交、生产和日常生活实践之中。思维文化的差异是造成文化差异的一个重要原因，要深入研究具体的文化现象，就需要深入研究文化现象背后起作用的思维方式。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	中国是世界上最早发现、利用和饮用茶的国家。茶发源于神农氏，兴起于唐朝，繁盛于宋代，发展传播与明清，迄今已有四五千年的历史。茶与其所根植的中国文化所衍生出来的茶文化，渗透于中国人生活的方方面面。与之相对，西方人最受欢迎的饮品是咖啡。咖啡源于非洲，发展于阿拉伯和埃及，风靡于欧洲和北美。伴随着全球化进程的加速，作为饮品的茶与咖啡似乎已经不再受限于地域及其传统文化，为世界各地的人们所共享，但很少有人深究这两者所烙有的各自区域、民族思维方式的特征。本文将以茶文化与咖啡文化为例，来探究两者背后所隐藏的中西思维方式差异。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	<b>一、茶和咖啡文化的起源与发展<span></span></b>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	茶树原产于中国西南地区，茶的英文学名最早见于瑞典植物学家林奈的《植物种志》，他在书中把茶的学名定为“<span>Thea Sinensis”</span>。<span>“Sinensis”</span>是拉丁文<span>“</span>中国<span>”</span>的意思。中国的<span>“</span>茶<span>”</span>字最早见于唐朝的《百声大师碑》和《怀晖碑》中，由茶圣陆羽在《茶经》中将<span>“</span>茶<span>”</span>字固化并由此传播至今。历史上真正意义的饮茶起于何时难以确认，根据《中国风俗史》中所记载的<span>“</span>周初至周之中叶，饮物有酒、醴、浆、湆，此外犹有种种饮料，而茶其著。<span>”</span>这表明，在殷周时期，茶才从药用转变为日常饮品。秦朝统一中国后，茶叶便沿长江而下传遍了半个中国，而茶叶作为商品形式向海外传播最早始于<span>3</span>世纪末<span>5</span>世纪初。佛教由中国传入高丽国时，茶叶也随之传入朝鲜半岛。新航路的开辟不但开始了西方人的世界之旅，也意味着他们开始接触到充满东方魅力的茶叶。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	到了魏晋南北朝时期，茶成为了寻常人家的待客之物，饮茶与以茶待客成为约定俗成的事。这时，饮茶不再仅仅为了解渴和提神醒脑，而是有识之士提倡简朴“养廉”的首选。无论是以茶待客，还是用茶来祭祀，都是一种表现精神和情操的手段。到了唐代，茶文化开始正式形成，饮茶的方式自唐代以来逐渐由药饮和粗放式煮饮，发展成为细煎慢啜的品饮，进而演进为艺术化、哲理化的茶文化。总体来说，中国饮茶文化经历秦汉的启蒙、六朝的萌芽、唐代的确立、宋代的兴盛、明清的简化和普及等阶段。人们在长期的饮茶过程中，逐渐把饮茶作为一种精神上的享受，随之产生了各种文化现象和社会功能。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	茶的药用、食用，或粗放式的解渴作用，仅仅只是利用了茶的自然属性，满足了人的生理需要，而茶的品饮才是真正利用了茶所赋有的精神意味。对茶由“饮”到“品”的转换，体现了对茶叶认识的质的飞跃，也说明人们开始通过开发并赋予茶叶崇高的精神属性而发展出越来越丰富的茶文化，满足了中国古人社会心理上的需要。古代文人留下的大量诗词书画说明了茶与精神享受或价值追求的密切关系“三分解渴七分品”，茶会、茶宴、茶礼等品饮形式使得品茶活动成为能够显示高雅情趣、寄托情感、修养身心的一种生活艺术。并且，中国传统的朴素自然的品饮艺术理念，以及蕴藏在民间的各种饮茶习俗，也体现了中国文化的意蕴和中国人独特的思维形式和观点。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	从历史发展上看，唐代的茶文化既与文人的吟咏歌舞、琴棋书画相关联，也与佛教及朝廷的倡导有着极其密切的关系。唐朝对佛教的推崇，促成了佛教的兴盛，因为僧众坐禅需要茶的破睡功夫，寺院种茶制茶便逐渐成了风尚。宋代饮茶、斗茶之风兴趣，茶文化的形式也开始丰富起来，茶诗、茶词、茶论大量出现。明代倡导以散条茶代替茶饼，以沸水冲泡的沦饮法替代传统的研末煎饮法。饮茶法的变更，导致了绿茶、黑茶、白茶、黄茶、乌龙茶以及花茶等茶类的迅速兴起于发展。清代时期，茶叶生产工艺已经十分成熟，茶叶成了出口产品的一个行业，茶文化活动丰富多彩。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	从思想根源上看，中国茶文化是在儒道佛思想的塑造下形成的，它尽管不是中国传统文化中的核心文化，却承载了中国传统文化中的精髓，即表现为凝聚了中国传统价值追求、道德情操、伦理观念和审美取向的中国茶道。茶之所以能被选中并由此发展出一种文化现象并被发扬光大，是因为茶之淡泊、清纯、自然、朴实的品格与中国传统文化价值观是一致的。在中国茶文化中，茶道是核心，是灵魂。“茶”字体现了“人在草木中”，茶生于天地草木之中，而人承天地之精华，与天地万物合而为一。“道”是中国古代哲学的核心范畴，是万物之始，也是万物生成和发展的规律和法则。在《茶经》中，陆羽极富创意地提出了“精行俭德”的茶道精神：“茶之为用。味至寒，为饮最宜精行俭德之人。”茶道即通过品茗来体悟人生，不断提高自身的道德情操。儒家强调中庸、仁爱和谐，以茶养廉；道家倡导自然、清静，以茶求静；佛学讲求禅修、悟道，以茶助禅。茶以载道，茶作为一种介质，为人们接近道、体验道、悟道提供了一种有效的方式。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	根据历史学家的发现，咖啡树最早生长在埃塞俄比亚的卡法省（<span>Kaffa</span>）。但阿拉伯人最早把咖啡豆晒干熬煮后，把汁液当作胃药来喝，认为可以有助消化。后来发现咖啡还有提神醒脑的作用，同时由于伊斯兰教圣经《古兰经》严禁教徒饮酒，因而就用咖啡取代酒精饮料，作为提神的饮料而时常饮用。十五世纪以后，到圣地麦加朝圣的教徒陆续将咖啡带回居住地，使咖啡逐渐流传到埃及、叙利亚、伊朗和土耳其等国。宗教是促使咖啡在阿拉伯世界广泛流行，并最终演变为世界性潮流的一个重要因素。咖啡进入欧陆归功于土耳其当时的奥斯曼帝国，由于嗜饮咖啡的奥斯曼大军西征欧陆并在当地驻扎数年之久，在大军最后撤离时，留下了包括咖啡豆在内的大批补给品，维也纳和巴黎的人们得以凭着这些咖啡豆，和由土耳其人那里得到的烹制经验，而发展出欧洲的咖啡文化。虽然咖啡诞生于非洲，但是种植和家庭消费却离开了非洲本土，而且主要的饮用方式及其相应的文化习俗都是近代才逐渐出现的。实际上，正是欧洲人让咖啡重返故地，将其引进他们的殖民地，在那里，由于有利的土地和气候条件，咖啡才得以兴旺繁荣。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	咖啡于西方人来说，也不仅仅是一种饮品，它隐含着丰富的文化内涵。欧洲结束了漫长的中世纪，文艺复兴所代表的人文主义精神代替了沉闷的神学思想，更多的欧洲上流社会的成员和普通公众日益接纳和亲近咖啡，因为追求和享受幸福的人生是人文主义的主旨，在咖啡馆里喝着咖啡讨论人性以及有关人的问题成了当时非常流行的生活方式的一部分。<span>1554</span>年，奥斯曼土耳其帝国首都伊斯坦布尔出现了第一家咖啡馆<span>——</span>卡内斯咖啡屋，因为有不少学识丰富的人光顾咖啡馆并在那里高谈阔论，所以咖啡馆被称作<span>“</span>智慧的学院<span>”</span>，现代意义上的咖啡馆就此出现，伊斯坦布尔也被称之为“咖啡通向欧洲的起点站”。自<span>1615</span>年威尼斯商人把进口的咖啡豆运回维斯开设欧洲第一家咖啡馆开张，到<span>17</span>世纪末<span>18</span>世纪初，咖啡馆在欧洲特别是西欧各个城市如同雨后春笋般迅速普及。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	尤其是<span>20</span>世纪以来，咖啡馆成了一种重要的社交休闲场所，人们在这里谈论政治，构思文学作品，闲聊生活琐事。一些欧洲著名的咖啡馆里长期聚集着来自四面八方的学者和艺术家，他们在那里构筑了全世界哲学家、作家和艺术家心中的圣地和精神家园。<span>17</span>世纪中后期，伦敦的咖啡馆已经成为主要的聚会场所，对于英国人来说，咖啡馆是个沟通交流、学习思考甚至进行商贸交易的场所，圆形或椭圆形的咖啡桌四周围着高谈阔论的人们，彼此间的对话平等、随和、自由的消费只需几便士，所以咖啡馆在当时又有<span>“</span>便士大学<span>”</span>的美称，暗含了咖啡馆自由平等的精神。<span>18</span>世纪的巴黎咖啡馆是政治家、文学家、思想者、诗人和艺术家的聚集地。卢梭、伏尔泰、罗伯斯庇尔、马拉都是咖啡馆的常客。<span>19</span>世纪末开始，咖啡馆早已不仅仅是喝咖啡的场所，宴会、展览、婚礼、沙龙、创作、歌舞表演等几乎一切活动都在咖啡馆进行。哲学家萨特曾在巴黎的花神咖啡馆留下凝思，存在主义作家波伏娃也曾在氤氲的咖啡香气中陶醉。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	18世纪中叶开始，北美咖啡馆逐渐成为政治家、商人聚会的场所，经常笼罩着浓郁的政治氛围，波士顿的咖啡馆成为了当时策划革命的大本营。不管是欧陆还是北美，最早的咖啡馆都是政治思想萌芽和发展的温室，咖啡史学家威廉<span>·</span>乌克斯在其《<span>All about Coffee</span>》中写道：<span>“</span>每当一个国家引进咖啡，就会引起革命。而老百姓一思考，就会反抗暴政和专制，对极权统治者构成威胁。<span>”</span>美国人目前是世界上最爱喝咖啡的族群，但美国人喝咖啡，没有任何规则，比欧洲冲调咖啡时更不讲究，不强调咖啡的口感，也不甚讲究环境和情调，更随性自由，咖啡对于美国来说更像是为了高效工作的快速强心针。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	从美食的角度讲，意大利的咖啡文化擅长对咖啡本身进行深入的研究和探索。意大利人专注于开拓咖啡的外延，为咖啡加奶沫、加巧克力酱，甚至加各类酒、加奶油等等。复杂、精细和量化的制作咖啡过程，孕育了意大利独特的咖啡文化和不胜枚举的咖啡种类。<span>Cappuccino</span>、<span> Latte</span>、<span>Mocha</span>、<span>Macchiato</span>等耳熟能详的花式咖啡名字都来自意大利语，正因为意大利人的想象力和钻研精神，咖啡才会呈现出今日的多姿多彩。意大利人对咖啡本身给予了充分的尊重，把咖啡制作提升到了一门手工艺术，他们反对美式的快餐式咖啡，要求尽量保留和发展咖啡本身的香味。对于意大利人来说，追求美味即是追求个体生命的张扬，是一种轻松、自由、平等的生活方式，一种志趣和品位。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	时至今日，对于大多数西方人来说，喝不喝咖啡不重要，泡不泡咖啡馆却是一件大事情，咖啡并非是他们去咖啡店的主要目的，而只是去咖啡馆的一个理由。因为咖啡馆可以提供一个与友人自在聊天、放松和个人沉思的场所。西方的咖啡文化和咖啡馆文化缠绕在一起。与在西方充当重要角色的咖啡馆相比，中国茶馆在中国历史上似乎并没有发挥过类似的作用，它只是商业形式的一种，而茶文化更多地与儒释道人生哲学密切关联。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	<b>二、中西思维方式差异在茶文化与咖啡文化上的体现<span></span></b>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	由于思维方式的区别，人们思考问题的角度、认识事物的结果必然存在着差异，茶文化与咖啡文化的诞生与发展过程正是体现了中西方不同思维方式的印记和思维智慧，体现了判然不同的思维精神。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	（一）整体性与二元性思维<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	在中国传统哲学中，讲求“天人合一”，人与自然万物是一个整体，人与自然相协调，天与人，天道与人道综合地相联系。“和，天下之达道也”（《中庸》）；“天地与我并生，万物与我为一”（《庄子·齐物论》）；“仁者与天体万物于一体”（《河南程式遗书》卷二）。泯除物我界限，达到个体与他物，乃至整个天地及其芸芸众生的契合无间，“与天地合其德，日月合其明，四时和其序，鬼神合其凶”（《周易·文言传》）。这不仅是最高的人生境界，也是审美的最高理想。“天人合一”蕴含着整体和谐的思想，任何一个自然组成部分都相互联系，共为基础，人在保持对象整体性的前提下体悟其总体精神内蕴。“茶”字是“人在草木中”，即人在自然之中，事茶饮茶的过程，是放下人生执念与欲望，回归清静纯真初心，与自然融为一体，进而悟道的过程。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	对于人和自然的关系，西方传统的看法认为人与自然处于对立的状态。普罗泰戈拉著名的“人是万物的尺度”，便是西方天人关系的鲜明写照。人与自然的对立导致了“心物二元论”，自古以来西方社会就将自然作为外在于人的东西，人是认识、利用、征服自然的主体，而自然是被认识、征服和利用的对象。西方认为理性是思维发展的最高阶段，在认识事物上采用的是一种理性的追问方式，这种认识以理性思维来把握，并且由思维的物化形态——语言所组成的一套明晰清楚且符合逻辑的概念系统表达出来。西方的审美或倾向于从对客观世界精确的描摹中获得一种认知的、理性的愉悦，这是一种严谨的、理性的审美；或倾向于主能动地将自己的情感、意志等投射在外物上，正如黑格尔对美的定义“美是理念的感性的显现”，人和自然外物并没有真正相通，“自然美只是为其他对象而美，这就是说，为我们，为审美的意识而美。”咖啡的品饮相较于茶来说，是一个更为个体化的事件。兴盛于文艺复兴时期的咖啡文化所承载的是一种以人的幸福和自由解放为核心的精神，人们更多的关注个体内心深处的体验和个人精神世界的丰富性。咖啡并非被要求作为连接人与自然的中介，而是人品味咖啡鉴赏的对象，更重要的是，拥有平等自由气氛的咖啡馆给人们提供了一个充分表达自我，进行思想交流的场所。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	（二）过程性、关联性思维与线性、抽象性思维<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	在《中国人的思维》一书中，格拉耐认为关联性思维是中国人思维的一个特征。一些从事比较哲学的西方学者，比如葛瑞汉、安乐哲和郝大维等人，对中国的“关联性”思维进行了深入的探讨。安乐哲和郝大维认为，中国式思维是一种类比的、关联性思维，这种思维方式承认变化或过程要优于静止和不变性。而西方思维是一种因果性思维，倾向于把宇宙理解为具有某种单一秩序的世界，而这种秩序来自某个确定的永恒的动因。柏拉图对于理念世界的设定，亚里士多德对于以永恒必然之城与世俗之城的追求。法国汉学家于连指出：“希腊优先看重模仿关系（特别是感觉与观念之间的关系）而很少注意物中间的关联，而在中国则相反；不是挖掘表象性，而是在关联的基础上建立对世界的看法”。西方人的哲学总是追问一物的背后，借助抽象思维或逻辑思维去论证事物的本质，构造一种抽象、普遍的概念或原理，而中国人偏重于讲一个象和其他象之间的互相关系，这种关系不是通过概念抽象确立的，而是生活本身的一种提取，是一种隐喻和生活智慧，它因人因地因时的诠释而发生变化。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	中国茶文化即是一种由物过渡到心灵的文化，强调品茶人的心性在茶、品茶过程中的价值与审美投射，儒家的人生境界，道家的自然境界，佛家的禅悟境界，融汇成中国茶道的基本格调与风貌。比如儒家将饮茶与伦理相结合，其中以茶示廉，以茶示俭，以“省己”为前提，茶即是省己的中介，将人性之“洁”与茶性之“洁”对等，由品茶而自省，审己，以茶修德，以茶修身，以茶雅志，以茶树礼仁。道家讲究清淡虚空，茶为天地之精华，故茶之物，含有虚灵之气，饮茶却忘茶，在宁静自然之态中获得自在之境。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	传统的冲泡咖啡大都以主观的经验法则来描述咖啡的萃取、烘焙、栽培与处理，尤其是在意大利，冲泡咖啡是一门手艺，比如，意大利“<span>espresso”</span>咖啡的制作体系是化学和物理学达到完美状态的结果，它让咖啡最大限度地保留了原有的味道和浓度，咖啡的香味和浓度是衡量咖啡技艺的关键。<span>20</span>世纪<span>90</span>年代以后，咖啡的制作与冲泡越来越科学，大量具备创新性和高科技的咖啡器具、咖啡设备涌现出来，辅以更精确的科学研究数据，比如咖啡品种中的糖分、有机酸、芳香成分的含量均有科学数据做比较；烘焙与萃取的化学变化，也以科学理论来解释，就连抽象的咖啡浓度也以具体的数值呈现。所以，咖啡的制作与品鉴过程的每一个步骤都体现了科学的严谨性，也体现了西方人对于物本身的进行科学的、理性的认识和把握的偏好，以及对物本质的探究和追问。不论是咖啡师的专业品鉴还是消费者随意的日常品饮，咖啡都很少单纯地充当一种体味人生意义的介质，并且在制作咖啡的时候，咖啡师大多只强调调制比例，而并非把调制咖啡的过程作为一种与外物、与天地相关联的意义生成过程。<span></span>
</p>
<p class="MsoNormal">
	<br>
</p>
<p class="MsoNormal">
	总之，思维方式的差异是造成文化差异的一个重要原因，中西不同的思维方式导致了茶与咖啡文化的不同。茶文化背后所隐藏的思维方式是一种整体性、过程性、关联性和直觉体悟式思维，中国茶道强调人与自然的统一，人通过茶与天地万物合而为一，事茶的过程中蕴含着儒家廉俭高雅的君子品格，道家淡泊归朴的自由精神，以及禅宗禅茶一味的悟道方式，茶超越了其自然属性，成为一种承载中国传统道德理想和精神境界的一个重要介质。西方的咖啡文化体现的则是一种二元性、线性和逻辑性思维，咖啡作为一种对象性的物质被进行科学的、理性的认识、探究和消费，较少作为一种价值承载的中介，咖啡文化更多的是咖啡馆文化，其所隐含的是追求自由、平等、舒适和实效等价值观念。<span></span>
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2019-10-17 10:11:11&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7788,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7788.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>