<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>从星巴克瑞幸之争看中国咖啡市场过往与未来走向—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="从星巴克瑞幸之争看中国咖啡市场过往与未来走向铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	从星巴克瑞幸之争看中国咖啡市场过往与未来走向</h1>
<a href="javascript:shoucang(7704);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><span style="line-height:2;">这几天最忙的是媒体，尤其是与咖啡沾边儿的媒体，从北京到上海，连续在赶场，全是重头戏。8月1日，瑞幸咖啡在北京召开发布会，强势进军轻食市场，发起五折“轻食风暴”，并宣布至今年底将建成门店2000家。8月2日也就是第二天，星巴克咖啡与阿里巴巴在上海宣布达成新零售全面战略合作，合作内容涉及饿了么、盒马、淘宝、支付宝、天猫和口碑等平台，更为现实的计划是：9月之前，星巴克将在北京和上海的150家门店试点咖啡外送，年底覆盖30个城市2000家门店，针锋相对意味明显。对于那些“碰瓷者”，傲慢如星巴克，也不得不谨慎应对，快速接招。事实上，星巴克上周发布的2018年第三季度财报显示，中国/亚太区的营运利润率在过去9年里第一次出现下降。我相信，在接下来这段时间，其他手握资本，有所图谋的咖啡品牌也会陆续发声，多多少少做出些姿态，更必须参与到这一场关系重大的“明天保卫战”中来。不管你是否相信，中国咖啡消费市场，在资本的强势助推下，几乎一夜间，进入到了一个截然不同的新阶段——与过往二十年不同，与全世界也都不同。拿过往的经验来说事显然不可，拿欧美日咖啡消费市场的案例来说事显然也不可。就正如中国人出门办事只拿手机不拿钱，欧洲人还在特认真数钢镚儿一样，不说好坏对错，完完全全不一样是可以肯定的。</span><br>
<br>
<span style="line-height:2;">大约是从去年开始，中国咖啡行业的“画风”突然变了，由以前“散户林立，百家争鸣”变成了“大佬发声，散户自保或站队”，大部分从业者都能够觉察到这种变化，但还在艰难适应中。几个月前，我们铂澜咖啡学院提前录制了一个超过500分钟的视频课程，深入讲解咖啡行业变局与咖啡馆创办经营，受关注度超出预期。视频中提到了中国咖啡行业产业链重构，提到了主攻消费降级与消费升级的咖啡消费新势力，提到了过往那个咖啡馆时代正在终结，也提到的全新咖啡消费生态正在沟通，新咖啡主义孕育中……由于内容实在是太多，借着这两天瑞幸星巴克之争，给大家把中国咖啡市场过往与未来走向捋一捋。</span><br>
<br>
<br>
<span style="line-height:2;color:#E53333;"><strong>一：中国人咖啡第一启蒙师</strong></span><br>
<br>
<span style="line-height:2;">20世纪90年代以来，随着最大咖啡消费国美国经济复苏，一举摆脱了持续数十年的咖啡消费低迷期，全世界掀起了又一股咖啡消费热潮。几乎同时代，我国咖啡消费从零起步，但启蒙师却是当时被国人视为“时髦”、“高档”代名词的麦斯威尔和雀巢速溶咖啡。从麦氏速溶咖啡经典广告语“滴滴香浓，意犹未尽”到雀巢咖啡的“味道好极了！”，基于速溶咖啡的国人咖啡消费开始启蒙。2008年，在某知名刊物主办的评选中，雀巢咖啡被评选为“30年改变中国人生活的品牌”，可谓实至名归。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>二：“第三空间”理论</strong></span><br>
<br>
<span style="line-height:2;">1989年，一位美国社会学教授在《The Great Good Place》一书中提到：人们永远需要一个轻松、平等、自由的公开场所来满足人际交往的需求，这也是一座城市的本质需求之一……我们将其称作“第三空间”理论，这个观点与20世纪80年代后期霍华德·舒尔茨主导下的星巴克转型扩张完美契合，成为了星巴克构建自己咖啡帝国的理论基础。换一个语境来解读，星巴克此举是顺应当时美国人消费升级大趋势的一次华丽之举，是一次完美的咖啡消费升级，将贩卖咖啡变成了贩卖一种醇香四溢的生活方式。1999年，随着星巴克在北京国贸商城一期开设了内地第一家门店，标志着其正式进入中国市场，中国咖啡消费者迎来了第二位启蒙师，它将咖啡与咖啡馆糅合在一起拿给我们消费，等于郑重其事告诉了我们：咖啡有场景属性和体验增值。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>三：中国人咖啡第二启蒙师，星巴克时代</strong></span><br>
<br>
<span style="line-height:2;">“咖啡消费是需要场景体验的，消费咖啡需要环境与品牌溢价来重重加持！”第二位启蒙师星巴克带给我们的咖啡消费理念与那个时代高度契合，那是一个什么时代呢？回顾一番千禧年之后中国大事件便可一窥端倪：申奥成功，上合组织成立，中国正式加入世贸组织，上海拿下世博会主办权，神州飞船连续发射成功，三峡大坝开始蓄水开通，刘翔雅典奥运夺金……不管怎么说，那是一个激情澎湃、忙忙碌碌、自信开放的时代，与此同时，民谣与文青还有些许市场，心灵需要港湾，灵魂需要归宿。以上岛系为代表的主打商务空间的咖啡馆同样在那个时代获得了蓬勃发展就不难理解了。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>四：“咖啡消费+场景体验“下，局部改进和细节升级</strong></span><br>
<br>
<span style="line-height:2;">千禧年后，得益于全球经济复苏且持续走强，商业地产升值速率长时间超越工业地产和写字楼，也普遍高于商业地产租金回报率的增速，这个商业零售门店的租金出现持续上涨的趋势。而如上这一现象到了中国，再加上一些众所周知的国情，就表现得愈发明显和夸张——商业地产租金和人工成本坐着火箭往上窜。但与此同时，中国的咖啡消费一直以咖啡馆马首是瞻，“咖啡消费+场景体验“成为一种标配，不管是从业者还是消费者都从骨子里有了这种认知。不管是韩系咖啡馆，还是独立咖啡店，其实都在这个框架下孕育滋生，一点一点地培育市场，不断通过固定商业模式与盈利逻辑下的细节改进来维持对于刚性成本结构的”强行压制“。大约到了2015年，一切问题都已水落石出：由于没有底层结构上的创新，单店盈利能力终归有限，一家咖啡馆能否活下来并健康成长，归根到底取决于运营成本结构。如何优化运营成本结构呢？傻子也知道，症结在房租和人工上。解决之道并不是没有，毕竟还是有很多小店日子过得很滋润。2015年至今，铂澜咖啡学院辅导中小资本的咖啡馆创业时一直在苦口婆心反复强调几点：自持物业，与房东合谋共赢，当寄生虫，去低线城市，自雇性经营……</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>五：咖啡馆理应是兼容并包、无所不能</strong></span><br>
<br>
<span style="line-height:2;">千禧年后，早就有很多顶级聪明人提前看透了这一点，并找到了一条生财拓店的南山捷径——特许加盟，去资本市场批发贩卖情怀等形式鼓励他人开店。前两年爆发的某韩系咖啡馆品牌风波便是最好的例证。其实需要强调的是，品牌特许加盟理应是一个双赢互利的好生意，也不是没有成功案例，那些负面案例的出现只是因为陷入到了前文提及的“咖啡消费+场景体验”这一咖啡消费思维定式中，疏于创新，既没有从餐饮行业中足够取经，也没有跨界获得营养，蹉跎岁月，任人赶超。窃以为，俘获了新生代人群的新式茶饮店崛起其实是全体咖啡馆同行（包括我们自己）懒惰沉溺、自身创新不足的结果，咖啡馆理应是兼容并包、无所不能，中国的咖啡馆消费生态系统中就应该包容所有的茶饮，并以符合咖啡馆调性气息的形式加以呈现和制售。题外话，过往数百年咖啡馆历史其实就是一个不断创新、创意迭出的时代，而不是故步自封的产物。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>六：中国，全球咖啡消费市场商业创新之源</strong></span><br>
<br>
<span style="line-height:2;">过往数年无疑是波澜壮阔的新时代。就在精品咖啡运动快速发展之际，互联网浪潮也是汹涌澎湃日甚，人们已经离不开互联网，再也离不开手机等移动网络设备，而各种移动互联网应用几乎能够深入根植人们生活的每个场景细节中，很多商业规则与普罗大众的生活方式也随之改变。比如说在互联网高度发达、网络社交媒体全民普及的今天，很多时候微信等社交应用就能完成人与人之间的连接，只有特别重大正经儿的事情才会约见咖啡馆。正是因为大量轻度社交需求已经被线上场景取代，咖啡馆等线下实体的需求也相应在减少。这里面固然多数是惊喜和兴奋，也有些职业和行业面临着巨大冲击，甚至遭逢黯然退出历史舞台的境遇。咖啡馆行业也难以独善其身，咖啡的魅力固然不减，越来越多的崭新商机涌现，但越来越多的艰难抉择同样摆在了面前。世界上的事物多半都是双刃剑。有好必有坏，有得必有失。越是缺乏深厚的咖啡消费底蕴，反而越是少了些羁绊阻力，越容易变成创新的前沿阵地。先进的中国咖啡行业便是这样，较之欧美日反倒多了些额外期盼，甚至会成为全球咖啡消费市场的商业创新之源。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>七：咖啡消费进入多点开花、全面繁荣的新局面</strong></span><br>
<br>
<span style="line-height:2;">时代的车轮轰隆往前开，碾压一切不合时宜者。正如我在视频课程和即将出版的《咖啡 咖啡》第二版中所言：整个咖啡产业链正面临一轮彻底的重构和升级，而这种变革是顺着产业链从上而下依次而来。虽然依旧有很多国人从未接触过咖啡甚至是抵触咖啡，但大城市和年轻人对于咖啡的接受度是令人兴奋的，中国咖啡消费市场已经在不知不觉中度过了最初的启蒙阶段，进入到了下一个阶段。足够大的咖啡消费群体已经摆在那里，更多的咖啡消费者正在快速进场。给咖啡消费以场景加持的商业模式由于成本结构的问题，已经不再是必须——传统咖啡馆越来越不再是咖啡消费的主力场所，性价比更好、便捷性更高的咖啡消费途径越来越多，高档速溶咖啡、即饮咖啡、挂耳咖啡、袋泡咖啡、公司茶水间的全自动咖啡机、超市便利店咖啡、无人咖啡贩卖机……咖啡消费终于将要进入多点开花、全面繁荣的新局面。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>八：全新的咖啡馆、从灯火朦胧处快步走来</strong></span><br>
<br>
<span style="line-height:2;">过去数百年咖啡馆已多翻彻底变革，早已是面目全非，未来这一切还将继续。互联网不可能取代一切，不管是社交活动还是餐饮消费。咖啡的魅力无与伦比，延续了五百年的咖啡馆产业魅力永恒，咖啡与咖啡馆之间的交集不会消失，在咖啡馆空间里消费咖啡不会绝迹，永远有些人，永远有些时刻，我们需要赋予咖啡消费以场景体验加持。全新的咖啡馆正趁着消费产业升级之便利，借助“资本”与“科技”这双翼翅，加紧消化过往三次咖啡浪潮尤其是精品咖啡运动下的精华沉淀，从灯火朦胧处快步走来。</span><br>
<br>
<span style="line-height:2;color:#E53333;"><strong>九：未来咖啡馆</strong></span><br>
<br>
<span style="line-height:2;">咖啡馆的商业模式正在重新洗牌，那些没有在商业模式和逻辑上想明白、却贸然沿用过往逻辑入局开店者将付出惨痛代价。或许不出五年，全新的咖啡馆便将耀世而出，不管是商业模式，还是呈现形态，或是使命价值，亦或是创建逻辑，都将是焕然一新的。铂澜咖啡学院也将与大家一道，静静守护着那一天的到来。未来的咖啡馆更多将是一个包含咖啡元素在内、成本结构大幅优化的空间。体验增值丰富的咖啡必然是这个空间的魅力来源之一，但或许并不是核心。跨界融合将成为主流，众创空间、政务大厅、阅读空间、亲子乐园、时尚卖场、体育场馆等都将成为咖啡售卖的寄生之所。更为重要的是，未来创建一家咖啡馆是基于互联网平台、以大数据分析为决策起点、整合多方需求和资源的共谋产物。</span><br>
<br>
<br>
<br></p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-08-06 12:48:38&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7704,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7704.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>