<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>烘焙道路上那些深深套路—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="烘焙道路上那些深深套路铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	烘焙道路上那些深深套路</h1>
<a href="javascript:shoucang(7610);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p class="MsoNormal">
	<b>一、蓬松的面包好看又好吃？<span></span></b>
</p>
<p class="MsoNormal">
	面包改良剂能让面包更柔软、弹性更高，并有效延缓面包老化发干的时间，更重要的是体积比传统做法大，卖相更好。同样大的面团，传统做法制成面包后会增大<span>1.5</span>—<span>2</span>倍，而使用了改良剂的面包，则会增大<span>2</span>—<span>3</span>倍，如果改良剂加得多，膨发倍数还会更大。这样一来，起码面粉用得少了，降低成本的办法，当然有人喜欢用。
</p>
<p class="MsoNormal">
	近来发现，有的商家在面包改良剂中添加违禁的溴酸钾，虽然能增白、强筋、增加弹性的作用，但可能会导致癌症。要怎样辨别面包中是否加入了过量的改良剂呢？不要贪图太过松软的口感，这样的面包最好不要买。面包的体积在面团的<span>2</span>倍以下是正常的，如果超过了就应提高警惕。
</p>
<p class="MsoNormal">
	<b>二、真假全麦面包？<span></span></b>
</p>
<p class="MsoNormal">
	全麦面包富含膳食纤维、<span>B</span>族维生素含量更多、蛋白质也更丰富，还有减肥瘦身的效果……健康风潮越来越盛，全麦面包也更加受人们的欢迎。全麦面包的价格往往比普通的白面包贵一倍左右。
但全麦面包并不都是用全麦粉做的，而是全麦粉加部分小麦粉。
</p>
<p class="MsoNormal">
	国外的全麦面包是有统一标准的，但我国还没有制定标准，所以全麦粉只有<span>5%</span>的也叫全麦面包。可是如果全麦粉实在太少，就表现不出全麦的样子来。因此，就有面包房往面包中加入黑色或褐色的色素来蒙混过关。
</p>
<p class="MsoNormal">
	怎样才能选到真正的全麦面包？首先，全麦面包都比较粗糙。反之，则组织过于细腻，或面包中有大量的天然麸皮。其次，全麦面包应该呈天然的褐色，而且褐色不那么均匀。如果面包颜色太深，已经接近黑色就可能有假。再次，全麦面包较柔韧，口感不会那么蓬松。最后，凭粗糙的口感就能完全辨别。
</p>
<p class="MsoNormal">
	<b>三、人造黄油多便宜！<span></span></b>
</p>
<p class="MsoNormal">
	其实，不光是菠萝包、丹麦牛角包等此类又酥又香的面包需要大量黄油，几乎每种面包都需要用黄油。现在基本上都用的是人造黄油。
不光是那些便宜的小面包房，许多知名的连锁店也如此。
</p>
<p class="MsoNormal">
	纯正的天然黄油一般靠进口，需要<span>1</span>万多一吨，可人造黄油只要<span>6000</span>左右。人造黄油中含有大量的反式脂肪酸。反式脂肪酸会增加人患糖尿病、心脑血管疾病的风险，还更容易使人发胖。
</p>
<p class="MsoNormal">
	天然黄油和人造黄油的香味不一样，前者更柔和。但是，如果在面团中加入少量人造黄油是根本吃不出来的。因此，只能从标签上辨别是否含有反式脂肪酸。标有「酥油、起酥油、植物起酥油、植物脂肪、人造黄油、麦淇淋、植脂末、奶精」等字眼的统统不要买。
</p>
<p class="MsoNormal">
	<span>&nbsp;</span>
</p>
<p class="MsoNormal">
	<b>四、漂亮的水果面包<span></span></b>
</p>
<p class="MsoNormal">
	在面包房里，水果味儿的面包很受欢迎。黄色的香蕉味儿、粉红的草莓味儿、绿色的哈密瓜味儿……应有尽有。
真正用果汁做的水果面包几乎为零。许多水果面包的水果味儿都是用香精、糖和酸味剂调出来的，再用色素打扮一下，就一副水果模样了。
</p>
<p class="MsoNormal">
	有果肉的面包会不会好一些呢？按照国家标准，果肉面包的果肉含量应该占<span>50%</span>—<span>60%</span>，但是很多地方都没有达到。水果加得少，自然香味和味道都不够，因此果肉面包中也会加入香精和色素达到理想的效果。其实人们用常识就能辨别。经过高温烘烤，果汁的颜色哪儿还能这么鲜艳好看？因此，颜色太鲜艳浓郁的面包就不要买了。天然的水果香味清新自然，味道比较淡，如果香味特别浓郁的就肯定加了香精。
</p>
<p class="MsoNormal">
	<b>五、劣质火腿滥竽充数<span></span></b>
</p>
<p class="MsoNormal">
	面包房里，以各式火腿包、肉松包为代表的咸味面包撑起了半壁江山。不同火腿的价格差别非常大。为了降低成本，许多小店都会选择便宜的火腿来做面包。
好的店用纯肉火腿，图便宜的用的火腿就是淀粉加点肉掺上香精和色素。
</p>
<p class="MsoNormal">
	<b>六、糖精、甜味素偷梁换柱<span></span></b>
</p>
<p class="MsoNormal">
	除了面粉和黄油，制作面包时用得最多的原料还有白糖。当然，聪明的店家也会想出办法。很多面包房为了降低成本，都用甜味剂来部分代替白糖。一般来说，甜面包中应该加入<span>20%</span>的糖，很多人却只用<span>10%</span>的糖，其余的用少量甜味剂来代替。白糖是酵母的养料，同时又能增加面包的色泽。糖加得少了，酵母发酵不够，颜色不足，又只能加入面包改良剂和色素来弥补。
</p>
<p class="MsoNormal">
	目前用得最多的甜味剂是糖精和比它更廉价的甜味素。它们的甜度都比白糖高好几倍，价格却便宜许多。有不少研究认为过量的糖精能致癌，但是尚无定论。
不过不能否认的是，长期大量食用这种合成化学物质，对人体健康没有好处。甜味剂的口感和白糖有所差别。苗嘉琦说，甜味剂的甜味在口中停留时间更长，而且后味发苦。
</p>
<p class="MsoNormal">
	<b>七、奶油蛋糕水最深！<span></span></b>
</p>
<p class="MsoNormal">
	面包房里最赚钱的是什么？
</p>
<p class="MsoNormal">
	没错，就是昂贵的奶油蛋糕。可是，制作奶油蛋糕的材料却很廉价。生日蛋糕中最贵的原料就是奶油，但也只有<span>16</span>元<span>1</span>千克。而这<span>1</span>千克就能做出五六个这样的生日蛋糕。
</p>
<p class="MsoNormal">
	不是说<span>10</span>斤奶才能出<span>1</span>斤奶油吗？怎么奶油蛋糕的成本这么低？原来，现在大多数面包房用的早已不是天然牛奶做的奶油，而是植物油氢化而成的植脂奶油。这种植脂奶油最能骗人，很多用这种奶油的面包房，还打着招牌说自己是纯植物，不含胆固醇。其实，这种人造奶油中的反式脂肪酸对人体的危害，比胆固醇更大！
</p>
<p class="MsoNormal">
	<span>&nbsp;</span>
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-03-01 09:59:51&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7610,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7610.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>