<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>意大利披萨大师精修课程（10月23-27日）</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/5b20cf17ae7d3.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            意大利披萨大师精修课程（10月23-27日）                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            <p style="font-size:16px;color:#514C4D;font-family:&quot;text-align:justify;background-color:#FFFFFF;text-indent:2em;">
	<br>
</p>
<p style="text-align:center;text-indent:2em;">
	<strong>意大利披萨大师精修课程</strong> 
</p>
<p style="text-align:center;text-indent:2em;">
	<strong>——以专业铸就品质 向世界耀你不凡——</strong> 
</p>
<p style="text-indent:2em;">
	<br>
</p>
<p style="text-indent:2em;">
	<img src="static/picture/20180801092226_78520.jpg" alt=""> 
</p>
<p style="text-indent:2em;">
	<strong><span style="font-size:16px;"></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><strong><span style="font-size:16px;">“意大利比萨第一人<span>”</span></span></strong></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span>&nbsp;<strong><span style="font-size:15px;">意大利国宴比萨的制作者</span></strong></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><strong><span style="font-size:15px;">世界厨师长协会意大利代表队主席</span></strong></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><strong><span style="font-size:15px;">多项比萨吉尼斯世界纪录创造者</span></strong></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span style="font-size:15px;"><strong><span>Dovilio Nardi</span></strong><strong><span></span></strong></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span>将在今年<span style="color:#F73426;"><strong>十月</strong></span></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span style="color:#000000;font-size:15px;"><strong>在铂澜森蒂国际西点学院</strong></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span style="color:#000000;font-size:15px;"><strong>中国唯一合作学院</strong></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span style="color:#F96E57;font-size:15px;"><strong>发布中国首次实操课程</strong></span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span>大师手把手教学的机会尽在咫尺</span></strong>
</p>
<p style="text-align:center;color:#3E3E3E;font-family:&quot;font-size:14px;">
	<strong><span>你还在等什么</span></strong>
</p>
<div style="text-align:center;">
	<strong><br>
</strong>
</div>
<strong><strong>Dovilio Nardi</strong></strong>
<p>
	<br>
</p>
<p style="text-indent:2em;">
	<strong><span style="font-size:16px;"><img src="static/picture/20180926102312_95995.jpg" alt=""><span style="color:#3E3E3E;font-family:&quot;font-size:14px;"><strong>• 意大利比萨师协会的当家人，NIP独立董事、世界厨师长协会意大利代表队主席， 意大利国宴比萨的制作者，数十年来在意大利以及欧洲各地教授比萨课程</strong></span><strong></strong></span></strong><strong><span style="font-size:16px;"></span></strong>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong><span style="font-size:14px;">• 2015-2017年一级方程式赛车法拉利车队（ Formula One drivers Ferrari team ）比萨提供商</span></strong>
</p>
<p>
	<p>
		<span></span>
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
		<strong><span style="font-size:14px;">• 1993年和1999年，Dovilio Nardi先生分别用比萨面团制作了两个雕塑赠送给了保罗二世教皇，一个是两米长的“最后的晚餐”，另一个是给天主教报纸"The Point"的80周年献礼，这两件艺术品至今仍被收藏在梵蒂冈</span></strong>
	</p>
	<div>
		<br>
	</div>
<strong>*认证证书：培训随堂考核通过将获得Dovilio Nardi亲笔签名、NIP颁发的证书，含金量不容置疑。</strong><br>
	<p>
		<br>
	</p>
	<p style="text-indent:2em;">
		<strong><span style="font-size:16px;"></span></strong>
	</p>
	<div>
		<strong><img src="static/picture/20180926102502_27937.jpg" alt=""><br>
</strong>
	</div>
<strong><br>
</strong>
	<p>
		<img src="static/picture/20180926102537_98913.jpg" alt="">
	</p>
	<p style="text-indent:2em;">
		<strong><span style="font-size:16px;">课&nbsp; 程&nbsp; 介&nbsp; 绍&nbsp;&nbsp;</span></strong> 
	</p>
	<p style="text-indent:2em;">
		<span style="line-height:2;">
		<p style="color:#3E3E3E;font-family:&quot;font-size:14px;">
			2018年，铂澜森蒂国际西点学院综合以往培训经验，基于比萨行业实地考察调研，邀请意大利顶级比萨大师来华亲授，再辅以团队长时间对培训课程系统优化工作，推出全新《意大利比萨大师精修课程》。<br>
努力推动中国比萨商业环境以及比萨文化的发展，帮助中国自主比萨品牌有效提高品牌影响力，获得更好的商业发展空间。
		</p>
		<p style="color:#3E3E3E;font-family:&quot;font-size:14px;">
			<br>
		</p>
		<p style="color:#3E3E3E;font-family:&quot;font-size:14px;">
			精心打造的意大利比萨大师精修课程，培训内容以讲解传统意大利比萨饼底、酱料为主，教授不同风格迥异、品质上乘的全新手工比萨饼底，结合不同的烘烤技术、传统的馅料加工方式和多款意大利特色酱汁，呈现十余款上乘口味的比萨。更有意大利经典甜品提拉米苏<span>Panettone、传统面包FOCACCIA。</span>
		</p>
		<p style="color:#3E3E3E;font-family:&quot;font-size:14px;">
			<br>
		</p>
		<p style="color:#3E3E3E;font-family:&quot;font-size:14px;">
			确保每一位学员在有限的5天时间内，快速掌握产品制作的核心技术，具备独立自主开发新产品的能力，学会规划厨房、物料采购、店面运营等比萨店的规范运作流程，真正获得自己在当地市场上独有的竞争实力。
		</p>
		<div>
			<br>
		</div>
</span>
	</p>
	<p style="text-indent:2em;">
		<span style="line-height:2;"></span><span style="color:#F73426;line-height:2;"></span><span style="line-height:2;"></span> 
	</p>
	<p style="text-indent:2em;">
		<span style="line-height:2;"><img src="static/picture/20180801092334_38720.jpg" alt=""></span>
	</p>
	<p style="text-indent:2em;">
		<img src="static/picture/20180801092339_91764.jpg" alt=""> 
	</p>
	<p style="text-indent:2em;">
		<img src="static/picture/20180801092359_57807.jpg" alt=""> 
	</p>
	<p style="text-indent:2em;">
		<img src="static/picture/20180801092405_28696.jpg" alt=""> 
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-align:justify;">
		<br>
<span style="font-size:14px;"><strong><span style="font-size:16px;">技术优势</span>&nbsp;&nbsp;</strong></span><br>
<br>
常温、冷藏发酵<br>
<br>
成本更低、风味更好、保质期更长<br>
<br>
<span style="line-height:2;">我们既会讲解传统的常温发酵也会讲解 冷藏发酵技术。冷藏发酵技术下的面团具有很多鲜明的特点，组织膨松均匀、口感松软细腻、柔软不易断裂断、保鲜周期延长、风味提升显著（原麦香味、发酵香味、烘烤香味等）、表皮色泽漂亮等。</span><br>
<br>
<br>
<span style="line-height:2;">冷藏发酵下的面团期效较长，避免了人工成本的反复投入，也避免了面团过期的资源浪费，大幅度的缩减了比萨店原料成本的投入和损耗。</span><br>
<br>
<br>
<span style="font-size:16px;"><strong>手工制饼</strong></span><br>
<br>
名师指点 传统手法 现代工艺&nbsp;<br>
<br>
<span style="line-height:2;">苏醒的面团膨松柔软却不失韧性，为了让面团以最完美的姿态舒展，我们遵循手造传统，坚持纯手工的制饼手法，以柔和的制饼节奏、迅速的制饼效率、稳健的制饼力道、精准的制饼手法，去将面团延展至理想的状态。</span><br>
<br>
<br>
<span style="line-height:2;">比萨饼底的手工成型过程是极富艺术美感的，每一个比萨料理师都会用心倾听面团的心声，去竭尽全力地将面团的潜能激发出来，去塑造成形象百变、个性鲜明的比萨饼底。</span><br>
<br>
<br>
<span style="line-height:2;">全新推出的比萨课程中，将会为学员客户带来更多样化的饼底制作技术学习，让大家学习到最具传统的意大利制饼技术，在比萨行业上拥有绝对的市场竞争力和产品主动权。</span><br>
<br>
<br>
	</p>
	<p>
		<img src="static/picture/1bc038cde49b5ba77cb2eff5aef7cdf5.jpg" style="width:auto;height:auto;"> 
	</p>
	<p>
		<br>
	</p>
	<p>
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p>
		<span><span style="font-size:16px;"><strong>名师配方</strong><br>
<br>
<span style="font-size:14px;">名师指导&nbsp; 传统手法现代工艺 流程严禁</span><br>
<br>
<span style="line-height:2;font-size:14px;">要呈现一张美味的比萨饼，除了要有美味的酱汁、丰富的馅料和优质的奶酪，比萨饼底也是不容忽视的基础环节，换句话说，比萨面团配方对于比萨产品美味与否有着非常重要的影响。面团配方是制作比萨的一个必需品，是每一个比萨料理师都必须注重的基础环节。</span><br>
<br>
<span style="line-height:2;font-size:14px;">不论我们是何处网罗到比萨面团的配方（问度娘、做学徒、买配方等），最终都可能做出一张有模有样的比萨来，但要想做出真正为大众喜爱、受市场追捧的比萨味道，还是需要一个专业、精确而科学的面团配方。</span><br>
<br>
<span style="font-size:14px;line-height:2;">优异的比萨面团配方绝对是行业中三缄其口的秘密，也是众多百年比萨名店、世界冠军比萨餐厅引以为傲的制胜武器。只是中国比萨行业起步晚、发展慢，很多比萨从业者并没有掌握到真正受市场喜爱的面团配方。</span><br>
<br>
<span style="font-size:14px;line-height:2;">而铂澜森蒂国际西点学院学院·意大利披萨大师精修课程，首先要教授大家的就是最正宗的意大利披萨面团配方——薄饼面团配方、厚饼面团配方、薄脆面团配方。将行业中大家三缄其口的秘密教授给更多的比萨新力量。唯有真正学会如何调配出优质的比萨面团，才能迈入比萨料理师职业大门的门槛。这也是报名参加该课程学习的核心技术之一。</span><br>
<br>
<span style="font-size:14px;line-height:2;">优质的面团配方并非一层不变的，需要大家去充分认识各个原料的成分、性状和作用，需要我们将标准化的和面流程了然于胸，需要大家学会在不同的原料、温度、湿度等条件下，去调整各个原料的比重，去挖掘、重组优质面团的基因，去成长为一个合格、独立、优秀的职业比萨料理师。</span><br>
<br>
<strong>现做现烤</strong><br>
<br>
<span style="font-size:14px;">亲身体会 享受美味&nbsp; 安全健康</span><br>
<br>
<span style="font-size:14px;line-height:2;">经铂澜森蒂国际西点学院学院的比萨技术培训后，每一位学员都将独立掌握比萨店产品出餐的一整套标准流程及操作规范。尽可能在最短的时间内让顾客品尝到现做现烤的比萨。</span><br>
<br>
<span style="line-height:2;font-size:14px;">取用发酵成熟的优质面团，以手工制饼技艺完美呈现一张厚薄均匀的比萨饼底，以密集匀称的筛网烤盘承托，无需额外刷油，抹上美味的酱汁、丰富的馅料、优质的奶酪后，即可送入专业比萨烤炉中烘烤，数分钟之后，即可烘焙完成。分切、装饰后即可为顾客呈现一道热气腾腾、香醇浓郁的现烤比萨。整个制作出餐流程一气呵成，可以让食客一目了然。</span><br>
<br>
<span style="font-size:14px;line-height:2;">优质面团、手工现做、新鲜食材、无油烘烤，香喷喷的比萨没有丝毫的油腻感，自然清香、健康安全，独特的香味与纯正的口味是机械加工、预制饼底、冷冻饼底等所无法比拟的。</span><br>
<br>
<span style="font-size:14px;">让消费者印象深刻、口口相传、慕名而来，比任何广告效果都来得快。</span><br>
<br>
<strong>名师酱汁</strong><br>
<br>
<span style="font-size:14px;">新鲜现制 品类繁多&nbsp; 运用灵活</span><br>
<br>
<span style="font-size:14px;line-height:2;">在食品安全问题备受瞩目的现今社会，确保每一位消费者都能放心品尝美味的比萨，我们必须确保用更优质新鲜的馅料、酱汁去打造更健康安全的比萨。</span><br>
<br>
<span style="font-size:14px;line-height:2;">比萨应该算得上是世界上包容性、开放性最强的食物，比萨饼上种类丰富的馅料是它发展至今不断尝试后的结果，而且比萨每到一处，都会很快与当地的饮食习惯和民众口味相融合，比萨行业的众多先驱们在历经无数个头脑风暴后挖掘出了披萨馅料和酱汁的越来越多创新可能性……</span><br>
<br>
<span style="font-size:14px;line-height:2;">比萨酱是决定比萨风味的关键因素，即便基本款的红酱，由于原料选择、加工方法、配料应用、烹饪技巧、火候掌控等因素的影响，都会导致它的品质千差万别。唯有取材自酸甜度适中、自然成熟的新鲜阳光番茄，才能成为美味比萨酱的原料。</span><br>
<br>
在铂澜森蒂国际西点学院学院的培训课堂上，制作的披萨酱均是意大利最具传统的酱料。<br>
<br>
<span style="font-size:14px;line-height:2;">新鲜现制的酱汁不仅仅能提升比萨的整体风味，在意面、饭类、沙拉、小吃等其他产品上的应用也非常灵活而巧妙，创意的搭配没有造成味蕾的冲突，反而相得益彰，更添与众不同的滋味。</span><br>
<strong>美味的衍生</strong></span></span>
	</p>
	<p>
		<strong><span style="font-size:14px;">食材的随性 滋味百变</span></strong><span style="font-size:14px;"></span>
	</p>
	<p>
		<span style="color:#3E3E3E;font-family:&quot;font-size:14px;">这次课程大家不仅可以学习到各种比萨的制作还能跟随Dovilio Nardi大师学习到意大利经典甜品提拉米苏Panettone、传统面包FOCACCIA等</span><span style="font-size:14px;"></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><span style="font-size:14px;"><img src="static/picture/20180926102839_82804.jpg" alt=""></span><br>
<strong><br>
</strong></span></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><strong><span style="font-family:&quot;font-size:14px;color:#F96E57;"><strong><span>提拉米苏(Tiramisu)</span></strong><span>，</span></span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;">是一种带咖啡酒味儿的意大利甜点。提拉米苏这款甜品大家都耳熟能详，但是有多少人知道这款甜品是源自意大利，后传入法国。</span><br>
</strong></span></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><strong><img src="static/picture/20180926102925_59229.jpg" alt=""><br>
</strong></span></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><strong><span style="font-family:&quot;font-size:14px;color:#F96E57;"><strong>Focaccia</strong></span><span style="font-family:&quot;font-size:14px;color:#F96E57;"><strong>，</strong></span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;">源自意大利北方，是意大利的传统家常面包，未使用完的披萨面团的就可以在制作佛卡恰时发挥功用。而且佛卡恰的制作不拘泥于造型和食材，取材搭配非常随性，可以加入橄榄、油浸小番茄干、百里香等。</span><br>
</strong></span></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><br>
<img src="static/picture/20180926102945_18941.jpg" alt=""><br>
<br>
<span style="font-family:&quot;font-size:14px;color:#F96E57;"><strong>Panettone,</strong></span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;">500多年来，意大利人在过每一年的圣诞节时一直要做一件事--吃名叫"潘纳多尼PANETTONE"的圣诞蛋糕。潘纳多尼蛋糕产于米兰，是这个城市的标志性食品。外形朴实无华，但里面塞满了葡萄干和蜜饯等干果，松软可口，香气四溢。作为意大利人过圣诞节的必备品，潘纳多尼蛋糕的权威不容置疑，而且一家人分吃一个蛋糕，加强沟通，增进感情、</span><br>
<span style="font-size:14px;"><br>
</span></span></span>
	</p>
	<p>
		<span style="font-size:18px;"><strong>技术特色</strong></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><span style="font-size:14px;">不设门槛，定点教学</span><br>
<br>
<span style="font-size:14px;line-height:2;">无年龄限制，无技术门槛，所有爱好披萨的学员均可参加课程报名。铂澜森蒂国际西点学院学院采用线下集中授课模式，培训地点仅限北京。</span><br>
<br>
<strong>小班授课，单独辅导</strong><br>
<br>
<span style="font-size:14px;line-height:2;">本课程更专注于披萨制作核心技术的教授，每期培训班报名人数为12人，由资深披萨技术老师带课，确保教学质量，保证每一位学员享受到老师手把手的教学、一对一的辅导，更快上手、更早出师。</span><br>
<br>
<strong>自主实践，主动探索</strong><br>
<br>
<span style="font-size:14px;line-height:2;">本课程更重视学员的自主实践，省略了饮品、、浓汤等产品的技术展示，让实践操作的时间更充盈，充分调动每个人的主观能动性，更重视挖掘学员们主动探索学习的积极性。铂澜森蒂国际西点学院学院坚持"以实践为主，以理论为辅"的教学方针，以通俗易懂的方式让大家真正具备触类旁通的能力，做到融会贯通！</span></span></span>
	</p>
	<p>
		<br>
	</p>
	<p>
		<br>
	</p>
	<p>
		<span><span style="font-size:16px;"><span style="font-size:14px;line-height:2;"><br>
</span></span></span> 
	</p>
	<p>
		<span><span style="font-size:16px;"><span style="font-size:14px;line-height:2;"><br>
</span></span></span>
	</p>
	<p>
		<span><span style="font-size:16px;"><strong>课&nbsp; 程&nbsp; 安&nbsp; 排&nbsp;&nbsp;</strong></span></span> 
	</p>
<span> <br>
<strong>第一部分&nbsp;</strong><br>
</span><span><br>
<strong></strong>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		&nbsp;烘焙理论技术<br>
&nbsp;&nbsp;&nbsp;&nbsp;• 解读谷物、鲜花的世界<br>
&nbsp; &nbsp; • 加深对于烘焙所用面粉的理解<br>
&nbsp; &nbsp; •&nbsp;详解生面团
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		&nbsp;&nbsp;&nbsp;&nbsp;• 如何使用生面团
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		&nbsp; &nbsp; • 制作不同的面团<br>
&nbsp; &nbsp;&nbsp;
	</p>
<br>
<br>
<strong>第二部分</strong><br>
<br>
• 披萨师的工作设备篇 基础饼底的重复练习，饼底成型标准培训，和面与面团制作练习<br>
<br>
<span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">&nbsp;•&nbsp;设备讲解篇</span><br>
<span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">&nbsp;&nbsp;&nbsp;&nbsp;• 比萨师的工作设备篇</span><br>
<span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">&nbsp; &nbsp; •搅拌机及烤箱</span></span>

<p>
	<span><strong><span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">练习不同比萨饼底制作</span><br>
</strong></span>
</p>
<p>
	<span><strong><br>
</strong></span>
</p>
<p>
	<span> <strong>第三部分</strong><br>
<br>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		准备工作及烘焙实操:<br>
&nbsp;&nbsp;&nbsp;&nbsp;• 比萨预制
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		比萨馅料认知，制备与加工，做比萨的酱汁学习&nbsp;
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		&nbsp;&nbsp;&nbsp;• 比萨出品
	</p>
	<p style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">
		学习比萨的制作方式，出品标准，
	</p>
	<div>
		<br>
	</div>
<br>
<strong>第四部分</strong><br>
<br>
<span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">讲解并制作巧克力及葡萄干Panettone蛋糕</span></span>
</p>
<p>
	<span><span><span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">讲解并制作意式提拉米苏</span><br>
</span> <br>
<strong>第五部分</strong><br>
<span style="color:#3E3E3E;font-family:&quot;font-size:12.25px;">结课考核</span><br>
<br>
</span> 
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p>
		<br>
	</p>
	<p style="text-indent:2em;">
		<strong>&nbsp;&nbsp; 报&nbsp; 名&nbsp; 细&nbsp; 节&nbsp;&nbsp;</strong> 
	</p>
	<p style="text-indent:2em;">
		1、<strong>培训时间</strong>：10月23—27日
	</p>
	<p style="text-indent:2em;">
		2、<strong>培训地点</strong>：
	</p>
	<p style="text-indent:2em;">
		▲北京（国贸校区）：朝阳区建外SOHO东区8号楼商铺3层8308室。
	</p>
	<p style="text-indent:2em;">
		3、<strong>课程费用</strong>：<strong><span style="color:#F73426;">9800元/人/期</span></strong> 
	</p>
	<p style="text-indent:2em;">
		<strong><span style="color:#F73426;"><span style="color:#333333;font-family:Arial, Helvetica, &quot;font-size:14px;background-color:#F8F8F8;">老学员及早鸟价（</span><span style="line-height:inherit;font-family:&quot;font-size:14px;vertical-align:baseline;background-color:#F8F8F8;color:#3E3E3E;">10月7日前报名）：</span><span style="line-height:inherit;font-family:&quot;font-size:14px;vertical-align:baseline;background-color:#F8F8F8;color:#F73426;"><span style="font-style:inherit;font-weight:700;line-height:inherit;font-family:inherit;vertical-align:baseline;">7800元/人/期</span></span><span style="line-height:inherit;font-family:&quot;font-size:14px;vertical-align:baseline;background-color:#F8F8F8;"><span style="font-style:inherit;font-weight:inherit;line-height:inherit;vertical-align:baseline;">（学费不含税）</span></span><br>
</span></strong> 
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
	<p style="text-indent:2em;">
		<br>
	</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="dy_dd1 hidden"><a href="javascript:;">1、 第三部分 准备工作及烘焙实操Preparation and cooking:</a></li><li class="dy_dd1 hidden"><a href="javascript:;">2、第一部分  烘焙理论技术Teaching of the basics of baking:</a></li><li class="dy_dd1 hidden"><a href="javascript:;">3、第二部分 设备讲解篇The Equipment:</a></li><li class="dy_dd1 hidden"><a href="javascript:;">4、第五部分 交流分享</a></li><li class="dy_dd1 hidden"><a href="javascript:;">5、第四部分 装饰篇Garnishing:</a></li><!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：2018年10月23日起
                                                            </p>
                            <p class="pt10 pb10">培训费用：9800.00元/人（（官网上所有课程注明报价均默认不含税，需要发票请沟通咨询，定金不退。））</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 1</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、零基础学员、求职准备、烘焙爱好者、烘焙从业者、咖啡&amp;烘焙店主</p>
                            <p class="pt10 pb10">学分: 60分</p>
                            <p class="pt10 pb10">培训时长: 共计5次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/311.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2018-09-26 18:34:14</span>
                                <span>发布作者：刘嫱</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id3.html">面包&amp;西点基础技能课程(2月17日-21日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id41.html">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>