<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>时尚手工巧克力实战课堂（8-25、26国贸周末班））</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/5b68065b3381d.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            时尚手工巧克力实战课堂（8-25、26国贸周末班））                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            <p>
	<img src="static/picture/20180806082950_46539.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<p>
	<strong><span style="font-size:18px;">课程背景</span></strong> 
</p>
<p>
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<span style="font-size:14px;">2018年8月25日，铂澜森蒂国际西点学院全新课程《时尚手工巧克力实战课堂》闪亮推出，聘请专业的老师为您讲授当下最流行的时尚巧克力制作，</span><span><span style="font-size:14px;">课程共计两天，全程实际操作，</span><span style="color:#F96E57;font-size:14px;"><strong>香格里拉酒店巧克力大师亲自授课</strong></span><span style="font-size:14px;">，以零基础学员听懂学会为目标，选取多款经典巧克力必学品种，追求质量，稳扎稳打。每天讲解演示+实操指导，让您掌握到多款巧克力的制作工艺流程。</span></span> 
</p>
<div>
	<br>
</div>
<img src="static/picture/20180806082938_17933.jpg" alt=""> 
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<strong><span style="font-size:18px;">课程内容</span></strong> 
</p>
<p>
	第一天：（9:00——20:00午间休息一小时）
</p>
<p>
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<strong>讲解</strong>&nbsp;： 巧克力的发展史以及原材料的认识&nbsp; &nbsp; &nbsp;&nbsp;
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;巧克力的正确调温方法</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cho Bar 的制作方法
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;巧克力装饰件及转印纸技法
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;巧克力坚果定型
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;塑形 手工巧克力 弹簧卷 水滴 勺抹 铲花 巧克力装饰
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<strong>出品</strong>： 京都宇治抹茶生巧
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 黑樱桃白兰地松露
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	第二天：<span>（9:00——20:00午间休息一小时</span><span>）</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span></span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<strong>讲解&nbsp;</strong>： 巧克力羽毛的制作技巧
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;星空巧克力上色技法
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;总结两天知识内容，老师答疑解惑<span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<span><br>
</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<strong>&nbsp;出品</strong><span>： 手工模型巧克力糖果</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;法芙娜焦糖海盐巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;芒果香草巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;土耳其榛果巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;覆盆子巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;酒心巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;星空巧克力
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083313_78446.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083314_86762.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083315_17763.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083316_37303.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083318_16781.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083320_36405.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083321_40645.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083325_55004.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<img src="static/picture/20180806083634_63219.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;">
	<br>
</p>
<div>
	<br>
</div>
<strong><span style="font-size:18px;">培训对象</span></strong><br>
<p>
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;">本课程主要适用于零基础或有些许烘焙或西餐基础的在校学生、职场白领、甜品爱好者、西餐厅就业者/创业者等。往期学员职业技能得到质的提升，基础操作更娴熟、技术应用更丰富，更能强化自身的产品创新能力，让职业生涯更专业更规范。</span><br>
</span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;"><br>
</span></span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;">技术特色</span></span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;"></span></span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong>不设门槛，定点教学</strong> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	无年龄限制，无技术门槛，所有爱好巧克力的学员均可参加课程报名。铂澜森蒂国际西点学院学院采用线下集中授课模式，培训地点仅限北京。
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong>小班授课，单独辅导</strong> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	本课程更专注于巧克力制作核心技术的教授，每期培训班报名人数为12人，由资深巧克力老师带课，确保教学质量，保证每一位学员享受到老师手把手的教学、一对一的辅导，更快上手、更早出师。
</p>
<div>
	<br>
</div>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong>自主实践，主动探索</strong> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	本课程更重视学员的自主实践，充分调动每个人的主观能动性，更重视挖掘学员们主动探索学习的积极性。铂澜森蒂国际西点学院学院坚持"以实践为主，以理论为辅"的教学方针，以通俗易懂的方式让大家真正具备触类旁通的能力，做到融会贯通！
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<br>
</p>
<strong><span style="font-size:18px;">师资力量</span></strong><br>
<p>
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	<span><span style="color:#3E3E3E;font-family:&quot;font-size:14px;"><img src="static/picture/20180806084053_86077.jpg" alt=""><br>
</span></span> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:13px;text-align:justify;">
	&nbsp;
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong><span style="font-size:16px;">刘海丽</span></strong> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 任职于北京香格里拉集团酒店，从事巧克力制作十余年。一线实操出品及丰富的教学授课经历。
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	刘老师作品赏析
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<img src="static/picture/20180806084144_47135.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<img src="static/picture/20180806084144_51498.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<img src="static/picture/20180806084234_78835.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<img src="static/picture/20180806084145_73083.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<img src="static/picture/20180806084145_59582.jpg" alt=""> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<strong><span style="font-size:18px;">报名细节</span></strong> 
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	<br>
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	1、<strong>培训时间</strong>：08月25、26日（周末班）
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	2、<strong>培训地点</strong>：
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	▲北京（国贸校区）：朝阳区建外SOHO东区8号楼商铺3层8308室。
</p>
<p style="color:#3E3E3E;font-family:&quot;font-size:14px;text-align:justify;">
	3、<strong>课程费用</strong>：1980元/人/期
</p>
<div>
	<br>
</div>
<p>
	<br>
</p>
<p>
	<br>
</p>
<div>
	<br>
</div>
<p>
	<br>
</p>                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：2018年08月25日起
                                                            </p>
                            <p class="pt10 pb10">培训费用：1980.00元/人（（官网上所有课程注明报价均默认不含税，需要发票请沟通咨询，定金不退。））</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 2</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、烘焙爱好者、零基础学员</p>
                            <p class="pt10 pb10">学分: 分</p>
                            <p class="pt10 pb10">培训时长: 共计2次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/331.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2018-08-15 12:02:45</span>
                                <span>发布作者：刘嫱</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id3.html">面包&amp;西点基础技能课程(2月17日-21日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id41.html">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>