<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>普洱咖啡游记—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="普洱咖啡游记铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	普洱咖啡游记</h1>
<a href="javascript:shoucang(7754);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	<img src="static/picture/20181214040419_91725.jpg" alt=""><br>
</h3>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	咖啡树到底长什么样呢？咖啡豆又是经过什么样的过程形成的呢？为了让我们了解咖啡背后的有关信息，铂澜咖啡学院特地组织了这场咖啡豆原产地普洱之行。
</h3>
<p>
	<img src="static/picture/20181214040803_53377.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	12月6号，在艾哲咖啡老师的带领下，我们开始上山进入大象咖啡庄园，由于山路狭窄崎岖，我们兵分两路，一路坐上皮卡车，一路徒步上山，好在普洱天气不错，虽然有点冷，可是我们心里都暖暖的！
</h3>
<img src="static/picture/20181214041006_54242.jpg" alt=""> 
<p>
	<br>
</p>
<p>
	<img src="static/picture/20181214041029_30326.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	开始采摘了，向上向远望去，满山绿油油的咖啡树，一串串的咖啡鲜果真的像极了樱桃，若隐若现，可爱又俏皮的向我们招手，刚才还在嬉笑的我们立刻认真的采起果子来，刚采摘的鲜果是可以吃的，我忍不住试了一颗，口感香甜，能强烈的感觉到有咖啡因成分。
</h3>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	一颗咖啡树至少要有三年的时间才能开花结果，开出的花朵是白色的，小小的，还会散发出淡淡的茉莉花香，只可惜花开几天后就凋谢了，我们这次没能看到，但是我们都学会了亲手采摘果实，由于经验不足，我们远远没有咖农采摘的快，我亲眼看到了咖农双手一落，一颗颗的鲜果飞快的往下掉，不一会儿咖农的筐里装满了晶莹剔透的咖啡樱桃，我试着抱起了竹筐，可是太沉了，咖农们却要一整天把筐挂在腰间，为了保证品质，咖农还会在当天就把采摘的鲜果进行初步加工，真的好辛苦！看着她们纯朴的笑脸，黝黑的皮肤，加上满山的咖啡树，还有干爽的气候，肥沃的土壤，让我觉得，每一颗咖啡果好珍贵啊！
</h3>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	要下山了，我们带着胜利的果实一路欢笑着，虽然山路不平，有大象踩过留下的痕迹，还有时不时冒出来的蜘蛛网，特别是我们坐上皮卡车被小狗一路狂追那一幕，那山，那花，那狗，那车，好特别的体验！
</h3>
<p>
	<img src="static/picture/20181214041113_22583.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	第二天，老师带着我们来到了水洗咖啡豆的场地，阳光下，展现在我们面前的是一个个大小不一的水池和庞大的机器，看上去真的很复杂，一道又一道的工序等着咖农们去做呢，最上面的是一个大水池，首先要把采摘后的鲜果初步浮选一下，初步合格的鲜果紧接着运到了脱皮机上，开始了脱皮脱果肉，旁边有块长长的管道会把果皮果肉运输到别的地方，用来做肥料，而带着果胶黏液的咖啡豆落到了一个发酵池中，浸泡一天以后，果胶黏液会自动脱落到水池中，老师还着重强调这一步会影响到咖啡豆的口感，所以有两个发酵池，其中一个发酵池的咖啡豆会处理成次级豆，而另一个发酵池的咖啡豆又落到了一个大水池中进行最后的清洗，清洗完的咖啡豆就可以运到日晒场或者网架上开始晾晒了。 光这些水洗过程就很复杂，可是，如果要出售还需要好几个环节，这让我再一次感受到了咖啡豆的不易&nbsp;！
</h3>
<p>
	<img src="static/picture/20181214041149_98051.jpg" alt=""><img src="static/picture/20181214041158_78116.jpg" alt=""> 
</p>
<span style="background-color:#FFFFFF;color:#333333;font-family:PingFangSC-light;font-size:17px;">咖啡豆在晾晒的过程中，是需要时不时的翻动，这样才能让每一粒咖啡豆得到阳光的照射，当我们拿起这耙子弯腰翻晒咖啡豆的时候，耙子很沉，这么大片的场地得需要多大的力气啊！</span> 
<p>
	<br>
</p>
<p>
	<br>
</p>
<p style="text-align:justify;">
	<span><span style="font-size:17px;"><img src="static/picture/20181214041227_66867.jpg" alt=""><br>
</span></span> 
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	紧接着，我们参观了塞纳咖啡豆加工厂，带壳豆就是在这样巨大的机器中一步一步进行操作的，去壳，去银皮和杂物，分级，最后才可以用麻袋包装储存起来。听着李总详细的讲解，看到这一堆堆装满生豆的麻袋，我不由感叹到：云南普洱实属一个咖啡豆产量很高的地方啊！
</h3>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	塞纳咖啡的李总很谦虚好学，希望李总的大梦想很快就能实现！
</h3>
<p>
	<img src="static/picture/20181214041312_71987.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<p>
	<img src="static/picture/20181214041321_61013.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20181214041327_42819.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	来到咖啡原产地，怎能不杯测呢！艾哲高雁老师跟我们一起进行了一次盲测，有两款豆子很受我们的喜爱呢！
</h3>
<p>
	<img src="static/picture/20181214041419_80545.jpg" alt=""> 
</p>
<h3 style="font-weight:400;font-size:17px;color:#333333;font-family:PingFangSC-light;text-align:justify;background-color:#FFFFFF;">
	在普洱这几天，天空很蓝，白云朵朵，我们拍了很多合影，去看了咖啡庄园，参观了塞纳工厂和澜沧古茶中心，在艾哲咖啡上了课，还逛了当地几家很不错的咖啡馆，甚至还逛了当地的菜市场呢！
</h3>
<p>
	<span style="color:#333333;font-family:-webkit-standard;font-size:16px;background-color:#FFFFFF;">感谢铂澜咖啡学院和艾哲咖啡共同组办的这次活动，让我们对咖啡有了进一步的了解，更希望我们中国咖啡的未来越来越强大！</span> 
</p>
<p>
	<span style="color:#333333;font-family:-webkit-standard;font-size:16px;background-color:#FFFFFF;"><br>
</span>
</p>
<p>
	<span><span style="font-size:16px;background-color:#FFFFFF;">（文章来自铂澜学员 彭叶）</span></span>
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-12-14 12:19:03&nbsp;&nbsp;Becky发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7754,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7754.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>