<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>在咖啡馆里喝酒—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="在咖啡馆里喝酒铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	在咖啡馆里喝酒</h1>
<a href="javascript:shoucang(391);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;">在咖啡馆里喝酒</p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;">那种自由的咖啡馆精神已经难觅踪影了，所有人都忙忙碌碌的没有半刻停留，那种相逢何必曾相识，一群陌生人把酒言欢的场景已不容易再现了。不过，庆幸的是我 们还可以选择放弃快餐，还可以选择杯中物，举起酒杯碰一下对面的咖啡杯，倒也不失为一件乐事。如果对面咖啡杯的主人热衷此道，我们倒可以小温一下昔日的咖 啡馆。<!--more-->

这题目乍听起来就如同在服装店里买鞋子、在体育场听歌剧一样不伦不类，不过细想一下，卖鞋子的服装店似乎并不少见，而体育场里听歌剧在今天也极为正常了。日前，星巴克咖啡公司开始在西雅图的三家分店销售葡萄酒与啤酒。据说这是因为它在全球的上千家分店倒闭，不得已为之，并有逐步在其他分店推广的打算。

在咖啡馆里卖酒星巴克不是首创，我们身边很多的咖啡馆都有各种酒水出售，不过如星巴克这般大牌并一直坚持不卖酒的，恐怕很难见到第二家。可是为什么呢？就因为咖啡馆这个名字吗？这可能又要涉及另外一个问题，去咖啡馆的人都是为了喝咖啡吗？

咖啡馆中的腔调

咖啡馆刚刚出现的时候，贵族气十足，不过只过了很短的时间，咖啡馆就成为大量中产阶级和平民的休闲娱乐和聚会场所。至于酒，不光有葡萄酒、啤酒，还有大量的洋酒，各色鸡尾酒。甚至很长一段时间里，酒倒成了咖啡馆最主要的东西。其实很简单，多数人都只是把咖啡馆当成了一个沙龙，一个可以高谈阔论，可以浅吟低唱，可以放纵行止，不拘本色的地方。这也是很长一段时间咖啡馆最主要的文化。

英国、法国、荷兰……这些咖啡馆盛行的国度，每一个地方，人们都可以咂摸出很多味道，这种味道绝不仅仅是咖啡的味道。

英国是咖啡馆最早出现的地方，在17世纪中叶，当时风靡一时。在这之前，啤酒馆曾是当地很多人休闲放松的主流。可是咖啡馆很快以价格优势取代了啤酒馆，因为在啤酒馆中，客人要不停地买酒，如果没有酒坐在那里，或者很慢地喝一瓶啤酒，就会惹得老板极不高兴，会影响他赚钱。可是咖啡馆却不同，随便花几个硬币买点什么，就可以在里面呆上一个下午、一个晚上，对于一些穷困潦倒的的诗人、艺术家来说，如果他们可以讲出一些让其他顾客感兴趣的内容，甚至还有免费的咖啡或酒送。于是大量的落魄文人、艺术家、平民、商人、过客，充斥了一个个咖啡馆。这在今天看来是相当吸引人的一个特色，可是在当时，却极为普遍。

法国在19世纪有一个极为著名的殉道者咖啡馆，不知道它为何取了这样一个名字，上这家咖啡馆去的许多客人都觉得它的名称可以取得更加含蓄一点。这家烟雾缭绕、声音嘈杂的咖啡馆，是米尔热、波德莱尔或库尔贝等一些传统意义上另类、桀骜的作家、诗人、画家会聚的场所，其中有位客人阿尔弗雷德·德尔沃在1857年写道：如果除了殉道者咖啡馆，整个巴黎都被焚毁，那么，只需使用咖啡馆中那些幸存者的聪明才智，就可以建成一座令人心驰神往的新城！不管这种提法是否夸大，我们可以想见当时那些其貌不扬端着酒杯高谈阔论的人，囊括了多少令后世敬仰的大家。荒谬如波德莱尔者，经常在咖啡馆中似醉非醉地说着一些不着边际的话：“夜色逐渐变浓，凝成一道厚墙，黯里我的眼光寻索着你的双眸，渴饮你的气息，啊，甘露，啊，毒汁！”可就是这些只言片语汇聚成了他的不朽之作《恶之花》。

荷兰的咖啡馆是一个开心的所在，咖啡馆的一般印象在荷兰被彻底颠覆。阿姆斯特丹随处可见形形色色、大大小小的老式咖啡馆。轻快的音乐，潮流的设计，进得屋内，打牌的、喝咖啡的、喝酒的、抽大麻的，热闹非凡。在这里，你可以大胆去倾听其他顾客的交谈而不会被视为不礼貌。据说，当地年轻人最喜欢聚在这类咖啡馆喝啤酒，似乎这也是一种荣耀。

实际上，现在很多风格的酒吧就是来源于当年的咖啡馆，不过相比那些传统的咖啡馆，这些绅士们光顾的高档酒吧和年轻人喜爱的热闹的音乐吧总是少了一点味道，这种味道不是左岸的文人风气，也不是咖啡的香气。当人们为了玩而玩，为了醉而喝的时候，传统咖啡馆的那种包容和轻松已经不复存在了。

自由的举杯

快餐是时下的一个名词，麦当劳、肯德基、必胜客，美国把它的快餐文化推广到了全世界。不过如果咖啡馆内只有咖啡，而且咖啡也变成了快餐，那么咖啡馆存在的意义又在何处呢？如果用一种事物代表一个国家的话，快餐无疑可以代表美国，那紧张忙碌的节奏，让人喘不动气。而代表英国、法国的，应该是优雅的葡萄酒，是浪漫的咖啡馆。

有一个叫特莱维扬 （G.M.Terevelyan）的社会历史学家说过：“在咖啡馆生活中，英国人独领风骚，他们宣讲的是全球自由。”不过，在笔者看来，传统咖啡馆那种舒缓的节奏，肆意的快乐，任情地挥洒时间却是最令人羡慕的事情，而这也是当今人们最难求的奢望。

有人说，咖啡馆的出现最大的贡献就是，它可以作为一种大众休闲娱乐场所，是一个各阶层混杂之地。咖啡馆无意中营造了城市的平等氛围。什么样的人都可以来，身份高的不以为耻，身份低微不因此自卑，甚至不同身份的人可以在这里平等地交流。

中国的战国时期，有那种很大的连锁酒肆，在七大诸侯国都有，是布衣士子、商人、各国斥侯（类似于今天的侦察兵）的聚集之地，大家在酒肆喝酒聊天，大谈时事，一时间成为战国时期极为重要的消息集散地。这倒是和那种传统的咖啡馆极为类似，一个场地或者说平台，管他穿布衣还是貂裘，喝赵酒还是秦酒，吃苦菜还是鹿肉，大家尽可畅所欲言，不必理会对面是苏秦张仪还是无名小卒。

这也正是我们提到的咖啡馆文化最为珍贵的地方。人类发展到今天，商业的思维方式进入各个领域，大家讲收支，讲定位，却往往忽略了最重要的文化。在商言商本无可厚非，可是若是把文化考虑进去，是不是会走得更长远些呢？也许在这之前的星巴克全球1000家分店倒闭就很值得深思。

相信很多人和笔者一样，去咖啡馆绝对不仅仅是为了喝杯咖啡，或者压根就不是为了喝咖啡，舒缓的坐上一个下午，随便喝点什么成了许多人对自己奢侈的犒劳。这个时候，喝什么已经不重要了。

那种自由的咖啡馆精神已经难觅踪影了，所有人都忙忙碌碌的没有半刻停留，那种相逢何必曾相识，一群陌生人把酒言欢的场景已不容易再现了。不过，庆幸的是我们还可以选择放弃快餐，还可以选择杯中物，举起酒杯碰一下对面的咖啡杯，倒也不失为一件乐事。如果对面咖啡杯的主人热衷此道，我们倒可以小温一下昔日的咖啡馆。

<strong>本文转自：经济观察网，作者：杜伟</strong></p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2012-11-23 17:35:27&nbsp;&nbsp;铂澜发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,391,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/391.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>