<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>铂澜参展CafeShow与举办咖啡大赛归来纪实—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="铂澜参展CafeShow与举办咖啡大赛归来纪实铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	铂澜参展CafeShow与举办咖啡大赛归来纪实</h1>
<a href="javascript:shoucang(7781);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p>
	时间的脚步走到2019年金秋，刚刚过去的周末，铂澜受邀参展2019中国国际咖啡展，并在CafeShow现场承办了2019云南咖啡杯中国冲煮大赛北京赛区，现场氛围热烈，人气鼎沸，一幅绚丽缤纷的场景。
</p>
<p>
	一曲《咖啡馆1930》打开了铂澜2019金秋咖啡大秀的序幕。
</p>
<p>
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014752_80733.jpg" alt="">
</p>
<p>
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014229_22130.jpg" alt=""><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014232_56829.jpg" alt="">
</p>
<br>
<span style="line-height:2;">大咖云集的北京地区咖啡技战术水平一向在全国处于最领先地位，但是这同样也是这几年我国精品咖啡整体水平飞速提升的一个真实写照，而过去这几年咖啡竞技赛事蓬勃发展是当仁不让的功臣之一。在全球QGrader、SCA持证者大约一半都在中国的当下，中国咖啡业没必要妄自菲薄，我们绝对不缺少专家人才，我们缺的就是一亿喝咖啡的普通消费者。</span><br>
<p>
	<img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014303_30593.jpg" alt=""><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014312_82321.jpg" alt="">
</p>
<p>
	<br>
</p>
<p>
	<span style="line-height:2;">展会现场，铂澜向所有咖啡爱好者，专业咖啡人，投资机构等展示了咖啡+的一面，铂澜既是具备国际知名度和美誉度的中国第一家专注于咖啡行业赋能的文创教育机构，同时还把咖啡融入生活，为咖啡伴侣找一份归属，让咖啡魅力无处不在。中国正在步入全民咖啡消费时代，在云南杯冲煮赛赛场，不甘落后的咖啡师们刻苦学习，充实自己，将自己打造成有流量价值的咖啡专家，并积极在产业链全程寻找新的机会。</span>
</p>
<p>
	<span style="line-height:2;"><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014656_80102.jpg" alt=""><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014657_75315.jpg" alt=""><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014658_57627.jpg" alt=""><img src="http://www.bcoffee.cn/Public/static/kindeditor-4.1.10/attached/image/20190905/20190905014658_15454.jpg" alt=""><br>
</span>
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2019-09-05 09:48:45&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7781,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7781.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>