<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>铂澜咖啡学院BloomCoffeeCollege—学咖啡，到铂澜！</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
<meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,烘焙培训,咖啡学习,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    <meta name="description" content="学咖啡，到铂澜 ！总部位于北京的铂澜咖啡学院是中国知名的咖啡培训学校、中国国字头咖啡学会发起者及副会长单位，精品咖啡培训教育机构、不仅提供咖啡爱好者课程、更针对咖啡从业者、SCA及QGrader培训认证，北京总部与广州分院同步开课。">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href=""><span class="pl20 pr20 pt10 pb10  click ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="lunbo_div width1200">
            <div class="lunbo_div_inner">
                <ul class="lunbo_div_inner_ul clearfloat">
                    <a href="index-indexcourseindex.html.html"><li class="after">培训课程</li></a>
                    <a href="index-indexcoursecourse_fenlei.h.html"><li class="after">课程分类</li></a>
                    <a href="bloomcoffee.html"><li class="after">关于铂澜</li></a>
                    <a href="javascript:;"><li class="after">广州分校</li></a>
                    <a href="workshop.html"><li>Workshop</li></a>
                </ul>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="javascript:;" target="_blank" style="width: 100%;height: 100%;"><img src="static/picture/5e12e5960b6e5.jpg"></a></div><div class="swiper-slide"><a href="javascript:;" target="_blank" style="width: 100%;height: 100%;"><img src="static/picture/5de5f3c5a4591.jpg"></a></div><div class="swiper-slide"><a href="javascript:;" target="_blank" style="width: 100%;height: 100%;"><img src="static/picture/5e1d6d8f15bf7.jpg"></a></div><div class="swiper-slide"><a href="javascript:;" target="_blank" style="width: 100%;height: 100%;"><img src="static/picture/5de8859dc1f8f.jpg"></a></div>                    
                   <!--  <div class="swiper-slide">
                        <img src="__MOBILE__/__MOBILE__/img/01.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="__MOBILE__/__MOBILE__/img/01.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="__MOBILE__/__MOBILE__/img/01.jpg"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="__MOBILE__/__MOBILE__/img/01.jpg"/>
                    </div> -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--  通栏长海报 
        <div class="zhanshi_div width1200 clearfloat">
            <a href="./index.php?s=/Index/Course/detail/course_id/311.html"><img src="about/images2017/pizza2018.jpg" alt="披萨课" /></a>
        </div>
        -->
        <div class="remenkecheng_div tit_divCommen width1200"></div>
        <ul class="width1200 remenkecheng_ul clearfloat mt20">
		
            <li>
                        <a href="index-indexcoursedetailcourse_id.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e211b628772a.jpg">
                            </div>
                        </a>
                        <a title="COFF咖啡全能实战精修课堂（2月3日-9日平时班）" href="index-indexcoursedetailcourse_id.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">COFF咖啡全能实战精修课堂（2月3日-9日平时班）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：10人  <span style="color:red">快报满，请抓紧！</span></p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月03日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id1.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e211b628772a.jpg">
                            </div>
                        </a>
                        <a title="咖啡师全能实战精修课堂（2月8日-3月21日周六班）" href="index-indexcoursedetailcourse_id1.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">咖啡师全能实战精修课堂（2月8日-3月21日周六班）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：12人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月08日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id2.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e00c5c47a460.jpg">
                            </div>
                        </a>
                        <a title="SCA咖啡师初中级国际认证（2020年2月13-16日）" href="index-indexcoursedetailcourse_id2.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">SCA咖啡师初中级国际认证（2020年2月13-16日）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：18人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月13日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id3.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5d05ec93de235.jpg">
                            </div>
                        </a>
                        <a title="面包&amp;西点基础技能课程(2月17日-21日）" href="index-indexcoursedetailcourse_id3.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">面包&amp;西点基础技能课程(2月17日-21日）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：12人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月17日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id4.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5cee17232c613.jpg">
                            </div>
                        </a>
                        <a title="SCA咖啡烘焙初中级（2月17-20日）" href="index-indexcoursedetailcourse_id4.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">SCA咖啡烘焙初中级（2月17-20日）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：10人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月17日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id5.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e212332497cb.jpg">
                            </div>
                        </a>
                        <a title="广州分校 | 咖啡师全能实战精修课堂（2月17日-23平时班）" href="index-indexcoursedetailcourse_id5.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">广州分校 | 咖啡师全能实战精修课堂（2月17日-23平时班）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：10人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年02月17日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id6.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5c1222af418c2.jpg">
                            </div>
                        </a>
                        <a title="CQI Q-Grader 国际咖啡品质鉴定师（2020年3月12日-20日，3天预备课+6天正式课）" href="index-indexcoursedetailcourse_id6.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">CQI Q-Grader 国际咖啡品质鉴定师（2020年3月12日-20日，3天预备课+6天正式课）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：18人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年03月12日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id7.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e212332497cb.jpg">
                            </div>
                        </a>
                        <a title="广州分校 | COFF咖啡全能实战精修课堂（3月23日-29日平日班）" href="index-indexcoursedetailcourse_id7.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">广州分校 | COFF咖啡全能实战精修课堂（3月23日-29日平日班）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：8人  <span style="color:red">快报满，请抓紧！</span></p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年03月23日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li><li>
                        <a href="index-indexcoursedetailcourse_id8.html">
                            <div class="remenkecheng_ul_img">
                                <img src="static/picture/5e00c7c84b5d7.jpg">
                            </div>
                        </a>
                        <a title="SCA咖啡冲煮初中级国际认证课程（2020年4月25-28日）" href="index-indexcoursedetailcourse_id8.html">
                            <p class="fs30 dy_dd2 fs20 mt20 hidden pHeight60">SCA咖啡冲煮初中级国际认证课程（2020年4月25-28日）</p>
                        </a>
                        <p class="dy_dd1 mt20">人数上限：18人  </p>
                        <p class="relative_p mt20">
                            <span class="">开课日期：2020年04月23日</span>
                            <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="index-indexuserindex.html.html">立即预定</a>
                                                    </p>
                    </li>            <!-- 
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人 <span style="color:red">快报满，请抓紧！</span></p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="">立即预定</a>
                </p>
            </li>
            
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人</p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="">立即预定</a>
                </p>
            </li>
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人</p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="">立即预定</a>
                </p>
            </li>
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人</p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="">立即预定</a>
                </p>
            </li>
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人</p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bdred absolute_span" href="">立即预定</a>
                </p>
            </li>
            <li>
                <a href="">
                    <div class="remenkecheng_ul_img">
                        <img src="__MOBILE__/img/02.jpg"/>
                    </div>
                </a>
                <a href=""><p class="fs30 dy_dd1 mt20 hidden">COFF咖啡全能实战与综合进阶精品班</p></a>
                <p class="dy_dd1 mt20">人数上限：10人</p>
                <p class="relative_p mt20">
                    <span class="">开课日期：2018年04月16日</span>
                    <a class="pl20 pr20 pt5 pb5 bghui absolute_span" href="">立即预定</a>
                </p>
            </li> -->
        </ul>
        <div class="bolantuijian_div tit_divCommen width1200"></div>
        <ul class="bolantuijian_ul width1200 clearfloat mt20">
            <li>
                <a href="javascript:;">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/dianping.jpg">
                    </div>
                    <p class="jzxx mt5">学院点评</p>
                </a>
            </li>

            <li>
                <a href="javascript:;">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/history.jpg">
                    </div>
                    <p class="jzxx mt5">咖啡兴趣课</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/scene.jpg" alt="铂澜咖啡学院培训场景">
                    </div>
                    <p class="jzxx mt5">铂澜淘宝店</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/teachers.jpg" alt="铂澜培训师资团队">
                    </div>
                    <p class="jzxx mt5">铂澜师资</p>
                </a>
            </li>
            <li>
                <a href="books.html">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/books.jpg" alt="铂澜咖啡学院全系列咖啡出版物">
                    </div>
                    <p class="jzxx mt5">铂澜出版物</p>
                </a>
            </li>
             <li>
                <a href="guangzhou.html">
                    <div class="bolantuijian_ul_img">
                        <img src="static/picture/coffeeshops.jpg" alt="铂澜咖啡学院广州归觅分校">
                    </div>
                    <p class="jzxx mt5">广州分校</p>
                </a>
            </li>
        </ul>
        <div class="bolanzixun_div tit_divCommen width1200"><a href="index-indexdocumentindex.html.html"><div>更多</div></a></div>
        <div class="clearfloat width1200 mt20">
            <div class="bolanzixun_div_btn jzxx mt20 mb40">
                <a class="pl20 pr20 pt5 pb5" href="index-indexdocumentindexpid7400..html">
                        <span>铂澜森蒂</span>
                    </a><a class="pl20 pr20 pt5 pb5" href="index-indexdocumentindexpid6862..html">
                        <span>每日铂澜</span>
                    </a><a class="pl20 pr20 pt5 pb5" href="index-indexdocumentindexpid381.h.html">
                        <span>铂澜快讯</span>
                    </a>               <!--  <a class="pl20 pr20 pt5 pb5" href=""><span>风格风格</span></a>
                <a class="pl20 pr20 pt5 pb5" href=""><span>风格风格</span></a> -->
            </div>
            <style type="text/css">
                .bolanzixun_div_btn a{color: #2a0f00;border: 1px solid #2a0f00;margin-right: 40px;}
                .bolanzixun_div_btn a:hover{color: #ffffff;background:#2a0f00;}
            </style>
            <ul class="bolanzixun_ul fl">
                <li><a href="index-indexdocumentdetailid7791..html">2019-2020云南咖啡烘焙赛在铂澜完美落幕</a></li><li><a href="index-indexdocumentdetailid7789..html">咖啡烘焙课堂在铂澜新教室上演</a></li><li><a href="index-indexdocumentdetailid7787..html">BloomCoffee参加国贸咖啡嘉年华</a></li>                <!-- <li class="dy_dd1"><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗冷萃咖啡比热咖啡的咖啡因含量高吗冷萃咖啡比热咖啡的咖啡因含量高吗冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li> -->
            </ul>
            <ul class="bolanzixun_ul fl">
                <li><a href="index-indexdocumentdetailid7790..html">第二季全球流行饮品趋势秋冬季在铂澜结业</a></li><li><a href="index-indexdocumentdetailid7788..html">中西方思维方式比较</a></li><li><a href="index-indexdocumentdetailid7786..html">广州归觅分院的咖啡全能实战班纪实</a></li>
                <!-- <li class="dy_dd1"><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li>
                <li><a href="">冷萃咖啡比热咖啡的咖啡因含量高吗？</a></li> -->
            </ul>
        </div>
        <div class="kafeixueyuan_div tit_divCommen width1200"></div>
        <div class="kafeixueyuan_div_con width1200 mt20 clearfloat mb40">
            <div class="fl kafeixueyuan_div_conRili">
                <div id='calendar'>
                </div>
                <input type="hidden" id="event" value="/index.php?s=/NewAdmin/Timetables/kc_event.html">
                
            </div>

             <!-- 引入播放器 css 文件 -->
            <link href="static/css/tcplayer.css" rel="stylesheet">
            <!-- 如需在IE8、9浏览器中初始化播放器，浏览器需支持Flash并在页面中引入 -->
            <!--[if lt IE 9]>
            <script src="static/js/videojs-ie8.js"></script>
            <![endif]-->
            <!-- 如果需要在 Chrome Firefox 等现代浏览器中通过H5播放hls，需要引入 hls.js -->
            <script src="static/js/hls.min.0.8.8.js"></script>
            <!-- 引入播放器 js 文件 -->
            <script src="static/js/tcplayer.min.js"></script>
            <!-- 示例 CSS 样式可自行删除 -->

            <div class="fr kafeixueyuan_div_conShiping">
                <!-- <img src="__MOBILE__/img/05.jpg"/> -->
                 <!-- 设置播放器容器 -->
                <video id="player-container-id" preload="auto" width="570" height="490" playsinline="" webkit-playinline="" x5-playinline=""></video>

            </div>
            <!--
            注意事项：
            * 播放器容器必须为 video 标签
            * player-container-id 为播放器容器的ID，可自行设置
            * 播放器区域的尺寸请按需设置，建议通过 css 进行设置，通过css可实现容器自适应等效果
            * playsinline webkit-playinline x5-playinline 这几个属性是为了在标准移动端浏览器不劫持视频播放的情况下实现行内播放，此处仅作示例，请按需使用
            -->
            <script>
                var player = TCPlayer("player-container-id", { // player-container-id 为播放器容器ID，必须与html中一致
                    fileID: "5285890781889307210", // 请传入需要播放的视频filID 必须
                    appID: "1254601641", // 请传入点播账号的appID 必须
                    autoplay: false //是否自动播放
                    //其他参数请在开发文档中查看
                });
            </script>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after"><a href="bloomcoffee.html">铂澜简介</a></span>
                    <span class="after"><a href="contact.html">联系铂澜</a></span>
                    <span class="after"><a href="qa.html">报名须知</a></span>
                    <span class="after"><a href="workshop.html">企业服务</a></span>
                    <span class="after"><a href="index-indexdocumentdetailid7732..html">开店课程</a></span>
                    <span class="after"><a href="javascript:;">铂澜森蒂</a></span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司&nbsp;|&nbsp;京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(function(){
            $(".inp_div_header_inp").focus(function(){
                $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
            })
            $(".inp_div_header_inp").blur(function(){
                $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
            })
            $(".inp_div_header_ul").hover(function(){
                $(".inp_div_header_ul_inner").removeClass("hide");
                $(".arrow_icon").addClass("arrow_top");
            },function(){
                $(".inp_div_header_ul_inner").addClass("hide");
                $(".arrow_icon").removeClass("arrow_top");
            })
            $(document).on("click",".inp_div_header_ul_inner li",function(){
                var html_ = $(this).html();
                $(".inp_div_header_ul>li span").html(html_);
            })
            //轮播
            var swiper = new Swiper('.lunbo_div .swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true,
                centeredSlides: true,
                autoplay: 2500,
                autoplayDisableOnInteraction: false,
                loop: true
            });
            $(".remenkecheng_ul>li a.bdred").hover(function(){
                    $(this).addClass("bgred");
            },function(){
                    $(this).removeClass("bgred");
            })
        })
    </script>
    <script type="text/javascript">
        $(function() {
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: '/index.php?s=/Index/Index/kc_json.html',
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        });

       
    </script>
</html>