<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ferrandi经典法国甜品培训认证课程（4月30日-5月8日）</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/5a98e30b39827.jpg" width="100%" height="100%"></div>
                                                                            <div class="swiper-slide"><img src="static/picture/5aaa06621a6dd.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            Ferrandi经典法国甜品培训认证课程（4月30日-5月8日）                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            <p>
	&nbsp; &nbsp; &nbsp; 法兰蒂FERRANDI Paris 是法国历史悠久、体系严谨、技术领先的综合性厨艺烹饪学院，在整个欧洲，乃至全世界拥有无与伦比的行业声望，更被誉为“米其林星级大师的摇篮”、“甜品界的哈佛大学”等等。FERRANDI Paris 在巴黎与波尔多地区的众多办学点拥有超过1000名学生获得了学士学位。FERRANDI Paris也是欧洲最大的致力于厨艺培训与酒店管理专业的教育机构之一。今天，FERRANDI Paris 的学生在欧洲各地开设了诸多米其林星级餐厅，更有越来越多来自亚洲的有志青年、行业精英不远万里远赴法国，便是为了能够进入FERRANDI Paris 学习深造，获得自己事业未来精进的最大依仗。铂澜森蒂国际西点学院为了整合世界顶级厨艺教学资源、分享法式及意式烹饪技术，传播西式厨艺文化的精品教育机构，专程亲赴巴黎多次，深入接洽法方高层，最终促使FERRANDI来中国北京授课。
</p>
<p>
	&nbsp; &nbsp; &nbsp;法兰蒂FERRANDI Paris 是法国历史悠久、体系严谨、技术领先的综合性厨艺烹饪学院，在整个欧洲，乃至全世界拥有无与伦比的行业声望，更被誉为“米其林星级大师的摇篮”、“甜品界的哈佛大学”等等。FERRANDI Paris 在巴黎与波尔多地区的众多办学点拥有超过1000名学生获得了学士学位。FERRANDI Paris也是欧洲最大的致力于厨艺培训与酒店管理专业的教育机构之一。今天，FERRANDI Paris 的学生在欧洲各地开设了诸多米其林星级餐厅，更有越来越多来自亚洲的有志青年、行业精英不远万里远赴法国，便是为了能够进入FERRANDI Paris 学习深造，获得自己事业未来精进的最大依仗。
</p>
<p>
	<img src="static/picture/20180303024022_48228.jpg" alt=""> 
</p>
<p>
	&nbsp; &nbsp; &nbsp;铂澜森蒂国际西点学院为了整合世界顶级厨艺教学资源、分享法式及意式烹饪技术，传播西式厨艺文化的精品教育机构，专程亲赴巴黎多次，深入接洽法方高层，最终促使FERRANDI来中国北京授课，截至目前为止是这家百年世界厨艺名校在华唯一授权合作方。2017年6月2日首期FERRANDI法国经典甜品培训认证课程（French Pastry Classics:Eclairs,Macarons&amp;Croissants）由Ferrandi的资深培训师Chef Serge Martin亲自来华授课，淋漓尽致展现了Ferrandi教学体系的迷人魅力与博大精深，圆满成功的首秀引起了各方关注。
</p>
<p>
	<img src="static/picture/20180303024008_16880.jpg" alt=""> 
</p>
<p>
	&nbsp; &nbsp; &nbsp;2017年铂澜森蒂携手法兰蒂（FERRANDI Paris ）在北京三场经典法国甜品培训认证课程过后，法兰蒂国际部主管Adrienne女士更专程来华给予积极认可，铂澜森蒂更是截至目前为止这家百年世界厨艺名校在华唯一合作方。2018年，铂澜森蒂不仅将继续开设法兰蒂经典法国甜品培训认证课程，还将首次引入专业度爆棚的经典法国面包课程。
</p>
<p>
	学习内容：前1-3天预备课由中方老师讲解基础甜品入门知识并制作马卡龙，第4天起由Ferrandi <span>&nbsp;Paris老师教授歌剧院蛋糕，慕斯类，可颂面包类，泡芙类各种造型，不同风味的正宗法式甜品。</span> 
</p>
<p>
	了解更多详情点击：<a class="ke-insertfile" href="javascript:;" target="_blank"></a><a class="ke-insertfile" href="javascript:;" target="_blank"></a><a class="ke-insertfile" href="javascript:;" target="_blank">http://www.taobloom.cn/ferrandi.php</a> 
</p>
<p>
	上课时间：4月30日-5月8日（共九天，每天6小时）
</p>
<p>
	2018年4月30日，最新一期Ferrandi Paris法兰蒂经典法国甜品培训认证课程开课，这是以法方老师来华全程亲授为主（中方培训师配合）形式开展、授予Ferrandi Paris校长签名认证证书的最后一期，将来再开课则将以中方老师为主授课、法方老师参与。与此同时，位于北京北五环的铂澜森蒂国际西点学院环铁总部校区即将落成投入使用。本期Ferrandi Paris法兰蒂经典法国甜品培训认证国际课程便有了特殊意味，可以说史上最后一期也不为过。我们经过与法方讨论，临时决定设定为15800元的史上特惠价格，2017年法兰蒂老学员如果希望回炉深造，我们可以安排少数几个名额。
</p>
<p>
	学费：<span style="color:#E53333;">15800元/人</span>（包含所有物料，资料，翻译，工作服装，考试费用）
</p>
<p>
	<span>上课地址：北京朝阳区建外soho东区8号楼商铺8308（三层）</span> 
</p>
<p>
	<img src="static/picture/20180302063737_94452.jpg" alt=""><img src="static/picture/20180302063802_72866.jpg" alt=""><img src="static/picture/20180302063812_42998.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180302063558_27871.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180302054307_30407.jpg" alt=""><img src="static/picture/20180302054331_91173.jpg" alt=""><img src="static/picture/20180302054437_41856.jpg" alt=""> 
</p>
<p>
	<br>
</p>
<p>
	<img src="static/picture/20180302063444_84658.jpg" alt=""><img src="static/picture/20180302063502_12617.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180302063149_58673.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180302063423_14997.jpg" alt=""> 
</p>
<p>
	<img src="static/picture/20180302063845_61205.jpg" alt=""> 
</p>                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="dy_dd1 hidden"><a href="javascript:;">1、FERRANDI 01 法国经典甜品培训认证课程 预备课（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">2、FERRANDI 02法国经典甜品培训认证课程 预备课（中）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">3、FERRANDI 03法国经典甜品培训认证课程 预备课（下）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">4、FERRANDI 04 法国经典甜品培训认证课程  泡芙制作（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">5、FERRANDI 05 法国经典甜品培训认证课程  慕斯蛋糕制作</a></li><li class="dy_dd1 hidden"><a href="javascript:;">6、FERRANDI 06 法国经典甜品培训认证课程  歌剧院的制</a></li><li class="dy_dd1 hidden"><a href="javascript:;">7、FERRANDI 07法国经典甜品培训认证课程 泡芙制作（下）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">8、FERRANDI 08 法国经典甜品培训认证课程 起酥面包制作（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">9、FERRANDI 09 法国经典甜品培训认证课程 起酥面包制作（下）</a></li><!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：2018年04月30日起
                                                            </p>
                            <p class="pt10 pb10">培训费用：15800.00元/人（官网上所有课程注明报价均默认不含税，需要发票请沟通咨询，定金不退。）</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 6</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、咖啡馆创业、求职准备、烘焙爱好者、烘焙从业者、咖啡&amp;烘焙店主</p>
                            <p class="pt10 pb10">学分: 90分</p>
                            <p class="pt10 pb10">培训时长: 共计9次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/276.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2018-04-12 13:44:48</span>
                                <span>发布作者：Becky</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id3.html">面包&amp;西点基础技能课程(2月17日-21日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id41.html">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>