<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>铂澜咖啡学院培训课程列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jiaodiantu.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<body>

<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">		
	<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
    <h1>课程列表（<a class="more" href="index-indexcoursecourse_fenlei.h.html">查看课程分类</a>）</h1>	
	</div>
</header>
<div class="wp_100">
    <div class="header_top"></div>
    <div class="clear"></div>
</div>
<!--头部结束搜索开始-->
<div class="wp_640">
    <form action="/index.php?s=/Index/Course/index.html" method="post" id="form">
    <div class="sousuo">
        <div class="wp_640">
            <div class="form01">
                <input class="ss_input" type="text" placeholder="请输入搜索内容" name="name">
                <i class="search" onclick="sousuo()"></i>
            </div>
        </div>
    </div>
    <div class="wp_640">
        <div class="mc">
            <div class="title">
                <h3><a href="" style="color: #df007f">全部</a></h3>
                <div class="mc_bbc">
                    <p class="more_coursep">
                            <span class="span_pos">
                                <select style="border: 0;padding-right: 0.2rem;" onchange="sousuo()" name="categoryid" class="dy_dd">
                                    <option value="0">全部课程</option>
                                    <option value="1089">铂澜咖啡培训课程</option><option value="1088">咖啡馆创业经营辅导</option><option value="1087">SCA国际培训认证</option><option value="1079">铂澜森蒂国际西点学院</option><option value="1099">咖啡&amp;轻食套餐课程</option>                                </select>
                            </span>
                    </p>
                </div>
                <div class="more shaixuan_sel shaixuan_sel01">
                    <select style="border: 0; width: 100%; padding-right: 0.2rem;" onchange="sousuo()" name="orderby">
                        <option value="1">发布时间</option>
                        <option value="2">价格高低</option>
                        <option value="3">近期开课</option>
                    </select>

                </div>

            </div>
        </div>
    </div>
    </form>
    <div class="clear"></div>
</div>
<!--搜索结束,培训列表开始-->
<div class="wp_640">
    <div class="mc">
        <div class="mc_cp">
            <ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id7.html"><img src="static/picture/5e212332497cb.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id7.html"><h3>广州分校 | COFF咖啡全能实战精修课堂（3月23日-29日平日班）</h3></a>
                           <!-- <i>人数：3/8 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年03月23日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id5.html"><img src="static/picture/5e212332497cb.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id5.html"><h3>广州分校 | 咖啡师全能实战精修课堂（2月17日-23平时班）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年02月17日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id1.html"><img src="static/picture/5e211b628772a.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id1.html"><h3>咖啡师全能实战精修课堂（2月8日-3月21日周六班）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年02月08日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id8.html"><img src="static/picture/5e00c7c84b5d7.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id8.html"><h3>SCA咖啡冲煮初中级国际认证课程（2020年4月25-28日）</h3></a>
                           <!-- <i>人数：0/18 </i>-->
                           <i></i>
                            <em>￥<strong>7800.00</strong></em>
                            <span class="con_rq">
													 2020年04月23日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id.html"><img src="static/picture/5e211b628772a.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id.html"><h3>COFF咖啡全能实战精修课堂（2月3日-9日平时班）</h3></a>
                           <!-- <i>人数：2/10 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年02月03日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id3.html"><img src="static/picture/5d05ec93de235.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id3.html"><h3>面包&amp;西点基础技能课程(2月17日-21日）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>4980.00</strong></em>
                            <span class="con_rq">
													 2020年02月17日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id9.html"><img src="static/picture/5e044176c810a.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id9.html"><h3>咖啡冲煮精修课堂（1月16-17日）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>1590.00</strong></em>
                            <span class="con_rq">
													 2020年01月16日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id10.html"><img src="static/picture/5e04312ab5ef0.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id10.html"><h3>咖啡品鉴（杯测）精修课堂（1月2日-3日）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>1590.00</strong></em>
                            <span class="con_rq">
													 2020年01月02日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id11.html"><img src="static/picture/5e211b628772a.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id11.html"><h3>COFF咖啡全能实战精修课堂（2020年1月13日-19日）</h3></a>
                           <!-- <i>人数：0/10 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年01月13日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id6.html"><img src="static/picture/5c1222af418c2.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id6.html"><h3>CQI Q-Grader 国际咖啡品质鉴定师（2020年3月12日-20日，3天预备课+6天正式课）</h3></a>
                           <!-- <i>人数：0/18 </i>-->
                           <i></i>
                            <em>￥<strong>15800.00</strong></em>
                            <span class="con_rq">
													 2020年03月12日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id12.html"><img src="static/picture/5e211b628772a.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id12.html"><h3>COFF咖啡师全能实战精修课堂（1月6-12日平时班）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>5980.00</strong></em>
                            <span class="con_rq">
													 2020年01月06日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id4.html"><img src="static/picture/5cee17232c613.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id4.html"><h3>SCA咖啡烘焙初中级（2月17-20日）</h3></a>
                           <!-- <i>人数：1/10 </i>-->
                           <i></i>
                            <em>￥<strong>7800.00</strong></em>
                            <span class="con_rq">
													 2020年02月17日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id2.html"><img src="static/picture/5e00c5c47a460.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id2.html"><h3>SCA咖啡师初中级国际认证（2020年2月13-16日）</h3></a>
                           <!-- <i>人数：0/18 </i>-->
                           <i></i>
                            <em>￥<strong>7800.00</strong></em>
                            <span class="con_rq">
													 2020年02月13日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a href="index-indexuserindex.html.html" class="con_yd" style=" background-color: #df007f;color:#fff;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id48.html"><img src="static/picture/5de88199001dc.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id48.html"><h3>EE咖啡全产业链分析与门店创办经营实战课堂</h3></a>
                           <!-- <i>人数：0/20 </i>-->
                           <i></i>
                            <em>￥<strong>2980.00</strong></em>
                            <span class="con_rq">
													 2020年01月14日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id49.html"><img src="static/picture/5c21b77151ad2.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id49.html"><h3>SCA咖啡烘焙国际认证高级课程（12月2日-5日）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>8800.00</strong></em>
                            <span class="con_rq">
													 2019年12月02日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id13.html"><img src="static/picture/5ce751ed55d9c.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id13.html"><h3>2019秋冬季饮品趋势必修课 | 11月9-10日</h3></a>
                           <!-- <i>人数：1/20 </i>-->
                           <i></i>
                            <em>￥<strong>2580.00</strong></em>
                            <span class="con_rq">
													 2019年11月09日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id14.html"><img src="static/picture/5d5e26f9c8244.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id14.html"><h3>咖啡与烈酒实战课  | 9月28-29日</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>3980.00</strong></em>
                            <span class="con_rq">
													 2019年09月28日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id50.html"><img src="static/picture/5cee17232c613.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id50.html"><h3>SCA咖啡烘焙初级＋中级课程，含生豆初级认证（10月26-30日）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>9500.00</strong></em>
                            <span class="con_rq">
													 2019年09月28日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id24.html"><img src="static/picture/5d05ec93de235.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id24.html"><h3>面包&amp;西点基础技能课程(9月16日-20日）</h3></a>
                           <!-- <i>人数：0/12 </i>-->
                           <i></i>
                            <em>￥<strong>4980.00</strong></em>
                            <span class="con_rq">
													 2019年09月16日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul><ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id51.html"><img src="static/picture/5d41342a501d0.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id51.html"><h3>SCA咖啡冲煮高级国际认证（10月8-11日）</h3></a>
                           <!-- <i>人数：0/18 </i>-->
                           <i></i>
                            <em>￥<strong>10000.00</strong></em>
                            <span class="con_rq">
													 2019年10月08日起
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul>			<ul>
                  <li>
                      <a href="index-indexcoursedetailcourse_id43.html"><img src="static/picture/5ac1ab70a63a2.jpg" alt=""></a>
                        <div class="con_right con_right01">
                            <a href="index-indexcoursedetailcourse_id43.html"><h3>铂澜森蒂时尚西点面包基础实战班</h3></a>
                            <i>人数：0/12 </i>
                            <em>￥<strong>4980.00</strong></em>
                            <span class="con_rq">
															尚未发布
														</span>
                            <!-- <span class="con_xx"></span>
                            <span class="con_mobile"></span> -->
                                                            <a class="con_yd" style="background-color:#999;color:#fff;border:none;">立即预订</a>
							                        </div>
                    </li>
                </ul>        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    function sousuo(){
        $("#form").submit();
    }
    </script>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/course/index.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
</body>
</html>