<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>咖啡馆里的锐眼商战游戏随想—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="咖啡馆里的锐眼商战游戏随想铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	咖啡馆里的锐眼商战游戏随想</h1>
<a href="javascript:shoucang(390);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;">咖啡馆里的锐眼商战游戏随想</p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><div>
	<div class="title">
		上周末进行的锐眼商战游戏空前成功，虚虚实实，真真假假，玩出了很多竞争的花样。我们一直在尝试将各种各样的活动引入咖啡馆这么个有趣的平台，常识演绎属于中国年轻人的咖啡之道。
	</div>
	<div class="title">
		酋长、给你快乐组成的两届政府特点鲜明，前者在宏观调控上下足了精力，后者则更青睐自由竞争。使得企业们得以各展所长，实现伟大理想。更由于CI界权威、军界精英的参与，使得游戏内涵得到了质的提升。
	</div>
	<div>
		<strong>第一，游戏前期，市场竞争环境中经济学“劣币驱逐良币”现象极为明显。</strong>通俗地说，就是人们更愿意用“坏”钱而不是“好”钱，从而“坏”钱把“好”钱排挤出了流通市场。大多数人都有过这样的经历，当钱包里既有新钱又有旧钱的时候，大家都愿意把旧钱花出去买东西，留下“新票”。这个道理很简单，出于对新钱的偏好。一个广为引用的例子是，民国末年，法币贬值，物价飞涨，民间开始使用银元，拒收劣币。此时的民国政府虽禁止人民使用银元进而没收银元发行银元券。但是人民并不因此就接受银元券了，许多私人机构开始以大米为薪金，社会交换退化到了物物交换时代。可见，诚信的建立虽然需要政府的强力介入，但是很多非理性因素仍然可能占有主导地位。冰冻三尺非一日之寒，破冰的历程也不可能一蹴而就。锐眼商战游戏的第一局，由于竞争对手彼此之间缺乏信任，对酋长（锐眼网友）组阁的政府（行业主管部门）也缺乏了解，诚信的严重缺失导致企业们各自为战，颇有些打麻将的风范。在这种状况戮赫抟墒峭纯嗟模蔽业腟un公司满怀憧憬，立志独霸全球软件产业，用大笔现金（两个筹码）换来的却是需要理由（锐眼Q群网友）的十八世纪的技术——瓦特蒸气机活塞连杆加工技术。很显然，Java的平台无关性纵然先进，却无法使得蒸气机竞争过V12发动机。第一局惨败的伏笔已经埋下。
	</div>
	<div>
		<strong>第二，游戏第二局，给你快乐（美食派网友）组阁的政府明显青睐于自由市场，是哈耶克所倡导的自由市场经济理论的实践者，但是由于品牌和诚信在第一轮竞争过程中逐渐产生出来。</strong>更加血腥的市场搏杀没有出现，复杂微妙的竞合关系却孕育而生。一位姓顾的网友曾经评价说：“自由市场经济的传统和美国的宪政的结合，是当代美国经济的一大特色，也是美国经济取得成功的重要原因，市场经济的运行要发挥高效率必须需要国家充当保证市场交易公正和公平的裁判角色，维护市场经济的秩序。而不是国家本身参与市场经济的活动，自己当老板。”我想这句话放在第二轮的锐眼商战游戏中完全适用。
	</div>
	<div>
		<strong>第三，反托拉斯法案的局限性。</strong>“反托拉斯法案”是锐眼商战游戏中政府的重要政策牌之一。但其在游戏进程中也表现出了局限性。我认为这不是锐眼商战游戏的设计缺陷，而是现实经济领域的真实体现。我们先来看看美国的反托拉斯法。美国反托拉斯法是联邦及州法律体系的组成部分，其主旨是通过确保竞争不受市场垄断组织的损害来保护消费者。
	</div>
	<div>
		第一部联邦反托拉斯法是1890 年制定的Sherman
法，该法便明确规定垄断为非法行为。目前一般认为，美国传统的反托拉斯法是建立在具有经验主义的以贝恩为代表的哈佛学派S－C－P范式基础上，该学派强调市场结构决定企业的策略性竞争行为，企业行为又影响产业组织的绩效。哈佛学派认为市场集中度的提高会导致企业市场支配力的增强，从而限制市场的竞争，并带来重大的经济损失和社会损失。因此，反托拉斯政策主要是以禁止垄断和市场过度集中为主要内容。好了，该提出我们的问题了。首先，从最近十几年一系列已执行或正在执行的反托拉斯法案来看，市场反馈的消极信息比较多，政府的良好愿望并未得到体现。其次，反托拉斯法案日益有成为别有用心者设计的“局”的可能性，通过司法程序之外的手段获得额外好处，这无疑违背了初衷。第三，实力卓越的大企业获取市场支配力本身并没有行为过错，评价垄断结构关键要首先弄清大企业的优势地位是如何形成的。有的时候垄断利润合法化也能刺激企业创新从而推动产业技术进步；第四，解铃还须系铃人，最终“干掉”垄断者的任务需要行业其他行为主体群起而成之。这些都在锐眼商战游戏中得到了很好的体现。
	</div>
	<div>
		<strong>第四，美国企业管理层的薪酬包括以工作表现为基础的工资、以财务数据为基础的奖金、以股票体现为基础的股票期权和以服务年限为基础的退休计划，其中行使股票期权计划的收入越来越成为管理层薪酬的主要来源。</strong>据统计，１９９８年美国上市公司ＣＥＯ的薪酬结构中股票期权占到了３６％。比例之高令人惊讶。诚信的建立使得越来越多的期权交易和企业债券交易在锐眼商战游戏中产生，市场一派风声水气的繁盛景象。
	</div>
	<div>
		<strong>第五，经由有限理性个体的选择行为,上规模的群体动态博弈体现出极为复杂的特性。</strong>每一位博弈参与者面对着半明半暗的动态环境的环境实施选择行为。作为一个玩家来说，如何建立一套有效的预警机制是极有诱惑力的。锐眼商战游戏还能体现很多，说起来太过枯涩，还是大家一起来玩吧。
	</div>
	<div>
		&nbsp;<wbr>
	</div>
</div>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2012-11-26 18:14:53&nbsp;&nbsp;铂澜发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,390,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/390.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>