<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ferrandi法国经典甜品培训认证课程</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/59dc3e60a8dd5.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            Ferrandi法国经典甜品培训认证课程                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            <ul class="pad_ul" style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">
	<p class="MsoNormal">
		<span style="line-height:1.5;">FERRANDI Paris&nbsp;创建于</span><span style="line-height:1.5;color:#E53333;">1920</span><span style="line-height:1.5;color:#E53333;">年</span><span style="line-height:1.5;">，是法国历史悠久、体系严谨、&nbsp;</span>技术最领先的综合性厨艺烹饪学院
	</p>
	<p class="MsoNormal">
		<span style="line-height:1.5;">被业界誉为“</span><span style="line-height:1.5;color:#E53333;">米其林星级大师的摇篮</span><span style="line-height:1.5;">”、</span><span style="color:#E53333;">“甜品界的哈佛”</span><span style="line-height:1.5;">在整个欧洲以及全世界拥有</span><span style="line-height:1.5;color:#E53333;">无与伦比</span><span style="line-height:1.5;">的行业声望！</span> 
	</p>
	<p class="MsoNormal">
		<span style="line-height:1.5;">FERRANDI Paris&nbsp;在巴黎与波尔多地区的众多办学点拥有超过</span><span style="line-height:1.5;color:#E53333;">1000</span><span style="line-height:1.5;">名以上学生获得了学士学位。 &nbsp; &nbsp; &nbsp;&nbsp;</span> 
	</p>
	<p class="MsoNormal">
		是<span style="color:#E53333;">欧洲最大</span>的致力于厨艺培训与酒店管理专业的教育机构。
	</p>
	<p class="MsoNormal">
		<img src="static/picture/20170513123408_26371.png" alt="" style="height:350.703px;width:601.594px;"> 
	</p>
	<p class="MsoNormal">
		很难想象在<span style="color:#E53333;">巴黎六区</span>的中心地带会有那么大一栋建筑：<span style="color:#E53333;">2000</span><span style="color:#E53333;">名</span>成人学员和<span style="color:#E53333;">1300</span><span style="color:#E53333;">名</span>全日制学生使用这里多达<span style="color:#E53333;">25000</span><span style="color:#E53333;">平方米的面积</span>，
	</p>
	<p class="MsoNormal">
		努力将自己锤炼成<span style="color:#E53333;">法国最顶尖</span>的厨师！
	</p>
	<p class="MsoNormal">
		<span style="color:#E53333;"></span> 
	</p>
	<p class="MsoNormal">
		<img src="static/picture/20171010044932_34956.png" alt=""><img src="static/picture/20170513123442_93576.png" alt="" style="height:450.578px;width:601.594px;">&nbsp;
	</p>
	<p class="MsoNormal">
		学校和很多酒店或店铺都有合作，chef之间也都有联系，每年都会把学生往顶级的餐厅，甜点店输送。
	</p>
	<p class="MsoNormal">
		<span style="color:#E53333;">培养全世界顶级的mof</span><span style="color:#E53333;">大师</span>。
	</p>
	<p class="MsoNormal">
		&nbsp;<img src="static/picture/20171010044821_32755.png" alt="">&nbsp;
	</p>
	<p class="MsoNormal">
		FERRANDI Paris&nbsp;的学生在欧洲各地开设了诸多<span style="color:#E53333;">米其林星级餐厅</span>，更有越来越多来自亚洲的有志青年、行业精英<span style="color:#E53333;">不远万里远赴法国</span>，
	</p>
	<p class="MsoNormal">
		目的就是为了能够<span style="color:#E53333;">顺利</span><span style="color:#E53333;">进入</span><span style="color:#E53333;">FERRANDI Paris&nbsp;</span>学习深造！
	</p>
	<p class="MsoNormal">
		对于全日制本科学生来讲，每年学费高昂，要读<span style="color:#E53333;">三年</span>才能拿到学校颁发的特有文凭。
	</p>
	<p class="MsoNormal">
		<img src="static/picture/20171010044722_30692.png" alt="">&nbsp;
	</p>
	<p class="MsoNormal">
		&nbsp;每年都会有很多中国同学去申请<span style="color:#E53333;">FERRANDI</span><span style="color:#E53333;">的国际班</span>。
	</p>
	<p class="MsoNormal">
		&nbsp;FERRANDI官网上对于国际班的要求如下：
	</p>
	<p class="MsoNormal">
		<u>&nbsp;<a href="javascript:;">http://www.ferrandi-paris.fr/en/international-programs/admissions</a></u>&nbsp;
	</p>
	<p class="MsoNormal">
		&nbsp;国际班是英语班，<span style="color:#E53333;">接受全世界报名</span>，理论课很少，实际操作性很强。
	</p>
	<p class="MsoNormal">
		&nbsp;CAP班必须在法国本地报名，<span style="color:#E53333;">要参加很多考试</span>，法语必须是<span style="color:#E53333;">TEF B2</span>以上水平，和追求拼搏的精神，
	</p>
	<p class="MsoNormal">
		&nbsp;通过FERRANDI的申请，来法国巴黎学习是一件<span style="color:#E53333;">不能再艰巨的事情</span>。
	</p>
	<p class="MsoNormal">
		也就是说没有法语基础和<span style="color:#E53333;">一年几十万</span>的成本根本进不了FERRANDI的大门！
	</p>
	<p class="MsoNormal">
		&nbsp;难道空有一颗爱学习的心完全没办法完成么，<span style="color:#E53333;">别灰心，对你没看错！</span> 
	</p>
	<p class="MsoNormal">
		<span style="color:#E53333;">&nbsp;FERRANDI来中国北京授课啦！</span><span style="line-height:1.5;">&nbsp;</span> 
	</p>
	<p class="MsoNormal">
		<br>
	</p>
	<p class="MsoNormal">
		<span style="color:#E53333;font-size:14px;">我们把FERRANDI老师和学院搬到了北京铂澜森蒂甜品咖啡学院！<img src="static/picture/20171010044544_17080.jpg" alt=""></span> 
	</p>
	<p class="MsoNormal">
		<img src="static/picture/20171010044500_70743.jpg" alt=""><img src="static/picture/20171010044424_70982.jpg" alt=""><img src="static/picture/20171010044244_71621.jpg" alt=""><img src="static/picture/20171010044031_74702.jpg" alt=""> 
	</p>
	<p class="MsoNormal">
		<span><img src="static/picture/20171010043951_11800.png" alt="">&nbsp;</span> 
	</p>
	<p class="MsoNormal" style="text-align:center;">
		Chef Serge Martin：
	</p>
	<p class="MsoNormal" style="text-align:center;">
		一直以国际西点示范讲师的身份在一家领先的专业西点制品供应商工作。
	</p>
	<p class="MsoNormal" style="text-align:center;">
		在那之前，Chef Serge Martin曾在Club Med, Eric Kayser等众多位于法国，
	</p>
	<p class="MsoNormal" style="text-align:center;">
		英国以及加拿大的西点店任职。
	</p>
	<p class="MsoNormal" style="text-align:center;">
		在FERRANDI，
	</p>
	<p class="MsoNormal" style="text-align:center;">
		Chef Serge主要在法国本土与海外合作机构为国际学生讲授基本法式西点制作技巧与进阶技能
	</p>
	<p class="MsoNormal" style="text-align:center;">
		&nbsp;&nbsp;&nbsp;&nbsp;课程安排:
	</p>
	<p class="MsoNormal" style="text-align:center;">
		<span style="color:#E53333;">三天预备课，适合基础知识和技能尚未完善者由资深中方老师授课</span> 
	</p>
	<ul class="pad_ul" style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">
		<p class="p" style="text-align:center;">
			<span style="color:#E53333;">12月8日-10日基础甜品入门课程。</span> 
		</p>
		<p class="p" style="text-align:center;">
			<span style="color:#E53333;">六天正式课，由</span><span style="color:#E53333;">FERRANDI</span><span style="color:#E53333;">派遣资深大师来华授课</span> 
		</p>
		<p class="p" style="text-align:center;">
			<span style="color:#E53333;">【全程有翻译参与，无需担心语言障碍】</span> 
		</p>
		<p class="p" style="text-align:center;">
			<span style="color:#E53333;">12月11日-16日FERRANDI</span><span style="color:#E53333;">认证课程</span><span style="color:#E53333;line-height:1.5;">&nbsp;</span> 
		</p>
		<p class="p" style="text-align:center;">
			DAY 1&amp;2&nbsp;- 泡芙制作:
		</p>
		<p class="p" style="text-align:center;">
			奶油泡芙、酥皮泡芙、修女泡芙等多种泡芙造型制作
		</p>
		<p class="p" style="text-align:center;">
			泡芙内陷制作:
		</p>
		<p class="p" style="text-align:center;">
			基础奶油馅、浓郁榛果咖啡馅、香草香提馅等多种馅料制作
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<img src="static/picture/20171010043903_92202.jpg" alt=""> 
		</p>
	</ul>
	<ul class="pad_ul" style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			DAY 3&amp;4&nbsp;- <span style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">歌剧院蛋糕</span>制作:
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			歌剧院蛋糕的制作
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<span style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">歌剧院</span>的装饰及摆盘
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<span style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">歌剧院</span>的变化及应用
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<img src="static/picture/20171123085500_48193.jpg" alt="" width="600" height="600" title="" align=""><img src="static/picture/20171123085515_39612.jpg" alt="" width="600" height="586" title="" align=""> 
		</p>
	</ul>
	<ul class="pad_ul" style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			DAY 5&amp;6&nbsp;- 各类可颂、酥皮面包制作:
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			原味牛角可颂、巧克力可颂、可颂水果塔等多种可颂制作
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			可颂内陷制作:
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			巧克力馅料及多种水果馅料制作
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			可颂面包团制作技巧：
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			包括巧克力馅料及各种水果馅料制作
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<img src="static/picture/20171010043503_28505.jpg" alt=""><img src="static/picture/20171010043514_26518.jpg" alt=""><img src="static/picture/20171010043524_82868.jpg" alt=""> 
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<img src="static/picture/20180302063737_94452.jpg" alt=""> 
		</p>
	</ul>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="static/picture/20180302063812_42998.jpg" alt=""> 
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="static/picture/20171010034529_33233.jpg" alt=""> 
	</p>
	<p>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="static/picture/20180302063845_61205.jpg" alt=""> 
	</p>
	<p>
		<br>
	</p>
	<ul class="pad_ul" style="color:#222222;font-family:&quot;font-size:24px;background-color:#FFFFFF;">
		<p class="MsoNormal" style="text-align:center;">
			<img src="static/picture/20171010035353_36507.png" alt=""> 
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<br>
		</p>
		<p class="MsoNormal" style="text-align:center;">
			老师简介:
		</p>
		<p class="p" style="text-align:center;">
			&nbsp;张嘉婧
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2012年访学法国巴黎，学习法式甜点与法餐
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2013年毕业于台湾国立高雄餐旅大学烘焙管理系，专业学习台式西点、面包、咖啡。
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2013年取得国家中级西式面点师资格证
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2014年取得国家二级公共营养师资格证
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2014年毕业于北京联合大学烹饪工艺与营养专业
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2015年第三届长帝烘焙比赛，获得北京市冠军，华北地区第三名
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2015年任长帝第三届烘焙大使
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2016年乐得国际烘焙学校随西班牙法式西点大师Poi Anter精修法式西点
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2014~2016年北京香格里拉酒店、Temple
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			Reataurant Beijing 任Pastry Chef
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<br>
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			课程适合人群对象：
		</p>
		<div style="text-align:center;">
			1.寻求烘焙事业更上一层楼的从业者，
		</div>
		<div style="text-align:center;">
			2,寻求最佳餐饮出品的咖啡店经营者；
		</div>
		<div style="text-align:center;">
			3,考取全球认可的国际证书的学习者；
		</div>
		<div style="text-align:center;">
			4,迷恋匠人精神的西点烘焙发烧友；
		</div>
		<div style="text-align:center;">
			5,爱慕欧洲或法兰西的出国留学者；
		</div>
		<div style="text-align:center;">
			6,关注生活品质格调的烘焙爱好者；
		</div>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<br>
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			&nbsp;来上课你能得到的：
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			1.制服，围裙，帽子，顶级认证配置着装
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			2.标准国际FERRANDI甜品认证教室配套设备
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			3.全进口经检测过的认证物料
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			4.<span style="color:#E53333;">志同道合的小伙伴</span> 
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<span style="color:#E53333;">5，最顶级专业的法国烘焙大师指导<br>
</span> 
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			6.金灿灿通往甜品之路的通行证!FERRANDI证书的含金量和全球认可度，
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<span style="color:#E53333;">全世界烘焙</span>业者都会给你一个明确且一致的答案。
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			正如你走在全世界任何角落，询问哈佛、剑桥、耶鲁是不是受到认可的大学一般。
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			FERRANDI自己一句铿锵有力的描述是：
		</p>
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			<span style="color:#E53333;">FERRANDI</span><span style="color:#E53333;">的证书和学位被法国及海外专业人士广泛认可。</span> 
		</p>
		<iframe src="javascript:;" width="100%" height="360" frameborder="0">
		</iframe>
<!-- 页面内多处使用iframe代码，后面的JS代码只需要使用一次(作用是调整iframe的高度) -->
		<p class="p" style="margin-left:14.4pt;text-align:center;">
			“FERRANDI certificates and diplomas are widely recognized by professionals both in France and abroad.”）
		</p>
		<p class="MsoNormal" style="text-align:center;">
			感兴趣者可以登录FERRANDI官网了解更多：
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<a href="javascript:;">http://www.ferrandi-paris.fr/en/international-programs/certificate-programs</a>&nbsp;
		</p>
		<p class="MsoNormal" style="text-align:center;">
			授课地点：
		</p>
		<p class="MsoNormal" style="text-align:center;">
			铂澜森蒂国际西点学院
		</p>
		<p class="MsoNormal" style="text-align:center;">
			（铂澜咖啡学院等机构领衔创建）
		</p>
		<p class="MsoNormal" style="text-align:center;">
			北京市朝阳区建外soho东区8号楼商铺8308室
		</p>
		<p class="MsoNormal" style="text-align:center;">
			课程费用：
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<span style="color:#E53333;font-size:14px;">9</span><span style="color:#E53333;font-size:14px;">天课程23800</span><span style="color:#E53333;font-size:14px;"></span><span style="color:#E53333;font-size:14px;">元人民币</span> 
		</p>
		<p class="MsoNormal" style="text-align:center;">
			<span style="color:#E53333;font-size:14px;">11</span><span style="color:#E53333;font-size:14px;">月30</span><span style="color:#E53333;font-size:14px;">日前报名减免</span><span style="color:#E53333;font-size:14px;">2000</span><span style="color:#E53333;font-size:14px;">元人民币</span> 
		</p>
		<p class="MsoNormal" style="text-align:center;">
			&nbsp;联系方式:
		</p>
		<p class="MsoNormal" style="text-align:center;">
			咨询热线：010-59005818
		</p>
		<p class="MsoNormal" style="text-align:center;">
			咨询电话：lydia13681245110
		</p>
		<p class="MsoNormal" style="text-align:center;">
			网站：<a href="javascript:;" target="_blank">www.bcoffee.cn/taobloom</a> 
		</p>
		<div>
			<br>
		</div>
	</ul>
	<p>
		<br>
	</p>
</ul>                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="dy_dd1 hidden"><a href="javascript:;">1、FERRANDI 01 法国经典甜品培训认证课程 预备课（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">2、FERRANDI 02法国经典甜品培训认证课程 预备课（中）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">3、FERRANDI 03法国经典甜品培训认证课程 预备课（下）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">4、FERRANDI 04 法国经典甜品培训认证课程  泡芙制作（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">5、FERRANDI 05 法国经典甜品培训认证课程  慕斯蛋糕制作</a></li><li class="dy_dd1 hidden"><a href="javascript:;">6、FERRANDI 06 法国经典甜品培训认证课程  歌剧院的制</a></li><li class="dy_dd1 hidden"><a href="javascript:;">7、FERRANDI 07法国经典甜品培训认证课程 泡芙制作（下）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">8、FERRANDI 08 法国经典甜品培训认证课程 起酥面包制作（上）</a></li><li class="dy_dd1 hidden"><a href="javascript:;">9、FERRANDI 09 法国经典甜品培训认证课程 起酥面包制作（下）</a></li><!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：2017年12月08日起
                                                            </p>
                            <p class="pt10 pb10">培训费用：23800.00元/人（所有课程注明报价均默认不含税，需要发票请沟通咨询，定金不退。11月15日前报名并支付全款减免2000）</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 6</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、求职准备、烘焙爱好者、烘焙从业者、咖啡&amp;烘焙店主</p>
                            <p class="pt10 pb10">学分: 90分</p>
                            <p class="pt10 pb10">培训时长: 共计9次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/256.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2017-11-24 11:23:23</span>
                                <span>发布作者：Becky</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id3.html">面包&amp;西点基础技能课程(2月17日-21日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>