<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>M11 牛奶拉花艺术入门和成图实操（Latte Art 2）—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="M11 牛奶拉花艺术入门和成图实操（Latte Art 2）铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jiaodiantu.js"></script>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
    <a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
    <h1>
	M11 牛奶拉花艺术入门和成图实...</h1>
	</div>
</header>

<div class="wp_100">
    <div class="header_top"></div>
    <div class="clear"></div>
</div>
<!--头部结束主要内容开始-->
<div class="wp_640">
    <div class="kemb">
        <div class="list">
            <h2>课程内容</h2>
        </div>
        <p><p>
	<br>
</p>
<p class="MsoNormal">
	<b> </b>
</p>
<p class="MsoNormal">
	<b><b>M</b><b>11</b><b>&nbsp;<span>牛奶拉花</span></b><b>艺术入门和</b><b><span>成图实操（</span>Latte Art 2<span>）</span></b><b></b> </b>
</p>
<p class="MsoNormal">
	<b>1）拉花三步骤：融合，成型，收尾及其目的</b>
</p>
<p class="MsoNormal">
	<b>2）通过定点手法练习掌握基本手感</b>
</p>
<p class="MsoNormal">
	<b>3<span>）桃心图形解析并实践</span> </b>
</p>
<p class="MsoNormal">
	<b>3）摆动手法浅析</b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p>
	<br>
</p>
<p class="MsoNormal">
	<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
		<p>开课老师：</p>
		<p>上课教室：</p>
		<p>开课时间：1970-01-01 08:00:00</p>
      <!--  <img src="images/mb02.png" alt="">-->
    </div>
    <div class="clear"></div>
</div>
<!--主要内容结束，联系开始-->
<!--<div class="wp_640">
    <div class="bottom01">
        <a href="#" class="call">拨打电话</a>
        <a href="007fu_ddqr.html" class="yuding">立即预订</a>
    </div>
    <div class="clear"></div>
</div>-->
</body>
</html>