<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>铂澜森蒂时尚西点面包基础实战班</title>
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/kafeiAllstyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/fullcalendar.css">
        <style type="text/css">
            .header_anniuList span{color:#2a0f00;}
            .hidden_{visibility: hidden;}
        </style>
    </head>
    <body>
        <header>    
    <div class="width1200 clearfloat fontWeight">
        <div class="fl logo_div"></div>
        <div class="fl header_anniuList">
            <a href="index.html"><span class="pl20 pr20 pt10 pb10   ">首页</span></a>
            <!--
            <a href="/index.php?s=/Index/Cert/index.html"><span class="pl20 pr20 pt10 pb10    ">证书</span></a>
            <a href="/index.php?s=/Index/User/zhitiaoList.html"><span class="pl20 pr20 pt10 pb10"  >小纸条</span></a>
            -->
            <a href="index-indexcourseindexcategory_i.html"><span class="pl20 pr20 pt10 pb10">咖啡课</span></a>
            <a href="index-indexcourseindexcategory_i1.html"><span class="pl20 pr20 pt10 pb10">西点课</span></a>
            <a href="index-indexcourseindexcategory_i2.html"><span class="pl20 pr20 pt10 pb10">套餐课</span></a>
            <a href="index-indexuserindex.html.html"><span class="pl20 pr20 pt10 pb10">我的</span></a>
        </div>
        <div class="fr clearfloat inp_div_header">
            
            <div class="fl clearfloat border box-z inp_div_header_con">
                <form class="form01" action="/index.php?s=/Index/Index/sousuo.html" id="form" method="post">
                <ul class="fl pl20 inp_div_header_ul">
                    <li class="after">
                        <span class="mr5">搜课程</span><i class="arrow_icon arrow_bottom"></i>
                        <ul class="inp_div_header_ul_inner border-l border-r hide">
                            <li data-id="1" class="border-b pl20 pr20 box-z">搜课程</li>
                            <li data-id="2" class="border-b pl20 pr20 box-z">搜文章</li>
                            <li data-id="3" class="border-b pl20 pr20 box-z">搜师资</li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="type" value="1" id="type">
                <input class="inp_div_header_inp fl pr20 box-z" class="fl" type="text" name="name" id="" value="" placeholder="请输入搜索内容">
                </form>
            </div>
            
            <div onclick="sousuo()" class="fl btn_search_div"></div>
        </div>
    </div>
</header>
<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    function sousuo(){
        $("#form").submit();
    }

    $(function(){
        $(".inp_div_header_ul_inner li").click(function(){
            var type = $(this).attr('data-id');
			$("#type").val(type);
        })    
    });


    
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
        <div class="outer_fuildDiv">
            <div class="width1200">
                <div class="courseDetails_top pt20 pb20 clearfloat">
                    <div class="fl courseDetails_top_lunbo">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                                                        <div class="swiper-slide"><img src="static/picture/5ac1ab70a63a2.jpg" width="100%" height="100%"></div>
                                    
                                <!-- <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="__MOBILE__/img/06.jpg"/>
                                </div> -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                    <div class="back_div fr">
                        <a href="javascript:history.go(-1);">
                            <i class="icon_back icon_backH"></i>
                            <span>返回上一页</span>
                        </a>
                    </div>
                    
                    <div class="fl courseDetails_top_con">
                        <p class="fs30 ml40 mt100 pt20 pb20 border-b">
                            铂澜森蒂时尚西点面包基础实战班                        </p>
                        <div class="ml40 mt30"><a href="javascript:;" class="bgred pl20 pr20 pt5 pb5">立即预定</a></div>
                    </div>
                </div>
                <ul class="courseDetails_ulList clearfloat">
                    <li class="click">课表描述</li>
                    <li>课程内容</li>
                    <li>开课信息</li>
                    <li>温馨提示</li>
                    <li>课程表提示</li>
                    <li>推荐课程</li>
                    <li>关于铂澜</li>
                    <li>课程评价</li>
                </ul>
                <div class="courseDetails_ulList_con clearfloat mt20">
                    <div class="fl courseDetails_ulList_con_left">
                        <p class="border-b courseDetails_ulList_con_left_pTit fs20">课表描述</p>
                        <div class="courseDetails_ulList_con_left_table mt10 ">
                            <p>
	2017年底，超过2700平米的星巴克臻选烘焙工坊在上海隆重开张，马云等现场站台，全球各界刷屏。在这家预示着行业诸多发展方向的梦幻工厂中，除了咖啡以外，其收购的当红烘焙品牌Princi璀璨绽放，一大批惊艳的烘焙美食担起了咖啡馆出品的半壁江山，与咖啡相辅相成、相得益彰。<br>
星巴克的举动并非偶然，其中蕴含的深意需要关注。一方面，烘焙美食领域蕴含着难以估量的巨大魅力，所谓“餐饮”，先餐后饮，美食诱惑之下，方有饮品之乐。独立烘焙店以及烘焙类网店方兴未艾，潜力惊人，大有可为。另一方面，近年来随着消费产业升级，精品咖啡店亟待根据自身特点并迎合消费者来重构餐饮出品体系。除了孜孜探究的精品咖啡，我们还应该做得更多更好。<br>
进入2017年,铂澜咖啡学院整合资源创办铂澜森蒂国际西点学院，牵手世界顶尖的厨艺名校、素有“米其林星级大师摇篮”之誉的法国FERRANDI Paris，除了法国经典甜品与面包课程，未来会陆续将世界顶尖的甜品、西点、面包等国际教育培训资源引入中国，给精品咖啡找到最佳伴侣。走进2018年，铂澜森蒂国际西点学院的TB系列课程将是我们整合资源、市场调研、学习提升后的精华沉淀，既与国际领先技术理念接轨，也能做到最大程度接地气。不管是爱好者与发烧友，还是烘焙店主、网店经营者和烘焙从业者，都能找到自己的事业最佳门径。
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p>
	<span style="font-size:14pt;font-family:宋体;"></span>
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第一天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：西点基础知识，基础蛋糕的制作，常见原物料及工具的使用方法。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>浓情甘纳许(Ganache)麦芬蛋糕（星巴克烘焙坊同款）、日式抹茶红豆卷（日式甜品爆款）
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第二天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：磅蛋糕与海绵蛋糕两大类讲解，以及它们的应用扩展。具体包括蛋糕胚制作、特调内陷制作、卡仕达内陷制作、磅蛋糕糖水制作、蛋糕、摆盘装饰与出品</b><b>、</b><b>水果库里制作、塔壳制作、巧克力淋面、</b><b>等。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>芝士柠檬切片磅蛋糕（星巴克烘焙坊同款）、浪漫夏威夷水果塔（下厨房力荐）、蒙布朗（PAIN CHAUD同款
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第三天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：法式西点进阶教学，教学内容包括巧克力慕斯制作、意式蛋白霜以及它们的摆盘艺术出品</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>君度香草杯子蛋糕（上海某名店同款）浓情咖啡巧克力慕斯、马卡龙（法国Ferrandi Paris经典配方）
</p>
<p class="MsoNormal" style="text-indent:12.05pt;">
	<b><u></u></b>
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第四天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b><b><u></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：经典法式西点入门，教学内容包括经典提拉米苏、芝士蛋糕制作、手指饼干制作、芝士饼底制作、英式奶油霜制作，以及出品摆盘艺术。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>法式经典提拉米苏（星巴克臻选店同款）、创世纪爱文芒果芝士、
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第五天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：全面走进面包的世界，揉面机揉面的方法观察，深入了解面团的面团成型、醒发、折叠方法、时间、温度的技巧，解析操作过程中各个注意事项和要点，学习面包制作的必知技巧和重点。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>日式红豆面包（东京银座百年经典款）、台式菠萝包（最亲民甜面包）、奶酥墨西哥面包（东南亚面包店爆款）、葱香火腿面包（最亲民咸面包）
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第六天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：继续讲解当下最风靡足时尚的明星美食——软欧包，纯手工制作内陷，老面发酵工艺，天然零添加，惊艳舌尖，以最简单的制作工艺流程，做出最百变应用的软欧包。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b>巧克力蔓越莓软欧（真麦粮品同款）、草莓心之恋（奈雪的茶同款）、曼陀罗软欧包（原麦山丘同款）
</p>
<p class="MsoNormal">
	<b><u><span style="color:#337FE5;">第七天：</span></u></b><b><u><span style="color:#337FE5;">10:00-16:00(午间休息1小时)</span></u></b>
</p>
<p class="MsoNormal">
	<b>教学重点：软欧包，纯手工制作内陷，老面发酵工艺，天然零添加，惊艳舌尖，以最简单的制作工艺流程，做出最百变应用的软欧包。</b>
</p>
<p class="MsoNormal">
	<b>出品实战：</b><span style="font-size:14pt;">抹茶红豆软欧（酵墅</span><span style="font-size:14pt;">Villabrot同款）、高纤奶酪软欧（原麦山丘同款）、巧核（奈雪的茶同款）</span>
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<br>
<p>
	<br>
</p>
<p>
	<img src="static/picture/20180118075358_30503.jpg" alt=""><img src="static/picture/20180118075416_41383.jpg" alt=""><img src="static/picture/20180118075424_57836.jpg" alt=""><img src="static/picture/20180118075432_92884.jpg" alt=""><img src="static/picture/20180118075443_54299.jpg" alt=""><img src="static/picture/20180118075451_35680.jpg" alt=""><img src="static/picture/20180118075501_99779.jpg" alt=""><img src="static/picture/20180118075510_50702.jpg" alt=""><img src="static/picture/20180118075520_44027.jpg" alt=""><img src="static/picture/20180118075529_94444.jpg" alt=""><img src="static/picture/20180118075545_92744.jpg" alt="">
</p>                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <!-- 

                                <li class="dy_dd1 hidden"><a href="">6、这可能是你看到过最全面的烘焙简史</a></li> -->
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <p class="pt10 pb10">课程时间：尚未发布！                            </p>
                            <p class="pt10 pb10">培训费用：4980.00元/人（（官网上所有课程注明报价均默认不含税，需要发票请沟通咨询，定金不退。））</p>
                            <p class="pt10 pb10">上课人数: 12</p>
                            <p class="pt10 pb10">人数下限: 1</p>
                            <p class="pt10 pb10">培训对象: 兴趣爱好、咖啡馆创业、求职准备、烘焙爱好者、烘焙从业者、咖啡&amp;烘焙店主</p>
                            <p class="pt10 pb10">学分: 分</p>
                            <p class="pt10 pb10">培训时长: 共计7次课</p>
                            <p class="pt10 pb10">报名电话: 010-59005818</p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
     <span style="line-height:29px;">通过如下4种渠道支付培训课程定金或全款后，我们在3个工作日内向您回复确认。第一，欢迎来铂澜咖啡学院现场咨询并付费；第二，通过<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院官网</span></a>在线付款；第三，<a href="javascript:;"><span style="color:#333333;font-style: italic;">铂澜咖啡学院淘宝店</span></a>有培训课程定金链接；第三，通过铂澜咖啡学院微信公众号点击进入有赞商城在线购买课程；</span>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hidden_">
                            <div class="kechengbiao_div" style="height: auto;">
                                <div id='calendar'>

                                </div>
                                <input type="hidden" id="event" value="/index.php?s=/Index/Course/mykc_json/id/286.html">
                                

                            </div>
                            <p class="fb">
                                <span>发布时间：2018-04-02 12:04:33</span>
                                <span>发布作者：Brian</span>
                            </p>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id3.html">面包&amp;西点基础技能课程(2月17日-21日）</a></li>                                <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id41.html">FERRANDI法国甜品认证大师班</a></li>
                                
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                            <ul class="courseDetails_ulList_con_right_ul">
                                
                                <li class="disc_li dy_dd1 hidden"><a href="javascript:;" style="color:#ff0000">新人须知（Q&A汇总贴）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜十年一路走来（2007年至今）</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="today.html">今日的铂澜咖啡学院</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="contact.html">欢迎联系并找到铂澜</a></li>
                                <li class="disc_li dy_dd1 hidden"><a href="index1.html">了解铂澜作品及教学培训场景</a></li>
                            </ul>
                        </div>
                        <div class="courseDetails_ulList_con_left_table mt10 hide">
                                                    </div>
                    </div>
                    <div class="fr courseDetails_ulList_con_right">
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>铂澜相关资讯</span>
                            </li>
                            
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid388.h.html">铂澜咖啡学院：开家咖啡馆需要哪些本钱？</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid389.h.html">咖啡，好一种醇香曼妙的生活方式</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid390.h.html">咖啡馆里的锐眼商战游戏随想</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid391.h.html">在咖啡馆里喝酒</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid392.h.html">读“价值观塑造了星巴克的今天”有感</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentdetailid393.h.html">由百瑞斯塔咖啡师大赛到铂澜咖啡学院</a></li>                            <!-- 
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>深入了解铂澜</span>
                            </li>
                            <li class="disc_li dy_dd1 hidden"><a href="qa.html">新学员须知汇总贴</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="history.html">铂澜咖啡学院过往发展历程</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="today.html">今日铂澜咖啡学院的详情介绍</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="contact.html">铂澜联系方式、交通及付款信息等</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院的豪华级培训师团队</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="javascript:;">铂澜咖啡学院创始人、院长齐鸣老师简介</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="training.html">铂澜咖啡学院培训场景浏览</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="index-indexdocumentindexpid381.h.html">查看铂澜咖啡学院的各种最新资讯</a></li>
                        </ul>
                        <ul class="courseDetails_ulList_con_right_ul">
                            <li class="courseDetails_ulList_con_right_ul_tit border-b fs20">
                                <span>相关课程推荐</span>
                            </li>
                             <li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id52.html">咖啡馆创办经营全程深入辅导</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id53.html">咖啡感官评估与系统杯测</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id54.html">SCAA咖啡大师一级认证课程 Barista Guild of America Certificat</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id55.html">金杯大师认证Golden Cup Technician Certificate</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id56.html">铂澜法式西点烘焙入门课程</a></li><li class="disc_li dy_dd1 hidden"><a href="index-indexcoursedetailcourse_id57.html">咖啡职人专修课堂</a></li>                            <!-- <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li>
                            <li class="disc_li dy_dd1 hidden"><a href="">这可能是你看到过最全面的烘焙简史</a></li> -->
                        </ul>
                        <div class="mb40">
                            <p class="gzbl_p border-b fs20"><span>关注铂澜</span></p>
                            <a href="">
                                <div class="gzbl_imgEweima mt20">
                                    <img src="static/picture/07.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="width1200 white pt20">
                <div class="jzxx">
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                    <span class="after">铂澜简介</span>
                </div>
                <p class="jzxx mt20 fs12">北京铂澜丰悦企业管理咨询有限公司 | 京ICP备12029164号-1</p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/swiper.min.js"></script>
    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script type="text/javascript">
        $(".inp_div_header_inp").focus(function(){
            $(".inp_div_header_con").addClass("shenhongBd").removeClass("border");
        })
        $(".inp_div_header_inp").blur(function(){
            $(".inp_div_header_con").removeClass("shenhongBd").addClass("border");
        })
        $(".inp_div_header_ul").hover(function(){
            $(".inp_div_header_ul_inner").removeClass("hide");
            $(".arrow_icon").addClass("arrow_top");
        },function(){
            $(".inp_div_header_ul_inner").addClass("hide");
            $(".arrow_icon").removeClass("arrow_top");
        })
        $(document).on("click",".inp_div_header_ul_inner li",function(){
            var html_ = $(this).html();
            $(".inp_div_header_ul>li span").html(html_);
        })
        //轮播
        var swiper = new Swiper('.courseDetails_top_lunbo .swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            loop: true
        });
        $(".courseDetails_ulList li").click(function(){
                var index_ = $(this).index();
                
                $(".courseDetails_ulList_con_left_table").addClass("hide");
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).addClass("hidden_");
                } 

                $(this).addClass("click").siblings().removeClass("click");
                var html_ = $(this).html();
                $(".courseDetails_ulList_con_left_pTit").html(html_);
                
                if( index_ == 4){
                    $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hidden_");
                }
                $(".courseDetails_ulList_con_left_table").eq(index_).removeClass("hide");    
                
        })
        $(".back_div").hover(function(){
                $(this).find("i").addClass("icon_backR");
        },function(){
                $(this).find("i").removeClass("icon_backR");
        })
    </script>

    <script type="text/javascript">
      
      
            var url=$('#event').val();
            ipos = url.indexOf(".html");
            url=url.substring(0,ipos);
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: url,
                dayClick: function(date, allDay, jsEvent, view) {
                    var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/add/date/'+selDate+'.html',
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $.fancybox({
                        'type':'ajax',
                        //'href':url+'/action/edit/id/'+calEvent.id+'.html',
                    });
                }
            });
        
        

       
    </script>
</html>