<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>铂澜咖啡学院最新咖啡店创建与经营管理课—铂澜咖啡学院|学咖啡，到铂澜！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="keywords" content="铂澜,铂澜咖啡,铂澜咖啡学院,北京咖啡培训,广州咖啡培训,学咖啡,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌">
    	<meta name="description" content="铂澜咖啡学院最新咖啡店创建与经营管理课铂澜咖啡学院是海内外口碑好的咖啡培训教育机构，海量咖啡学习资讯，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCAA与SCAE认证等培训与咨询服务。">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery_2_1_4.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<style>
	.p2 {
		background: #f5f5f5 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		float: left;
		height: 0.68rem;
		line-height: 0.68rem;
		width: 100%;
	}
</style>
</head>
<body>
<header>
<div class="header01">
    <a href="index.html"><img src="static/picture/logo.png" title="铂澜咖啡学院BloomCoffeeCollege"></a>
</div>
    <div class="header02">
<a href="javascript:void(0);" id="fanhui_btn" class="header_left"><span class="fanhui">返回</span></a>
<h1 style="width: auto;padding: 0 1.5rem;" class="dy_dd">
	铂澜咖啡学院最新咖啡店创建与经营管理课</h1>
<a href="javascript:shoucang(7732);" class="header_right">
			<span class="top_sc" id="shoucang">收藏</span>
	</a>
<a class="header_right" href="javascript:dianjifenxiang();" style="margin-right: 0.6rem;">
	<span class="top_sc" style="background:rgba(0, 0, 0, 0) url('static/image/share_icon.png') no-repeat scroll 0 0 / 0.45rem 0.42rem">分享</span>
</a>
	</div>
</header>

<script>
	//分享
	function dianjifenxiang(){
		$('.pop_mask').show();
		$('.qiangdan_window').show();
	}
	//收藏
	function shoucang(id){
		$.ajax({
			"type" : "post",
			"async" : false,
			"dataType" : "json",
			"url" : "/index.php?s=/Index/Document/shoucang.html",
			"data" : {
				"id":id,
			},
			"success" : function(ret) {
				if(ret==1){
					$('#shoucang').attr('style','background:rgba(0, 0, 0, 0) url("/Public/Index/images/wzxq4443.png") no-repeat scroll 0 0 / 0.45rem 0.42rem');return;
				}
				if(ret==-2){
					alert('收藏失败');return;
				}
				if(ret==-1){
					$('#shoucang').attr('style','');return;
				}
				if(ret==-3){
					location.href="/index.php?s=/Index/User/login.html";return;
				}
			}
		});		 
	}
</script>
<div class="wp_100">
<div class="header_top"></div>
<div class="clear"></div>
</div>
<!--头部结束内容开始-->
<div class="content_wzxq wp_640" style="width: 6.4rem;">
	<p style="font-size: 0.32rem;text-align: center;    padding: 0.2rem 0;"></p>
	<style type="text/css">
		.con_title p{width:100%!important; font-size: 0.24rem; line-height: 0.4rem; }
		.con_title p img{ width:100%!important; }
		embed{ width:100%!important;}
	</style>
	<div style="color: #666;font-size: 0.24rem;    padding: 0 0.2rem; " class="con_title">

	<br>
		<p style="line-height: 0.32rem;"><p>
	<br>
</p>
<div style="text-align:center;">
	咖啡馆的最佳开店原则
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	了解咖啡行业的四个步骤
</div>
</span> 
<div style="text-align:center;">
	几本书带你全面了解咖啡业
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	专注咖啡，还是专注咖啡馆？
</div>
</span> 
<div style="text-align:center;">
	咖啡馆的行业特征
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	揭秘星巴克成功的奥秘
</div>
</span> 
<div style="text-align:center;">
	咖啡馆最佳选址评估模型
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	绕开选址签约的陷阱
</div>
</span> 
<div style="text-align:center;">
	咖啡馆营业执照办理
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	咖啡馆的设计规划
</div>
</span> 
<div style="text-align:center;">
	精品咖啡馆吧台设计与布局
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	咖啡馆开业前综合筹备
</div>
</span> 
<div style="text-align:center;">
	咖啡馆员工薪酬管理
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	咖啡馆用人管理
</div>
</span> 
<div style="text-align:center;">
	咖啡的出品管理
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	咖啡馆的财务管理
</div>
</span> 
<div style="text-align:center;">
	咖啡主要消费人群特点
</div>
<span style="line-height:1.5;"> 
<div style="text-align:center;">
	独立咖啡馆的创办与经营策略
</div>
</span> 
<p>
	<br>
</p>
<p>
	<span style="line-height:1.5;"><img src="static/picture/20181019040241_72839.jpg" alt=""><br>
</span> 
</p>
<p>
	<span style="line-height:1.5;">第三波咖啡浪潮，精品咖啡运动，消费产业升级，独自精品咖啡店，外卖咖啡势力崛起，咖啡新零售萌动……2018年，咖啡行业在互联网大潮与消费者心智变迁的双重裹挟之下，一方面井喷式快速成长，接近20%的增长率令人心动，产业结构迅速调整；另一方面却也状况频出、坎坷连连。</span> 
</p>
<br>
<span style="line-height:1.5;">从咖啡到咖啡馆，从时尚饮品到实体店，从咖啡馆到咖啡，从餐饮行业到时尚快消，这里的故事多，这里的水很深。我们看到，95后甚至新生代消费者的力量日渐凸显，外表颜值代表正义，品质彰显工匠精神，有兴趣才买单，因热爱而投入；我们同样也看到，上海的那座星巴克烘焙工坊店宛如宫殿一般，构建的沉浸式深度体验将咖啡消费升级推到了新的高度，而瑞幸咖啡们则通过线上线下相结合的咖啡新零售另辟蹊径，至少阶段性声势惊人。</span><br>
<br>
<span style="line-height:1.5;">这是咖啡人最好的时代，商机层出不穷，人气持续飙升，热钱不断涌入，风口随处可见；这也是咖啡人最坏的时代，成本不断推高，大牌陆续进场，产业剧烈调整，竞争日渐加剧。不管你因情怀而生，还是为纯粹生意而来，冗长的咖啡产业链，无数值得关注的环节，令人心动的咖啡门店，必然有最佳的切入点，最理想的操作姿态，最合理的商业模式，最现实的运营策略。</span><br>
<br>
<p>
	<span style="line-height:1.5;">享有“咖啡行业的黄埔军校”之誉的铂澜咖啡学院创始人、院长齐鸣老师亲自主讲，15场深度课程、24节视频内容一气呵成，淋漓尽致，彻底讲清楚咖啡与咖啡馆创业这些事儿。以创业者的心态，以最睿智的眼光，避开那些坑，踏实脚下路，将兴趣与事业相结合，成就你自己，迎面一阵醇香，搏出人生辉煌。</span> 
</p>
<p>
	<span style="line-height:1.5;"><img src="static/picture/20181019035110_92388.jpg" alt="" width="800" height="534" title="" align=""><br>
</span> 
</p>
<p>
	<span style="line-height:1.5;">20世纪80年代，霍华德·舒尔茨主导的星巴克转型是一次完美咖啡消费升级，是顺应当时美国人消费升级大势的一次华丽之举，以前如同张一元、吴裕泰那般售卖茶叶售卖咖啡豆，现在全盘复制了意大利咖啡馆体系，表面上开始贩卖一杯杯咖啡，提高了利润率，实则变成了贩卖生活方式。</span><br>
<br>
<span style="line-height:1.5;">1989年，一位美国社会学教授在《The Great Good Place》（我们将其称作“第三空间”）提到：人们永远需要不是那么严肃正式的公开场所以满足人际交往、互通有无，在那个场所里，人与人之间的平等，人与人之间的交流是轻松的，这也是一座城市的本质需求之一。星巴克之所以伟大，因为它是有理论基础的。成就任何伟大的事业，都需要有信仰和理论基础。</span><br>
<br>
<span style="line-height:1.5;">铂澜咖啡学院齐鸣老师在《爱上咖啡馆》一书中写道：……咖啡馆的本质便是体验，身心融入、五感六识俱全的沉浸式深度体验。不管互联网科技如何发展，血肉之躯的你我不可能真正虚拟化生存，在现实中沟通、交流、分享的愿望始终强烈。一个眼神、一声轻叹，胜过文字千行，手机App无法取代……</span>。
</p>
<p>
	<img src="static/picture/20181019035300_55182.jpg" alt="" width="800" height="600" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:14px;"><strong>【课程大纲】</strong></span><br>
<br>
第1次课：从若干个咖啡故事入手，讲解咖啡与咖啡馆是彼此之间有交集的独立集合，各自有各自的行业属性以及关键成功要素，认清自身需求，找准最佳切入点，才是我们应有的姿态<br>
<br>
第2次课：通过数据分析，展现当下咖啡行业与咖啡馆行业的发展现状、竞争态势。中国的咖啡产业结构正在向着以美国为代表的咖啡消费发达国家模式快速进化，趋势已现，若顺势而为，则有大商机。由此如题，解读目前入行的最佳选择和路径选择，以及当下风头强劲的咖啡品牌究竟是怎样在做<br>
<br>
第3次课：通过数据和案例来详细解析咖啡馆行业遇到的困境，引申出咖啡消费升级与降级生意的定义及商业取舍，以及精品咖啡商业价值解析<br>
<br>
第4次课：剖析近期风头强劲的诸多咖啡新零售品牌，优点与缺陷，期待与观望<br>
<br>
第5次课：从瑞幸咖啡到星巴克有哪些启示？“野蛮人”在对咖啡行业的“打劫”吗？咖啡人为何自己不做救赎？“大者越大，强者恒强”在咖啡行业管用吗？不断引导“消费升级”的星巴克面临哪些风险？为何说咖啡行业从战术时代进化到战略时代？为何说新一波的咖啡馆消费热潮处于酝酿蛰伏期？为什么说“跨界突袭”和“降维打击”将是咖啡业之常态？未来五年内日渐清晰的新咖啡主义究竟包含哪些？五年后我们如何创办经营一家“新生代”咖啡馆？<br>
<br>
第6次课：脚踏实地，放眼未来，从当下起步，如何从零创办并经营一家品质好、能盈利、有未来的咖啡馆？具体实施策略与关键成功要素有哪些？<br>
<br>
第7次课：怎样从零创办与经营一家咖啡馆（步骤与关键成功要素）<br>
<br>
第8次课：咖啡馆尤其是独立咖啡馆的选址评估模型剖析及操作步骤（以商圈、口岸与铺位为核心）<br>
<br>
第9次课：咖啡馆选址及签约环节的诸多陷阱及特别注意事项<br>
<br>
第10次课：咖啡馆证照办理的一般流程及注意事项<br>
<br>
第11次课：咖啡馆的定位规划、主题确定，以及既定设计风格如何实现（空间、界面、色彩、材质、照明、陈设）<br>
<br>
第12次课：精品咖啡馆吧台设计与布局综合研究<br>
<br>
第13次课：从零制定一份咖啡馆运营管理手册（三维运营模型）<br>
<br>
第14次课：当前咖啡馆消费者（80-90后为主力）心智认知模型<br>
<br>
第15次课：详细解读当前咖啡馆的营销推广策略
</p>
<p>
	<br>
<img src="static/picture/20181019035629_43423.jpeg" alt="" width="800" height="534" title="" align=""> 
</p>
<p>
	<br>
<span style="font-size:16px;"><strong>【你将收获】</strong></span><br>
<br>
<span style="line-height:1.5;">1.深入把握咖啡馆行业发展现状、竞争态势、顾客心智变迁、关键成功要素和未来重要趋势。</span><br>
<span style="line-height:1.5;">2.详细了解从零创办一家咖啡馆的具体步骤、重难点、基本节奏以及可能遇到的问题。</span><br>
<span style="line-height:1.5;">3.面向2019年，了解独立咖啡馆创办与经营的最佳策略，最大可能提高成功率。</span><br>
<span style="line-height:1.5;">4.彻底掌握令人发憷的具体工作：定位规划、选址评估、证照办理、投资预算、设计装修、吧台规划、出品研发、财务分析、人员管理等。</span><br>
<span style="line-height:1.5;">5.第三波咖啡浪潮下一家传统咖啡馆门店如何投身精品咖啡浪潮，进行彻底的转型升级，从而焕发青春、营业额提升。</span><br>
<span style="line-height:1.5;">6.如何进行新零售布局，将咖啡馆元素植入经营空间中，实现1+1&gt;2的跨界经营。</span> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><strong>【</strong></span><span style="font-size:16px;"><strong>如何学习</strong></span><span style="font-size:16px;"><strong>】</strong></span><br>
<br>
<span style="color:#E53333;">铂澜咖啡学院在线课程，学员在购买课程之后，可以反复观看学习。</span> 
</p>
<p>
	<span style="color:#E53333;">学员只需</span><span style="color:#E53333;">直接识别下方课程专栏二维码，付费之后完成课程学习。</span> 
</p>
<p>
	<span style="color:#E53333;">或者</span><span></span><span><span style="color:#E53333;"></span><span style="color:#E53333;">通过关注铂澜咖啡学院微信公众号，在底端菜单栏直接点击课程报名→开咖啡店线上课，即可进入课程学习。</span></span> 
</p>
<p>
	<img src="static/picture/20181019040844_38246.png" alt=""> 
</p>
<p style="text-align:center;">
	（课程二维码）
</p>
<p>
	<br>
</p>
<p>
	<img src="static/picture/20181019040534_93983.jpg" alt=""> 
</p>
<p style="text-align:center;">
	（学院二维码）
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
	</div>
	<div class="wenzhang_detail" style="border-top: 1px solid #ccc;padding-top: 0.1rem; margin-top: 0.5rem;  ">
		<a href="#"><p style="font-size: 0.3rem;">　2018-10-19 12:13:39&nbsp;&nbsp;梁波音发布</p></a>
		
      <br>

           <br>
          <img src="static/picture/line.jpg" alt="铂澜咖啡学院欢迎评论">
        <br>
	</div>
	
	
	<p class="p2" style=" line-height: 0.68rem;"><a class="luntan_title"><span>评论内容</span></a><!-- <i>更多+　</i> -->
	<a href="javascript:;" onclick="reply(0,0,7732,0)" class="header_right header_right01" style="color: #333;   padding-right: 0.2rem; height: auto;  position: initial; float: right;">发表评论</a></p>
	<style type="text/css">
		.pl_img img{ border-radius: 50%;float:left;width:1.5rem;height:1.5rem; }
		.pl_maincon{ float:left;margin-left:0.1rem; }
		.content_ltxq .ltxq_li .pl_maincon p{ margin-left: 0; }
	</style>
	</div>
<!--内容结束底部版权开始-->
<form action="/index.php?s=/Index/Document/reply.html" method="post">
<div class="footer_04" id="pl" style="display:none;z-index:100000;">
	<div class="wp_640">
		<div>
		<input type="text" name="content" id="content" value="" placeholder="请输入评论内容..." class="pl_01">
	</div>
		<input type="hidden" name="reply_id" id="reply_id" value="">
		<input type="hidden" name="forum_id" id="forum_id" value="">
		<input type="hidden" name="pid" id="pid" value="">
	<div>
		<input type="button" onclick="tijiao()" value="评论" class="pl_02">
	</div>
	</div>
</div>
	<script> 
		function tijiao(){
			var content=$('#content').val();
			var reply_id=$('#reply_id').val();
			var forum_id=$('#forum_id').val();
			var pid=$('#pid').val();
			if(content==''){
				alert('请输入评论内容');return;
			}
			$.ajax({
				"type" : "post",
				"async" : false,
				"dataType" : "json",
				"url" : "/index.php?s=/Index/Document/reply.html",
				"data" : {
					"content":content,
					"reply_id":reply_id,
					"forum_id":forum_id,
					"pid":pid,
				},
				"success" : function(ret) {
					if(ret==1){
						alert('回复成功！');
						location.reload();
					}
					if(ret==-1){
						alert('请先登录！');
						location.href="/index.php?s=/Index/User/login.html";
					}
					if(ret==-2){
						alert('回复失败！');
					}
				}
			});
			
		}
		function reply(replyid,pid,forumid,id){
			$("#pl").hide();
			$("#pid").val();
			$("#reply_id").val();
			$("#forum_id").val();
			setTimeout(function(){$("#pl").show();},300);

			if(pid == 0){
				$("#pid").val(id);
			}else{
				$("#pid").val(pid);
			}
			$("#reply_id").val(replyid);
			$("#forum_id").val(forumid);
		}
		//返回
		function fanhui(){
			history.go(-1);
			//location.href="/index.php?s=/Index/Forum/index.html";
		}
	</script>
</form>
<!--内容结束底部版权开始-->

<div class="wp_100">
    <div class="footer_bottom"></div>
    <div class="clear"></div>
</div>
<footer class="footer_01">
    <div class="footer_02">
        <a id="shouye" class="this" href="index.html"><i class="shouye"></i><span>首页</span></a>
        <a id="zhengshu" class="" href="index-indexuserindex.html.html"><i class="zhengshu"></i><span>证书</span></a>
        <a id="zhitiao" class="" href="index-indexuserindex.html.html"><i class="xiaozhitiao"></i><b style="display:none;" class="xiaoxi_icon"></b><span>小纸条</span>	
		</a>
        <a id="luntan" class="" href="qa.html"><i class="luntan"></i><span>Q&A</span></a>
        <a id="wode" class="" href="index-indexuserindex.html.html"><i class="wode"></i><span>我的</span></a>
    </div>
</footer>
<script>
window.onload=function(){
	var url='/index.php?s=/index/document/detail/id/7732.html ';
    if(url.indexOf("/User/")>=0&&url.indexOf("User/zhitiaoList")<0){
		$('.footer_02 .this').attr('class','');
		$('#wode').attr('class','this');
	}
	if(url.indexOf("User/zhitiaoList")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhitiao').attr('class','this');
	}
	if(url.indexOf("/Forum/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#luntan').attr('class','this');
	}
	if(url.indexOf("/Cert/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#zhengshu').attr('class','this');
	}
	if(url.indexOf("/Index/Index/")>=0){
		$('.footer_02 .this').attr('class','');
		$('#shouye').attr('class','this');
	}
	
	wodenews();
}
	function wodenews(){
		$.post('/index.php?s=/Index/User/myMessage.html',{},function (ret){
			if(ret==1){
				$('.xiaoxi_icon').show();
			}else{
				$('.xiaoxi_icon').hide();
			}
		});
	}
</script>
<!-- 弹窗开始 -->
<div class="qiangdan_window" style="display: none;position:fixed;z-index:99">
    <div class="qd_windowcontent" style="width: 2.3rem; padding:5px 10px 10px; position: fixed;">
        <p class="close_iconp"><a href="#" class="close_icon">X</a></p>
		
		<div class="bdsharebuttonbox">
			<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
			<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
			<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
			<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
			<a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a>
			<a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
		</div>

    </div>
</div>



<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="pop_mask" style=" z-index: 98;"></div>
<script type="text/javascript">
    $(function(){
        var content=$('.qd_windowcontent');
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(".pop_mask").css("height", bodyheight);
        $('.pop_mask').hide();
        $('.qiangdan_window').hide();
        var winwidth=$(window).width();
        var thisleft = winwidth / 2 - $(content).width() / 2;
        var thistop = $(window).height() / 2 - $(content).height() / 2 + $(window).scrollTop();
        var bodyheight = Math.max($(document.body).outerHeight(true), $(window).height());
        $(content).css({ 'left': thisleft, 'top': thistop });
//      setInterval(function(){
//          $('.pop_mask').hide();
//          $('.qiangdan_window').hide();
//      },2000)
$('.pop_mask').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
 $('.close_icon').click(function(){
    $('.pop_mask').hide();
    $('.qiangdan_window').hide();
})
    })
</script>

</body>
</html>