<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="铂澜,铂澜咖啡学院,铂澜咖啡,BloomCoffee,咖啡培训,咖啡学习,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌,学咖啡,铂澜森蒂,FERRANDI,咖啡馆,西点培训,SCA认证"> 
<meta name="description" content="铂澜咖啡学院是国内知名且领先、海内外口碑卓越的咖啡培训教育机构，咖啡学习的殿堂，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCA认证等培训与咨询服务。还提供FERRANDI Paris法国甜品大师认证">
<meta name="author" content="BloomCoffee">
<title>铂澜报名须知Q&A—铂澜 About Us | 铂澜咖啡学院BloomCoffeeCollege</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<link rel="stylesheet" href="static/css/animate.css">
<link rel="stylesheet" href="static/css/style1.css">
<link rel="stylesheet" href="static/css/swiper.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script type="text/javascript" src="static/js/swiper.js"></script>

</head>
<body>
	<header>
    	<div class="head_bg">
        	<div class="head_word wow fadeInDown" data-wow-duration="500ms">
            	<p>Contact Us</p>
                <em><i class="icon iconfont icon-youxiang"></i>coffee@vip.163.com</em>
                <em><i class="icon iconfont icon-dianhua1"></i>010-59005818</em>
                <em><i class="icon iconfont icon-dianhua1"></i>13681245110</em>
            </div>
        </div>
        <nav class="wow" data-wow-duration="1000ms">
            <img src="static/picture/logo1.png" alt="铂澜咖啡学院">
                       <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>        </nav>

        <h2 class="wow fadeInDown" data-wow-duration="1000ms">课程展示</h2>
    </header>
    
     <!--手机端菜单-->
    <div class="nav_phone">
            <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>	</div>
	<div class="nav-toggle">
		<i class="icon iconfont icon-caidan"></i>
	</div>
    <!--手机端菜单 end--> 
    
    <div class="proxq_main">
    	<p class="now_wz now_proxq wow fadeInDown" data-wow-duration="1500ms">Location：<a href="javascript:;">铂澜首页</a><em><a href="index1.html">关于铂澜</a></em><em><a href="#">铂澜报名须知Q&A</a></em></p>
        <hr class="wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
       <!-- 代码部分begin -->

	<!--手机产品图-->
	<div class="pro_xq_img">
    	<img src="static/picture/pro_xq1.jpg">
    </div>
    
        <div class="clear"></div>
        <div class="pro_xq_des_left wow fadeInLeft" data-wow-duration="1000ms">
        	<h3>铂澜报名须知Q&A</h3>
            	<span style="font-size:14px;line-height:25px;">
<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">我想详细了解铂澜咖啡学院</span><br>
•&nbsp;2006年12月3日铂澜咖啡初创于北京，以咖啡馆品牌创建与直营起步，多年如一日，持之以恒于门店运营。2011年有感于精品咖啡运动将兴，创办铂澜咖啡学院，从此专注于咖啡领域的教育培训、文化传播以及咖啡门店运营管理咨询，是中国精品咖啡运动的主要倡导者，是中国咖啡行业知名的精品教育培训机构，更在国外亦享有盛誉。<br>
•&nbsp;铂澜咖啡学院拥有一支由咖啡培训师、咖啡烘焙师、咖啡师、咖啡技术工程师等专业人士为主组建的年轻团队。<a href="javascript:;">点击这里查看详情</a><br>
•&nbsp;铂澜咖啡学院创始人兼院长齐鸣老师，不仅是当代中国最知名咖啡技术专家、SCA咖啡考官之一，还拥有创业企业家、国家人社部咖啡师职业考评员、多所高校创业导师、中商经济学会咖啡分会副会长等社会身份。作为知名作家，齐鸣老师笔耕不辍，著有《爱上咖啡馆》、《爱上咖啡师》、《咖啡 咖啡》、《魔豆宝典- 咖啡馆创业全揭秘》、《魔豆宝典-咖啡馆出品设计的智慧》等作品。<br>
•&nbsp;2017年，创办铂澜森蒂国际西点学院（TaoBloom International Patisserie Institute），整合世界顶级厨艺教学资源、分享法式及意式烹饪技术，传播西式厨艺文化的精品教育机构，现已形成了咖啡学院与西点学院比翼双飞、齐头并进的业务架构。<br><br>
        <!-- 引入播放器 css 文件 -->
        <link href="static/css/tcplayer.css" rel="stylesheet">
        <!-- 如需在IE8、9浏览器中初始化播放器，浏览器需支持Flash并在页面中引入 -->
        <!--[if lt IE 9]>
        <script src="static/js/videojs-ie8.js"></script>
        <![endif]-->
        <!-- 如果需要在 Chrome Firefox 等现代浏览器中通过H5播放hls，需要引入 hls.js -->
        <script src="static/js/hls.min.0.8.8.js"></script>
        <!-- 引入播放器 js 文件 -->
        <script src="static/js/tcplayer.min.js"></script>
        <!-- 示例 CSS 样式可自行删除 -->
    
    <body>
        <!-- 设置播放器容器 -->
        <video id="player-container-id" preload="auto" width="640" height="360" playsinline="" webkit-playinline="" x5-playinline=""></video>
        <!--
        注意事项：
        * 播放器容器必须为 video 标签
        * player-container-id 为播放器容器的ID，可自行设置
        * 播放器区域的尺寸请按需设置，建议通过 css 进行设置，通过css可实现容器自适应等效果
        * playsinline webkit-playinline x5-playinline 这几个属性是为了在标准移动端浏览器不劫持视频播放的情况下实现行内播放，此处仅作示例，请按需使用
        -->
        <script>
            var player = TCPlayer("player-container-id", { // player-container-id 为播放器容器ID，必须与html中一致
                fileID: "5285890781889307210", // 请传入需要播放的视频filID 必须
                appID: "1254601641", // 请传入点播账号的appID 必须
                autoplay: false //是否自动播放
                //其他参数请在开发文档中查看
            });
        </script>
        
        <br><br>
<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">铂澜咖啡学院是否在外地设有分校？</span><br>
答：铂澜咖啡学院从未在北京以外地区开设过分校或餐饮实体，也从未授权过他人以铂澜之名从事餐饮或教育培训经营。截至目前，铂澜咖啡学院仅仅在外地铂澜学员咖啡店中开设过少量培训课程，且培训师均为铂澜总部亲自委派。希望参加铂澜咖啡学院培训课程的学员请通过电话（010-59005818）、官微（@铂澜咖啡学院）、微信公众号（CoffeeCollege）等形式咨询核实。<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">本人不在北京，想了解来铂澜咖啡学院上课的流程</span><br>

<br>
<img src="static/picture/steps.jpg" alt="铂澜咖啡学院报名流程">

<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">希望从零起步好好学习咖啡的我该如何选择</span><br>
答：<a href="javascript:;">点击这里可以查看铂澜咖啡学院为您推荐的培训课程</a>。希望从零起步，系统学习咖啡理论知识、实操技术的咖啡玩家、从业者和创业者均可以收获满满。2018年，原铂澜C01咖啡师全能实战精修课堂升级更新为<a href="javascript:;">COFF咖啡全能实战精修课堂</a>。 作为铂澜咖啡学院第一主力课程，COFF咖啡全能实战精修课堂致力于打造为所有咖啡从业者、创业者、爱好者和发烧友走入咖啡世界的最佳入门及进阶课程。
<br>
<img src="static/picture/coff.jpg" alt="铂澜咖啡学院COFF咖啡全能实战精修课堂">
<br><br>
<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">我想了解咖啡进阶培训课程</span><br>
答：铂澜咖啡学院是国内最知名的SCA（精品咖啡协会，2017年以前分为美国精品咖啡协会SCAA与欧洲精品咖啡协会SCAE）国际培训认证机构之一，常年不定期滚动开办包括<a href="javascript:;">CQI QGrader（国际咖啡品质鉴定师）</a>在内的国际咖啡培训认证课程，<a href="index-indexcourseindexcategory_i3.html">点击这里可以查看详情</a>。此外，”CO咖啡全能实战精修课堂“完全遵循SCA培训课程体系，所有接受了本课程的学员，还可以在结课时报考SCA Introduction To Coffee证书（笔试理论考核，SCA Diploma 10 points）。<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">我只想简单了解些咖啡知识和实操技术该怎么办</span><br>
答：铂澜咖啡学院不仅仅是专业精品咖啡学院，还是全民咖啡运动的积极参与者、实施者。<a href="index-indexinstructionsinstructi.html">针对纯粹爱好者的咖啡兴趣课堂</a>便是铂澜的重要特色之一，几乎每周都有很多爱好者因此来到铂澜，感兴趣的朋友可以通过<a href="javascript:;">[大众点评网]</a>来了解铂澜丰富多姿的咖啡兴趣课程并约课付费。<br>
<img src="static/picture/dianping1.jpg" alt="我只想简单了解些咖啡知识和实操技术该怎么办"><br>
<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">铂澜咖啡学院是否还有咖啡以外的培训课程</span><br>
答：铂澜咖啡学院还有咖啡以外丰富的时尚饮品、西点烘焙、<a href="javascript:;">咖啡馆创办经营</a>等培训课程。铂澜投资创建的<a href="javascript:;">铂澜森蒂国际西点学院（TaoBloom International Patisserie Institute）</a>是一家整合世界顶级厨艺教学资源、分享法式及意式烹饪技术，传播西式厨艺文化的精品教育机构，不仅引入一流海外师资，更嫁接完整的国际教育培训及认证体系，追求品质生活，发扬工匠精神，致力于专业系统的烘焙教学实践，服务于相关从业和创业人员。<br>

<br>


<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">如果提前支付了定金或全款，还可以退课（退款）吗？</span><br>
答：对于提前支付了定金或全款的学员，如果开课前1周以上申请退款（课），扣除200元（含排课管理和转账手续费等）后7个工作日内退还。因课程需提前准备配套设备并安排师资，开课前1周内不予退款，跨年度不予退款，但可转让名额或为您安排延期。如已开具发票，税点不予退回 。敬请知悉。<br>
<br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">我想开一家咖啡馆，铂澜咖啡学院能够给我提供哪些帮助</span><br>
答：铂澜咖啡学院不仅持续经营着咖啡馆门店，还热衷于通过精心设计的<a href="javascript:;">开店培训视频课程辅导他人创办和经营咖啡馆</a>，在此领域热情饱满、资源丰厚、经验卓越。<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">如何从铂澜购买咖啡豆</span><br>
答：<a href="javascript:;">铂澜咖啡学院的淘宝店铺</a>是购买咖啡熟豆的最佳渠道。如果您在北京，也欢迎来位于北京市朝阳区建外SOHO东区的铂澜咖啡学院国贸总部，那里有一间温馨的<a href="javascript:;">铂澜咖啡体验店</a>，可以品尝到铂澜丰富的咖啡豆商品，并与铂澜咖啡师、咖啡培训师、咖啡烘焙师沟通交流。<br><br>

<span style="font-size:20px;font-weight: bolder;text-decoration:underline; line-height:24px;">如何成为铂澜咖啡学院团队一员</span><br>
答：铂澜咖啡学院常年诚聘热爱生活、情怀满满、才华横溢、意志坚定的各界年轻英才，而并非执拗于咖啡技艺高低，正所谓“闻道有先后，术业有专攻”。如果您对于新媒体营销推广颇有心得，如果您对于电子商务运营很有想法，如果您对于实体门店运营和创新充满感情，如果您喜欢摄影或后期剪辑，那么您一定要和我们联系，让我们能够有缘一起共事。简历投递至：<a href="mailto:lydia@bcoffee.cn">lydia@bcoffee.cn</a>并抄送至<a href="mailto:qiming@vip.163.com">qiming@vip.163.com</a>，我们将在3个工作日内与您联系。<br><br>
        </body></span></div>
        <div class="pro_xq_des_rigtht">
        	<div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
             	<h4>铂澜快捷面板</h4>
                <ul class="pro_fllb">
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜最新开课资讯</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜广州校区</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜课程分类</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜咖啡培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>SCA国际咖啡培训认证</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>西点烘焙培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜企业服务&现场咖啡服务</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜淘宝店</p>
                    	</a>
                    </li>
                </ul>            </div>
            <div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
            	<h4>关注铂澜</h4>
                <a href="#" target="_blank"><img src="static/picture/s1.jpg" class="proxq_ggw"></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="cyds">
    	    	<div class="w1200">
    		<h3>铂澜课程精彩推荐</h3>
    		<h5>Recommendation</h5>
    		<ul class="teacher">
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation01.jpg">
    					<div class="teach_des">
    						<h3>
   					<a href="javascript:;" target="_blank"><strong>铂澜咖啡培训课程</strong></a></h3>
    						<p>铂澜咖啡学院为您分享最先进的精品咖啡知识、最有趣的咖啡新知、最实用的实操技术和最美好的咖啡体验。铂澜致力于为所有咖啡从业者、创业者、爱好者和发烧友打造走入咖啡世界的最佳入门及进阶课程</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation02.jpg">
    					<div class="teach_des">
    						<h3><a href="javascript:;" target="_blank"><strong>铂澜森蒂国际西点学院</strong></a></h3>
<p>铂澜咖啡学院整合世界级西点烘焙教育培训机构等多方资源，创办铂澜森蒂国际西点学院，追求品质生活，名师手把手教授，理论知识结合实际操作，极致美味兼顾外观颜值，经典出品兼有细节创新，国际标准融合本地实践，旨在探索精品咖啡之外的精彩美食、无限美味。
</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation03.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong> SCA国际培训认证</strong></a></h3>
<p>SCA教育认证体系是今天广受全球认可的唯一精品咖啡教育认证系统，分作咖啡知识、Brewing（咖啡冲煮）、Barista Skills（咖啡师技能）、Green Coffee（咖啡生豆）、Roasting（咖啡烘焙）、Sensory Skills（感官技能）等6大模块。</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation04.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong>铂澜咖啡学院广州校区</strong></a></h3>
    						<p>2019年4月，铂澜咖啡学院广州归觅校区在广州天河区羊城创意园落成并顺利开课！广州天河黄埔大道羊城创意园3-23D中科零壹互联网文创加速器一楼</p>
    					</div>
    				</a>
    			</li>
    		</ul>
    	</div>    </div>
    
    <footer class="wow fadeIn">
    	<div class="foot_top wow fadeInDown" data-wow-duration="1500ms">
        	<img src="static/picture/foot_logo.png">
            <form>
            	<input type="text" value="请输入关键词搜索">
            	<button type="button">搜索</button>
            </form>
        </div>
        <div class="foot_middle wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
        	        	<div class="footm_left">
            	<ul class="foot_news">
                	<h4>铂澜介绍</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>关于铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>联系铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>学员须知</a></li>
                </ul>
                <ul class="foot_news">
                	<h4>培训教育</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>开课列表</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>铂澜咖啡学院点评</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>团购咖啡兴趣课</a></li>

                </ul>
                <ul class="foot_news">
                	<h4>课程分类查看</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>SCA国际培训认证课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>西点烘焙培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡馆创办经营培训</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡&轻食套餐课程</a></li>
                </ul>
        	</div>            <div class="footm_right">
            	<div class="wxewm">
                	<img src="static/picture/648845341127518386.jpg">
                    <p>微信扫描更多服务</p>
                </div>
                <div class="foot_xl">
                    <em>010-59005818</em>
                    <address>国贸总部：北京市朝阳区东三环中路建外SOHO东区8号楼商铺3层8308室</address>
                </div>            </div>
        </div>
        <div class="footm_botoom">
            <p>北京铂澜丰悦企业管理咨询有限公司&nbsp;&nbsp;©2007-2017版权所有</p>
        </div>
    </footer>
</body>
</html>