<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="铂澜,铂澜咖啡学院,铂澜咖啡,BloomCoffee,咖啡培训,咖啡学习,咖啡学校,咖啡师,SCA,SCAA,SCAE,咖啡豆,咖啡馆辅导,咖啡馆经营,咖啡品牌,学咖啡,铂澜森蒂,FERRANDI,咖啡馆,西点培训,SCA认证"> 
<meta name="description" content="铂澜咖啡学院是国内知名且领先、海内外口碑卓越的咖啡培训教育机构，咖啡学习的殿堂，提供咖啡爱好者、咖啡从业者、咖啡馆创办经营、SCA认证等培训与咨询服务。还提供FERRANDI Paris法国甜品大师认证">
<meta name="author" content="BloomCoffee">
<title>今日铂澜—铂澜 About Us </title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2d0263101035c5141370786b6796fc3b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" charset="utf-8" src="static/js/10067395.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<link rel="stylesheet" href="static/css/animate.css">
<link rel="stylesheet" href="static/css/style1.css">
<link rel="stylesheet" href="static/css/swiper.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>
<script type="text/javascript" src="static/js/swiper.js"></script>

</head>
<body>
	<header>
    	<div class="head_bg">
        	<div class="head_word wow fadeInDown" data-wow-duration="500ms">
            	<p>Contact Us</p>
                <em><i class="icon iconfont icon-youxiang"></i>coffee@vip.163.com</em>
                <em><i class="icon iconfont icon-dianhua1"></i>010-59005818</em>
                <em><i class="icon iconfont icon-dianhua1"></i>13681245110</em>
            </div>
        </div>
        <nav class="wow fadeInDown" data-wow-duration="1000ms">
            <img src="static/picture/logo1.png" alt="铂澜咖啡学院">
                       <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>        </nav>
        <div class="swiper-container">
        	<div class="swiper-wrapper">

<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/co.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/barista.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/brewing.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/qgrader.jpg"></a></div>


<div class="swiper-slide"><a href="javascript:;"><img src="static/picture/roasting.jpg"></a></div>        	</div>
        	<!-- Add Pagination -->
        	<div class="swiper-pagination"></div>
        	<!-- Add Arrows -->
        	<div class="swiper-button-next"></div>
        	<div class="swiper-button-prev"></div>
   		</div>

    	<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
        		pagination: '.swiper-pagination',
        		nextButton: '.swiper-button-next',
        		prevButton: '.swiper-button-prev',
        		paginationClickable: true,
       			spaceBetween: 30,
        		centeredSlides: true,
        		autoplay: 2500,
        		autoplayDisableOnInteraction: false
    		});
		</script>

        <h2 class="wow fadeInDown" data-wow-duration="1000ms">课程展示</h2>
    </header>
    
     <!--手机端菜单-->
    <div class="nav_phone">
            <ul>
                <li><a href="javascript:;" target="_blank">铂澜首页</a></li>
                <li><a href="javascript:;" target="_blank">广州校区</a></li>
                <li><a href="javascript:;" target="_blank">最新开课</a></li>
                <li><a href="javascript:;" target="_blank">咖啡课</a></li>
                <li><a href="javascript:;" target="_blank">SCA认证课</a></li>
               <li><a href="javascript:;" target="_blank">西点课</a></li>

            </ul>	</div>
	<div class="nav-toggle">
		<i class="icon iconfont icon-caidan"></i>
	</div>
    <!--手机端菜单 end--> 
    
    <div class="proxq_main">
    	<p class="now_wz now_proxq wow fadeInDown" data-wow-duration="1500ms">Location：<a href="javascript:;">铂澜首页</a><em><a href="index1.html">关于铂澜</a></em><em><a href="#">今日铂澜</a></em></p>
        <hr class="wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
       <!-- 代码部分begin -->
	<div class="ban wow fadeInLeft" id="demo1" data-wow-duration="1000ms">
	<div class="ban2" id="ban_pic1">
		<div class="prev1" id="prev1">
			<img src="static/picture/index_tab_l.png" width="28" height="51">
		</div>
		<div class="next1" id="next1">
			<img src="static/picture/index_tab_r.png" width="28" height="51">
		</div>
		<ul>
			<li><a href="javascript:;"><img src="static/picture/about1-1.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/about1-2.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/about1-3.jpg" width="670" height="420"></a></li>
		</ul>
	</div>
	<div class="min_pic">
		<div class="prev_btn1" id="prev_btn1"><img src="static/picture/feel3.png" width="9" height="18"></div>
		<div class="num clearfix" id="ban_num1">
			<ul>
				<li><a href="javascript:;"><img src="static/picture/about1-1.jpg" width="165" height="110"></a></li>
				<li><a href="javascript:;"><img src="static/picture/about1-2.jpg" width="165" height="110"></a></li>
				<li><a href="javascript:;"><img src="static/picture/about1-3.jpg" width="165" height="110"></a></li>
			</ul>
		</div>
		<div class="next_btn1" id="next_btn1"><img src="static/picture/feel4.png" width="9" height="18"></div>
	</div>
</div>
<div class="mhc"></div>
<div class="pop_up" id="demo2">
	<div class="pop_up_xx"><img src="static/picture/07.png" width="40" height="40"></div>
	<div class="pop_up2" id="ban_pic2">
		<div class="prev1" id="prev2"><img src="static/picture/index_tab_l.png" width="28" height="51"></div>
		<div class="next1" id="next2"><img src="static/picture/index_tab_r.png" width="28" height="51"></div>
		<ul>
			<li><a href="javascript:;"><img src="static/picture/b1.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/b2.jpg" width="670" height="420"></a></li>
			<li><a href="javascript:;"><img src="static/picture/b3.jpg" width="670" height="420"></a></li>
		</ul>
	</div>
    </div>

    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/pic_tab.js"></script>
<script>
jq(function(){
	jq('#demo1').banqh({
		box:"#demo1",//总框架
		pic:"#ban_pic1",//大图框架
		pnum:"#ban_num1",//小图框架
		prev_btn:"#prev_btn1",//小图左箭头
		next_btn:"#next_btn1",//小图右箭头
		pop_prev:"#prev2",//弹出框左箭头
		pop_next:"#next2",//弹出框右箭头
		prev:"#prev1",//大图左箭头
		next:"#next1",//大图右箭头
		pop_div:"#demo2",//弹出框框架
		pop_pic:"#ban_pic2",//弹出框图片框架
		pop_xx:".pop_up_xx",//关闭弹出框按钮
		mhc:".mhc",//朦灰层
		autoplay:true,//是否自动播放
		interTime:5000,//图片自动切换间隔
		delayTime:400,//切换一张图片时间
		pop_delayTime:400,//弹出框切换一张图片时间
		order:0,//当前显示的图片（从0开始）
		picdire:true,//大图滚动方向（true为水平方向滚动）
		mindire:true,//小图滚动方向（true为水平方向滚动）
		min_picnum:3,//小图显示数量
		pop_up:true//大图是否有弹出框
	})
})
</script>

	<!--手机产品图-->
	<div class="pro_xq_img">
    	<img src="static/picture/pro_xq1.jpg">
    </div>
    
	<div class="pro_xq_right">
        	<h1 class="wow fadeInRight" data-wow-duration="1000ms">今日铂澜</h1>
            <article class="pro_des wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            	<section>2011年11月以来，铂澜咖啡学院在国内率先高举第三次咖啡浪潮的旗帜，并通过培训教学、竞技赛事、企培推广、展会互动、文化出版等形式身体力行加入精品咖啡运动。在咖啡培训教育领域，铂澜一直处于行业领导者地位。2012年至今，铂澜平均每年培训学员超过2500人次，2015与2016年更被评为美团大众点评“全国十佳教育培训机构”、“职业技术类口碑影响力品牌”，整个咖啡行业只此一家……</section>
            </article>
        </div>
        <div class="clear"></div>
        <div class="pro_xq_des_left wow fadeInLeft" data-wow-duration="1000ms">
        	<h3>今日铂澜</h3>
            <article>
            	<section>
            	<span style="line-height:28px;">
<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>铂澜是中国精品咖啡运动的领导者之一>>></strong></span></a></p>
<section>
<span style="line-height:25px;">

铂澜咖啡学院隶属于北京铂澜丰悦企业管理咨询有限公司，简称铂澜。早在2009年，感受到精品咖啡运动即将兴起，铂澜创造性提出“咖啡学院”概念，自身投入到咖啡科学的学习探索中，并尝试在咖啡馆运营中增加教学体验等增值环节。2011年11月以来，铂澜咖啡学院在国内率先高举"第三次咖啡浪潮“的旗帜，并通过培训教学、竞技赛事、企培推广、展会互动、文化出版等多种形式身体力行加入精品咖啡运动。铂澜也因此有“咖啡行业黄埔军校”之誉。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>

<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>在咖啡培训教育领域，铂澜一直处于领先地位>>></strong></span></a></p>
<section>
<span style="line-height:25px;">

2012年至今，铂澜平均每年培训学员超过2500人次，2015年铂澜被评为美团大众点评“全国十佳教育培训机构”，2016年被评为“职业技术类口碑影响力品牌”，整个咖啡行业均只此一家。这些成绩的背后，是铂澜品牌知名度和美誉度使然，亦是铂澜团队精诚奋斗的结果，更有强大的互联网教育管理系统的功劳。铂澜是咖啡教育培训领域里，唯一拥有自主研发的网络教学与管理信息系统的机构。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>

<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>咖啡科学研究与全民咖啡理念并重>>></strong></span></a></p>
<section>
<span style="line-height:25px;">

铂澜咖啡学院的生源非常具有代表性。铂澜学员一半为咖啡爱好者，他们中既有外企白领，也有政府职员，还有企业老总、影视明星、网络主播、在校大学生、家庭主妇等，铂澜的全民咖啡理念有赖于他们去传播。数据分析我们会发现，另外一半铂澜学员为咖啡从业人群，咖啡烘焙师、咖啡国际评审、精品咖啡师、咖啡培训师、寻豆师等优秀的职业匠人与光彩照人、驰骋商界的创业者、企业家、投资人等均不鲜见，今天的精品咖啡行业由他们塑造。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>

<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>给精品咖啡找寻完美伴侣，重构咖啡馆出品体系>>></strong></span></a></p>
<section>
<span style="line-height:25px;">

近年来，随着移动互联网高速发展、竞争态势变化以及消费产业升级，精品咖啡店亟待根据自身特点并迎合消费者来重构餐饮出品体系。除了孜孜探究的精品咖啡，我们还应该做得更多更好。2017年1月,铂澜获得世界顶尖的厨艺名校、素有“米其林星级大师摇篮”之誉的法国FERRANDI Paris授权，成立<a href="javascript:;">铂澜森蒂国际西点学院</a>，首次将世界顶尖、全球通行的甜品国际认证体系引入中国，并已于2017年6月起首期开课且反响强烈、好评如潮。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>

<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>参与书写中国咖啡教育"正史">>></strong></span></a></p>
<section>
<span style="line-height:25px;">

2017年3月，铂澜走入国际关系学院，为在校大学生开设“精品咖啡科学与技术实操”这一有学分的通识选修课，这也是我国教育部直属重点高校第一次开设如此高规格、体系化的精品咖啡课程，在我国咖啡教育史、咖啡文化传播史上都写下了重要一笔。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>


<p class="lxfs_p" style="line-height:28px;"><a href="javascript:;"><span style="font-size:14px;color:#ff0000;"><strong>强调”知行合一“，教育培训与咨询服务并重>>></strong></span></a></p>
<section>
<span style="line-height:25px;">

铂澜咖啡学院以强大的教育培训实力为依托，以丰富的实战经验为保障，以咖啡及咖啡馆行业深厚资源为手段，长期从事或参与咖啡馆一线经营实践，更提供咖啡馆创办与经营全流程的辅导服务。不管是商业计划书拟定、投资预算分析，还是选址考察评估、餐饮出品规划，亦或是品牌推广经营、员工上岗培训，铂澜都可以为客户提供针对性、定制式的服务。
<a href="javascript:;">浏览更多图文内容...</a><br><br>
</span>
</section>

</span></section></article>
        </div>
        <div class="pro_xq_des_rigtht">
        	<div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
             	<h4>铂澜快捷面板</h4>
                <ul class="pro_fllb">
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜最新开课资讯</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜广州校区</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜课程分类</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜咖啡培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>SCA国际咖啡培训认证</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>西点烘焙培训课程</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜企业服务&现场咖啡服务</p>
                    	</a>
                    </li>
                    <li>
                    	<a href="javascript:;" target="_blank">
                    		<p>铂澜淘宝店</p>
                    	</a>
                    </li>
                </ul>            </div>
            <div class="pro_fl wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="200ms">
            	<h4>关注铂澜</h4>
                <a href="#" target="_blank"><img src="static/picture/s1.jpg" class="proxq_ggw"></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="cyds">
    	    	<div class="w1200">
    		<h3>铂澜课程精彩推荐</h3>
    		<h5>Recommendation</h5>
    		<ul class="teacher">
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation01.jpg">
    					<div class="teach_des">
    						<h3>
   					<a href="javascript:;" target="_blank"><strong>铂澜咖啡培训课程</strong></a></h3>
    						<p>铂澜咖啡学院为您分享最先进的精品咖啡知识、最有趣的咖啡新知、最实用的实操技术和最美好的咖啡体验。铂澜致力于为所有咖啡从业者、创业者、爱好者和发烧友打造走入咖啡世界的最佳入门及进阶课程</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation02.jpg">
    					<div class="teach_des">
    						<h3><a href="javascript:;" target="_blank"><strong>铂澜森蒂国际西点学院</strong></a></h3>
<p>铂澜咖啡学院整合世界级西点烘焙教育培训机构等多方资源，创办铂澜森蒂国际西点学院，追求品质生活，名师手把手教授，理论知识结合实际操作，极致美味兼顾外观颜值，经典出品兼有细节创新，国际标准融合本地实践，旨在探索精品咖啡之外的精彩美食、无限美味。
</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation03.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong> SCA国际培训认证</strong></a></h3>
<p>SCA教育认证体系是今天广受全球认可的唯一精品咖啡教育认证系统，分作咖啡知识、Brewing（咖啡冲煮）、Barista Skills（咖啡师技能）、Green Coffee（咖啡生豆）、Roasting（咖啡烘焙）、Sensory Skills（感官技能）等6大模块。</p>
    					</div>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;" target="_blank">
    					<img src="static/picture/recommendation04.jpg">
    					<div class="teach_des">
<h3><a href="javascript:;" target="_blank"><strong>铂澜咖啡学院广州校区</strong></a></h3>
    						<p>2019年4月，铂澜咖啡学院广州归觅校区在广州天河区羊城创意园落成并顺利开课！广州天河黄埔大道羊城创意园3-23D中科零壹互联网文创加速器一楼</p>
    					</div>
    				</a>
    			</li>
    		</ul>
    	</div>    </div>
    
    <footer class="wow fadeIn">
    	<div class="foot_top wow fadeInDown" data-wow-duration="1500ms">
        	<img src="static/picture/foot_logo.png">
            <form>
            	<input type="text" value="请输入关键词搜索">
            	<button type="button">搜索</button>
            </form>
        </div>
        <div class="foot_middle wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="200ms">
        	        	<div class="footm_left">
            	<ul class="foot_news">
                	<h4>铂澜介绍</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>关于铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>联系铂澜</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>学员须知</a></li>
                </ul>
                <ul class="foot_news">
                	<h4>培训教育</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>开课列表</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>铂澜咖啡学院点评</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>团购咖啡兴趣课</a></li>

                </ul>
                <ul class="foot_news">
                	<h4>课程分类查看</h4>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>SCA国际培训认证课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>西点烘焙培训课程</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡馆创办经营培训</a></li>
                    <li><a href="javascript:;" target="_blank"><i class="icon iconfont icon-icon224"></i>咖啡&轻食套餐课程</a></li>
                </ul>
        	</div>            <div class="footm_right">
            	<div class="wxewm">
                	<img src="static/picture/648845341127518386.jpg">
                    <p>微信扫描更多服务</p>
                </div>
                <div class="foot_xl">
                    <em>010-59005818</em>
                    <address>国贸总部：北京市朝阳区东三环中路建外SOHO东区8号楼商铺3层8308室</address>
                </div>            </div>
        </div>
        <div class="footm_botoom">
            <p>北京铂澜丰悦企业管理咨询有限公司&nbsp;&nbsp;©2007-2017版权所有</p>
        </div>
    </footer>
</body>
</html>